{% extends "../base.html" %}

{% block css %}
{% end block css %}

{% block container %}
<div class="col-md-12">
    <div class="block-web">
        <div class="header">

            <h4 class="content-header">لیست ویدئوها</h4>
        </div>
        <div class="porlets-content">
            <div class="table-responsive">
                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                <table class="display table table-bordered table-striped dataTable" id="dynamic-table"
                                       aria-describedby="dynamic-table_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="center hidden-phone ">پوستر فیلم</th>
                                        <th class="center hidden-phone ">نام فیلم</th>
                                        <th class="center hidden-phone ">تعداد بازدیدها</th>
                                        <th class="center hidden-phone ">امتیاز
                                        </th>
                                        <th class="center hidden-phone ">تاریخ آپلود</th>
                                        <th class="center hidden-phone ">وضعیت</th>
                                    </tr>
                                    </thead>

                                    <tfoot>
                                    <tr>
                                        <th class="center hidden-phone ">پوستر فیلم</th>
                                        <th class="center hidden-phone  " colspan="1" rowspan="1">نام فیلم</th>
                                        <th class="center hidden-phone  " colspan="1" rowspan="1">تعداد بازدیدها</th>
                                        <th class="center hidden-phone  " colspan="1" rowspan="1">امتیاز</th>
                                        <th class="center hidden-phone "> تاریخ آپلود
                                        </th>
                                        <th class="center hidden-phone ">وضعیت
                                        </th>
                                    </tr>
                                    </tfoot>
                                    {% for video in videos %}
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    <tr class="gradeX odd">
                                        <td class="center"><img height="40px" width="40px"
                                                                src="{{ static_url('upload/pic') }}/{{ video.fk_heyat.id }}/{{ video.pic }}">
                                        </td>
                                        <td class="center">{{ video.name }}</td>
                                        <td class="center ">{{ video.visit }}</td>
                                        <td class="center ">{{ video.score }}</td>
                                        <td class="center hidden-phone ">{{ video.upload_date }}</td>

                                        <td class="center hidden-phone  sorting_1">
                                            {% if video.is_accepted == -1 %}
                                            {% if video.fk_user_expert %}
                                            درحال کارشناسی
                                            {% else %}
                                            درانتظار کارشناس
                                            {% end %}
                                            {% elif video.is_accepted == 1 %}
                                            تایید شده
                                            {% else %}
                                            رد شده
                                            {% end %}
                                        </td>

                                    </tr>
                                    </tbody>
                                    {% end %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/table-responsive-->
        </div>
        <!--/porlets-content-->


    </div>
    <!--/block-web-->
</div>
{% end block container %}

{% block scripts %}
{% end block scripts %}