{% extends "../base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ static_url('dashboard/plugins/file-uploader/css/blueimp-gallery.min.css') }}">
<link rel="stylesheet" href="{{ static_url('dashboard/plugins/file-uploader/css/jquery.fileupload.css') }}">
<link rel="stylesheet" href="{{ static_url('dashboard/plugins/file-uploader/css/jquery.fileupload-ui.css') }}">
<link href="{{ static_url('dashboard/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css') }}')}}"
      rel="stylesheet">

<script type="text/javascript" src="{{ static_url('dashboard/plugins/dropzone/dropzone.min.js') }}"></script>
<link href="{{ static_url('dashboard/plugins/dropzone/dropzone.css') }}" rel="stylesheet">

{% end block css %}

{% block container %}
<div class="col-md-8">
    <div class="block-web full">
        <ul class="nav nav-tabs nav-justified nav_bg">
            <li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-user"></i> مشخصات</a></li>
            <li class=""><a href="#edit-profile" data-toggle="tab"><i class="fa fa-pencil"></i> ویرایش</a></li>
            <li class=""><a href="#mymessage" data-toggle="tab"><i class="fa fa-envelope"></i> پیام ها</a></li>
        </ul>
        <div class="tab-content">
            <form name="file" class="dropzone dz-clickable" action="post" accept="image/gif, image/jpeg">

                <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
            </form>
        </div>
        <!--/tab-content-->
    </div>
    <!--/block-web-->
</div>


<div class="col-md-8">
    <div class="block-web full">
        <ul class="nav nav-tabs nav-justified nav_bg">
            <li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-user"></i> مشخصات</a></li>
            <li class=""><a href="#edit-profile" data-toggle="tab"><i class="fa fa-pencil"></i> ویرایش</a></li>
            <li class=""><a href="#mymessage" data-toggle="tab"><i class="fa fa-envelope"></i> پیام ها</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane animated fadeInRight active" id="about">
                <div class="user-profile-content">
                    <h5><strong>درباره </strong> من</h5>

                    <p>توضیحات کاربر</p>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <h5><strong>تماس </strong> با من</h5>
                            <address>
                                <strong>تلفن :</strong><br>
                                <abbr title="تلفن">+989365617902</abbr>
                            </address>
                            <address>
                                <strong>ایمیل</strong><br>
                                <a href="mailto:#">smohe1991@gmail.com</a>
                            </address>
                        </div>
                        <div class="col-sm-6"><h5><strong>حوضه های فعالیت</strong></h5>

                            <p>مداح</p></div>
                        <div class="col-sm-6"><h5><strong>سمت ها </strong> در هیئت تی وی</h5>

                            <p>کارشناس کل</p>

                            <p>مدیر هیئت
                                <a>
                                    الزهرا
                                </a>
                            </p></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane animated fadeInRight" id="edit-profile">
                <div class="user-profile-content">
                    <div class="user-profile-content">
                        <div class="col-lg-7">
                            <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button"> <i class="glyphicon glyphicon-plus"></i> <span>Add files...</span>
                    <input type="file" name="files[]" multiple="">
                    </span>
                            <button type="submit" class="btn btn-primary start"><i
                                    class="glyphicon glyphicon-upload"></i> <span>Start upload</span></button>
                            <button type="reset" class="btn btn-warning cancel"><i
                                    class="glyphicon glyphicon-ban-circle"></i> <span>Cancel upload</span></button>
                            <button type="button" class="btn btn-danger delete"><i
                                    class="glyphicon glyphicon-trash"></i> <span>Delete</span></button>
                            <input type="checkbox" class="toggle"></input>
                            <span class="custom-checkbox"></span>
                            <!-- The global file processing state -->
                            <span class="fileupload-process"></span></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="mymessage">
                <ul class="media-list">
                    <li class="media"><a class="pull-left" href="#"><img src="images/user.png" style="
height: 40px;
width: 40px;
"></a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#fakelink">ایمان فیض بخش</a>
                                <small>1 ساعت پیش</small>
                            </h4>
                            <p>سلام این خرابه</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--/tab-content-->
    </div>
    <!--/block-web-->
</div>

{% end block container %}

{% block scripts %}
{% end block scripts %}