.move {

	background-color: hsla(0,10%,90%,1);
	margin:auto;
	clear: both;
	float:inherit;
	height: auto;
	width: 50%;
	direction: rtl;
}
.video{
	margin:auto;
	clear: both;
	float:inherit;
	height: auto;
	width: 100%;
	direction: rtl;
}
@media (max-width:800px){
	.move{
	width:60%;
	}
}
@media (max-width:700px){
	.move{
	width:70%;
	}
}
@media (max-width:600px){
	.move{
	width:80%;
	}
}
@media (max-width:500px){
	.move{
	width:90%;
	}
}
@media (max-width:400px){
	.move{
	width:100%;
	}
}
.name {
	background-color: hsla(0,0%,86%,1);
	clear: both;
	float: right;
	height: auto;
	width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
	direction: rtl;
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
  background: white;
}

#wrap {
  margin: 0 auto 30px;
}

#regbar {
  height: 67px;
  background: white;
}

#navthing {
  margin-left: 50px;
}

h2 {
  padding: 20px;
  color: #ecf0f1;
}

fieldset {
  border: none;
}

.login {
  position: relative;
  width: 350px;
  display: none;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #ECF0F1;
  left: 10%;
  position: absolute;
  top: -10px;
}

.formholder {
  background: #ecf0f1;
  width: 350px;
  border-radius: 5px;
  padding-top: 5px;
}
.formholder input[type="email"], .formholder input[type="password"], .formholder input[type="text"] {
  padding: 7px 5px;
  margin: 10px 0;
  width: 100%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type="submit"] {
  background: #1abc9c;
  padding: 10px;
  font-size: 20px;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.formholder input[type="submit"]:hover {
  background: #1bc6a4;
}

.randompad {
  padding: 10px;
}

.green {
  color: #1abc9c;
}

a {
  color: #11BDE8;
  text-decoration: none;
}
a:hover {
  color: #1abc9c;
}
body {
  background: #df4f32 url("http://33.media.tumblr.com/53b1b2ec56944c977cdd7ee10a9b4ba4/tumblr_n8zm0yzydj1st5lhmo1_1280.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  content: '';
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background: #DF4F32;
  /* IE Fallback */
  background: rgba(44, 62, 80, 0.9);
  width: 100%;
  height: 100%;
}
.pricing {
  position: absolute;
  background: #3498db;
  width: 280px;
  top: 50%;
  left: 50%;
  margin: -117px 0 0 -140px;
  padding: 40px 0 20px;
  color: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.pricing .thumbnail {
  background: #fff;
  /* IE Fall */
  background: rgba(255, 255, 255, 0.2);
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  font-size: 36px;
  line-height: 90px;
  text-align: center;
}
.pricing .title {
  cursor: pointer;
  background: #2980b9;
  margin: 40px 0 0;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.pricing .content {
  display: none;
}
.pricing .content .sub-title {
  background: #eee;
  padding: 10px;
  color: #666;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.pricing .content ul {
  list-style: none;
  background: #fff;
  margin: 0;
  padding: 0;
  color: #666;
  font-size: 14px;
}
.pricing .content ul li {
  padding: 10px 20px;
}
.pricing .content ul li:nth-child(2n) {
  background: #f3f3f3;
}
.pricing .content ul li .fa {
  width: 16px;
  margin-right: 10px;
  text-align: center;
}
.pricing .content ul li .fa-check {
  color: #2ecc71;
}
.pricing .content ul li .fa-close {
  color: #e74c3c;
}
.pricing .content a {
  display: block;
  background: #2980b9;
  max-width: 80px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.pricing .content a:hover {
  background: #34495e;
  /* IE Fallback */
  background: rgba(52, 73, 94, 0.7);
}
.clickMe {
  background: #fff;
  /* IE Fallback */
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 180px;
  left: -60px;
  padding: 5px 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #3498db;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 800;
}
.clickMe:before {
  content: '';
  position: absolute;
  top: 6px;
  right: -5px;
  width: 0px;
  height: 0px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5 solid #fff;
  /* IE Fallback */
  border-left: 5px solid rgba(255, 255, 255, 0.8);
}


.login {
  position: relative;
  width: 350px;
  display: none;
}
.singup
 {
  position: relative;
  width: 350px;
  display: none;
}

.col-lg-6 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 1.42857;
    color: #333;
}

.h2.panel{
    text-align: center;
    max-width: 500px;
    margin: 0px 0px 20px;
    font-size: 13px;
    background: #FFF none repeat scroll 0% 0%;
    border-radius: 0px;
    border: medium none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    display: block;
    box-sizing: border-box;
}

.panel-heading {

    font-size: 25px;
    border-color: #DDD;
    color: #F35958;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    padding: 15px;
    border-radius: 0px;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.panel-body {
    font-size: 13px;
    line-height: 22px;
    padding: 15px;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;

}
.table {
    width: 100%;
    margin-bottom: 20px;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 22px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}