{% extends "../base.html" %}

{% block css %}

{% end block css %}


{% block container %}



{% if info['flag'] ==1 %}
<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-sm-3 col-sm-5">
        <div class="information green_info">
            <div class="information_inner">
                <div class="info green_symbols"><i class="fa fa-users icon"></i></div>
                <span>اعضای جدید امروز</span>

                <h1 class="bolded">{{ info['member'] }}</h1>

                <div class="infoprogress_green">
                    <div class="greenprogress"></div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-sm-3 col-sm-5">
        <div class="information blue_info">
            <div class="information_inner">
                <div class="info blue_symbols"><i class="fa fa-cloud-download icon"></i></div>
                <span>دانلود های امروز</span>

                <h1 class="bolded">{{ info['download'] }}</h1>

                <div class="infoprogress_blue">
                    <div class="blueprogress"></div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-sm-3 col-sm-5">
        <div class="information red_info">
            <div class="information_inner">
                <div class="info red_symbols"><i class="fa fa-cloud-upload icon"></i></div>
                <span>آپلود های امروز</span>

                <h1 class="bolded">{{ info['upload'] }}</h1>

                <div class="infoprogress_red">
                    <div class="redprogress"></div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-sm-3 col-sm-5">
        <div class="information gray_info">
            <div class="information_inner">
                <div class="info gray_symbols"><i class="fa fa-comments icon"></i></div>
                <span>تعداد نظرات امروز</span>

                <h1 class="bolded">{{ info['comment'] }}</h1>

                <div class="infoprogress_gray">
                    <div class="grayprogress"></div>
                </div>


            </div>
        </div>
    </div>
</div>
{% end %}


<div class="container clear_both padding_fix">
    <!--\\\\\\\ container  start \\\\\\-->
    <div class="page-content">
        <div class="row">
    {% if heyat != {} %}
            <div class="tab-content">

<div class="tab-pane animated fadeInRight active">

<div class="user-profile-content">
<h5><strong>اطلاعات کانال شما:</strong></h5>
      <div class="row" style="width: 25%;float: right">
                            <div class="col-md-16" style="float: right"><img
                                    src="{{ static_url('images/heyats/') }}{{ heyat['heyat'].logo }}" style="
    height: 70px;
    width: 70px;
    margin-right: -25px;
"> &nbsp;</div>
                            <div class="col-md-16" style="float: right">
                                <div class="user-identity">
                                    <h4><strong>
                                        <a  href="/admin/update/heyat" title="ویرایش اطلاعات" >
                                             {{ heyat['heyat'].name }}

                                        </a>

                                    </strong></h4>


                                    <p><i class="fa fa-map-marker"></i>&nbsp; {{ heyat['heyat'].fk_address.province }} - {{ heyat['heyat'].fk_address.city }}

                                    </p>
                                </div>
                            </div>
                        </div>
      <div class="row" style="width: 65%;float: right">

     <div class="col-md-8" style="width: 100%">
                                <div class="user-identity"><h5>
                                    <div style="float: right;margin-bottom: 10px;margin-left: 50px">
                                                                            <strong style="color: green" >
                                        <a href="{{ reverse_url('user_list') }}" style="color: green">
                                                                                 تعداد اعضا:
{{ heyat['member'] }}
                                        </a>
                                    </strong>

                                    </div>
                                    <div style="float: right;margin-bottom: 10px;margin-left: 50px">
                                                                            <strong style="color: green">
                                        <a href="{{ reverse_url('my_uploaded_videos') }}" style="color: green">
                                                    تعداد فیلم ها:
                                        {{ heyat['video'] }}
                                        </a>

                                    </strong>

                                    </div>
                                    <div style="float: right;margin-bottom: 10px;margin-left: 50px">
                                        {%  if heyat['new_member']==0 %}
                                        <strong style="color: green">
                                            <a href="{{ reverse_url('request_member') }}" style="color: green">
                                                        اعضاء منتظر تایید:
                                        {{ heyat['new_member'] }}
                                            </a>

                                    </strong>
                                        {% else %}
                                         <strong style="color: red">
                      <a href="{{ reverse_url('request_member') }}" style="color: red">

                                            اعضاء منتظر تایید:
                                        {{ heyat['new_member'] }}
                                                                                             </a>
                                    </strong>
                                        {% end %}
                                    </div>



                                    </h5>
                                </div>

                            </div>
<div style="clear: both;margin-top: 80px">

    <form onsubmit="return validlogo()" method="post" enctype="multipart/form-data" action="{{ reverse_url('heyat_edit_logo') }}">
                                                                                    {% module xsrf_form_html() %}
   <label style="float: right;margin-top: 8px">
                      تغییر لوگو:

    </label>  &nbsp; &nbsp;
     <input  type="file" class="form-control" id="logo" name="logo" style="width: 60%;float: right;margin-right: 15px">
    <input style="float: right;margin-right: 15px" type="submit" class="btn btn-success" value="ثبت تصویر">
    </form>
    <br> <br>
       <div hidden="hidden" id="logoerrordiv" class="alert alert-danger" role="alert"
                                         style="margin-right: 20px;margin-left: 20px;">
          </div>

</div>
                        </div>
</div>
    </div>
                </div>

    {% end %}

            {% if member.count() != 0 %}
                        <div class="tab-content">

<div class="tab-pane animated fadeInRight active">

<div class="user-profile-content">
<h5><strong>هیئت های شما:</strong></h5>
    {% for item in member %}
      <div class="row" style="width: 25%;float: right;margin-top: 8px">
                            <div class="col-md-16" style="float: right"><img
                                    src="{{ static_url('images/heyats/') }}{{ item.fk_heyat.logo }}" style="
    height: 70px;
    width: 70px;
    margin-right: -25px;
"> &nbsp;</div>
                            <div class="col-md-16" style="float: right">
                                <div class="user-identity">
                                    <h4><strong>
                                        {{ item.fk_heyat.name }}

                                    </strong></h4>


                                    <p><i class="fa fa-map-marker"></i>&nbsp; {{item.fk_heyat.fk_address.province }} - {{ item.fk_heyat.fk_address.city }}

                                    </p>
                                </div>
                            </div>
                        </div>
 {% end %}
</div>
    </div>
                </div>

            {% end %}

<!--/tab-content-->
            <div class="col-md-4">
                <div class="profile_bg">
                    <div class="user-profile-sidebar">
                        <div class="row">
                            <div class="col-md-4"><img
                                    src="{{ static_url('images/users/') }}{{ user['login_user'].pic }}" style="
    height: 80px;
    width: 80px;
    margin-right: -25px;
"></div>
                            <div class="col-md-8">
                                <div class="user-identity">
                                    <h4><strong>
                                        {{ user['name'] }}
                                    </strong></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account-status-data">
                        <div class="row">
                            <div class="col-md-4">
                                <h5><strong>0</strong><br>امتیاز</h5>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>0</strong><br>پیگیری شدگان</h5>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>0</strong><br>پیگیر کنندگان</h5>
                            </div>
                        </div>
                    </div>

                    <div>
                        <small class="">درباره من</small>
                        <p>
                            {% if user['login_user'].about_me != None  %}
                                                                        {{ user['login_user'].about_me }}
                            {% end %}

                        </p>

                        <div class="line"></div>

                    </div>


                </div>
                <!--/block-web-->


            </div>
            <!--/col-md-4-->
            <div class="col-md-8">
                <div class="block-web full">
                    <ul class="nav nav-tabs nav-justified nav_bg">
                        <li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-user"></i>
                            &nbsp مشخصات</a></li>
                        <li class=""><a href="#edit-profile" data-toggle="tab"><i class="fa fa-pencil"></i>
                            &nbsp
                            ویرایش مشخصات
                        </a></li>
                        <li class=""><a href="#change-pass" data-toggle="tab"><i class="fa fa-user"></i>
                            &nbsp
                            تغییرگذرواژه
                        </a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane animated fadeInRight active" id="about">
                            <div class="user-profile-content">
                                <h5><strong>درباره </strong> من</h5>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5><strong>تماس </strong> با من</h5>

                                        <address>
                                            <strong>پست الکترونیک: </strong><br>
                                            {{ user['login_user'].email }}

                                        </address>

                                        <address>
                                            <strong>تلفن :</strong><br>
                                            <abbr title="تلفن">
                                                {% if user['login_user'].phone != None %}
                                                {{ user['login_user'].phone }}
                                                {% else %}
                                                وارد نشده
                                                {% end %}

                                            </abbr>
                                        </address>


                                    </div>
                                    <div class="col-sm-6"><h5><strong>سمت در هیئت تی وی:</strong></h5>

                                        <p>
                                            {{ user['login_user'].fk_role.name }}

                                        </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane animated fadeInRight" id="edit-profile">
                            <div class="user-profile-content">
                                <div class="user-profile-content">
                                    <form role="form" method="post" action="{{ reverse_url('user_edit_profile') }}"
                                          enctype="multipart/form-data"
                                          onsubmit="return valid()">
                                                                                                                    {% module xsrf_form_html() %}

                                        <div class="form-group">
                                            <label for="FullName">نام</label>
                                            <input type="text" class="form-control" id="fname"
                                                   value="{{ user['login_user'].fore_name }}"
                                                   name="fname">
                                        </div>
                                        <div class="form-group">
                                            <label for="Email">نام خانوادگی</label>
                                            <input type="text" class="form-control" id="lname"
                                                   value="{{ user['login_user'].sur_name }}"
                                                   name="lname">
                                        </div>
<div class="form-group">
                                            <label for="about">درباره من</label>
                                            <textarea type="text" name="about" class="form-control" id="about">{% if user['login_user'].about_me != None  %}{{ user['login_user'].about_me }}{% end %}</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">تلفن تماس</label>
                                            <input maxlength="11" type="text" class="form-control" id="phone" value="


                                                    {% if user['login_user'].phone != None %}{{ user['login_user'].phone }}{% end %} "
                                                   name="phone">
                                        </div>

                                        <div class="form-group">
                                            <label for="pic">تغییر تصویر پروفایل:</label>
                                            <input type="file" class="form-control" id="pic"
                                                   name="pic">
                                        </div>
                                        <div hidden="hidden" id="editerrordiv" class="alert alert-danger" role="alert"
                                             style="margin-right: 20px;margin-left: 20px;">
                                        </div>

                                        <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane animated fadeInRight" id="change-pass">
                            <div class="user-profile-content">
                                <div class="user-profile-content">
                                    <div class="form-group">
                                        <label for="oldpass">گذرواژه فعلی:</label>
                                        <input type="password" class="form-control" id="oldpass"
                                               placeholder="گذرواژه فعلی"
                                               name="oldpass">
                                    </div>
                                    <div class="form-group">
                                        <label for="newpass">گذرواژه جدید:</label>
                                        <input type="password" class="form-control" id="newpass"
                                               placeholder="گذرواژه جدید"
                                               name="newpass">
                                    </div>

                                    <div class="form-group">
                                        <label for="newpass2">تکرار گذرواژه جدید:</label>
                                        <input type="password" class="form-control" id="newpass2"
                                               placeholder="تکرار گذرواژه جدید" name="newpass2">
                                    </div>



                                    </div>

                                <div hidden="hidden" id="errordiv" class="alert alert-danger" role="alert"
                                             style="margin-right: 20px;margin-left: 20px;">
                                        </div>

                                    <button onclick="savechange()" class="btn btn-primary">ذخیره تغییرات</button>
                                    &nbsp &nbsp <img hidden="hidden" width="30px" height="30" id="load"
                                                     src="{{ static_url('images/uploading.gif') }}"

                                </div>
                            </div>
                        </div>


                    </div>
                    <!--/tab-content-->
                </div>
                <!--/block-web-->
            </div>
            <!--/col-md-8-->
        </div>
        <!--/row-->
    </div>
</div>
{% end block container %}


{% block scripts %}
<script type="text/javascript">
    function savechange() {
        oldpass = document.getElementById('oldpass').value;
        newpass = document.getElementById('newpass').value;
        newpass2 = document.getElementById('newpass2').value;
        msg = document.getElementById('errordiv');
        msg.className = 'alert alert-danger';


        if (oldpass == "" || newpass == "" || newpass2 == "") {

            msg.hidden = false;

            msg.innerHTML = "لطفا تمام ورودی ها را وارد کنید"
        }

        else if (newpass.length < 5) {
            msg.hidden = false;

            msg.innerHTML = "طول گذرواژه باید حداقل 5 رقم باشد "
        }

        else if (newpass != newpass2) {
            msg.hidden = false;

            msg.innerHTML = "گذرواژه های وارد شده شبیه هم نیستند"
        }
        else {
            document.getElementById('load').hidden = false;
            $.ajax(
                    {
                        url: '/administration/change_pass',
                        type: "POST",
                        data: {oldpass: oldpass, newpass: newpass},
                        success: (function (response) {
                            if (response == '1') {
                                msg.hidden = false;

                                msg.className = 'alert alert-success';
                                msg.innerHTML = "گذرواژه با موفقیت عوض شد."
                            }

                            else if (response == '0') {
                                msg.hidden = false;
                                msg.innerHTML = "گذرواژه فعلی اشتباه است!"
                            }

                            else {
                                msg.hidden = false;

                                msg.innerHTML = "متاسفانه خطایی رخ داده است ، لطفا مجددا تلاش نمایید."
                            }
                            document.getElementById('load').hidden = true;


                        })

                    }
            );
        }

    }

    function valid() {
        fname = document.getElementById('fname').value.trim();
        lname = document.getElementById('lname').value.trim();
        phone = document.getElementById('phone').value.trim();
        msg = document.getElementById('editerrordiv');
        pic = document.getElementById('pic');

        if (fname == "" || lname == "") {
            msg.hidden = false;
            msg.innerHTML = "لطفا تمامی ورودی ها را پر کنید";
            return false
        }
        if (phone != "" && (phone.length > 12 || phone.length < 10)) {
            msg.hidden = false;
            msg.innerHTML = "لطفا شماره تلفن را صحیح وارد کنید";
            return false
        }


        if (pic.value) {

            var fup = document.getElementById('pic');
            var fileName = fup.value;
            var ext = fileName.substring(fileName.lastIndexOf('.') + 1);
            if (ext == "GIF" || ext == "gif" || ext == "jpg" || ext == "JPG" || ext == "jpeg" || ext == "JPEG" || ext == "png" || ext == "PNG" || ext == "bmp" || ext == "BMP") {
                if (fup.files[0].size > 5242880) {
                    msg.hidden = false;
                    msg.innerHTML = "حداکثر حجم قابل آپلود 5 mg";
                    return false
                }
                else {
                    msg.hidden = true;
                    return true


                }
            }

            else {
                msg.innerHTML = "فایل نامعتبر ، "
                +
                "فایل های مجاز : "
                +
                "jpg , png , gif , bmp";

                msg.hidden = false;
                return false
            }
        }

    }
function validlogo()
{
       msg = document.getElementById('logoerrordiv');
        pic = document.getElementById('logo');
            if (pic.value) {

            var fup = document.getElementById('logo');
            var fileName = fup.value;
            var ext = fileName.substring(fileName.lastIndexOf('.') + 1);
            if ( ext == "jpg" || ext == "JPG" || ext == "jpeg" || ext == "JPEG" || ext == "png" || ext == "PNG" || ext == "bmp" || ext == "BMP") {
                if (fup.files[0].size > 5242880) {
                    msg.hidden = false;
                    msg.innerHTML = "حداکثر حجم قابل آپلود 5 mg";
                    return false
                }
                else {
                    msg.hidden = true;
                    return true


                }
            }

            else {
                alert('perfiv')
                msg.innerHTML = "فایل نامعتبر ، "
                +
                "فایل های مجاز : "
                +
                "jpg , png  , bmp";

                msg.hidden = false;
                return false
            }
        }
    else
            {
                  msg.hidden = false;
                    msg.innerHTML = "لطفا تصویری انتخاب کنید";
                    return false
            }

}

    window.onload = function() {
        document.getElementById('m1').className  = 'left_nav_active theme_border'
        document.getElementById('o1').style.display = "block";
        document.getElementById('s25').style.color = "green";
    }
</script>

{% end block scripts %}