
{% extends "../base.html" %}

{% block css %}
{% end block css %}



{% block container %}
<div class="col-md-12">
<div class="block-web">
<div class="header">
    <br>
<h4 class="content-header" style="color: green;;">

افزودن کارشناس جدید به حوزه
            {{domain.name}}
</h4>



</div>
    <br>
<div class="porlets-content">
<div class="table-responsive">
<div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid"><div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid"><div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid"><div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid"><table class="display table table-bordered table-striped dataTable" id="dynamic-table" aria-describedby="dynamic-table_info">
<thead>
<tr role="row">
<th class="center hidden-phone ">                    نام کارشناس </th>
<th class="center hidden-phone "> پست الکترونیک</th>
<th class="center hidden-phone "></th>

</thead>





            {% for item in expert %}
<tbody role="alert" aria-live="polite" aria-relevant="all">
<tr class="gradeX odd">
<td>
                         {{item.fore_name}} &nbsp {{item.sur_name}}
</td>
<td align="center">
{{item.email}}
</td>
<td align="center">
 <form id="{{item.id}}"  method="POST" action="{{reverse_url('add_expert')}}">
      {% module xsrf_form_html() %}
                         <input type="hidden" value="{{item.id}}" name="expert_id">
                         <input type="hidden" value="{{domain.id}}" name="domain_id">
                         <a style="color: green" href="#" onclick="document.getElementById({{item.id}}).submit()">
افزودن
                        </a>
                     </form>
</td>
</tr>
</tbody>
    {%end%}
</table></div></div></div></div>
</div><!--/table-responsive-->
</div><!--/porlets-content-->
</div><!--/block-web-->
</div>





{% end block container %}



{% block scripts %}
<script type="text/javascript">
        window.onload = function() {
        document.getElementById('m20').className  = 'left_nav_active theme_border'
        document.getElementById('o20').style.display = "block";
        document.getElementById('s4').style.color = "green";
    }

</script>
{% end block scripts %}





















