{% extends "../base.html" %}

{% block css %}
{% end block css %}



{% block container %}
<div class="col-md-12">
<div class="block-web">
<div class="header">
    <br>
<h5 class="content-header" style="color: green;;">
افزودن زیر حوزه جدید به سیستم
</h5>
                        <form method="post" action="{{reverse_url('add_domain')}}" onsubmit="return valid_add_domain()">
                             {% module xsrf_form_html() %}
                <label> نام زیر حوزه :</label>&nbsp
                     <input style="width:300px;" type="text" name="sub_domain" id="sub_domain" class="form-group" placeholder="نام زیر حوزه مورد نظر را وارد کنید">
                                    &nbsp &nbsp &nbsp  <label>حوزه :</label>&nbsp

                            <select name="domain">
                                {% for item in domain %}
                                <option value="{{item.id}}">{{item.name}}</option>
                                {%end%}
                            </select>
                                                 &nbsp <button class="btn btn-success" type="submit">افزودن</button>
            </form>

  <div hidden="hidden" id="errordiv" class="alert alert-danger" role="alert"
                                         style="margin-right: 65px;margin-left: 20px;width: 50%">
                                    </div>

</div>
    <br>

</div>
    </div>


<div id="one" class="col-sm-12">
    <h6 class="content-header" style="color: green;;">
فهرست حوزه ها وضرایب امتیازدهی آن ها:
</h6>
     <form method="POST" action="{{reverse_url('domain_score')}}">
 {% module xsrf_form_html() %}
 {% for item in domain %}

<ul class="group_sortable1">
<li>
<p style="border-right-width: 10px;margin-left: 10px;">
    {{item.name}} :

</p>
    <br>
          {%for sub in sub_domain%}
           {% if sub.fk_subject_domain == item %}
           &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp

                            <a style="color:red;" href="#" data-target="#myModal{{ sub.id }}" data-toggle="modal">
<i class="fa fa-times"></i>
                            </a>
<div class="modal fade" id="myModal{{ sub.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 style="color: red" class="modal-title" id="myModalLabel">اخطار!</h4>
      </div>

      <div class="modal-body">
          <h6 style="color: #000000">
آیا میخواهید زیر حوزه
              <strong>
                             {{ sub.name }}
              </strong>
              را از حوزه
              <strong>
                  {{ item.name }}،
              </strong>
               برای همیشه از سیستم حدف کنید؟
              <br><br>
با این کار کلیه امتیازات ثبت شده در سیستم مربوط به  این زیر حوزه حذف خواهند شد.
          </h6>
                <input name="id" type="hidden" value="{{ item.id }}">



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
        <button onclick="return delete_domain({{ sub.id }})" type="button"  class="btn btn-danger">حدف زیر حوزه</button>
      </div>
    </div>
  </div>



                        </div>
                            | {{sub.name}} &nbsp
                         &nbsp&nbsp   <label style="font-size: 10px;color: blue">
                                ضریب&nbsp*
                            </label>

                            <input maxlength="2" name="{{sub.id}}" class="btn" type="text" value="{{sub.ratio}}" style="width: 45px">
    <br>

         {%end%}
        {%end%}


</li>
</ul>
     {%end%}
         <br>
         <button class="btn btn-success" type="submit">دخیره ضرایب جدید</button>

</form>
    </div>


{% end block container %}



{% block scripts %}
<script type="text/javascript">
    function delete_domain(id)
    {
        $.ajax({
            url:'/administration/delete_domain',
           type: "POST",
           data: {id: id}

        })
                .done(function()
                {
                    location.reload()
                }
        )







    }

    function valid_add_domain()
    {
        msg = document.getElementById('errordiv');
        name = document.getElementById('sub_domain').value.trim();

        if(name == "")
        {
            msg.hidden = false;
            msg.innerHTML = "لطفا نام زیر حوزه را وارد کنید";
            return false;
        }
        else
        {
            msg.hidden = true;
            return true;
        }
    }
</script>
<script type="text/javascript">
        window.onload = function() {
        document.getElementById('m20').className  = 'left_nav_active theme_border'
        document.getElementById('o20').style.display = "block";
        document.getElementById('s3').style.color = "green";
    }

</script>

{% end block scripts %}











