{% extends "../base.html" %}

{% block css %}
{% end block css %}


{% block container %}
<div class="col-md-12">
    <div class="block-web">
        <div class="header">

            <h4 class="content-header">لیست فیلم ها</h4>
        </div>
        <div class="porlets-content">
            <div class="table-responsive">
                    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                    <table class="display table table-bordered table-striped dataTable"
                                           id="dynamic-table" aria-describedby="dynamic-table_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="center hidden-phone ">نام ویدئو</th>
                                            <th class="center hidden-phone ">نام ارسال کننده</th>
                                            <th class="center hidden-phone ">نام هیئت</th>
                                            <th class="center hidden-phone ">تاریخ ارسال</th>
                                        </tr>
                                        </thead>

                                        {% for video in videos %}
                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr class="gradeX odd">
                                            <td class="center">
                                                <form id="{{ video.id }}" method="post" action="{{ reverse_url('expert_one_video_play') }}">
                                                     {% module xsrf_form_html() %}
                                                    <input type="hidden" name="id" value="{{ video.id }}">
                                                    <a href="#" onclick="document.getElementById({{ video.id }}).submit()"> {{ video.name }}</a>
                                                </form>
                                                </td>
                                            <td class="center">{{ video.fk_uploader.fore_name }} {{ video.fk_uploader.sur_name }}</td>
                                            <td class="center ">{{ video.fk_heyat.name }}</td>
                                            {% from khayyam import JalaliDate %}
                                            {% set date = JalaliDate(video.inserted_date) %}
                                            <td class="center ">{{ date }}</td>
                                        </tr>
                                        </tbody>
                                        {% end %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!--/table-responsive-->
        </div>
        <!--/porlets-content-->


    </div>
    <!--/block-web-->
</div>
{% end block container %}

{% block scripts %}
<script type="text/javascript">
        window.onload = function() {
        document.getElementById('m80').className  = 'left_nav_active theme_border'
        document.getElementById('o80').style.display = "block";
        document.getElementById('s14').style.color = "green";
    }

</script>
{% end block scripts %}