{% extends "../base.html" %}

{% block css %}
{% end block css %}


{% block container %}
<div class="col-md-12">
    <div class="block-web">
        <div class="header">

            <h4 class="content-header">لیست فیلم ها</h4>
        </div>
        <div class="porlets-content">
            <div class="table-responsive">
                    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">

                           <form method="post" action="{{ reverse_url('expert_subject') }}">
                                {% module xsrf_form_html() %}
                            <label > موضوع </label> &nbsp
                            <select name="chose_subjects">
                                {% for sub in subjects %}
                                <option value="{{ sub.id }}"{% if sub.id == subject %}selected{% end %}>{{ sub.name }}</option>
                                {% end %}
                            </select>
                            &nbsp <input type="submit" value="مشاهده فیلم ها">
                        </form>
                                    <table class="display table table-bordered table-striped dataTable"
                                           id="dynamic-table" aria-describedby="dynamic-table_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="center hidden-phone ">نام ویدئو</th>
                                            <th class="center hidden-phone ">نام ارسال کننده</th>
                                            <th class="center hidden-phone ">نام هیئت</th>
                                            <th class="center hidden-phone ">تاریخ ارسال</th>
                                        </tr>
                                        </thead>

                                        {% for video in videos %}
                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr class="gradeX odd">
                                            <td class="center">
                                                <form id="f{{ video.id }}" method="post" action="{{ reverse_url('play_video_for_subject_expert') }}">
                                                     {% module xsrf_form_html() %}
                                                    <input name="videoid" type="hidden" value="{{ video.id }}">
                                                    <input type="hidden" value="{{ subject }}" name="sub">
                                                    <a onclick="document.getElementById('f{{ video.id }}').submit()" href="#"> {{ video.name }}</a>

                                                </form>
                                            </td>
                                            <td class="center">{{ video.fk_uploader.fore_name }} {{ video.fk_uploader.sur_name }}</td>
                                            <td class="center ">{{ video.fk_heyat.name }}</td>
                                            {% from khayyam import JalaliDate %}
                                            {% set date = JalaliDate(video.inserted_date) %}
                                            <td class="center ">{{ date }}</td>
                                        </tr>
                                        </tbody>
                                        {% end %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!--/table-responsive-->
        </div>
        <!--/porlets-content-->


    </div>
    <!--/block-web-->
</div>
{% end block container %}

{% block scripts %}

<script type="text/javascript">
        window.onload = function() {
        document.getElementById('m80').className  = 'left_nav_active theme_border';
        document.getElementById('o80').style.display = "block";
        document.getElementById('s16').style.color = "green";
    }

</script>
{% end block scripts %}