{% extends "../base.html" %}

{% block css %}
{% end block css %}


{% block container %}
<body onload="one_load( {{ expert }} , {{ selected }})">
<div class="col-md-12">
    <div class="block-web">
        <div class="header">
            <h4 class="content-header">فیلم های کارشناسی شده توسط شما:</h4>
        </div>
        <form method="post" action="{{ reverse_url('Judged') }}" enctype="multipart/form-data">
             {% module xsrf_form_html() %}
            <select id="expert" name="expert" class="form-group" onchange="load()">
                <option value="1">کارشناسی کل</option>
                <option value="2">کارشناسی موضوعی</option>
            </select>
            &nbsp &nbsp &nbsp
            <select id="type" name="select" class="form-group">
            </select>

            <input type="submit" value="انتخاب">
        </form>
        <div class="porlets-content">
            <div class="table-responsive">
                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                <table class="display table table-bordered table-striped dataTable"
                                       id="dynamic-table" aria-describedby="dynamic-table_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="center hidden-phone ">نام ویدئو</th>
                                        <th class="center hidden-phone ">نام ارسال کننده</th>
                                        <th class="center hidden-phone ">نام هیئت</th>
                                        <th class="center hidden-phone ">تاریخ ارسال</th>
                                    </tr>
                                    </thead>

                                    {% for video in videos %}
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    <tr class="gradeX odd">
                                        <td class="center">
                                            {% if video.status == 3 or video.status ==2 %}
                                            <form id="{{ video.id }}" method="post" action="{{ reverse_url('public_video_play') }}">
                                                 {% module xsrf_form_html() %}
                                                <input type="hidden" value="salam" name="file_size">
                                                <input name="id" type="hidden" value="{{ video.id }}">
                                                <a href="#" onclick="document.getElementById({{ video.id }}).submit()">
                                                                                                                                                {{ video.name }}

                                                </a>
                                            </form>
                                            {% else %}
                                                                                        {{ video.name }}

                                            {% end %}



                                        </td>
                                        <td class="center">{{ video.fk_uploader.fore_name }} {{ video.fk_uploader.sur_name }}</td>
                                        <td class="center ">{{ video.fk_heyat.name }}</td>
                                        <td class="center ">{{ video.date }}</td>
                                    </tr>
                                    </tbody>
                                    {% end %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/table-responsive-->
        </div>
        <!--/porlets-content-->


    </div>
    <!--/block-web-->
</div>

</body>
{% end block container %}

{% block scripts %}
<script type="text/javascript">
    function one_load(expert, type) {
        _select = document.getElementById('type');
        _exp = document.getElementById('expert');
        if (expert == 1)
        {
            opt = document.createElement('option');
            opt.value = 2;
            opt.innerHTML = "تایید شده ها";
            _select.appendChild(opt);


            opt = document.createElement('option');
            opt.value = 1;
            opt.innerHTML = "درحال بررسی";
            _select.appendChild(opt);


            opt = document.createElement('option');
            opt.value = -2;
            opt.innerHTML = "ردشده ها";

            _select.appendChild(opt);
            _exp.options[0].selected = 'selected';
            if (type == 2) {
                _select.options[0].selected = 'selected';

            }

            else if (type == 1) {
                _select.options[1].selected = 'selected';

            }

            else {
                _select.options[2].selected = 'selected';

            }

        }

        else {
            opt = document.createElement('option');
            opt.value = 3;
            opt.innerHTML = "تایید شده";
            _select.appendChild(opt);


            opt = document.createElement('option');
            opt.value = 2;
            opt.innerHTML = "در حال بررسی";
            _select.appendChild(opt);


            _exp.options[1].selected = 'selected';
            if (type == 3) {
                _select.options[0].selected = 'selected';

            }

            else {
                _select.options[1].selected = 'selected';

            }


        }

        document.getElementById('m80').className  = 'left_nav_active theme_border';
        document.getElementById('o80').style.display = "block";
        document.getElementById('s29').style.color = "green";
    }

    function load() {
        alert('start')
          expert = document.getElementById('expert').value;
        _select = document.getElementById('type');


        if (expert == 1) {
            _select.removeChild(_select.options[0]);
            _select.removeChild(_select.options[0]);

            opt = document.createElement('option');
            opt.value = 2;
            opt.innerHTML = "تایید شده ها";
            _select.appendChild(opt);


            opt = document.createElement('option');
            opt.value = 1;
            opt.innerHTML = "درحال بررسی";
            _select.appendChild(opt);


            opt = document.createElement('option');
            opt.value = -2;
            opt.innerHTML = "ردشده ها";
            _select.appendChild(opt);


        }

        else {
            _select.removeChild(_select.options[0]);
            _select.removeChild(_select.options[0]);
            _select.removeChild(_select.options[0]);

            opt = document.createElement('option');
            opt.value = 3;
            opt.innerHTML = "تایید شده";
            _select.appendChild(opt);


            opt = document.createElement('option');
            opt.value = 2;
            opt.innerHTML = "در حال بررسی";
            _select.appendChild(opt);
        }

        _select.options[0].selected = 'selected';
    }


</script>


{% end block scripts %}