{% extends "../base.html" %}

{% block css %}
{% end block css %}



{% block container %}
<div id="one" class="col-sm-12">


                    {% for item in domain %}
    <ul class="group_sortable1">
<li>
<p style="border-right-width: 10px;margin-left: 10px;">
                    {{item.name}}
    <form id="{{item.id}}" method="post" action="{{reverse_url('domain_list')}}">
     {% module xsrf_form_html() %}
                    <input type="hidden" value="{{item.id}}" name="id">
             &nbsp &nbsp &nbsp &nbsp &nbsp
                    <a href="#" onclick="document.getElementById('{{item.id}}').submit()">لیست کارشناسان</a>
    </form>

</li>
</ul>
                    {%end%}
</p>

</div>

{% end block container %}



{% block scripts %}
 <script type="text/javascript">
       window.onload = function() {
        document.getElementById('m20').className  = 'left_nav_active theme_border'
        document.getElementById('o20').style.display = "block";
        document.getElementById('s4').style.color = "green";
}
 </script>

{% end block scripts %}











