{% extends "../base.html" %}

{% block css %}
{% end block css %}


{% block container %}
<div class="col-md-12">
    <div class="block-web">
        <div class="header">

            <h4 class="content-header">لیست فیلم ها</h4>
        </div>
        <div class="porlets-content">
            <div class="table-responsive">
                <div>
                    <div style="float: right">
                        <form method="post" action="{{ reverse_url('subject_videos') }}">
                             {% module xsrf_form_html() %}
                            <label > موضوع </label> &nbsp
                            <select name="chose_subjects">
                                {% for sub in subjects %}
                                <option value="{{ sub.id }}" {% if subject == sub.id %}selected{% end %}>{{ sub.name }}</option>
                                {% end %}
                            </select>
                            &nbsp <input type="submit" value="مشاهده فیلم ها">
                        </form>

                    </div>
                    <div style="float: right">
                        <form method="post" action="{{ reverse_url('select_subject') }}">
                             {% module xsrf_form_html() %}
                            <input type="hidden" value="{{ subject }}" name="chose_subjects">
                            {% if flag %}
                            &nbsp &nbsp &nbsp &nbsp <label for="chose_expert">انتخاب کارشناس</label> &nbsp
                            <select name="chose_expert">
                                {% for expert in experts %}
                                <option value="{{ expert.id }}">{{ expert.fore_name }} {{ expert.sur_name }}</option>
                                {% end %}
                            </select>
                            {% end %}
                            <input style="margin-right: 10px" class="btn btn-success" type="submit"
                                   value="تایید برای کارشناسی">

                    </div>
                </div>


                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid" style="clear: both;">
                    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                <table class="display table table-bordered table-striped dataTable"
                                       id="dynamic-table" aria-describedby="dynamic-table_info">
                                    <thead>
                                    <tr role="row">
                                        <th style="width: 25%" class="center hidden-phone ">نام ویدئو</th>
                                        <th style="width: 25%" class="center hidden-phone ">نام ارسال کننده</th>
                                        <th style="width: 25%" class="center hidden-phone ">نام هیئت</th>
                                        <th style="width: 20%" class="center hidden-phone ">تاریخ ارسال</th>
                                        <th style="width:5%" class="center hidden-phone ">انتخاب</th>
                                    </tr>
                                    </thead>

                                    {% for video in videos %}
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    <tr class="gradeX odd">
                                        <td class="center">{{ video.name }}</td>
                                        <td class="center">{{ video.fk_uploader.fore_name }} {{ video.fk_uploader.sur_name }}</td>
                                        <td class="center ">{{ video.fk_heyat.name }}</td>
                                        {% from khayyam import JalaliDate %}
                                        {% set date = JalaliDate(video.inserted_date) %}
                                        <td class="center ">{{ date }}</td>
                                        <td class="center ">
                                            <input type="checkbox" name="{{ video.id }}">

                                    </tr>
                                    </tbody>
                                    {% end %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                </form>
            </div>
            <!--/table-responsive-->
        </div>
        <!--/porlets-content-->


    </div>
    <!--/block-web-->
</div>
{% end block container %}

{% block scripts %}
<script type="text/javascript">
      document.getElementById('m80').className  = 'left_nav_active theme_border'
        document.getElementById('o80').style.display = "block";
        document.getElementById('s13').style.color = "green";
</script>
{% end block scripts %}