{% extends "../base.html" %}

{% block css %}
{% end block css %}


{% block container %}
<div class="col-md-12">
    <div class="block-web">
        <div class="header">

            <h4 class="content-header">لیست فیلم ها</h4>
        </div>
        <div class="porlets-content">
            <div class="table-responsive">
                <form method="post">
                     {% module xsrf_form_html() %}
                    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                    <table class="display table table-bordered table-striped dataTable"
                                           id="dynamic-table" aria-describedby="dynamic-table_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="center hidden-phone " style="width: 25%">نام ویدئو</th>
                                            <th class="center hidden-phone " style="width:25%;"> نام ارسال کننده</th>
                                            <th class="center hidden-phone " style="width:25%;">نام هیئت</th>
                                            <th class="center hidden-phone " style="width:20%;">تاریخ ارسال</th>
                                            <th class="center hidden-phone " style="width:5%;">انتخاب</th>
                                        </tr>
                                        </thead>

                                        {% for video in videos %}
                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr class="gradeX odd">
                                            <td class="center">
                                                {{ video.name }}
                                            </td>
                                            <td class="center">{{ video.fk_uploader.fore_name }} {{ video.fk_uploader.sur_name }}</td>
                                            <td class="center ">{{ video.fk_heyat.name }}</td>
                                            {% from khayyam import JalaliDate %}
                                            {% set date = JalaliDate(video.inserted_date) %}
                                            <td class="center ">{{ date }}</td>
                                            <td class="center ">
                                            <input  class="form-group" type="checkbox" name="{{ video.id }}">

                                             </td>
{#                                                <select name="select_{{ video.id }}">#}
{#                                                    <option value="1">انتخاب</option>#}
{#                                                    <option value="0" selected></option>#}
{#                                                </select>#}
{#                                            </td>#}

                                        </tr>
                                        </tbody>
                                        {% end %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if flag %}
                    <select name="chose_expert">
                        {% for expert in experts %}
                        <option value="{{ expert.id }}">{{ expert.fore_name }} {{ expert.sur_name }}</option>
                        {% end %}
                    </select>
                    {% end %}
                    <input type="submit" value="تایید">

                </form>
            </div>
            <!--/table-responsive-->
        </div>
        <!--/porlets-content-->


    </div>
    <!--/block-web-->
</div>
{% end block container %}

{% block scripts %}

<script type="text/javascript">
      document.getElementById('m80').className  = 'left_nav_active theme_border'
        document.getElementById('o80').style.display = "block";
        document.getElementById('s8').style.color = "green";
</script>

{% end block scripts %}