{% extends "../base.html" %}

{% block css %}
<link href="{{ static_url('css/persian-datepicker-0.4.5.css') }}" rel="stylesheet" type="text/css"/>

{% end block css %}


{% block container %}


<div class="col-md-12">
    <div class="block-web">
        <div class="header">

            <h4 class="content-header">گزارش گیری سیستم</h4>
        </div>
        <div class="porlets-content">
            <div class="table-responsive">
                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                <div id="for_report">

                                    <div class="form-group " style="margin-top: 32px">
                                        <div id="obj_div" style="float: right">
                                            <label for="obj_name">مورد</label> &nbsp
                                            <select class="form-group" name="obj_name" id="obj_name" onchange="load()">
                                                <option value="user">کاربران</option>
                                                <option value="heyat">هیئت ها</option>
                                                <option value="video">فیلم ها</option>
                                            </select>
                                            &nbsp &nbsp &nbsp
                                        </div>


                                        <div id="type_div" hidden="hidden" style="float: right;">
                                            <label for="type_search">فیلتر</label> &nbsp &nbsp &nbsp &nbsp &nbsp
                                            <select class="form-group" name="type_search" id="type_search"
                                                    hidden="hidden">
                                                <option value="all">همه</option>
                                                <option value="accepted">تایید شده</option>
                                                <option value="rejected">رد شده</option>
                                            </select>&nbsp &nbsp &nbsp &nbsp
                                        </div>

                                        <div id="type_div" style="float: right">
                                            <label for="type_date_search">نوع گزارش</label>&nbsp
                                            <select class="form-group" name="type_date_search" id="type_date_search">
                                                <option value="y">سالیانه</option>
                                                <option value="m">ماهانه</option>
                                                <option value="d">روزانه</option>
                                            </select>&nbsp &nbsp &nbsp
                                            <button onclick="search()" type="button" class="btn">نمایش</button>

                                        </div>
                                        <div style="margin-top: 60px">
                                            <label>
                                                از
                                            </label>&nbsp &nbsp &nbsp &nbsp
                                            <input id="observer" required="required" maxlength="10" name="startdate"
                                                   class="form-control" type="text" style="width: 220px">&nbsp &nbsp
                                            &nbsp
                                            <label>
                                                تا
                                            </label>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                                            <input id="observer2" required="required" maxlength="10" name="enddate"
                                                   class="form-control" type="text" style="width:220px;">
     &nbsp &nbsp &nbsp
<button class="btn" type="button"  onclick="showchart()">نمودار</button>
                                            &nbsp <img style="width:20px;height: 20px;"
                                                       src="{{ static_url('images/uploading.gif') }}" hidden="hidden"
                                                       id="loading">


                                        </div>


                                    </div>
                                </div>

                            </div>
                            <br>

<div id="showchart" hidden="hidden">
        <div style="margin:20px auto; text-align:center;" id="graph-container" >
        <canvas id="graph" width="700" height="500" align="center"></canvas></div>

</div>



                            <div style="clear: both;margin-top: 20px">
                                <table class="display table table-bordered table-striped dataTable"
                                       id="dynamic-table" aria-describedby="dynamic-table_info" >
                                    <thead>
                                    <tr role="row">
                                        <th style="width:5%" class="center hidden-phone ">ردیف</th>
                                        <th style="width:75%" class="center hidden-phone ">بازه زمانی</th>
                                        <th style="width:20%;" class="center hidden-phone ">تعداد</th>
                                    </tr>
                                    </thead>
                                    <tbody id="resualt_table">

                                    </tbody>
                                </table>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--/table-responsive-->
        </div>
        <!--/porlets-content-->


    </div>
    <!--/block-web-->
</div>


{% end block container %}


{% block scripts %}
<script type="text/javascript" src="{{ static_url('js/persian-datepicker-0.4.5.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/persian-date.js') }}"></script>
<script type="text/javascript">
    /*
     Default Functionality
     */
    $(document).ready(function () {
        /*
         Default
         */
        window.pd = $("#inlineDatepicker").persianDatepicker({
            timePicker: {
                enabled: true
            },
            altField: '#inlineDatepickerAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
//            minDate:1258675200000,
//            maxDate:1358675200000,
            checkDate: function (unix) {
                var output = true;
                var d = new persianDate(unix);
                if (d.date() == 20) {
                    output = false;
                }
                return output;
            },
            checkMonth: function (month) {
                var output = true;
                if (month == 1) {
                    output = false;
                }
                return output;

            }, checkYear: function (year) {
                var output = true;
                if (year == 1396) {
                    output = false;
                }
                return output;
            }

        }).data('datepicker');

        $("#inlineDatepicker").pDatepicker("setDate", [1391, 12, 1, 11, 14]);

        //pd.setDate([1333,12,28,11,20,30]);

        /**
         * Default
         * */
        $('#default').persianDatepicker({
            altField: '#defaultAlt'

        });


        /*
         observer
         */
        $("#observer").persianDatepicker({
            altField: '#observerAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
            observer: true,
            format: 'YYYY/MM/DD'

        });
        $("#observer2").persianDatepicker({
            altField: '#observerAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
            observer: true,
            format: 'YYYY/MM/DD'

        });

        /*
         timepicker
         */
        $("#timepicker").persianDatepicker({
            altField: '#timepickerAltField',
            altFormat: "YYYY MM DD HH:mm:ss",
            format: "HH:mm:ss a",
            onlyTimePicker: true

        });
        /*
         month
         */
        $("#monthpicker").persianDatepicker({
            format: " MMMM YYYY",
            altField: '#monthpickerAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
            yearPicker: {
                enabled: false
            },
            monthPicker: {
                enabled: true
            },
            dayPicker: {
                enabled: false
            }
        });

        /*
         year
         */
        $("#yearpicker").persianDatepicker({
            format: "YYYY",
            altField: '#yearpickerAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
            dayPicker: {
                enabled: false
            },
            monthPicker: {
                enabled: false
            },
            yearPicker: {
                enabled: true
            }
        });
        /*
         year and month
         */
        $("#yearAndMonthpicker").persianDatepicker({
            format: "YYYY MM",
            altFormat: "YYYY MM DD HH:mm:ss",
            altField: '#yearAndMonthpickerAlt',
            dayPicker: {
                enabled: false
            },
            monthPicker: {
                enabled: true
            },
            yearPicker: {
                enabled: true
            }
        });
        /**
         inline with minDate and maxDate
         */
        $("#inlineDatepickerWithMinMax").persianDatepicker({
            altField: '#inlineDatepickerWithMinMaxAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
            minDate: 1416983467029,
            maxDate: 1419983467029
        });
        /**
         Custom Disable Date
         */
        $("#customDisabled").persianDatepicker({
            timePicker: {
                enabled: true
            },
            altField: '#customDisabledAlt',
            checkDate: function (unix) {
                var output = true;
                var d = new persianDate(unix);
                if (d.date() == 20 | d.date() == 21 | d.date() == 22) {
                    output = false;
                }
                return output;
            },
            checkMonth: function (month) {
                var output = true;
                if (month == 1) {
                    output = false;
                }
                return output;

            }, checkYear: function (year) {
                var output = true;
                if (year == 1396) {
                    output = false;
                }
                return output;
            }

        });

        /**
         persianDate
         */
        $("#persianDigit").persianDatepicker({
            altField: '#persianDigitAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
            persianDigit: false
        });
    });
</script>
<script type="text/javascript">
    function load() {
        _obj = document.getElementById('obj_name');
        _type = document.getElementById('type_search');
        _obj_name = _obj.options[_obj.selectedIndex].value;
        if (_obj_name == 'user') {
            document.getElementById('type_div').hidden = true;
        }
        else {
            document.getElementById('type_div').hidden = false;
        }
    }

    function search() {

        _obj = document.getElementById('obj_name').value;
        type_search = document.getElementById('type_search').value;
        type_date_search = document.getElementById('type_date_search').value;
        start = document.getElementById('observer').value;
        _end = document.getElementById('observer2').value;
        _resualt = document.getElementById('resualt_table');
        _loading = document.getElementById('loading').hidden = false;


        $.ajax({
                    url: "/administration/report",
                    type: "POST",
                    data: {obj: _obj, type: type_search, date: type_date_search, start: start, end: _end},
                    success: function (response) {
                        _resualt.innerHTML = "";
                        array_chart = [];
                        array_count = [];

                        for (i = 0; i < response[0] - 1; ++i) {
                            a = (response[i + 1][i + 1]);
                            date_range = a.substring(a.indexOf(':') + 1);
                            count = a.substring(0, a.indexOf(':'));
                            temp = i+1;
                            _resualt.innerHTML += "<tr><td>"+ temp +"</td><td>" + date_range + "</td><td>" + count + "</td></tr>"
                            if(i<30)
                            {
                                array_chart.push(count);
                                array_count.push(i+1)

                            }

                        }
                        _loading = document.getElementById('loading').hidden = true;
                         chart(array_chart,array_count)


                    }


                }
        )
    }

</script>

<script>
		function chart(data , fild) {
            max = Math.max.apply(Math,data);
            min = Math.min.apply(Math,data);

            delta = max / 10;
            delta = Math.round(max);
            if (delta == 0)
                delta = 1;
            max = max + delta;

         document.getElementById('showchart').hidden = false
        $('#graph').remove(); // this is my <canvas> element
        $('#graph-container').append("<canvas id='graph' width='700' height='500' align='center'></canvas>");
			var chartData = {
				node: "graph",
				dataset: data,
				labels: fild,
				pathcolor: "#288ed4",
				fillcolor: "#8e8e8e",
				xPadding: 0,
				yPadding: 0,
				ybreakperiod: delta
			};
			drawlineChart(chartData, max);
            document.getElementById('showchart').hidden = true

		};
        function showchart()
        {
            if(document.getElementById('showchart').hidden == true)
            {
                document.getElementById('showchart').hidden = false
            }
            else
            {
                document.getElementById('showchart').hidden = true
            }
        }
	</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();



</script>
<script src="{{ static_url('dashboard/js/topup.js') }}"></script>
<script type="text/javascript">
      document.getElementById('m70').className  = 'left_nav_active theme_border'
        document.getElementById('o70').style.display = "block";
        document.getElementById('s34').style.color = "green";
</script>
{% end block scripts %}
