body{
    font-family: Mitra, Arial, Helvetica, sans-serif;

}

.dropdown-menu > li > a{
      font-weight: 200 !important;
}

select{
    padding: 0 !important;
}

/*===ADMIN_LOGIN===*/

.admin-login{
    margin-top: 10%;
}
.admin-login .login-checkbox{
    margin-top: 5%;
}

.admin-login .login-btn input{
    width: 100%;
}
.admin-login .login-btn{
    margin-top: 5%;
    margin-bottom: 10%;
}

.admin-login .panel-body{
    background-color: #f5f5f5;
}

/*===FORM===*/
form.game-new {
    direction: rtl;
    padding-bottom: 3% !important;
    clear: both;
}

.m-form-btn-submit {
    margin-top: 3% !important;
    border-radius: 3px;
    padding: 8px 30px;
}

.multiple-btn {
    border-radius: 5px;
}

fieldset{
    border: 1px solid gainsboro;
    border-bottom: none;
    background-color: white;
    padding: 15px 12px;
}

fieldset.news{
    border-radius: 5px 5px 0 0;
}

fieldset.time{
    border-radius: 0 0 5px 5px;
    border-bottom:1px solid gainsboro;
}

/*========CHANGE BOOTSTRAP=======*/
.dropdown-menu > li > a {
    color: #000000 !important;
    /*font-weight: 600 !important;*/
    font-size: 15px !important;
}


.nav > li {
    padding: 0 !important;
    text-align: center;
    font-size: 20px;
    /*font-weight: 900;*/
}

.profile > li {
    text-align: right !important;
    direction: rtl !important;
}

/*change navbar-inverse  in style.css*/
.mynav {
    background-color: rgb(22, 91, 148);
}

/*=================*/