/*=======forum_posts========*/

.forum_posts_header{
    padding: 1%;
    padding-right: 4%;
    margin-top: 2%;
    color: #f5f5f5;
    font-size: 25px;
    font-weight: 600;
    /*box-shadow: #000088 5px;*/
}

.forum_posts_content{
    border: 1px solid #000000;
    margin-top: 1.5%;
    padding: 3% 1%;
}

.forum_posts_content .date-time{
    padding: 0.5%;
    text-align: center;
}

/*.forum_posts_content .post-text{*/
    /*border: 1px solid #000000;*/
/*}*/

.forum_posts_content .user{
    margin-right: 8%;
    color: #06ACBA;
    font-size: 20px;
    font-weight: 600;
}

.forum_posts_content .img{
    /*transform: rotate(45deg);*/
    /*background-color: #06ACBA;*/
    height: 60px;
}

/*.forum_posts_content img{*/
    /*transform: rotate(-45deg);*/
/*}*/

/*.forum_posts_content img{*/
    /*transform: rotate(-45deg);*/
/*}*/