/*
 * Glyphicons
 *
 * Special styles for displaying the icons and their classes in the docs.
 */
/*@font-face {*/
/*font-family: "aseman";*/
/*src: url('../fonts/aseman.otf'),*/
/*url('../fonts/aseman.ttf');*/
/*}*/


.myfont-size {
    font-size: 20px !important;
}

.portal a {
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: orangered;
}

.bs-glyphicons {
    margin: 0 -19px 20px -16px;
    overflow: hidden;
}

.bs-glyphicons-list {
    padding-left: 0;
    list-style: none;
}

.bs-glyphicons li {
    float: left;
    width: 25%;
    height: 115px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid #fff;
    background-color: #f9f9f9;
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word; /* Help out IE10+ with class names */
}

.bs-glyphicons li:hover {
    color: #fff;
    background-color: #563d7c;
}

@media (min-width: 768px) {
    .bs-glyphicons {
        margin-left: 0;
        margin-right: 0;
    }

    .bs-glyphicons li {
        width: 12.5%;
        font-size: 12px;
    }
}

@font-face {
    font-family: "Mitra";
    src: url('../../fonts/BMitra.woff'),
    url('../../fonts/BMitra.ttf');
}

@font-face {
    font-family: "thuluth";
    src: url('../fonts/Thuluth.otf'),
    url('../fonts/Thuluth.ttf');
}

@font-face {
	font-family: "yekan";
	src: url(../fonts/Yekan.woff) format("woff"), url(../fonts/Yekan.ttf) format("truetype");
	font-weight: normal;
	font-style: normal
}


.collapse ul li {
    display: block !important;
    position: relative !important;
}

.Mitra {
    font-family: Mitra, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

section * ,.panel .panel-heading, input, select,.advanced-search,.head-verification {
    font-family: yekan, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.head-verification{
    font-size: 20px;
    margin-bottom: 3%;
}

.admin-login{
    margin-top: 10%;
}
.admin-login .login-checkbox{
    margin-top: 5%;
}

.admin-login .login-btn input{
    width: 100%;
}
.admin-login .login-btn{
    margin-top: 5%;
    margin-bottom: 10%;
}

.admin-login .panel-body{
    background-color: #f5f5f5;
}


body{
    font-family: Mitra, Arial, Helvetica, sans-serif;
    font-size: 18px !important;
}

.dropdown-menu > li > a{
      font-weight: 200 !important;
}

select{
    padding: 0 !important;
}

h4.m-head {
    color: rgb(240, 105, 125);
    padding-bottom: 3%;
    border-bottom: 2px solid rgb(240, 105, 125);
    font-weight: 800;
    margin-top: 3%;
}

/*=====base=========*/
ul.sub-header {
    margin-top: 10px;
    list-style-type: none;
    background: linear-gradient(red, #8b0000);
    font-weight: 600;
}

.sub-header li {
    float: right;
    width: 15% !important;
    background: linear-gradient(orangered, rgb(240, 103, 124));
    box-shadow: 5px 5px 10px 0 red;
}

.sub-header li a {
    display: block;
    width: 100%;
    padding: 10%;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.sub-header li a:hover {
    transition: 0.5s;
    background: radial-gradient(#f89406, lightcoral);
}

/*=====END Base======*/
form.game-new {
    direction: rtl;
    padding-bottom: 3% !important;
    clear: both;
}

.m-btn {
    width: 100%;
    background-color: #8E8E8E;
    margin-top: 8%;
    padding: 4%;
    text-align: center;
}

.m-right {
    float: right !important;
}

.m-left {
    float: left !important;
}

.m-text-head {
    font-size: 40px;
    font-weight: 600;
}

.m-no-padding-right {
    padding-right: 0 !important;
}

.m-no-padding-top {
    padding-top: 0 !important;
}

.m-no-padding-bottom {
    padding-bottom: 0 !important;
}

.m-no-padding-left {
    padding-left: 0 !important;
}

.m-no-padding {
    padding: 0 !important;
}

.m-no-margin-right {
    margin-right: 0 !important;
}

.m-no-margin-top {
    margin-top: 0 !important;
}

.m-no-margin-bottom {
    margin-bottom: 0 !important;
}

.m-no-margin-left {
    margin-left: 0 !important;
}

.m-no-margin {
    margin: 0 !important;
}

.m-text-rtl {
    direction: rtl !important;
}

.m-text-ltr {
    direction: ltr !important;
}

.m-text {
    direction: rtl !important;
}

.m-text-center {
    text-align: center !important;
}

.m-block-level {
    display: block !important;
}

.m-clear-both {
    clear: both !important;
}

.m-clear-right {
    clear: right !important;
}

.m-clear-left {
    clear: left !important;
}

.m-form-btn-submit {
    margin-top: 3% !important;
    border-radius: 3px;
    padding: 8px 30px;
}

.btn-add {
    margin-bottom: 2%;
}

.m-nav {
    height: 100px;
}

.m-title {
    font-size: 17px;
    font-weight: 600;
}

/*========CHANGE BOOTSTRAP=======*/
.dropdown-menu > li > a {
    color: #000000 !important;
    /*font-weight: 600 !important;*/
    font-size: 15px !important;
}


.nav > li {
    padding: 0 !important;
    text-align: center;
    font-size: 20px;
    /*font-weight: 900;*/
}

.profile > li {
    text-align: right !important;
    direction: rtl !important;
}

/*change navbar-inverse  in style.css*/
.mynav {
    background-color: rgb(22, 91, 148);
}

/*=================*/
.multiple-btn {
    border-radius: 5px;
}

/*======content=======*/

/*====navbar====*/

a.enter:hover{
    color: #f5f5f5;
}

a.enter span:hover{
    background-color: blue;
}
/*===================*/
.content {
    background-image: url("../img/main-background.png");
    background-size: contain;
}

.content .right-menu {
    background-color: #f5f5f5;
    /*height: 1000px;*/
}

.content .left-menu {
    background-image: url("../img/left-menu.png");
    /*height: 1000px;*/
}

/*===================*/
#myCarousel
{
margin-top: -20px;
    background: none;
    z-index: 0;
}

.carousel-indicators img
{
    opacity: 0.7;
    border: dashed;
    border-color: #ffffff;
    border-width: 1px ;
    padding: 0;


}
.carousel-indicators .active
{
    opacity: 1;
    height: 20%; !important;
    width: 15%; !important;
    /*border: dotted;*/
    /*padding: 0;*/
}

/*=======carousel-news=========*/
#myCarousel2 {
    background: none;
    padding: 50px;
}

.carousel-news {
    background-image: url('../img/back-carousel.png');
    background-size: cover;
    padding: 5%;
    padding-top: 0;
}

.carousel-news .btn-game {
    background-image: url('../img/game.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.carousel-news .btn-article {
    background-image: url('../img/article.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.carousel-news .btn-news {
    background-image: url('../img/news.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.carousel-img-box {
    padding-left: 8px;
    padding-right: 8px;
}

.carousel-news .carousel-control {
    background-image: none !important;
    width: 0.2%;
    font-size: 20px;
    font-weight: normal;
}

.carousel-news .item {
    padding: 8px;
}

.carousel-news .item .sub-item {
    background-color: #f5f5f5;
    margin-top: 5px;
}

/*===========user-specialist==========*/
.user-specialist {
    padding-top: 60px;
    /*padding-bottom: 10px;*/
    /*padding-top: 40px;*/
    padding-bottom: 80px;
    color: #ffffff;
    /*background-image: url("../img/background2.png");*/
    background-image:url('../img/specialist.png'),url('../img/gamepad.png'),url('../img/users.png'),url('../img/gamepad.png'), url("../img/background2.png");
    background-repeat: no-repeat;
    background-position: 40% 20px, 36% 20px,80% 20px, 76% 20px, 0 0;
    background-size: 105px , 105px ,105px , 105px , 100% 100%;
}

.user-specialist .specialist {
    margin-left: 24%;
}

.user-specialist .user {
    margin-left: 30%;
}

.user-specialist .icon {
    background-image: url("../img/users.png");
    background-clip: content-box;
    background-size: 105px;
    background-repeat: no-repeat;
}

.user-specialist .text {
    margin-top: 40px;
}

/*===========NEWER===========*/

.newer {
    background-image: url('../img/back-newer.png');
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #ffffff;
    text-align: justify;
    line-height: 20px;
    font-size: 15px;
}

.back-blue {
    background-color: #06ACBA;
}

.back-read {
    background-color: #FF3D00;
}

.back-black {
    background-color: #2A2A2A;
}

.newer-header {
    padding: 13px;
}

.newer-img-group {
    margin-top: 0.5%;
}

/*=====Popularity====*/

.popularity {
    background-image: url("../img/background3.png");
    color: #ffffff;
}

.popularity-header {
    background-image: url('../img/video-icon.png');
    background-repeat: no-repeat;
    background-position: right top;
    margin-top: 25px;
    margin-bottom: 10px;
    opacity: 0.7;
    padding: 15px;
    background-size: 60px 50px;

}

.popularity-header.video{
    background-image: url('../img/video-icon.png');
}

.popularity-header.article{
    background-image: url('../img/article-icon.png');
}

.popularity-header .more {
    font-size: 50px;
}

.popularity-header.back-read a:hover {
    color: #06ACBA;
}

.popularity-text {
    text-align: justify;
    font-size: 14px;
    line-height: 20px;
    padding: 1% 5% 5% 5%;
}

.popularity-body-left {
    padding: 0 3px 0 0 !important;
    /*margin-bottom: 3px;*/
}

.popularity-body-right {
    padding: 0 0 0 3px !important;
    /*margin-bottom: 3px;*/
}

/*=====FOOTER======*/

.footer-top {
    background-image: url("../img/footer.png");
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding-bottom: 7%;
    padding-top: 7%;

}

.footer-top > .container > .row {
    margin-top: 2%;
}

.footer-down {
    color: #ffffff;
    background-image: url("../img/background3.png");
    padding-bottom: 2%;
    padding-top: 1.5%;
    text-align: center;
}

/*=======forum_posts========*/

.forum_posts_header{
    padding: 1%;
    padding-right: 4%;
    margin-top: 2%;
    color: #f5f5f5;
    font-size: 25px;
    font-weight: 600;
    /*box-shadow: #000088 5px;*/
}

.forum_posts_content{
    border: 1px solid #000000;
    margin-top: 1.5%;
    padding: 3% 1%;
}

.forum_posts_content .date-time{
    padding: 0.5%;
    text-align: center;
}

/*.forum_posts_content .post-text{*/
    /*border: 1px solid #000000;*/
/*}*/

.forum_posts_content .user{
    margin-right: 8%;
    color: #06ACBA;
    font-size: 20px;
    font-weight: 600;
}

.forum_posts_content .img{
    /*transform: rotate(45deg);*/
    /*background-color: #06ACBA;*/
    height: 60px;
}

/*.forum_posts_content img{*/
    /*transform: rotate(-45deg);*/
/*}*/

/*.forum_posts_content img{*/
    /*transform: rotate(-45deg);*/
/*}*/

.insert-post{
    margin-top: 3%;
}

.insert-post .icon{
    text-align: center;
    margin-top: 5px;
    color: #f5f5f5;
    height: 50px;
    padding-top: 15px;

}

.insert-post .row{
    margin-top: 0 !important;
}

.insert-post .text-icon{
    background-image: url("../img/text-icon.png");
    margin-top: 15px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    height: 30px;
    display: block;
}

.insert-post .color-icon{
    background-image: url("../img/color-icon.png");
    margin-top: 10px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    display: block;
}

.insert-post .smile-icon{
    font-size: 30px;
}

/*.insert-post .text{*/
    /*border: 1px solid #000000;*/
    /*padding:1% 2%;*/
/*}*/

fieldset{
    border: 1px solid gainsboro;
    border-bottom: none;
    background-color: white;
    padding: 15px 12px;
}

fieldset.news{
    border-radius: 5px 5px 0 0;
}

fieldset.time{
    border-radius: 0 0 5px 5px;
    border-bottom:1px solid gainsboro;
}
/*=======color_portal========*/
.red{
    background-color: #ff3d00;
}
.blue{
    background-color: #00acc1;
}
.red-text{
    color: #ff3d00;
}
.blue-text{
    color: #00acc1;
}
.white_text{
    color: #ffffff;
}
.black_text{
    color: #000000;
}