body{
    font-family: Mitra, Arial, Helvetica, sans-serif;
    font-size: 18px !important;
}

a {
    color: #ffffff !important;
}

a:hover {
    text-decoration: none;
    color: orangered;
}

.content {
    background-image: url("../img/main-background.png");
    background-size: contain;
}

.content .right-menu {
    background-color: #ffffff;
    /*height: 1000px;*/
}


/*===================*/
#myCarousel
{
margin-top: -20px;
    background: none;
    z-index: 0;
}

.carousel-indicators img
{
    opacity: 0.7;
    border: dashed;
    border-color: #ffffff;
    border-width: 1px ;
    padding: 0;


}
.carousel-indicators .active
{
    opacity: 1;
    height: 20%; !important;
    width: 15%; !important;
    /*border: dotted;*/
    /*padding: 0;*/
}

/*=======carousel-news=========*/
#myCarousel2 {
    background: none;
    padding: 50px;
}

.carousel-news {
    background-image: url('../img/back-carousel.png');
    background-size: cover;
    padding: 5%;
    padding-top: 0;
}

.carousel-news .btn-game {
    background-image: url('../img/game.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.carousel-news .btn-article {
    background-image: url('../img/article.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.carousel-news .btn-news {
    background-image: url('../img/news.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.carousel-img-box {
    padding-left: 8px;
    padding-right: 8px;
}

.carousel-news .carousel-control {
    background-image: none !important;
    width: 0.2%;
    font-size: 20px;
    font-weight: normal;
}

.carousel-news .item {
    padding: 8px;
}

.carousel-news .item .sub-item {
    background-color: #f5f5f5;
    margin-top: 5px;
}

/*====carousel======*/

.myfont-size {
    font-size: 20px !important;
}

.bs-glyphicons {
    margin: 0 -19px 20px -16px;
    overflow: hidden;
}

.bs-glyphicons-list {
    padding-left: 0;
    list-style: none;
}

.bs-glyphicons li {
    float: left;
    width: 25%;
    height: 115px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid #fff;
    background-color: #f9f9f9;
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word; /* Help out IE10+ with class names */
}

.bs-glyphicons li:hover {
    color: #fff;
    background-color: #563d7c;
}

@media (min-width: 768px) {
    .bs-glyphicons {
        margin-left: 0;
        margin-right: 0;
    }

    .bs-glyphicons li {
        width: 12.5%;
        font-size: 12px;
    }
}

/*===========user-specialist==========*/
.user-specialist {
    padding-top: 60px;
    /*padding-bottom: 10px;*/
    /*padding-top: 40px;*/
    padding-bottom: 80px;
    color: #ffffff;
    /*background-image: url("../img/background2.png");*/
    background-image:url('../img/specialist.png'),url('../img/gamepad.png'),url('../img/users.png'),url('../img/gamepad.png'), url("../img/background2.png");
    background-repeat: no-repeat;
    background-position: 40% 20px, 36% 20px,80% 20px, 76% 20px, 0 0;
    background-size: 105px , 105px ,105px , 105px , 100% 100%;
}

.user-specialist .specialist {
    margin-left: 24%;
}

.user-specialist .user {
    margin-left: 30%;
}

.user-specialist .icon {
    background-image: url("../img/users.png");
    background-clip: content-box;
    background-size: 105px;
    background-repeat: no-repeat;
}

.user-specialist .text {
    margin-top: 40px;
}

/*===========NEWER===========*/

.newer {
    background-image: url('../img/back-newer.png');
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #ffffff;
    text-align: justify;
    line-height: 20px;
    font-size: 15px;
}

.back-blue {
    background-color: #06ACBA;
}

.back-read {
    background-color: #FF3D00;
}

.back-black {
    background-color: #2A2A2A;
}

.newer-header {
    padding: 13px;
}

.newer-img-group {
    margin-top: 0.5%;
}

/*=====Popularity====*/

.popularity {
    background-image: url("../img/background3.png");
    color: #ffffff;
}

.popularity-header {
    background-image: url('../img/video-icon.png');
    background-repeat: no-repeat;
    background-position: right top;
    margin-top: 25px;
    margin-bottom: 10px;
    opacity: 0.7;
    padding: 15px;
    background-size: 60px 50px;

}

.popularity-header.video{
    background-image: url('../img/video-icon.png');
}

.popularity-header.article{
    background-image: url('../img/article-icon.png');
}

.popularity-header .more {
    font-size: 50px;
}

.popularity-header.back-read a:hover {
    color: #06ACBA;
}

.popularity-text {
    text-align: justify;
    font-size: 14px;
    line-height: 20px;
    padding: 1% 5% 5% 5%;
}

.popularity-body-left {
    padding: 0 3px 0 0 !important;
    /*margin-bottom: 3px;*/
}

.popularity-body-right {
    padding: 0 0 0 3px !important;
    /*margin-bottom: 3px;*/
}

/*=====FOOTER======*/

.footer-top {
    background-image: url("../img/footer.png");
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding-bottom: 7%;
    padding-top: 7%;

}

.footer-top > .container > .row {
    margin-top: 2%;
}

.footer {
    color: #ffffff;
    background-image: url("../img/background3.png");
    padding-bottom: 2%;
    padding-top: 1.5%;
    text-align: center;
}



.insert-post{
    margin-top: 3%;
}

.insert-post .icon{
    text-align: center;
    margin-top: 5px;
    color: #f5f5f5;
    height: 50px;
    padding-top: 15px;

}

.insert-post .row{
    margin-top: 0 !important;
}

.insert-post .text-icon{
    background-image: url("../img/text-icon.png");
    margin-top: 15px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    height: 30px;
    display: block;
}

.insert-post .color-icon{
    background-image: url("../img/color-icon.png");
    margin-top: 10px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    display: block;
}

.insert-post .smile-icon{
    font-size: 30px;
}
.img_box{
    width: 100%;
    height: 100%;
}
.img_news{
    height: 170px;
    box-shadow:0 0 15px gray;
}
.img_news2{
    height: 150px;
    width: 150px
}
.text_news{
    padding-left: 30px;
}

p > a{
	text-decoration:none;
	color:black!important;
}
p > a:hover{
	text-decoration:none;
	color:lightblue !important;
}
#froum{
    color:#ffffff;
    background-color: #00acc2;
    box-shadow:0 0 15px gray;
    margin: 10px;
    margin-top: 50px;
    padding: 10px !important;
}

#froum_game{
    color:#ffffff;
    background-color: #00acc2;
    box-shadow:0 0 15px gray;
    margin: 10px;
    padding: 10px !important;
}
.table-hover tr:first-child td
{
    border-bottom:1px solid black;
    border-top:none ;
}
.table4 td, .table5 td{
    padding: 7px 7px 7px 0;
}
.table4 td:last-child ,.table5 td:last-child{
    padding-right: 50px;
}
.table4 td span:first-child,.table5 td:first-child span{
    color: #00afbe;
}

.parent{
    display: table;
    width: 100%;
    padding: 0;

}
.parent .tab{
    display: inline-block;
    width: 100%;
    float: right;
    margin-bottom: 15px
}
.parent .tab img{
    width: 100%;
    height: 100%;
}
.parent .tab span{
    font-size: 15px;
}
.navbar a:hover,.navbar span:hover,.footer-top a:hover,.footer a:hover ,#header a:hover{
    color:#ff3d00 !important; ;
}

#header ul{
    width: 100%;
}
#header li{
    width: 20%;
    font-size: 25px;
}
#header input{
    height: 30px;
    border-radius: 0;width: 100%;
    background-color: #959595;
    border: none;
    padding-right: 35px
}
#nok-head{
    border: 0;
    border-radius: 0;
    width: 0;
    height: 0 !important;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 17px solid #959595;
}
#nok-search-box{
    border: 0;
    border-radius: 0;
    width: 0;
    height: 0 !important;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-right: 20px solid rgba(127,127,127,0.6);
}
input:focus{
    box-shadow: none!important;
}
.nav-down{
    color: #2a2a2a!important;
}

/*=============== css game_information ======================*/
.table_pic img {
    width: 100%;
    height: 100%;
}
p{
    font-size: 17px;
    margin: 0 !important;
}
span{
    font-size: 17px;
}
.table_pic td
{
    padding:15px ;
}
.table_video img
{
    width:100%;
    height: 100%;

}
.table_video td
{
    padding:15px ;

}
h3{
    color: #00acc2;
}
.ul_lm li{
    list-style-image:url("../img/list_style.png");
    margin-bottom: 10px;
}
.ul_lm li a{
    color: #808080 !important;
}
.ul_lm li a:hover{
    color: #ffffff !important;
}
@media (max-width: 750px) {
    .big_button{
        width: 100%!important;
    }
}
@media (max-width: 480px) {
    .head-search{
        width: 100%!important;
    }
}
@media (max-width: 800px) {
    #header li{
        width: 100%!important;
    }
}
@media (max-width: 768px) {
    .comment{
        padding: 0 15px 0 15px!important;
    }
}
@media (max-width: 380px) {
    .left-menu{
        width: 100%!important;
    }
    .right-menu{
        width: 100%!important;
    }
}
.c-e-game label{
    color: #00acc1;
    width: 25%;
}
.c-e-game input{
    border: 1px solid #000000;
    width: 70%;
    height: 40px;
    margin-bottom: 15px;
    padding: 5px;
}