.parent{
    display: table;
    width: 100%;
    padding: 0;

}
.parent .tab{
    display: inline-block;
    width: 100%;
    float: right;
}

.parent .tab a{
    text-decoration: none;
}
.parent .tab .tab-menu{
    color: #00acc2;
    text-align: center;
    box-shadow:0 0 8px gray;
    font-size: 30px;
    height: 70px;
    padding-top: 15px;
    margin: 20px 0 10px 0;
}
.parent .tab .tab-menu .triangle{
    display: none;
}
.parent .tab .tab-menu.active{
    background: #ff3d00;
    color:white;

}
.parent .tab .tab-menu.active .triangle{
    display: block;
    margin: 0 auto;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #ff3d00;
    width: 0;
    height: 0;
    position: relative;
    top: 12px;
}
