
<body>

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>
تعیین حوزه فیلم
</title>
    <link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/basic.css") }}' rel="stylesheet">


<script type="text/javascript">
    function addkword()
    {
        _kw = document.getElementById('domain').value.trim();
        showname = document.getElementById('domain').options[document.getElementById('domain').selectedIndex].title;
        _key_words = document.getElementById('domains');
        _divkw = document.getElementById('showkeywords');
        if(_kw)
        {
            if(_divkw.hidden == true)
            {
                _divkw.hidden = false;
            }

            if (_divkw.innerHTML == "")
            {

                _key_words.value = _kw
                _kword =  "<span class='glyphicon glyphicon-check'></span>"+showname
                _divkw.innerHTML = _kword;
                _kw = document.getElementById('keyword').value = ""

            }

            else
            {
            if(!( _key_words.value.match(_kw))) {
                _key_words.value += ',' + _kw;
                _kw = "<span class='glyphicon glyphicon-check'></span>" + showname
                _divkw.innerHTML += _kw;
                _kw = document.getElementById('keyword').value = ""
            }


            }

        }
    }


</script>

</head>

<body  class="Mitra" dir="ltr">
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">



    <div class="col-md-8 col-md-offset-2" dir="rtl">

        <label style="color: green;">
لیست ویدئو های منتظر کارشناس حوزه شما:
        </label>
       <br><br>

        {%if videos.count() == 0%}
        <div class="alert alert-danger">
            موردی برای نمایش یافت نشد
            </div>
        {%else%}

{%for video in videos%}


  <div class="move" id="{{video.id}}">
    <video width="300px" height=180px" class="video" poster="{%if video.pic != None%}{{static_url('upload')}}/pic/{{video.fk_heyat.id}}/{{video.pic}}{%end%}" controls >
      <source src="{{static_url('upload')}}/video/{{video.fk_heyat.id}}/{{video.url}}"   type="video/mp4">
    </video>
    <div class="name">
        <br>
      {{video.name}}<br>
        هیئت:
     {{video.fk_heyat.name}}<br>

            <select name="domain" id="domain">
                {%for item in domain %}
                <option title="{{item.name}}" value="{{item.id}}">{{item.name}}</option>
                {%end%}
            </select>
             <button type="button" onclick="addkword()" class="btn btn-info">
افزودن
              </button>




        <form method="post"action="{{reverse_url('add_domain_video')}}">
             {% module xsrf_form_html() %}
            <input name="id" type="hidden" value="{{video.id}}">
            <input type="text" id="domains" name="domains" hidden="hidden" >
            <br>
              <div  id="showkeywords" class="alert alert-info Mitra" role="alert" hidden="hidden"></div>

            <br>
            <button class="btn btn-success" type="submit">ذخیره</button>

        </form>



  <hr id="line">


    </div>
  </div>
{%end%}


{%end%}




            </div>


            </div>



    </div>
</div>


</body>
</html>







