<html>
<head>
    <meta charset="utf-8">
    <title>
        هیئت
        TV
        |
        {{ title }}
    </title>
        <link href="{{ static_url('dashboard/css/persian-font.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url('dashboard/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url('dashboard/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url('dashboard/css/admin.css') }}" rel="stylesheet" type="text/css">
    <style type="text/css" media="all">
        @font-face {
            font-family: 'BTitrTGEBold';
            src: url('{{static_url('dashboard/fonts/BTitrTGEBold.eot?#')}}') format('eot'), /* IE6–8 */ url('{{static_url('dashboard/fonts/BTitrTGEBold.woff')}}') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('{{static_url('dashboard/fonts/BTitrTGEBold.ttf')}}') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
        }

        .BTitrTGEBold {
            font-family: BTitrTGEBold, Arial, Helvetica, sans-serif;
        }

        @font-face {
            font-family: 'BYekan';
            src: url('{{static_url('dashboard/fonts/BYekan.eot?#')}}') format('eot'), /* IE6–8 */ url('{{static_url('dashboard/fonts/BYekan.woff')}}') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('{{static_url('dashboard/fonts/BYekan.ttf')}}') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
        }

        .BYekan {
            font-family: BYekan, Arial, Helvetica, sans-serif;
        }
    </style>


    <!----------------------------------page css----------------------------->
    {% block css %}
    {% end block css %}

</head>
{% block body_div %}
<body class="fixed_header left_nav_fixed atm-spmenu-push right_nav blue_thm light_theme BYekan">
{% end block %}
<div class="wrapper">
    <!--\\\\\\\ wrapper Start \\\\\\-->
    <div class="header_bar">
        <!--\\\\\\\ header Start \\\\\\-->
        <div class="brand BTitrTGEBold">
            <!--\\\\\\\ brand Start \\\\\\-->
            <div class="logo" style="display:block"><span class="theme_color">هیئت </span>TV</div>
        </div>
        <!--\\\\\\\ brand end \\\\\\-->
        <div class="header_top_bar"><a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

            <div class="top_right_bar">
                <div class="user_admin dropdown"><a href="javascript:void(0);" data-toggle="dropdown"><img
                        src="{{ static_url('images/users/') }}/{{ login_user.pic }}" height="40px" width="40px" style="
    border-radius: 100em;
"><span class="user_adminname">{{ login_name }}</span> <b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <div class="top_pointer"></div>
                        {% from config import Config %}
                        {% set pubic_url=Config().packages['PUBLIC_SYSTEM'] %}
                        <li><a href="{{ pubic_url }}/user_logout"><i class="fa fa-power-off"></i>خروج از سیستم</a></li>
                    </ul>
                </div>
                <div class="top_right">


                    <div class="top_right_menu">
                        <ul>
                            <li class="dropdown" style="width: 100px;">{% if count_notification %} <span
                                    class="badge badge color_1">{{ count_notification }}</span>{% end %}
                                <a href="javascript:void(0);" data-toggle="dropdown">صندوق پیام </a>
                                <ul class="drop_down_task dropdown-menu">
                                    <div class="top_pointer"></div>
                                    <li>
                                        <p class="number">{{ count_notification }}پیام جدید دارید</p>
                                    </li>
                                    {% for notification in notifications %}
                                    <li>
                                        <div>
                                            <a href="#" class="mail">

                              <span class="photo">
                                  <img src="{{ static_url('images/users/') }}/{{ notification.fk_sender.pic }}"
                                       height="40px">
                              </span>
                              <span class="subject">
                              <span class="from">
                                  {{ notification.fk_sender.fore_name }} {{ notification.fk_sender.sur_name }}
                              </span> <span
                                      class="time">{% from datetime import datetime %}{% set s=datetime.now() %}{% set year = s.year - notification.inserted_date.year %}{% set month = s.month - notification.inserted_date.month %}{% set day = s.day - notification.inserted_date.day %}{% set hour = s.hour - notification.inserted_date.hour %}{% set minute = s.minute - notification.inserted_date.minute %}{% set second = s.second - notification.inserted_date.second %}{% if year %}{% set time = str(year) + 'سال قبل' %}{% elif month %}{% set time = str(month) + 'ماه قبل' %}{% elif day %}{% set time = str(day) + 'روز قبل' %}{% elif hour %}{% set time = str(hour) + 'ساعت قبل' %}{% elif minute %}{% set time = str(minute) + 'دقیقه قبل' %}{% else %}{% set time = str(second) + 'ثانیه قبل' %}{% end %}
                                  {{ time }}
                          </span> </span><br><br><br> <span class="message">
                              <span>{{ notification.text }}</span></span>
                                            </a></div>
                                    </li>
                                    {% end %}
                                       {% from config import Config %}
                                      {% set admin_url =Config().packages['ADMIN_SYSTEM'] %}
                                    <li><p class="number"><a href="{{ admin_url}}/admin/inbox" style="color: silver;">مشاهده تمام پیام ها</a></p></li>

                                </ul>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!--\\\\\\\ header end \\\\\\-->
    <div class="inner">
        <!--\\\\\\\ inner start \\\\\\-->
        <div class="left_nav" style="
    position: fixed;
    margin-top: 45px;
    z-index: 1;
">
            <!--\\\\\\\left_nav start \\\\\\-->
            <div class="search_bar"><i class="fa fa-search"></i>
                <input name="" class="search" placeholder="جستجو ..." type="text">
            </div>
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 500px;">
                <div class="left_nav_slidebar" style="overflow: hidden; width: auto; height: 600px;">
                    <ul>
                        <li class="">
                            <a href="javascript:void(0);">
                                <i class="fa fa-home"></i>داشبورد<span
                                    class="left_nav_pointer"></span> <span class="plus"></span> </a>
                            <ul class="" style="display: none;">
                                <li>
                                    {#                                    <a href="{{ reverse_url('dashboard') }}" class="left_nav_sub_active"> <b>داشبورد</b></a>#}
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="javascript:void(0);"> <i class="fa fa-edit"></i>مدیریت نقش های سیستم<span
                                    class="plus"></span></a>
                            <ul class="" style="display: none;">
                                {#                                <li><a href="{{ reverse_url('roles') }}"> <b>مدیریت نقش های کاربران</b> </a>#}
                                {#                                    <a href="{{ reverse_url('add_role') }}"> <b>تعریف نقش های جدید</b> </a></li>#}
                            </ul>
                        </li>

                        <li class=""><a href="javascript:void(0);"> <i class="fa fa-tasks"></i> حوزه های موضوعی<span
                                class="plus"></span></a>
                            <ul class="" style="display: none;">
                                <li><a href="components.html"> <b>کارشناس موضوعی</b> </a>
                                    <a href="components.html"> <b>ضر/ایب امتیاز دهی</b> </a></li>


                            </ul>
                        </li>

                        <li class=""><a href="javascript:void(0);"> <i class="fa fa-flag icon"></i>مدیریت هیئت ها<span
                                class="plus"></span> </a>
                            <ul class="opened" style="display: none;">
                            </ul>
                        </li>
                        <li class=""><a href="javascript:void(0);"> <i class="fa fa-users icon"></i>مدیریت کاربران<span
                                class="plus"></span> </a>
                            <ul class="" style="display: none;">


                                <li><a href="#"><b>اعطای قابلیت بارگذاری ویدئو</b> </a></li>
                            </ul>
                        </li>
                        <li class=""><a href="javascript:void(0);"> <i class="fa fa-video-camera"></i>مدیریت
                            ویدئوها<span class="plus"></span> </a>
                            <ul class="" style="display: none;">
                                <li><a href="#"><b>بارگذاری ویدئو</b> </a></li>
                                <li><a href="#"><b>ویدئوهای بارگذاری شده</b> </a></li>
                            </ul>
                        </li>
                        <li class=""><a href="javascript:void(0);"> <i class="fa fa-gavel"></i>کارشناسی<span
                                class="plus"></span> </a>
                            <ul class="" style="display: none;">
                                اولیه</b> </a>
                        </li>
                        موضوعی</b> </a></li>
                    </ul>
                    </li>
                    <li class=""><a href="javascript:void(0);"> <i class="fa  fa-trophy"></i>مدیریت جشنواره ها<span
                            class="plus"></span> </a>
                        <ul class="" style="display: none;">

                            <li><a href="#"><b>تعریف جشنواره جدید</b> </a></li>
                            <li><a href="#"><b>مدیریت جشنواره های موجود</b> </a></li>
                        </ul>
                    </li>
                    <li class=""><a href="javascript:void(0);"> <i
                            class="fa fa-bar-chart-o"></i>گزارش گیری<span class="plus"></span></a>
                        <ul class="" style="display: block;">
                            <li><a href="reporting.html"> <b>گزارش گیری</b> </a></li>
                        </ul>
                    </li>
                    </ul>
                </div>
                <div class="slimScrollBar"
                     style="width: 5px; position: absolute; border-radius: 7px; z-index: 99; right: 1px; opacity: 0.4; top: 0px; height: 477px; display: none; background: rgb(161, 178, 189);"></div>
                <div class="slimScrollRail"
                     style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
            </div>
        </div>
        <!--\\\\\\\left_nav end \\\\\\-->
        <div class="contentpanel" id="contentpanel">
            <!--\\\\\\\ contentpanel start\\\\\\-->
            <div class="pull-left breadcrumb_admin clear_both" style="position: fixed;margin-top: 45px;z-index: 50;">
                <div class="pull-left page_title theme_color">
                    <h1>
                        {{ page_name }}
                    </h1>
                </div>
                {% if page_name2 %}
                <div class="pull-left page_title theme_color">
                    <h2>{{ page_name2 }}</h2>
                </div>
                {% end %}
            </div>
            <div class="container clear_both padding_fix" style="margin-top: 60px;">
                {% block container %}

                {% end block container %}
            </div>
        </div>
        <!--\\\\\\\ content panel end \\\\\\-->
    </div>
    <!--\\\\\\\ inner end\\\\\\-->
</div>
<!--\\\\\\\ wrapper end\\\\\\-->

<script src="{{ static_url('dashboard/js/jquery-2.1.0.js') }}"></script>
<script src="{{ static_url('dashboard/js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('dashboard/js/common-script.js') }}"></script>

<!-------------------------------------------------------------------->
{% block scripts %}

{% end block scripts %}

</body>
</html>