{% extends 'base.html' %}

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.watch.js", "index.css"], "outOfDate":[]};
</script>
  
 <!-- <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2015.0.0.309"/>-->

{% block styles %}
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href= {{static_url('css/site_global.css?497770114')}}/>
  <link rel="stylesheet" type="text/css" href={{static_url('css/index.css?4229336226')}} id="pagesheet"/>
{% end block styles %}
  <!-- Other scripts -->
{%  block script %}
  <script type="text/javascript">
   document.documentElement.className += ' js';
</script>
{% end block script %}

{% block content %}
  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="clearfix colelem" id="ppu816"><!-- group -->
     <div class="clearfix grpelem" id="pu816"><!-- group -->
      <div class="shadow rounded-corners clearfix grpelem" id="u816"><!-- column -->
       <div class="clip_frame colelem" id="u1516"><!-- image -->
        <img class="block" id="u1516_img" src = {{static_url('images/originwdal_03.jpg')}} alt="" width="540" height="308"/>
       </div>
       <div class="clearfix colelem" id="pu848-4"><!-- group -->
        <a class="nonblock nontext clearfix grpelem" id="u848-4" href="channel.html"><!-- content --><h1 id="u848-2">نام هیئت</h1></a>
        <a class="nonblock nontext clearfix grpelem" id="u847-4" href="post.html"><!-- content --><p id="u847-2">نام فایل</p></a>
       </div>
       <div class="colelem" id="u850"><!-- simple frame --></div>
       <div class="clearfix colelem" id="pu885-4"><!-- group -->
        <div class="clearfix grpelem" id="u885-4"><!-- content -->
         <h1 id="u885-2">امتیاز :</h1>
        </div>
        <div class="clearfix grpelem" id="u882-4"><!-- content -->
         <h1 id="u882-2">مشاهده :</h1>
        </div>
        <div class="clip_frame grpelem" id="u860"><!-- image -->
         <img class="block" id="u860_img" src = {{static_url('images/original_22.jpg')}} alt="" width="16" height="16"/>
        </div>
        <div class="clearfix grpelem" id="u881-4"><!-- content -->
         <h1 id="u881-2">مداح</h1>
        </div>
        <div class="clip_frame grpelem" id="u866"><!-- image -->
         <img class="block" id="u866_img" src = {{static_url('images/original_24.jpg')}} alt="" width="15" height="16"/>
        </div>
        <div class="clearfix grpelem" id="u880-4"><!-- content -->
         <h1 id="u880-2">مکان</h1>
        </div>
        <div class="clip_frame grpelem" id="u871"><!-- image -->
         <img class="block" id="u871_img" src = {{static_url('images/original_26.jpg')}} alt="" width="11" height="16"/>
        </div>
       </div>
      </div>
      <div class="clip_frame grpelem" id="u854"><!-- image -->
       <img class="block" id="u854_img" src = {{static_url('images/original_18.jpg')}} alt="" width="16" height="18"/>
      </div>
      <div class="clearfix grpelem" id="u883-4"><!-- content -->
       <h1 id="u883-2">9999999999</h1>
      </div>
      <div class="clearfix grpelem" id="u886-4"><!-- content -->
       <h1 id="u886-2">7/5</h1>
      </div>
     </div>
     <div class="shadow rounded-corners clearfix grpelem" id="u831"><!-- column -->
      <div class="position_content" id="u831_position_content">
       <div class="rounded-corners clearfix colelem" id="u832"><!-- group -->
        <div class="clearfix grpelem" id="u845-4"><!-- content -->
         <p>پیشنهاد سردبیر</p>
        </div>
        <div class="clip_frame grpelem" id="u839"><!-- image -->
         <img class="block" id="u839_img" src = {{static_url('images/original_09.jpg')}} alt="" width="20" height="32"/>
        </div>
       </div>
       <div class="clearfix colelem" id="pu1522"><!-- group -->
        <a class="nonblock nontext clip_frame grpelem" id="u1522" href="actor.html"><!-- image --><img class="block" id="u1522_img" src = {{static_url('images/originwdal_06.jpg')}} alt="" width="155" height="107"/></a>
        <a class="nonblock nontext clip_frame grpelem" id="u1527" href="actor.html"><!-- image --><img class="block" id="u1527_img" src = {{static_url('images/originwdal_08.jpg')}} alt="" width="155" height="107"/></a>
       </div>
       <div class="clearfix colelem" id="pu922-4"><!-- group -->
        <a class="nonblock nontext clearfix grpelem" id="u922-4" href="actor.html"><!-- content --><h1 id="u922-2">نام مداح</h1></a>
        <a class="nonblock nontext clearfix grpelem" id="u915-4" href="actor.html"><!-- content --><h1 id="u915-2">نام مداح</h1></a>
       </div>
       <div class="clearfix colelem" id="pu919-4"><!-- group -->
        <a class="nonblock nontext clearfix grpelem" id="u919-4" href="channel.html"><!-- content --><h1 id="u919-2">نام هیئت</h1></a>
        <div class="clip_frame grpelem" id="u920"><!-- image -->
         <img class="block" id="u920_img" src = {{static_url('images/original_18.jpg')}} alt="" width="16" height="18"/>
        </div>
        <a class="nonblock nontext clearfix grpelem" id="u911-4" href="channel.html"><!-- content --><h1 id="u911-2">نام هیئت</h1></a>
       </div>
       <div class="clearfix colelem" id="pu1543"><!-- group -->
        <a class="nonblock nontext clip_frame grpelem" id="u1543" href="actor.html"><!-- image --><img class="block" id="u1543_img" src = {{static_url('images/originwdal_06.jpg')}} alt="" width="155" height="107"/></a>
        <a class="nonblock nontext clip_frame grpelem" id="u1540" href="actor.html"><!-- image --><img class="block" id="u1540_img" src = {{static_url('images/originwdal_08.jpg')}} alt="" width="155" height="107"/></a>
       </div>
       <div class="clearfix colelem" id="pu932-4"><!-- group -->
        <a class="nonblock nontext clearfix grpelem" id="u932-4" href="actor.html"><!-- content --><h1 id="u932-2">نام مداح</h1></a>
        <a class="nonblock nontext clearfix grpelem" id="u927-4" href="actor.html"><!-- content --><h1 id="u927-2">نام مداح</h1></a>
       </div>
       <div class="clearfix colelem" id="pu929-4"><!-- group -->
        <a class="nonblock nontext clearfix grpelem" id="u929-4" href="channel.html"><!-- content --><h1 id="u929-2">نام هیئت</h1></a>
        <a class="nonblock nontext clearfix grpelem" id="u924-4" href="channel.html"><!-- content --><h1 id="u924-2">نام هیئت</h1></a>
        <div class="clip_frame grpelem" id="u925"><!-- image -->
         <img class="block" id="u925_img" src = {{static_url('images/original_18.jpg')}} alt="" width="16" height="18"/>
        </div>
       </div>
      </div>
     </div>
     <div class="clip_frame grpelem" id="u912"><!-- image -->
      <img class="block" id="u912_img" src = {{static_url('images/original_18.jpg')}} alt="" width="16" height="18"/>
     </div>
     <div class="clip_frame grpelem" id="u930"><!-- image -->
      <img class="block" id="u930_img" src = {{static_url('images/original_18.jpg')}} alt="" width="16" height="18"/>
     </div>
    </div>
    <div class="browser_width colelem" id="u934-bw">
     <div class="shadow" id="u934"><!-- group -->
      <div class="clearfix" id="u934_align_to_page">
       <div class="rounded-corners clip_frame grpelem" id="u1998"><!-- image -->
        <img class="block" id="u1998_img" src = {{static_url('images/originqwqwal_06.jpg')}} alt="" width="45" height="55"/>
       </div>
       <div class="clip_frame grpelem" id="u1992"><!-- image -->
        <img class="block" id="u1992_img" src = {{static_url('images/originqwqwal_03.jpg')}} alt="" width="199" height="72"/>
       </div>
       <div class="grpelem" id="u1991"><!-- simple frame --></div>
       <div class="Button rounded-corners clearfix grpelem" id="buttonu1591"><!-- container box -->
        <div class="clearfix grpelem" id="u1592-4"><!-- content -->
         <p>بیاب</p>
        </div>
       </div>
       <div class="rounded-corners clearfix grpelem" id="u1590-4"><!-- content -->
        <p id="u1590-2">مداح</p>
       </div>
       <div class="rounded-corners clearfix grpelem" id="u1589-4"><!-- content -->
        <p id="u1589-2">نوع مراسم</p>
       </div>
       <div class="rounded-corners clearfix grpelem" id="u1588-4"><!-- content -->
        <p id="u1588-2">بازه زمانی</p>
       </div>
       <div class="rounded-corners clearfix grpelem" id="u1587-4"><!-- content -->
        <p id="u1587-2">شهر</p>
       </div>
       <div class="clip_frame grpelem" id="u935"><!-- image -->
        <img class="block" id="u935_img" src = {{static_url('images/logo.png')}} alt="" width="98" height="116"/>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu967"><!-- group -->
     <div class="shadow rounded-corners clearfix grpelem" id="u967"><!-- group -->
      <div class="clearfix grpelem" id="pu1077-4"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u1077-4" href="videos.html"><!-- content --><h1 id="u1077-2">+صفحه ویدیوها</h1></a>
       <div class="clearfix colelem" id="pu1092"><!-- group -->
        <div class="rounded-corners clip_frame grpelem" id="u1092"><!-- image -->
         <img class="block" id="u1092_img" src = {{static_url('images/original-recovered_03.jpg')}} alt="" width="41" height="42"/>
        </div>
        <a class="nonblock nontext clip_frame grpelem" id="u1563" href="actor.html"><!-- image --><img class="block" id="u1563_img" src = {{static_url('images/originwdal_08.jpg')}} alt="" width="155" height="107"/></a>
       </div>
       <a class="nonblock nontext clearfix colelem" id="u1562-4" href="actor.html"><!-- content --><h1 id="u1562-2">نام مداح</h1></a>
      </div>
      <div class="clearfix grpelem" id="pu1559"><!-- column -->
       <a class="nonblock nontext clip_frame colelem" id="u1559" href="actor.html"><!-- image --><img class="block" id="u1559_img" src = {{static_url('images/originwdal_08.jpg')}} alt="" width="155" height="107"/></a>
       <a class="nonblock nontext clearfix colelem" id="u1558-4" href="actor.html"><!-- content --><h1 id="u1558-2">نام مداح</h1></a>
      </div>
      <div class="clearfix grpelem" id="pu1555"><!-- column -->
       <a class="nonblock nontext clip_frame colelem" id="u1555" href="actor.html"><!-- image --><img class="block" id="u1555_img" src = {{static_url('images/originwdal_08.jpg')}} alt="" width="155" height="107"/></a>
       <a class="nonblock nontext clearfix colelem" id="u1554-4" href="actor.html"><!-- content --><h1 id="u1554-2">نام مداح</h1></a>
      </div>
      <div class="clearfix grpelem" id="pu1551"><!-- column -->
       <a class="nonblock nontext clip_frame colelem" id="u1551" href="actor.html"><!-- image --><img class="block" id="u1551_img" src = {{static_url('images/originwdal_08.jpg')}} alt="" width="155" height="107"/></a>
       <a class="nonblock nontext clearfix colelem" id="u1550-4" href="actor.html"><!-- content --><h1 id="u1550-2">نام مداح</h1></a>
      </div>
      <div class="clearfix grpelem" id="pu1075-4"><!-- column -->
       <div class="clearfix colelem" id="u1075-4"><!-- content -->
        <h1 id="u1075-2">پربازدیدترین ویدیوها</h1>
       </div>
       <div class="clearfix colelem" id="pu1547"><!-- group -->
        <a class="nonblock nontext clip_frame grpelem" id="u1547" href="actor.html"><!-- image --><img class="block" id="u1547_img" src = {{static_url('images/originwdal_08.jpg')}} alt="" width="155" height="107"/></a>
        <div class="rounded-corners clip_frame grpelem" id="u1098"><!-- image -->
         <img class="block" id="u1098_img" src = {{static_url('images/original-recovered_05.jpg')}} alt="" width="40" height="40"/>
        </div>
       </div>
       <a class="nonblock nontext clearfix colelem" id="u1546-4" href="actor.html"><!-- content --><h1 id="u1546-2">نام مداح</h1></a>
      </div>
     </div>
     <div class="grpelem" id="u1081"><!-- simple frame --></div>
    </div>
    <div class="clearfix colelem" id="ppu1768"><!-- group -->
     <div class="clearfix grpelem" id="pu1768"><!-- column -->
      <div class="shadow rounded-corners clearfix colelem" id="u1768"><!-- column -->
       <div class="position_content" id="u1768_position_content">
        <div class="rounded-corners clearfix colelem" id="u1769"><!-- group -->
         <div class="clearfix grpelem" id="u1774-4"><!-- content -->
          <p id="u1774-2">برترین هییت ها</p>
         </div>
         <div class="clearfix grpelem" id="u1770-4"><!-- content -->
          <p id="u1770-2">آخرین هییت ها</p>
         </div>
        </div>
        <div class="clearfix colelem" id="pu2034"><!-- group -->
         <div class="clearfix grpelem" id="u2034"><!-- group -->
          <div class="clearfix grpelem" id="u2036"><!-- column -->
           <div class="position_content" id="u2036_position_content">
            <div class="clip_frame colelem" id="u2038"><!-- image -->
             <img class="block" id="u2038_img" src = {{static_url('images/originqwqwal_10.jpg')}} alt="" width="160" height="99"/>
            </div>
            <a class="nonblock nontext clearfix colelem" id="u2035-4" href="channel.html"><!-- content --><h1 id="u2035-2">نام هییت</h1></a>
            <div class="clearfix colelem" id="u2037-4"><!-- content -->
             <h1 id="u2037-2">آدرس هییت</h1>
            </div>
           </div>
          </div>
         </div>
         <div class="clearfix grpelem" id="u2027"><!-- group -->
          <div class="clearfix grpelem" id="u2029"><!-- column -->
           <div class="position_content" id="u2029_position_content">
            <div class="clip_frame colelem" id="u2031"><!-- image -->
             <img class="block" id="u2031_img" src = {{static_url('images/originqwqwal_10.jpg')}} alt="" width="160" height="99"/>
            </div>
            <a class="nonblock nontext clearfix colelem" id="u2028-4" href="channel.html"><!-- content --><h1 id="u2028-2">نام هییت</h1></a>
            <div class="clearfix colelem" id="u2030-4"><!-- content -->
             <h1 id="u2030-2">آدرس هییت</h1>
            </div>
           </div>
          </div>
         </div>
         <div class="clearfix grpelem" id="u2020"><!-- group -->
          <div class="clearfix grpelem" id="u2022"><!-- column -->
           <div class="position_content" id="u2022_position_content">
            <div class="clip_frame colelem" id="u2024"><!-- image -->
             <img class="block" id="u2024_img" src = {{static_url('images/originqwqwal_10.jpg')}} alt="" width="160" height="99"/>
            </div>
            <a class="nonblock nontext clearfix colelem" id="u2021-4" href="channel.html"><!-- content --><h1 id="u2021-2">نام هییت</h1></a>
            <div class="clearfix colelem" id="u2023-4"><!-- content -->
             <h1 id="u2023-2">آدرس هییت</h1>
            </div>
           </div>
          </div>
         </div>
         <div class="clearfix grpelem" id="u2019"><!-- group -->
          <div class="clearfix grpelem" id="u2018"><!-- column -->
           <div class="position_content" id="u2018_position_content">
            <div class="clip_frame colelem" id="u2010"><!-- image -->
             <img class="block" id="u2010_img" src = {{static_url('images/originqwqwal_10.jpg')}} alt="" width="160" height="99"/>
            </div>
            <a class="nonblock nontext clearfix colelem" id="u2017-4" href="channel.html"><!-- content --><h1 id="u2017-2">نام هییت</h1></a>
            <div class="clearfix colelem" id="u2016-4"><!-- content -->
             <h1 id="u2016-2">آدرس هییت</h1>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="clearfix colelem" id="pu1776"><!-- group -->
       <div class="grpelem" id="u1776"><!-- simple frame --></div>
       <div class="grpelem" id="u1775"><!-- simple frame --></div>
      </div>
      <div class="shadow rounded-corners clearfix colelem" id="u1141"><!-- column -->
       <div class="position_content" id="u1141_position_content">
        <div class="rounded-corners clearfix colelem" id="u1142"><!-- group -->
         <div class="clearfix grpelem" id="u1143-4"><!-- content -->
          <p id="u1143-2">مداح ها</p>
         </div>
        </div>
        <div class="clearfix colelem" id="pu1722"><!-- group -->
         <a class="nonblock nontext clip_frame grpelem" id="u1722" href="actor.html"><!-- image --><img class="block" id="u1722_img" src = {{static_url('images/originwdal_14.jpg')}} alt="" width="116" height="116"/></a>
         <a class="nonblock nontext clip_frame grpelem" id="u1718" href="actor.html"><!-- image --><img class="block" id="u1718_img" src = {{static_url('images/originwdal_14.jpg')}} alt="" width="116" height="116"/></a>
         <a class="nonblock nontext clip_frame grpelem" id="u1714" href="actor.html"><!-- image --><img class="block" id="u1714_img" src = {{static_url('images/originwdal_14.jpg')}} alt="" width="116" height="116"/></a>
         <a class="nonblock nontext clip_frame grpelem" id="u1710" href="actor.html"><!-- image --><img class="block" id="u1710_img" src = {{static_url('images/originwdal_14.jpg')}} alt="" width="116" height="116"/></a>
         <a class="nonblock nontext clip_frame grpelem" id="u1706" href="actor.html"><!-- image --><img class="block" id="u1706_img" src = {{static_url('images/originwdal_14.jpg')}} alt="" width="116" height="116"/></a>
         <a class="nonblock nontext clip_frame grpelem" id="u1532" href="actor.html"><!-- image --><img class="block" id="u1532_img" src = {{static_url('images/originwdal_14.jpg')}} alt="" width="116" height="116"/></a>
        </div>
        <div class="clearfix colelem" id="pu1721-4"><!-- group -->
         <a class="nonblock nontext clearfix grpelem" id="u1721-4" href="actor.html"><!-- content --><h1 id="u1721-2">نام مداح</h1></a>
         <a class="nonblock nontext clearfix grpelem" id="u1717-4" href="actor.html"><!-- content --><h1 id="u1717-2">نام مداح</h1></a>
         <a class="nonblock nontext clearfix grpelem" id="u1713-4" href="actor.html"><!-- content --><h1 id="u1713-2">نام مداح</h1></a>
         <a class="nonblock nontext clearfix grpelem" id="u1709-4" href="actor.html"><!-- content --><h1 id="u1709-2">نام مداح</h1></a>
         <a class="nonblock nontext clearfix grpelem" id="u1705-4" href="actor.html"><!-- content --><h1 id="u1705-2">نام مداح</h1></a>
         <a class="nonblock nontext clearfix grpelem" id="u1145-4" href="actor.html"><!-- content --><h1 id="u1145-2">نام مداح</h1></a>
        </div>
        <div class="colelem" id="u1152"><!-- simple frame --></div>
        <a class="nonblock nontext clearfix colelem" id="u1153-4" href="actors.html"><!-- content --><h1 id="u1153-2">+ مشاهده همه مداح ها</h1></a>
       </div>
      </div>
     </div>
     <div class="shadow rounded-corners clearfix grpelem" id="u1104"><!-- column -->
      <div class="position_content" id="u1104_position_content">
       <div class="rounded-corners clearfix colelem" id="u1105"><!-- group -->
        <div class="clearfix grpelem" id="u1106-4"><!-- content -->
         <p>آخرین ویدیوها</p>
        </div>
       </div>
       <a class="nonblock nontext clip_frame colelem" id="u1599" href="actor.html"><!-- image --><img class="block" id="u1599_img" src = {{static_url('images/originwdal_08.jpg')}} alt="" width="155" height="107"/></a>
       <a class="nonblock nontext clearfix colelem" id="u1598-4" href="actor.html"><!-- content --><h1 id="u1598-2">نام مداح</h1></a>
       <a class="nonblock nontext clearfix colelem" id="u1595-4" href="channel.html"><!-- content --><h1 id="u1595-2">نام هیئت</h1></a>
       <a class="nonblock nontext clip_frame colelem" id="u1607" href="actor.html"><!-- image --><img class="block" id="u1607_img" src = {{static_url('images/originwdal_08.jpg')}} alt="" width="155" height="107"/></a>
       <a class="nonblock nontext clearfix colelem" id="u1606-4" href="actor.html"><!-- content --><h1 id="u1606-2">نام مداح</h1></a>
       <a class="nonblock nontext clearfix colelem" id="u1603-4" href="channel.html"><!-- content --><h1 id="u1603-2">نام هیئت</h1></a>
       <a class="nonblock nontext clip_frame colelem" id="u1615" href="actor.html"><!-- image --><img class="block" id="u1615_img" src = {{static_url('images/originwdal_08.jpg')}} alt="" width="155" height="107"/></a>
       <a class="nonblock nontext clearfix colelem" id="u1614-4" href="actor.html"><!-- content --><h1 id="u1614-2">نام مداح</h1></a>
       <a class="nonblock nontext clearfix colelem" id="u1611-4" href="channel.html"><!-- content --><h1 id="u1611-2">نام هیئت</h1></a>
      </div>
     </div>
     <div class="clip_frame grpelem" id="u1596"><!-- image -->
      <img class="block" id="u1596_img" src = {{static_url('images/original_18.jpg')}} alt="" width="16" height="18"/>
     </div>
     <div class="clip_frame grpelem" id="u1604"><!-- image -->
      <img class="block" id="u1604_img" src = {{static_url('images/original_18.jpg')}} alt="" width="16" height="18"/>
     </div>
     <div class="clip_frame grpelem" id="u1612"><!-- image -->
      <img class="block" id="u1612_img" src = {{static_url('images/original_18.jpg')}} alt="" width="16" height="18"/>
     </div>
    </div>
    <div class="clearfix colelem" id="pu1159"><!-- group -->
     <div class="rounded-corners clearfix grpelem" id="u1159"><!-- group -->
      <div class="rounded-corners clearfix grpelem" id="u1160"><!-- group -->
       <div class="clearfix grpelem" id="u1162-4"><!-- content -->
        <p id="u1162-2">دوره های آموزشی</p>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u1910"><!-- column -->
      <div class="clearfix colelem" id="u1165-4"><!-- content -->
       <p id="u1165-2">+آررشیو</p>
      </div>
      <div class="clearfix colelem" id="pu1911"><!-- group -->
       <div class="clearfix grpelem" id="u1911"><!-- group -->
        <div class="clip_frame grpelem" id="u2004"><!-- image -->
         <img class="block" id="u2004_img" src = {{static_url('images/originqwqwal_14.jpg')}} alt="" width="220" height="90"/>
        </div>
       </div>
       <div class="clearfix grpelem" id="u2082-4"><!-- content -->
        <p id="u2082-2">+ ثبت نام</p>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u2041-4"><!-- content -->
      <p id="u2041-2"><span class="Character-Style-3" id="u2041">محل قرار گرفتن توضیح درباره مناسبت</span></p>
     </div>
     <div class="rounded-corners clearfix grpelem" id="u1157"><!-- column -->
      <div class="position_content" id="u1157_position_content">
       <div class="rounded-corners clearfix colelem" id="u1158"><!-- group -->
        <div class="clearfix grpelem" id="u1164-4"><!-- content -->
         <p id="u1164-2">+آررشیو</p>
        </div>
        <div class="clearfix grpelem" id="u1161-4"><!-- content -->
         <p id="u1161-2">جشنواره ها</p>
        </div>
       </div>
       <div class="clearfix colelem" id="u1903"><!-- group -->
        <div class="clearfix grpelem" id="u1904"><!-- group -->
         <div class="clearfix grpelem" id="pu1908-4"><!-- column -->
          <div class="clearfix colelem" id="u1908-4"><!-- content -->
           <p id="u1908-2"><span class="Character-Style-3" id="u1908">محل قرار گرفتن توضیح درباره مناسبت</span></p>
          </div>
          <div class="clearfix colelem" id="u1907-4"><!-- content -->
           <p id="u1907-2"><span class="Character-Style-3" id="u1907">تاریخ</span></p>
          </div>
         </div>
         <a class="nonblock nontext clip_frame grpelem" id="u1905" href="actor.html"><!-- image --><img class="block" id="u1905_img" src = {{static_url('images/originwdal_14.jpg')}} alt="" width="79" height="79"/></a>
        </div>
       </div>
      </div>
     </div>
     <div class="rounded-corners clearfix grpelem" id="u1154"><!-- column -->
      <div class="position_content" id="u1154_position_content">
       <div class="rounded-corners clearfix colelem" id="u1155"><!-- group -->
        <div class="clearfix grpelem" id="u1163-4"><!-- content -->
         <p id="u1163-2">+آررشیو</p>
        </div>
        <div class="clearfix grpelem" id="u1156-4"><!-- content -->
         <p id="u1156-2">مناسبت ها</p>
        </div>
       </div>
       <div class="clearfix colelem" id="u1895"><!-- group -->
        <div class="clearfix grpelem" id="u1894"><!-- group -->
         <div class="clearfix grpelem" id="pu1892-4"><!-- column -->
          <div class="clearfix colelem" id="u1892-4"><!-- content -->
           <p id="u1892-2"><span class="Character-Style-3" id="u1892">محل قرار گرفتن توضیح درباره مناسبت</span></p>
          </div>
          <div class="clearfix colelem" id="u1893-4"><!-- content -->
           <p id="u1893-2"><span class="Character-Style-3" id="u1893">تاریخ</span></p>
          </div>
         </div>
         <a class="nonblock nontext clip_frame grpelem" id="u1852" href="actor.html"><!-- image --><img class="block" id="u1852_img" src = {{static_url('images/originwdal_14.jpg')}} alt="" width="79" height="79"/></a>
        </div>
       </div>
      </div>
     </div>
     <div class="grpelem" id="u1851"><!-- simple frame --></div>
    </div>
    <div class="verticalspacer"></div>
   </div>
  </div>
{% end block content %}
{% block script %}
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="scripts/museutils.js?183364071" type="text/javascript"></script>
  <script src="scripts/jquery.watch.js?71412426" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
{% end block script %}
