<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>

درخواست عضویت در هیئت
</title>
    <link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/basic.css") }}' rel="stylesheet">


<script type="text/javascript">

</script>
</head>

<body style="direction:rtl" class="Mitra">
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">



    <div class="col-md-8 col-md-offset-2 ">
        <div class="form-group" style="width:500px;">

            <form  method="post" action="{{ reverse_url('request_heyat') }}">
 {% module xsrf_form_html() %}
            <label for="name" class="control-label Mitra" > نام هیئت  </label>
                <select name="name" id="name">
                    <option value="">نام هیئت را انتخاب کنید</option>
                    {% for item in heyat %}
                    <option value="{{item.id}}">{{item.name}}</option>
                    {% end %}

                </select>

<br><br>
                <button class="btn btn-success btn-lg Mitra" type="submit"> درخواست عضویت </button>



           </form>
            </div>



    </div>
</div>

<script src="{{static_url('js/bootstrap.js')}}"></script>

</body>
</html>