<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>

ارسال دیدگاه
    برای فیلم
</title>
    <link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/basic.css") }}' rel="stylesheet">

    <script src="{{static_url('js/bootstrap.js')}}"></script>
    <script src='{{ static_url("js/jquery.min.js") }}'></script>
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script type="text/javascript">
$(document).ready(function(){
     var data;
     $("input").keyup(function() {
         data = $(this).val();


                      $.ajax({

                    url: "/test",
                    type: "POST",
                    data: {data:data},
                    success: function (response) {

                        var availableTags = response['key'];

                        $("#test").autocomplete(
                                {
                                    source : availableTags
                                }
                        );

                    },

                    complete: function () {
                    }
                });

     }
     )
});

</script>


</head>

<body style="direction:rtl" class="Mitra">
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">



    <div class="col-md-8 col-md-offset-2 ">
        <div class="form-group" style="width:500px;">

            <form  method="post" action="{{ reverse_url('usersendcomment') }}">
 {% module xsrf_form_html() %}
            <label for="comment" class="control-label Mitra" > کامتن </label>
                <textarea  id="comment" name="comment" placeholder="متن دیدگاه خود را وارد کنید"  value=""  class="form-control Mitra" ></textarea>
<br><br>

                <button class="btn btn-success btn-lg Mitra" type="submit">آدرس کامل</button>



           </form>

            <br><br><br>
            <hr>

            <label for="test" class="control-label Mitra" > متن نمونه </label>
                <input   id="test" name="test" placeholder=""  value=""  class="form-control Mitra" />

            </div>



    </div>
</div>



</body>

</html>