{% extends "base.html" %}

{% block css %}
{% end block css %}


{% block container %}
<div class="col-md-12">
          <div class="block-web">
           <div class="header">

              <h4 class="content-header">لیست فیلم ها</h4>
            </div>
         <div class="porlets-content">
            <div class="table-responsive">
                <form method="post">
                     {% module xsrf_form_html() %}
                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid"><div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid"><div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid"><div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid"><table class="display table table-bordered table-striped dataTable" id="dynamic-table" aria-describedby="dynamic-table_info">
                  <thead>
                    <tr role="row">
                        <th class="center hidden-phone ">نام ویدئو</th>
                        <th class="center hidden-phone ">نام ارسال کننده</th>
                        <th class="center hidden-phone ">نام هیئت</th>
                        <th class="center hidden-phone ">تاریخ ارسال</th>
                        <th class="center hidden-phone ">انتخاب</th>
                    </tr>
                  </thead>

                  <tfoot>
                    <tr>
                        <th class="center hidden-phone ">نام ویدئو</th>
                        <th class="center hidden-phone  " colspan="1" rowspan="1">نام ارسال کننده</th>
                        <th class="center hidden-phone  " colspan="1" rowspan="1">نام هیئت</th>
                        <th class="center hidden-phone  " colspan="1" rowspan="1">تاریخ ارسال</th>
                        <th class="center hidden-phone  " colspan="1" rowspan="1">انتخاب</th>
                    </tr>
                  </tfoot>
                    {%for video in videos%}
                    <tbody role="alert" aria-live="polite" aria-relevant="all"><tr class="gradeX odd">
                        <td class="center">{{ video.name }}</td>
                        <td class="center">{{ video.fk_uploader.fore_name}} {{ video.fk_uploader.sur_name}}</td>
                        <td class="center ">{{video.fk_heyat.name}}</td>
                        {% from khayyam import JalaliDate %}
{#                        {% set date = JalaliDate(video.upload_date) %}#}
{#                        <td class="center ">{{ date }}</td>#}
                        <td class="center ">
                        <select name="select_{{video.id}}">
                            <option value="1" >انتخاب   </option>
                            <option value="0" selected></option>
                        </select>
                        </td>
                    </tr>
                    </tbody>
                {%end%}
                </table>
                </div>
                </div>
                </div>
                </div>


                </form>
              </div><!--/table-responsive-->
            </div><!--/porlets-content-->


          </div><!--/block-web-->
        </div>
{% end block container %}

{% block scripts %}
{% end block scripts %}