
<body>

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>
لیست کاربران
</title>
    <link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/basic.css") }}' rel="stylesheet">


<script type="text/javascript">

</script>

</head>

<body  class="Mitra" dir="ltr">
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">



    <div class="col-md-8 col-md-offset-2" dir="rtl">

        <label style="color: green;">
لیست کابران :

        </label>
       <br><br>

                    <table class="table" style="font-size: 22px">
            <tr>
                <td align="right" style="color: green">
نام
                </td>
                <td align="right" style="color: green">
پست الکترونیک
                </td>
                <td align="right" style="color: green">
نقش در سیستم
                </td>
            </tr>

            {% for item in users %}
            <tr>
                <td align="right">
                         {{item.fore_name}} &nbsp {{item.sur_name}}
                </td>
                <td align="right">
                    {{item.email}}

                </td>
                <td align="right">
                    {{item.fk_role.name}}

                </td>

            </tr>
            {%end%}
        </table>



        <br><br><br>





            </div>


            </div>



    </div>
</div>


</body>
</html>







