{% extends "../../base/template/index/index.html" %}
{% block other_css %}
<style>
    @import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);

    * {
        margin: 0;
        padding: 0;
    {#  font-family: roboto;#}
    }

    body {
        background: #000;
    }

    .cont {
        width: 93%;
        max-width: 350px;
        text-align: center;
        margin: 4% auto;
        padding: 30px 0;
        background: #111;
        color: #EEE;
        border-radius: 5px;
        border: thin solid #444;
        overflow: hidden;
    }

    hr {
        margin: 20px;
        border: none;
        border-bottom: thin solid rgba(255, 255, 255, .1);
    }

    div.title {
        font-size: 2em;
    }

    h1 span {
        font-weight: 300;
        color: #Fd4;
    }

    div.stars {
        display: inline-block;
    }

    input.star {
        display: none;
    }

    label.star {
        float: right;
        padding: 5px;
        font-size: 15px;
        color: #444;
        transition: all .2s;
    }

    input.star:checked ~ label.star:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    }

    input.star-5:checked ~ label.star:before {
        color: #FE7;
        text-shadow: 0 0 20px #952;
    }

    input.star-1:checked ~ label.star:before {
        color: #F62;
    }

    label.star:hover {
        transform: rotate(-15deg) scale(1.3);
    }

    label.star:before {
        content: '\f006';
        font-family: FontAwesome;
    }
</style>
<style>
    #video-one {
        width: 60%;
        float: right;
        padding: 0 2%;
        -moz-border-radius: 5px;
        position: relative;
    }

    #box_recoms {
        width: 40%;
        float: left;
    }

    @media (max-width: 800px) {
        #video-one {
            width: 100%;
            float: right;
            padding: 0 2%;
            -moz-border-radius: 5px;
            position: relative;
        }

        #box_recoms {
            width: 100%;
            float: right;
        }
    }
</style>
{% end block other_css %}
{% block container %}
{% if globvar['message'] == 0 %}
<div class="main_content" style="background-image: url('static/images/bg_header.jpg')">
    <div class="container">

        <div class="main_content" style="background-image: url('static/images/bg_header.jpg')">
            <div class="container">
                <div class="error" style="
font-size: 15px;
color: #5A5858;
background: #F5F5F5;
margin: 10px auto;
text-align: right;
width: 35%;
min-width: 300px;
">
                    <div class="formholder" style="
width: 100%;
border-bottom-color: beige;
border-color: #CCC8C8;
border-width: 1px;
border-style: groove;
">
                        <div class="randompad">

                            <form action="/user_signup" method="post">
                                {% module xsrf_form_html() %}
                                <label>نام</label>
                                <input   onkeyup="(chek_lan(this))" name="fname" value="{{ globvar['fname'] }}" type="text">

                                <label> نام خانوادگی</label>
                                <input onkeyup="(chek_lan(this))" name="lname" value="{{ globvar['lname'] }}" type="text">
                                <label>ایمیل</label>
                                <input name="email" value="{{ globvar['email'] }}" type="email">
                                {% if globvar['exist'] == 1 %}
                                <b style="
color: red;
font-size: 15px;
">
                                    {{ globmsg }}                                </b><br>
                                {% end %}
                                <label>گذرواژه</label>
                                <input name="pass" type="password">
                                <label>تکرار گذرواژه</label>
                                <input name="pass2" type="password">
                                {% if globvar['match'] == 1 or globvar['all'] == 1 %}
                                <b style="
color: red;
font-size: 15px;
">
                                    {{ globmsg }}                                </b>
                                {% end %}
                                <input value="ثبت نام" type="submit">
                            </form>


                            <br>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% else %}
<div class="alert alert-warning" role="alert"
                                 style="margin-right: 20px;margin-left: 20px;margin-top: 20px;text-align: center;">
                                <br>
                                {{ globmsg }}
                                <br>
    <a href="{{ reverse_url('index') }}"> بازگشت</a>
                            </div>
{% end %}
{% end block container %}

{% block javascript %}
<script>
    $('.carousel').carousel();
    $('.select').select2({
        placeholder: "انتخاب کنید"
    });
    $(".datePicker").val("").persianDatepicker();
    $('.your-class').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000
    });
    $('.tabs').click(function () {
        var data_action = $(this).attr('data-action');
        $('.tabs.active').removeClass('active');
        $(this).addClass('active');
        $('.group_tab_content').addClass('display-none');
        $('.group_tab_content[data-action=' + data_action + ']').removeClass('display-none');
    });





  function chek_lan(val)
{
    char = val.value.charCodeAt(0);
    if(char > 32 && char<126)
    {
        val.value = ""
        val.placeholder = "لطفا زبان صفحه کلید خود را به فارسی تغییر دهید"
        return false;

    }
}



</script>
{% end block javascript %}

