<html>
<head>
    <title>
لیست فیلم های بدون کارشناس
    </title>
    <link href={{static_url('css/style-export_dashboard.css')}} rel="stylesheet" type="text/css">
    <link href="{{static_url('css/index/style.css')}}" rel="stylesheet" type="text/css">
    <link href='{{ static_url("css/basic.css") }}' rel="stylesheet">

</head>
<body class="Mitra">

<div id="wrap">
  <div id="regbar">
    <div id="navthing">
            <div style="width:95%;float: right; margin-right: 10px;">
                    <h3 class="Mitra">
فیلم های بدون کارشناس
                    </h3>

      <div>
          <a href="{{ reverse_url('index') }}" id="">صفحه نخست</a> |
          <a href="#">داشبورد</a> |
          <a href="{{ reverse_url('user_logout') }}">خروج</a>
        </div>
    </div>
    </div>
  </div>
</div>

<!--<tbody>-->
<div class="col-lg-6">
    <form action="{{reverse_url('uploaded_list')}}"  method="post">
         {% module xsrf_form_html() %}
        <section class="panel default blue_title h2">
              <div class="panel-heading">لیست <span class="semi-bold">فیلم ها</span> </div>
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>نام فیلم</th>
                      <th>نام هییت</th>
                      <th>وضعییت</th>
                    </tr>
                  </thead>
                    {%for video in videos%}
                  <tbody>
                    <tr>
                      <td>{{video.id}}</td>
                      <td>{{video.name}}</td>
                      <td>{{video.fk_heyat.name}}</td>
                      <td>
                          <select name="select_{{video.id}}">
                              <option value="1" >      انتخاب</option><option value="0" selected></option>
                          </select>
                      </td>
                    </tr>
                  </tbody>
                    {%end%}
                </table>
              </div>
        </section>
        <input type="submit" value="تایید">
        {% if flag%}
        <select name="chose_expert" id="name">
            <option value="">اانتخاب کارشناس</option>
            {% for expert in experts %}
            <option value="{{expert.id}}">{{expert.fore_name}} {{expert.sur_name}}</option>
            {% end %}
        </select>
        {%end%}
    </form>
</div>

</body>
</html>




