
<body>

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>
لیست ویدئوها
</title>
    <link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/basic.css") }}' rel="stylesheet">


<script type="text/javascript">

</script>

</head>

<body  class="Mitra" dir="ltr">
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">



    <div class="col-md-8 col-md-offset-2" dir="rtl">

        <label style="color: green;">
لیست ویدئو های منتظر کارشناس حوزه شما:
        </label>
       <br><br>

        {%if videos.count() == 0%}
        <div class="alert alert-danger">
            موردی برای نمایش یافت نشد
            </div>
        {%else%}

{%for video in videos%}


  <div class="move">
    <video class="video" poster="{%if video.pic != None%}{{static_url('upload')}}/pic/{{video.fk_heyat.id}}/{{video.pic}}{%end%}" controls >
      <source src="{{static_url('upload')}}/video/{{video.fk_heyat.id}}/{{video.url}}"   type="video/mp4">
    </video>
    <div class="name">
        <br>
        <form method="post"action="{{reverse_url('show_domain_video')}}">
             {% module xsrf_form_html() %}
            <input name="id" type="hidden" value="{{video.id}}">
             <button type="submit" class="btn btn-success">
                  انتخاب این فیلم برای کارشناسی
              </button>
        </form>


        <hr id="line">
      <p><a href="go to video page." title="{{video.name}}">{{video.name}}</a><br>
      <a href="goto heyat page" title="{{video.fk_heyat.name}}">{{video.fk_heyat.name}}</a>&nbsp;&nbsp;&nbsp;
          نام مداح	&nbsp;&nbsp;&nbsp;تعداد بازدید : {{video.visit }}&nbsp;&nbsp;&nbsp; امتیاز : {{video.score}} </p>



    </div>
  </div>
{%end%}


{%end%}




            </div>


            </div>



    </div>
</div>


</body>
</html>







