/*author : ReS4*/

.dir-rtl{
    direction: rtl;
}
.dir-ltr{
    direction: ltr;
}

.no-resize{
    resize: none;
}

.padding-0{
    padding: 0 !important;
}
.padding-5{
    padding: 5px;
}
.padding-8{
    padding: 8px;
}
.padding-10{
    padding: 10px;
}
.padding-15{
    padding: 15px;
}
.padding-20{
    padding: 20px;
}
.padding-25{
    padding: 25px;
}
.padding-30{
    padding: 30px;
}
.padding-40{
    padding: 40px;
}

.padding-right-0{
    padding-right: 0 !important;
}
.padding-right-3{
    padding-right: 3px !important;
}
.padding-right-5{
    padding-right: 5px !important;
}
.padding-right-30{
    padding-right: 30px !important;
}

.padding-left-0{
    padding-left: 0 !important;
}
.padding-left-3{
    padding-left: 3px !important;
}
.padding-left-5{
    padding-left: 5px !important;
}
.padding-left-10{
    padding-left: 10px !important;
}
.padding-left-15{
    padding-left: 15px !important;
}
.padding-left-30{
    padding-left: 30px !important;
}

.padding-side-5{
    padding-left: 5px;
    padding-right: 5px;
}

.padding-side-15{
    padding-left: 15px;
    padding-right: 15px;
}

.padding-side-25{
    padding-left: 25px;
    padding-right: 25px;
}

.padding-side-30{
    padding-left: 30px;
    padding-right: 30px;
}


.padding-bottom-10{
    padding-bottom: 10px;
}

.padding-hr-0{
    padding-right: 0;
    padding-left: 0;
}
.padding-hr-1{
    padding-right: 2px;
    padding-left: 2px;
}
.padding-hr-5{
    padding-right: 5px;
    padding-left: 5px;
}
.padding-hr-10{
    padding-right: 10px;
    padding-left: 10px;
}
.padding-hr-15{
    padding-right: 15px;
    padding-left: 15px;
}
.padding-hr-20{
    padding-right: 20px;
    padding-left: 20px;
}
.padding-hr-25{
    padding-right: 25px;
    padding-left: 25px;
}
.padding-hr-30{
    padding-right: 30px;
    padding-left: 30px;
}


.padding-ver-0{
    padding-top: 0;
    padding-bottom: 0;
}
.padding-ver-2{
    padding-top: 2px;
    padding-bottom: 2px;
}
.padding-ver-5{
    padding-top: 5px;
    padding-bottom: 5px;
}
.padding-ver-8{
    padding-top: 8px;
    padding-bottom: 8px;
}
.padding-ver-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding-ver-15{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.padding-ver-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.padding-ver-25{
    padding-top: 25px;
    padding-bottom: 25px;
}
.padding-ver-35{
    padding-top: 35px;
    padding-bottom: 35px;
}
.padding-ver-50{
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding-top-0{
    padding-top: 0;
}
.padding-top-5{
    padding-top: 5px;
}
.padding-top-8{
    padding-top: 8px;
}
.padding-top-10{
    padding-top: 10px;
}
.padding-top-15{
    padding-top: 15px !important;
}
.padding-top-20{
    padding-top: 20px;
}
.padding-top-25{
    padding-top: 25px;
}
.padding-top-30{
    padding-top: 30px;
}
.padding-top-50{
    padding-top: 50px;
}

.margin-0{
    margin: 0;
}
.margin-5{
    margin: 5px;
}
.margin-8{
    margin: 8px;
}
.margin-10{
    margin: 10px;
}
.margin-20{
    margin: 20px;
}
.margin-30{
    margin: 30px;
}
.margin-40{
    margin: 40px;
}

.margin-0-center{
    margin: 0 auto;
}
.margin-2-center{
    margin: 2px auto;
}
.margin-3-center{
    margin: 3px auto;
}
.margin-5-center{
    margin: 5px auto;
}
.margin-10-center{
    margin: 10px auto;
}
.margin-20-center{
    margin: 20px auto;
}
.margin-30-center{
    margin: 30px auto;
}
.margin-40-center{
    margin: 40px auto;
}



.margin-0-side{
    margin: 0 0;
}
.margin-3-side{
    margin: 3px 0;
}
.margin-5-side{
    margin: 5px 0;
}
.margin-10-side{
    margin: 10px 0;
}
.margin-20-side{
    margin: 20px 0;
}
.margin-30-side{
    margin: 30px 0;
}
.margin-40-side{
    margin: 40px 0;
}



.margin-top-z10{
    margin-top: -10px;
}
.margin-top-0{
    margin-top: 0;
}
.margin-top-2{
    margin-top: 2px;
}
.margin-top-3{
    margin-top: 3px;
}
.margin-top-4{
    margin-top: 4px;
}
.margin-top-5{
    margin-top: 5px;
}
.margin-top-6{
    margin-top: 6px;
}
.margin-top-7{
    margin-top: 7px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-15{
    margin-top: 15px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-25{
    margin-top: 25px;
}
.margin-top-30{
    margin-top: 30px;
}
.margin-top-35{
    margin-top: 35px;
}
.margin-top-50{
    margin-top: 50px;
}


.margin-bottom-0{
    margin-bottom: 0;
}
.margin-bottom-2{
    margin-bottom: 2px;
}
.margin-bottom-5{
    margin-bottom: 5px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-15{
    margin-bottom: 15px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-25{
    margin-bottom: 25px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.margin-bottom-35{
    margin-bottom: 35px;
}
.margin-bottom-80{
    margin-bottom: 35px;
}

.margin-right-5{
    margin-right: 5px;
}
.margin-right-10{
    margin-right: 10px;
}
.margin-right-15{
    margin-right: 15px;
}
.margin-right-20{
    margin-right: 20px;
}
.margin-right-25{
    margin-right: 25px;
}
.margin-right-30{
    margin-right: 30px;
}
.margin-right-35{
    margin-right: 35px;
}

.margin-left-5{
    margin-left: 5px;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-left-15{
    margin-left: 15px;
}
.margin-left-20{
    margin-left: 20px;
}
.margin-left-25{
    margin-left: 25px;
}
.margin-left-30{
    margin-left: 30px;
}
.margin-left-35{
    margin-left: 35px;
}


.overflow-hidden{
    overflow: hidden;
}

.colorTransparent{
    color: transparent !important;
}
.colorWhiteTrans{
    color: rgba(255,255,255,0.3) !important;
}
.colorWhite{
    color: #ffffff !important;
}
.colorGray{
    color: #828282 !important;
}
.colorGreen{
    color: #6dc437;
}
.colorRed{
    color: #ff4500;
}
.colorOrange{
    color: #f97a14 !important;
}
.colorBlue{
    color: #00a0dc;
}
.colorDarkBlue{
    color: #0079a6;
}
.colorLightGray{
    color: #e9e9e9;
}
.colorf0f0f0{
    color: #f0f0f0;
}
.colorc9c9c9{
    color: #c9c9c9;
}
.color1d2939{
    color: #1d2939;
}
.coloraeaeae{
    color: #aeaeae;
}


.backgroundWhite{
    background: #ffffff;
}
.backgroundGray{
    background: #828282;
}
.backgroundGreen{
    background: #6dc437;
}
.backgroundRed{
    background: #ff4500;
}
.backgroundOrange{
    background: #ffa500;
}
.backgroundBlue{
    background: #00a0dc;
}
.backgroundDarkBlue{
    background: #0079a6;
}
.backgroundLightGray{
    background: #e9e9e9;
}
.backgroundf0f0f0{
    background: #f0f0f0;
}
.backgroundfafafa{
    background: #fafafa;
}

.background9c9c9{
    background: #c9c9c9;
}
.backgroundTransparent{
    background: transparent !important;
}
.backgroundWhiteTrans{
    background-color: rgba(0, 0, 0, 0.3) !important;
}
.font-yekan{
    font-family: Yekan !important;
}
.font-zar{
    font-family: Zar !important;
}
.font-roya{
    font-family: Roya !important;
}

.font-size-8{
    font-size: 8pt;
}
.font-size-9{
    font-size: 9pt;
}
.font-size-10{
    font-size: 10pt;
}
.font-size-11{
    font-size: 11pt;
}
.font-size-12{
    font-size: 12pt;
}
.font-size-13{
    font-size: 13pt;
}
.font-size-14{
    font-size: 14pt;
}
.font-size-15{
    font-size: 15pt !important;
}
.font-size-16{
    font-size: 16pt;
}
.font-size-17{
    font-size: 17pt;
}
.font-size-18{
    font-size: 18pt;
}
.font-size-19{
    font-size: 19pt;
}
.font-size-20{
    font-size: 20pt;
}
.font-size-21{
    font-size: 21pt;
}
.font-size-22{
    font-size: 22pt;
}
.font-size-23{
    font-size: 23pt;
}
.font-size-24{
    font-size: 24pt;
}
.font-size-25{
    font-size: 25pt;
}
.font-size-26{
    font-size: 26pt;
}
.font-size-27{
    font-size: 27pt;
}
.font-size-28{
    font-size: 28pt;
}
.font-size-29{
    font-size: 29pt;
}
.font-size-30{
    font-size: 30pt;
}
.font-size-31{
    font-size: 31pt;
}
.font-size-32{
    font-size: 32pt;
}
.font-size-33{
    font-size: 33pt;
}
.font-size-34{
    font-size: 34pt;
}
.font-size-35{
    font-size: 35pt;
}
.font-size-36{
    font-size: 36pt;
}

.text-justify{
    text-align: justify
}

.position-fixed{
    position: fixed;
}

.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}

.vertical-middle{
    vertical-align: middle;
}

.no-text-decoration{
    text-decoration: none !important;
}
.clear-both{
    clear: both;
}
.cursor-pointer{
    cursor: pointer;
}
.cursor-auto{
    cursor: auto;
}

.hover-colorLightGray:hover{
    color: #e9e9e9;
}

.inp-group{
    background: transparent;
    border: none;
}

.no-border{
    border: none;
}

.border-right{
    border-right: solid 1px #cccccc;
}
.border-left{
    border-left: solid 1px #cccccc;
}
.border-top{
    border-top: solid 1px #cccccc;
}
.border-bottom{
    border-bottom: solid 1px #cccccc;
}
.side-border{
    border-right: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
}

.width-0-darsad{
    width: 100%;
}
.width-5-darsad{
    width: 5%;
}
.width-10-darsad{
    width: 10%;
}
.width-15-darsad{
    width: 15%;
}
.width-20-darsad{
    width: 20%;
}
.width-25-darsad{
    width: 25%;
}
.width-30-darsad{
    width: 30%;
}
.width-35-darsad{
    width: 35%;
}
.width-40-darsad{
    width: 40%;
}
.width-45-darsad{
    width: 45%;
}
.width-50-darsad{
    width: 50%;
}
.width-55-darsad{
    width: 55%;
}
.width-60-darsad{
    width: 60%;
}
.width-65-darsad{
    width: 65%;
}
.width-70-darsad{
    width: 70%;
}
.width-75-darsad{
    width: 75%;
}
.width-80-darsad{
    width: 80%;
}
.width-85-darsad{
    width: 85%;
}
.width-90-darsad{
    width: 90%;
}
.width-95-darsad{
    width: 95%;
}
.width-100-darsad{
    width: 100%;
}

.height-100{
    height: 100% !important;
}
.height-34{
    height: 34px !important;
}
.height-80px{
    height: 80px !important;
}
.height-110px{
    height: 110px !important;
}
.height-135px{
    height: 135px !important;
}
.height-150px{
    height: 150px !important;
}
.height-185px{
    height: 185px !important;
}

.display-none{
    display: none;
}
.display-block{
    display: block;
}
.display-inline{
    display: inline;
}
.display-inline-block{
    display: inline-block;
}
.display-inline-flex{
    display: inline-flex;
}

.display-table{
    display: table;
}
.display-table-row{
    display: table-row;
}
.display-table-cell{
    display: table-cell;
}


.span-block{
    display: block;
}

.line-height-9{
    line-height: 9px;
}
.line-height-10{
    line-height: 10px;
}
.line-height-11{
    line-height: 11px;
}
.line-height-12{
    line-height: 12px;
}
.line-height-15{
    line-height: 15px;
}
.line-height-20{
    line-height: 15px;
}

.image-circle-10{
    width: 10px;
    height: 10px;
    max-width: 10px;
}

.image-circle-20{
    width: 20px;
    height: 20px;
    max-width: 20px;
}
.image-circle-30{
    width: 30px;
    height: 30px;
    max-width: 30px;
}
.image-circle-35{
    width: 35px;
    height: 35px;
    max-width: 35px;
}
.image-circle-40{
    width: 40px;
    height: 40px;
    max-width: 40px;
}
.image-circle-45{
    width: 45px;
    height: 45px;
    max-width: 45px;
}
.image-circle-50{
    width: 50px;
    height: 50px;
    max-width: 50px;
}
.image-circle-60{
    width: 60px !important;
    height: 60px !important;
    max-width: 60px !important;
}

.image-circle-70{
    width: 70px;
    height: 70px;
    max-width: 70px;
}
.image-circle-80{
    width: 80px;
    height: 80px;
    max-width: 80px;
}
.image-circle-110{
    width: 110px;
    height: 110px;
    max-width: 110px;
}
.no-radius{
    border-radius: 0 !important;
}

.no-radius-top-right{
    border-top-left-radius:0;
    border-top-right-radius:0;
}

.no-radius-bottom-left{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.border-radius-3{
    border-radius: 3px;
}
.border-radius-4{
    border-radius: 4px !important;
}
.border-radius-5{
    border-radius: 5px;
}
.border-radius-6{
    border-radius: 6px;
}
.border-radius-7{
    border-radius: 7px;
}
.border-radius-8{
    border-radius: 3px;
}
.border-radius-9{
    border-radius: 9px;
}
.border-radius-10{
    border-radius: 10px;
}
.border-radius-circle{
    border-radius: 50%;
}

.border-radius-top_right-top_left-3{
    border-radius: 3px 3px 0 0;
}
.border-radius-top_right-top_left-4{
    border-radius: 4px 4px 0 0;
}
.border-radius-top_right-top_left-5{
    border-radius: 5px 5px 0 0;
}
.border-radius-top_right-top_left-6{
    border-radius: 6px 6px 0 0;
}
.border-radius-top_right-top_left-7{
    border-radius: 7px 7px 0 0;
}
.border-radius-top_right-top_left-8{
    border-radius: 8px 8px 0 0;
}
.border-radius-top_right-top_left-9{
    border-radius: 9px 9px 0 0;
}
.border-radius-top_right-top_left-10{
    border-radius: 10px 10px 0 0;
}

.border-radius-bottom_right-bottom_left-3{
    border-radius: 0 0 3px 3px;
}
.border-radius-bottom_right-bottom_left-4{
    border-radius: 0 0 4px 4px;
}
.border-radius-bottom_right-bottom_left-5{
    border-radius: 0 0 5px 5px;
}
.border-radius-bottom_right-bottom_left-6{
    border-radius: 0 0 6px 6px;
}
.border-radius-bottom_right-bottom_left-7{
    border-radius: 0 0 7px 7px;
}
.border-radius-bottom_right-bottom_left-8{
    border-radius: 0 0 8px 8px;
}
.border-radius-bottom_right-bottom_left-9{
    border-radius: 0 0 9px 9px;
}
.border-radius-bottom_right-bottom_left-10{
    border-radius: 0 0 10px 10px;
}

.loading{
    background: url("/static/images/loading.gif") no-repeat;
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
    margin: 20px auto;
}

.padding-side-25{
    padding-left: 25px;
    padding-right: 25px;
}

.no-padding{
    padding: 0;
}

.no-margin{
    margin: 0;
}