body{
    direction: rtl;
    font-family: Yekan, serif;
}

.header{
    background: green;
    font-family: Yekan, serif;
}

.guest_user{
    background: rgba(0,0,0,0.6);
    padding: 2px 5px;
    color: white;
    border-radius: 0 0 5px 5px;
    display: inline-block;
}

.user_login_btn{
    display: inline-block;
    cursor: pointer;
    background: #2A80B9;
    padding: 2px 5px;
    color: white;
    border-radius: 0 0 5px 5px;
}

.manager_login_btn{
    display: inline-block;
    cursor: pointer;
    background: #27AE5F;
    padding: 2px 5px;
    color: white;
    border-radius: 0 0 5px 5px;
}

.top_menu{
    background: #0296D4;
    padding: 10px;
    min-height: 40px;
    font-size: 11pt;
    color: white;
}

.user_btns{
    font-size: 9pt;
}

span.menu_items{
    padding: 5px;
    cursor: pointer;
}

.search_box{
    position: relative;
}

.search_input{
    color: white;
    background: #01628D;
    border-radius: 5px;
    height: 30px;
    box-shadow: 0 0 2px #aaa;
    border: none !important;
}

.search_icon{
    position: absolute;
    top: 6px;
    left: 8px;
    color: #8CC4F5;
}

.slider_container{
    padding: 10px;
    background: white;
    box-shadow: 0 0 10px #aaa;
}

.carousel-inner .item img{
    height: 250px;
    width: 100%;
}

.spec_news{
    box-shadow: 0 0 10px #aaa;
    position: relative;
}

.spec_news img{
    height: 270px;
    width: 100%;
}

.new_title{
    position: absolute;
    top: 20px;
    right: 0;
    background: #28AF62;
    padding: 2px 10px;
    color: white;
}

.new_footer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    padding: 20px;
}

.search_container{
    background: #ffffff;
    box-shadow: 0 0 10px #aaa;
    padding: 15px;
}

.R_butt_blue {
    border: none;
    border-radius: 5px;
    background: #00a0dc;
    padding: 5px 15px;
    font-size: 12pt;
    color: #ffffff;
    vertical-align: middle;
    margin: 1px !important;
    /*display: block;*/
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}

.R_butt_blue:hover {
    background: #0079a6;
    text-decoration: none;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}

.most_view_video_container{
    background: #ffffff;
    box-shadow: 0 0 10px #aaa;
    padding: 15px;
}

.red_color{
    color: #941119;
    font-size: 12pt;
}

.link_go_to_page{
    color: #0079a6;
    font-size: 10pt;
    cursor: pointer;
}

.link_go_to_page a{
    text-decoration: none;
}

.link_go_to_page i{
    vertical-align: -3px;
}

.main_box_container{
    box-shadow: 0 0 10px #aaa;
}

.box_header{
    background: -webkit-linear-gradient(#dbdbdb, #bebebe);
    background: -o-linear-gradient(#dbdbdb, #bebebe);
    background: -moz-linear-gradient(#dbdbdb, #bebebe);
    background: linear-gradient(#dbdbdb, #bebebe);
    padding: 10px;
}

.box_content{
    background: #ffffff;
    padding: 10px;
}

.group_tab{
    position: relative;
}

.group_tab .tabs{
    background: #F8F8F8;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #dbdbdb;
    cursor: pointer;
    color: #848484;
}

.group_tab .tabs.active{
    background: #ffffff;
    border-bottom: 1px solid #ffffff;
    color: #941119;
}

.group_tab_content{
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}

.archive_span{
    font-size: 9pt;
    color: #ffffff;
}

.archive_span a{
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}

.archive_span i{
    vertical-align: -2px;
}

.news_text{
    color: #808080;
    font-size: 10pt;
}

.news_date{
    color: #BEBEBE;
    font-size: 9pt;
}

.footer{
    background: #3b3b3b;
    margin-top: 50px;
    padding: 15px 15px 70px;
    border-top: 10px solid #0079a6;
}

.footer_column{
    color: #BCBCBC;
    font-size: 9pt;
}

.footer_column_title{
    font-size: 12pt;
    padding: 6px;
    margin-bottom: 20px;
    border-bottom: 1px solid #BCBCBC;
}

.footer_column_title i{
    vertical-align: -2px;
    margin-left: 7px;
}

.footer_links a{
    color: #BCBCBC;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

.footer_links a:first-child{
    margin-top: 0;
}

.footer_links i{
    vertical-align: -2px;
}

.footer_links span{
    margin-right: 5px;
}

.newsletter_membership{
    background: #4C4C4C;
    padding: 6px 12px;
    color: #bebebe;
    border-radius: 5px;
    border: 1px solid #bebebe;
    min-height: 40px;
    width: 100%;
}

.membership_btn{
    position: absolute;
    top: 3px;
    left: 33px;
    padding: 4px 15px;
}

.copyright{
    background: #2E2E2E;
    padding: 5px 15px;
    text-align: center;
    color: #818181;
}