<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 footer_column">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="footer_column_title"><i class="fa fa-envelope-o"></i> عضویت در خبرنامه </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در</p>
                    </div>
                    <div class="col-md-12 col-sm-12 margin-top-20 position-relative" style="padding-left: 30px">
                        <input class="newsletter_membership" placeholder="ایمیل خود را وارد کنید">
                        <button class="R_butt_blue membership_btn">عضویت</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 footer_column">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="footer_column_title"><i class="fa fa-link"></i> لینک </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 footer_links">
                        <a>
                            <i class="fa fa-chevron-left"></i>
                            <span>درباره ما</span>
                        </a>
                        <a>
                            <i class="fa fa-chevron-left"></i>
                            <span>کانال ها</span>
                        </a>
                        <a>
                            <i class="fa fa-chevron-left"></i>
                            <span>اخبار</span>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 footer_links">
                        <a>
                            <i class="fa fa-chevron-left"></i>
                            <span>مقالات و تحلیل</span>
                        </a>
                        <a>
                            <i class="fa fa-chevron-left"></i>
                            <span>سفارش</span>
                        </a>
                        <a>
                            <i class="fa fa-chevron-left"></i>
                            <span>دریافت کاتالوگ</span>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 footer_links">
                        <a>
                            <i class="fa fa-chevron-left"></i>
                            <span>درباره ما</span>
                        </a>
                        <a>
                            <i class="fa fa-chevron-left"></i>
                            <span>کانال ها</span>
                        </a>
                        <a>
                            <i class="fa fa-chevron-left"></i>
                            <span>اخبار</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 footer_column">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="footer_column_title"><i class="fa fa-location"></i>تماس با ما</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در</p>
                        <p>تلفن : 5789846523</p>
                        <p>تلفن : 5789846523</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>