<div class="box_header red_color" style="padding: 10px 10px 0">
    <div class="group_tab">
        <div class="lasts_group_tab tabs active" data-action="1">آخرین هیئت ها</div>
        <div class="bests_group_tab tabs" data-action="2">برترین هیئت ها</div>
    </div>
</div>
<div class="box_content">
    <div class="row">
        <div class="group_tab_content" data-action="1">
            <div class="col-md-3 col-sm-3 text-center">
                <img src="/static/images/heyat_5.JPG" style="height: 100px;">
                <div class="margin-top-10 font-size-9"><a>هیئت جوانان عاشقان حضرت ابولفضل (ع)</a></div>
                <div class="margin-top-10 font-size-9"><span>تبریز - باغمیشه</span></div>
                <div class="font-size-9"><span>( آذربایجان شرقی )</span></div>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
                <img src="/static/images/heyat_5.JPG" style="height: 100px;">
                <div class="margin-top-10 font-size-9"><a>هیئت جوانان عاشقان حضرت ابولفضل (ع)</a></div>
                <div class="margin-top-10 font-size-9"><span>تبریز - باغمیشه</span></div>
                <div class="font-size-9"><span>( آذربایجان شرقی )</span></div>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
                <img src="/static/images/heyat_5.JPG" style="height: 100px;">
                <div class="margin-top-10 font-size-9"><a>هیئت جوانان عاشقان حضرت ابولفضل (ع)</a></div>
                <div class="margin-top-10 font-size-9"><span>تبریز - باغمیشه</span></div>
                <div class="font-size-9"><span>( آذربایجان شرقی )</span></div>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
                <img src="/static/images/heyat_5.JPG" style="height: 100px;">
                <div class="margin-top-10 font-size-9"><a>هیئت جوانان عاشقان حضرت ابولفضل (ع)</a></div>
                <div class="margin-top-10 font-size-9"><span>تبریز - باغمیشه</span></div>
                <div class="font-size-9"><span>( آذربایجان شرقی )</span></div>
            </div>
        </div>
        <div class="group_tab_content display-none" data-action="2">
            <div class="col-md-3 col-sm-3 text-center">
                <img src="/static/images/heyat_2.jpg" style="height: 100px;">
                <div class="margin-top-10 font-size-9"><a>هیئت جوانان عاشقان حضرت ابولفضل (ع)</a></div>
                <div class="margin-top-10 font-size-9"><span>تبریز - باغمیشه</span></div>
                <div class="font-size-9"><span>( آذربایجان شرقی )</span></div>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
                <img src="/static/images/heyat_2.jpg" style="height: 100px;">
                <div class="margin-top-10 font-size-9"><a>هیئت جوانان عاشقان حضرت ابولفضل (ع)</a></div>
                <div class="margin-top-10 font-size-9"><span>تبریز - باغمیشه</span></div>
                <div class="font-size-9"><span>( آذربایجان شرقی )</span></div>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
                <img src="/static/images/heyat_2.jpg" style="height: 100px;">
                <div class="margin-top-10 font-size-9"><a>هیئت جوانان عاشقان حضرت ابولفضل (ع)</a></div>
                <div class="margin-top-10 font-size-9"><span>تبریز - باغمیشه</span></div>
                <div class="font-size-9"><span>( آذربایجان شرقی )</span></div>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
                <img src="/static/images/heyat_2.jpg" style="height: 100px;">
                <div class="margin-top-10 font-size-9"><a>هیئت جوانان عاشقان حضرت ابولفضل (ع)</a></div>
                <div class="margin-top-10 font-size-9"><span>تبریز - باغمیشه</span></div>
                <div class="font-size-9"><span>( آذربایجان شرقی )</span></div>
            </div>
        </div>
    </div>
</div>