<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3" style="padding: 15px">
                <img src="/static/images/2.png" class="img-responsive">
            </div>
            <div class="col-md-4 col-sm-4">
            </div>
            <div class="pull-right">
                <div class="guest_user user_btns">
                                    {% if login_user == "مهمان" %}
                    کاربر مهمان!

 {% else %}
         {{ login_user }}

                    {% end %}

                    <span>به هیئت خوش آمدید</span>
                </div>
                {% if login_user == "مهمان" %}
                <a href="#" id="singupform">
                                    <div class="user_login_btn user_btns">عضویت</div>

                </a>
                <a href="#" id="loginform">
                                    <div class="manager_login_btn user_btns">ورود</div>

                </a>

  <div style="display: none;position: absolute;z-index: 20;margin-right: -92px" class="login">
          <div class="arrow-up"></div>
          <div class="formholder">
            <div class="randompad">
               <form action="{{ reverse_url('userlogin') }}" method="post">
                 <label>نام</label>
                 <input name="username"value="" type="email">
                 <label >گذرواژه</label>
                 <input class="form-group" name="pass" type="password">
                 <input class="form-group"value="ورود" type="submit">
               </form>
            </div>
          </div>





                {% else %}
                 {% from config import Config %}
                {% set admin_url = Config().packages['ADMIN_SYSTEM'] %}
                <a href="{{ admin_url }}/administration/dashboard">
                      <div class="manager_login_btn user_btns">داشبورد</div>
                </a>
                <a href="{{ reverse_url('user_logout') }}">
                       <div class="user_login_btn user_btns">خروج</div>
                </a>
                {% end %}

            </div>
   <div style="display: none;position: absolute;z-index: 20;margin-right: -120px" class="singup" >
          <div class="arrow-up"></div>
          <div class="formholder">
            <div class="randompad">
               <form action="{{ reverse_url('usersignup') }}" method="post">
                 <label>نام</label>
                 <input name="fname" value="" type="text">
                 <label > نام خانوادگی</label>
                 <input name="lname" value="" type="text">
                   <label >ایمیل</label>
                 <input name="email" value="" type="email">
                 <label >گذرواژه</label>
                 <input name="pass" type="password">
                   <label >تکرار گذرواژه</label>
                 <input name="pass2" type="password">
                 <input value="ثبت نام" type="submit">
               </form>
            </div>
          </div>
        </div>

        </div>
    </div>
</div>

        </div>
