<div class="box_header red_color">آخرین ویدیوها</div>
    <div class="box_content">
        <div class="row margin-top-10">
            <div class="col-md-12 col-sm-12">
                <img class="img-responsive" src="/static/images/1.jpg">
            </div>
            <div class="col-md-12 col-sm-12 text-center margin-top-10">
                <a>مداحی حاج محمود کریمی</a>
            </div>
        </div>
        <div class="row margin-top-20">
            <div class="col-md-12 col-sm-12">
                <img class="img-responsive" src="/static/images/1.jpg">
            </div>
            <div class="col-md-12 col-sm-12 text-center margin-top-10">
                <a>مداحی حاج محمود کریمی</a>
            </div>
        </div>
        <div class="row margin-top-20">
            <div class="col-md-12 col-sm-12">
                <img class="img-responsive" src="/static/images/1.jpg">
            </div>
            <div class="col-md-12 col-sm-12 text-center margin-top-10">
                <a>مداحی حاج محمود کریمی</a>
            </div>
        </div>
        <div class="row margin-top-20">
            <div class="col-md-12 col-sm-12">
                <img class="img-responsive" src="/static/images/1.jpg">
            </div>
            <div class="col-md-12 col-sm-12 text-center margin-top-10">
                <a>مداحی حاج محمود کریمی</a>
            </div>
        </div>
    </div>