<div class="col-md-4 col-sm-4">
    <div class="main_box_container">
        <div class="box_header red_color"><span>پرونده های ویژه</span> <span class="archive_span pull-right"><a><i class="fa fa-plus"></i> آرشیو</a></span></div>
        <div class="box_content">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <img src="/static/images/heyat_1.png" class="img-responsive">
                </div>
                <div class="col-md-7 col-sm-7">
                    <p class="news_text text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                    <p class="news_date">تاریخ: 23 مهر 1393</p>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-md-5 col-sm-5">
                    <img src="/static/images/heyat_3.jpg" class="img-responsive">
                </div>
                <div class="col-md-7 col-sm-7">
                    <p class="news_text text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                    <p class="news_date">تاریخ: 23 مهر 1393</p>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-md-5 col-sm-5">
                    <img src="/static/images/heyat_4.png" class="img-responsive">
                </div>
                <div class="col-md-7 col-sm-7">
                    <p class="news_text text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                    <p class="news_date">تاریخ: 23 مهر 1393</p>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-md-5 col-sm-5">
                    <img src="/static/images/heyat_6.jpg" class="img-responsive">
                </div>
                <div class="col-md-7 col-sm-7">
                    <p class="news_text text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                    <p class="news_date">تاریخ: 23 مهر 1393</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-4">
    <div class="main_box_container">
        <div class="box_header red_color"><span>جشنواره ها</span> <span class="archive_span pull-right"><a><i class="fa fa-plus"></i> آرشیو</a></span></div>
        <div class="box_content">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <img src="/static/images/heyat_1.png" class="img-responsive">
                </div>
                <div class="col-md-7 col-sm-7">
                    <p class="news_text text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                    <p class="news_date">تاریخ: 23 مهر 1393</p>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-md-5 col-sm-5">
                    <img src="/static/images/heyat_3.jpg" class="img-responsive">
                </div>
                <div class="col-md-7 col-sm-7">
                    <p class="news_text text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                    <p class="news_date">تاریخ: 23 مهر 1393</p>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-md-5 col-sm-5">
                    <img src="/static/images/heyat_4.png" class="img-responsive">
                </div>
                <div class="col-md-7 col-sm-7">
                    <p class="news_text text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                    <p class="news_date">تاریخ: 23 مهر 1393</p>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-md-5 col-sm-5">
                    <img src="/static/images/heyat_6.jpg" class="img-responsive">
                </div>
                <div class="col-md-7 col-sm-7">
                    <p class="news_text text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                    <p class="news_date">تاریخ: 23 مهر 1393</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-4">
    <div class="main_box_container">
        <div class="box_header red_color"><span>دوره های آموزشی</span> <span class="archive_span pull-right"><a><i class="fa fa-plus"></i> آرشیو</a></span></div>
        <div class="box_content">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <img src="/static/images/heyat_1.png" class="img-responsive">
                </div>
                <div class="col-md-7 col-sm-7">
                    <p class="news_text text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                    <p class="news_date">تاریخ: 23 مهر 1393</p>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-md-5 col-sm-5">
                    <img src="/static/images/heyat_3.jpg" class="img-responsive">
                </div>
                <div class="col-md-7 col-sm-7">
                    <p class="news_text text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                    <p class="news_date">تاریخ: 23 مهر 1393</p>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-md-5 col-sm-5">
                    <img src="/static/images/heyat_4.png" class="img-responsive">
                </div>
                <div class="col-md-7 col-sm-7">
                    <p class="news_text text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                    <p class="news_date">تاریخ: 23 مهر 1393</p>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-md-5 col-sm-5">
                    <img src="/static/images/heyat_6.jpg" class="img-responsive">
                </div>
                <div class="col-md-7 col-sm-7">
                    <p class="news_text text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                    <p class="news_date">تاریخ: 23 مهر 1393</p>
                </div>
            </div>
        </div>
    </div>
</div>