<div class="most_view_video_container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-1">
            <span class="red_color">پر بازدیدترین ویدیوها</span>
            <hr style="display: inline-flex; width: 74%">
            <span class="link_go_to_page"><a><i class="fa fa-plus"></i> صفحه ویدیوها</a></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-1">
            <div class="your-class">
                <div class="slider_content text-center">
                    <!--<video id="example_video_1" class="video-js vjs-default-skin" controls preload="auto" width="100%" height="200"-->
                           <!--data-setup='{"example_option":true}'>-->
                        <!--<source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />-->
                    <!--</video>-->
                    <img class="img-responsive" src="/static/images/5.jpg">

                    <div class="margin-top-10">
                        <a>مداحی حاج محمود کریمی</a>
                    </div>
                </div>
                <div class="slider_content text-center">
                    <!--<video id="example_video_1" class="video-js vjs-default-skin" controls preload="auto" width="100%" height="200"-->
                           <!--data-setup='{"example_option":true}'>-->
                        <!--<source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />-->
                    <!--</video>-->

                    <img class="img-responsive" src="/static/images/6.jpg">
                    <div class="margin-top-10">
                        <a>مداحی حاج محمود کریمی</a>
                    </div>
                </div>
                <div class="slider_content text-center">
                    <!--<video id="example_video_1" class="video-js vjs-default-skin" controls preload="auto" width="100%" height="200"-->
                           <!--data-setup='{"example_option":true}'>-->
                        <!--<source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />-->
                    <!--</video>-->
                    <img class="img-responsive" src="/static/images/7.jpg">

                    <div class="margin-top-10">
                        <a>مداحی حاج محمود کریمی</a>
                    </div>
                </div>
                <div class="slider_content text-center">
                    <!--<video id="example_video_1" class="video-js vjs-default-skin" controls preload="auto" width="100%" height="200"-->
                           <!--data-setup='{"example_option":true}'>-->
                        <!--<source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />-->
                    <!--</video>-->
                    <img class="img-responsive" src="/static/images/5.jpg">

                    <div class="margin-top-10">
                        <a>مداحی حاج محمود کریمی</a>
                    </div>
                </div>
                <div class="slider_content text-center">
                    <!--<video id="example_video_1" class="video-js vjs-default-skin" controls preload="auto" width="100%" height="200"-->
                           <!--data-setup='{"example_option":true}'>-->
                        <!--<source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />-->
                    <!--</video>-->
                    <img class="img-responsive" src="/static/images/6.jpg">

                    <div class="margin-top-10">
                        <a>مداحی حاج محمود کریمی</a>
                    </div>
                </div>
                <div class="slider_content text-center">
                    <!--<video id="example_video_1" class="video-js vjs-default-skin" controls preload="auto" width="100%" height="200"-->
                           <!--data-setup='{"example_option":true}'>-->
                        <!--<source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />-->
                    <!--</video>-->
                    <img class="img-responsive" src="/static/images/7.jpg">

                    <div class="margin-top-10">
                        <a>مداحی حاج محمود کریمی</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>