<div class="top_menu">

    <div class="container">
        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-9 col-sm-9 margin-top-5">
                    {% from config import Config %}
                    {% set public_url = Config().packages['PUBLIC_SYSTEM'] %}

                    <a style="color: white;text-decoration: none" href="{{ public_url }}/">
                        <span class="menu_items">صفحه اصلی</span>
                    </a>
                    <span>|</span>
                    {% from config import Config %}
                    {% set heyat_url = Config().packages['HEYAT_SYSTEM'] %}
                    <a style="color: white;text-decoration: none" href="{{ heyat_url }}/heyat/channels">
                        <span class="menu_items">کانال ها</span>

                    </a>
                    <span>|</span>
                    <a  style="color: white;text-decoration: none" href="{{ heyat_url }}/heyat/users/maddah">
                        <span class="menu_items">مداحان</span>

                    </a>
                    <span>|</span>
                    <a style="color: white;text-decoration: none" href="{{ heyat_url }}/heyat/sokhanran">
                        <span class="menu_items">سخنرانان</span>

                    </a>
                    <span>|</span>
                    <a style="color: white;text-decoration: none" href="{{ heyat_url }}/heyat/shaer">
                        <span class="menu_items">شاعران</span>

                    </a>
                    <span>|</span>
                    <span class="menu_items">مناسبت ها</span>
                    <span>|</span>
                    <span class="menu_items">جشنواره ها</span>
                    <span>|</span>
                    <span class="menu_items">فیلم های آموزشی</span>
                    <span>|</span>
                    <span class="menu_items">درباره ما</span>
                    <span>|</span>
                    <span class="menu_items">تماس با ما</span>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="search_box">
                        <input type="text" class="form-control search_input" placeholder="جستجو">
                        <i class="fa fa-search search_icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
