{% extends "../base.html" %}

{% block css %}

{% end block css %}


{% block container %}
<div class="col-sm-12">
    <div class="form-group">
            <div id="one" class="col-sm-12">

        <form method="post" onsubmit="return valid()" action="{{ reverse_url('add_role') }}">
                                                                                        {% module xsrf_form_html() %}


            <label for="role" style="    margin-left: 5px;
    margin-right: 15px;font-size: 15px;color: #635F5F !important;">نام نقش </label>
            <input id="role" style="width:300px;" type="text" name="new_role" class="form-group"
                   placeholder="نام نقش مورد نظر خود را وارد کنید">
            <label for="new" style="font-size: 15px;color: #635F5F !important;    margin-left: 5px;
    margin-right: 15px;">سطح</label>
            <select id="new" name="level" class="form-group">
                <option value="3">هیئت</option>
                <option value="2">استان</option>
                <option value="1">کل</option>
            </select>
            <button class="btn btn-success" style="    margin-left: 5px;
    margin-right: 15px;" type="submit">افزودن
            </button>
        </form>
                </div>
    </div>
<br><br>
              <div  hidden="hidden" id="errordiv" class="alert alert-danger" role="alert" style="width:50%;margin-right: 25px">

                                    </div>

    <div id="one" class="col-sm-12">
        <h5 class="blue_bg">نقش های موجود</h5>
        <hr>
        <div class="todo_body ">
            {% for item in role %}

                <ul class="group_sortable1" style="color: #000000">
                    <li style="border-bottom-width: 2px;">
                        <p style="border-right-width: 10px;margin-left: 10px;">
                            <div style="width: 85%;float: right;margin-right: 20px">
                        <br>
                                            <strong>

نام نقش :

                                                              {{ item.name }}
                                                </strong>
                             &nbsp
                                    سطح :
                                    {% if item.level == 3 %}
                                    هیئت
                                    {% end %}
                                    {% if item.level == 2 %}
                                    استان
                                    {% end %}
                                    {% if item.level == 1 %}
                                    کل
                                    {% end %}
                            </div>
                        <div style="width: 10%;float: right">
                            <br>
<button data-target="#myModal2" data-toggle="modal" class="btn btn-danger">حذف</button><br><br>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 style="color: red" class="modal-title" id="myModalLabel">اخطار!</h4>
      </div>
                   <form method="post" action="{{ reverse_url('delete_role') }}" id="{{ item.id }}">
                                                                            {% module xsrf_form_html() %}

      <div class="modal-body">
          <h6 style="color: #000000">
              آیا می خواهید نقش
              <strong>
                                {{ item.name }}
              </strong>
              را برای همیشه از سیستم حدف کنید؟
              <br><br>
              با این کار نقش کلیه کاربرانی که دارای این نقش هستند به
<strong>
کاربر معمولی
</strong>

 تغییر خواهد کرد.
          </h6>
                <input name="id" type="hidden" value="{{ item.id }}">



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
        <button type="submit"  class="btn btn-danger">حذف نقش</button>
      </div>
                       </form>
    </div>
  </div>



                        </div>
</div>
                    </li>
                        </strong>

                </ul>
            {% end %}

        </div>
    </div>
</div></div>


</div>

{% end block container %}


{% block scripts %}
<script src="{{ static_url('dashboard/js/common-script.js') }}"></script>

<script type="text/javascript">
       window.onload = function() {
           document.getElementById('m10').className = 'left_nav_active theme_border'
           document.getElementById('o10').style.display = "block";
           document.getElementById('s2').style.color = "green";
       }
    function valid()
    {
        name = document.getElementById('role').value.trim();
        if( name== "")
        {
            document.getElementById('errordiv').hidden = false;
            document.getElementById('errordiv').innerHTML = "نام نقش مورد نظر را وارد کنید";
            return false;

        }

        else
        {
            document.getElementById('errordiv').hidden = true;
            return true
        }
    }
</script>



    }
{% end block scripts %}