{% extends "../base.html" %}

{% block css %}
<link href="{{ static_url('dashboard/css/_all.css') }}" rel="stylesheet" type="text/css">

{% end block css %}

{% block body_div %}
<body class="fixed_header left_nav_fixed atm-spmenu-push right_nav blue_thm light_theme BYekan" onload="oneload()">
{% end block %}

{% block container %}
<div id="one_main">

</div>
{% end block container %}


{% block scripts %}
<script type="text/javascript">
    function oneload() {
        $.ajax({
                    url: '/administration/roles/modify/reload',
                    type: 'GET',
                    success: function (re) {
                        document.getElementById('one_main').innerHTML = re
                    },
                    error: function (re) {
                        document.getElementById('one_main').innerHTML = "error"
                    }
                }
        )


        document.getElementById('m10').className  = 'left_nav_active theme_border'
        document.getElementById('o10').style.display = "block";
        document.getElementById('s1').style.color = "green";

    }
</script>

<script type="text/javascript">
    function load() {
        id = document.getElementById('source').value
        $.ajax({
                    url: '/administration/roles/modify/reload',
                    type: 'post',
                    data: {action: id},
                    success: function (re) {
                        document.getElementById('one_main').innerHTML = re
                        document.getElementById('source').value = id
                    },
                    error: function (re) {
                        document.getElementById('one_main').innerHTML = "error"
                    }
                }

        )


        document.getElementById('m10').className  = 'left_nav_active theme_border'
        document.getElementById('o10').style.display = "block";
        document.getElementById('s1').style.color = "green";
    }

</script>




{% end block scripts %}