{% extends "../../administration/template/base.html" %}

{% block css %}
{% end block css %}



{% block container %}

<div class="col-md-12" >
    <div class="block-web full" style="min-height: 300px">
        <div id="one" class="col-sm-12">

<ul class="group_sortable1">
<p style="border-right-width: 10px;margin-left: 10px;">
<br><br>
<div class="alert alert-danger" role="alert" style="margin-right: 20px;margin-left: 20px;">
    <br>


    <strong>
خطا!
</strong>
    <br>
    <br>
شما مجاز به تغییر نقش کاربر با نام
    <strong>
{{ name }}
        </strong>
به مدیر هیئت نیستید.
    <br>
کاربر فوق هیئتی در سامانه به نام خود ثبت نکرده است.
    <br>
    <br>
    {% from config import Config%}
    {% set admin = Config().packages['ADMIN_SYSTEM'] %}
    <a href="{{admin_url}}/administration/dashboard" style="color: green">
        بازگشت به داشبورد
    </a>
</div>

    </ul>
</div>
        </div>
    </div>

{% end block container %}



{% block scripts %}
{% end block scripts %}




<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>

نتیجه درخواست
</title>
    <link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/basic.css") }}' rel="stylesheet">


<script type="text/javascript">

</script>
</head>

<body style="direction:rtl" class="Mitra">
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">



    <div class="col-md-8 col-md-offset-2 ">
        <div class="form-group" >

<div >


            </div>



    </div>
</div>

<script src="{{static_url('js/bootstrap.js')}}"></script>
</div>
</body>
</html>