<html>
<head>
    <link href="{{ static_url('dashboard/css/_all.css') }}" rel="stylesheet" type="text/css">
</head>

<body class="fixed_header left_nav_fixed atm-spmenu-push right_nav blue_thm light_theme BYekan">

<div>
    <div class="col-sm-6">

        <label form="source" style="font-size: 15px;color: #635F5F !important;">انتخاب نقش </label>
        <select style="font-size: 15px" class="form-control" id="source" name="action" onchange="load()">
            {% for item in roles %}
            <option value="{{ item.id }}"> {{ item.name }} </option>
            {% end %}
        </select>


    </div>


    <br>

    <div id="one" class="col-sm-12">
        <form method="POST" action="{{ reverse_url('change_action') }}">
                                                                                        {% module xsrf_form_html() %}

            <input name="role" type="hidden" value="{{ showaction }}">

            <div class="todo_body ">
                {% for item in action %}
                <h5 class="blue_bg">{{ item.name }}
                </h5>
                {% for act in subaction %}
                {% if act.fk_action == item %}
                <ul class="group_sortable1">
                    <li style="border-bottom-width: 2px;">
                        <p style="border-right-width: 10px;margin-left: 10px;">
                            <input name="{{ act.id }}" type="checkbox" value=""
                                   {% if act.id in  role_action %}checked{% end %}>
                            <label for="ch_1">{{ act.name }}</label>
                        </p>
                    </li>
                </ul>
                {% end %}
                {% end %}
                <br>
                {% end %}
                <button class="btn btn-success" type="submit">ثبت</button>
            </div>
        </form>
    </div>
</div>
</body>


</html>
