{% extends "../base.html" %}

{% block css %}
{% end block css %}


{% block container %}
<div class="col-md-12">
    <div class="block-web">
        <div class="header">
            <h3 class="content-header">لیست کاربران</h3>
        </div>
        <div class="porlets-content">
            <div class="table-responsive">
                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div id="for_search">

                                <div style="margin-top: 2px;">
                                    <form method="get" action="{{ reverse_url('add_user_role') }}">
                                                                                {% module xsrf_form_html() %}
                                        <div id="forname"style="float: right">
                                                                                  نام کاربر:
                                        &nbsp;

                                        <input class="form-control" style="width: 215px;margin-left: 10px" type="text" id="fname"
                                               name="fname" placeholder="نام کاربر">
                                        </div>
                                        <div id="for_lanme" style="float: right;margin-left: 10px;margin-bottom: 10px">

                                        نام خانوادگی:
                                        &nbsp;
                                        <input class="form-control" style="width: 215px" type="text" id="lname"
                                               name="lname" placeholder="نام خانوادگی">
                                        </div>

                                        <div id="for_email" style="float: right;margin-left: 10px;margin-bottom: 10px">

                                        پست الکترونیک:
                                        &nbsp;
                                        <input class="form-control" style="width: 220px;" type="text" name="email"
                                               id="email" placeholder="پست الکترونیک">&nbsp &nbsp
                                        </div>
                                        <div id="for_phone" style="float: right;margin-left: 10px;margin-bottom: 10px">
تلفن تماس:
                                        <input class="form-control" style="width: 220px;" type="text" name="phone"
                                               id="phone" placeholder="تلفن تماس">
                                        </div>
                                        <div style="float: right;margin-left: 10px;margin-bottom: 10px">
                                            <button type="submit" class="btn btn-success">جستجو</button>

</div>

                                    </form>

                                </div>
                            </div>
                            <br>

                            <table class="display table table-bordered table-striped dataTable" id="dynamic-table"
                                   aria-describedby="dynamic-table_info" style="margin-bottom: 100px">
                                <thead>
                                <tr role="row">
                                    <th style="width:10%;vertical-align: inherit" class="center hidden-phone ">تصویر کاربر</th>
                                    <th style="width:20%;vertical-align: inherit" class="center hidden-phone " >
                                        <a style="color: #000000"
                                           href="?fname={{ filter[0] }}&lname={{ filter[1] }}&email={{ filter[2] }}&phone={{ filter[3] }}&sort=sur_name&type={{ filter[5] }}&page={{ page }}">
                                            نام
                                        </a>
                                    </th>
                                    <th style="width:15%;vertical-align: inherit" class="center hidden-phone ">
                                        <a style="color: #000000"
                                           href="?fname={{ filter[0] }}&lname={{ filter[1] }}&email={{ filter[2] }}&phone={{ filter[3] }}&sort=phone&type={{ filter[5] }}&page={{ page }}">
                                            تلفن تماس
                                        </a>
                                    </th>
                                    <th style="width: 25%;vertical-align: inherit" class="center hidden-phone ">
                                        <a style="color: #000000"
                                           href="?fname={{ filter[0] }}&lname={{ filter[1] }}&email={{ filter[2] }}&phone={{ filter[3] }}&sort=email&type={{ filter[5] }}&page={{ page }}">
                                            ایمیل
                                        </a>
                                    </th>
                                    <th style="width: 12%;vertical-align: inherit" class="center hidden-phone ">
                                        <a style="color: #000000"
                                           href="?fname={{ filter[0] }}&lname={{ filter[1] }}&email={{ filter[2] }}&phone={{ filter[3] }}&sort=inserted_date&type={{ filter[5] }}&page={{ page }}">
                                            تاریخ ثبت در سیستم
                                        </a>

                                    </th>
                                    <th style="width:10%;vertical-align: inherit" class="center hidden-phone">نقش</th>
                                    <th style="width:7%;vertical-align: inherit" class="center hidden-phone ">
                                        <a style="color: #000000"
                                           href="?fname={{ filter[0] }}&lname={{ filter[1] }}&email={{ filter[2] }}&phone={{ filter[3] }}&sort=is_active&type={{ filter[5] }}&page={{ page }}">
                                            وضعیت
                                        </a>

                                    </th>
                                </tr>
                                </thead>

                                {% for item in users %}
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr class="gradeX odd">
                                    <td class="center" style="vertical-align: inherit"><img height="40px" width="40px"
                                                            src="{{ static_url('images/users/') }}/{{ item.pic }}">
                                    </td>
                                    <td class="center" style="vertical-align: inherit">

                                        <a style="color: #000000" href="#"
                                               data-modal-id="hpopup{{ item.id }}">
                                        {{ item.fore_name }} {{ item.sur_name }}</a>
                                                                                    <div style="width:500px;top: -6.5px; left: 210px;text-align: right"
                                                 id="hpopup{{ item.id }}" class="modal-box">

<header>
    <a style="color: red" href="#" class="js-modal-close">×</a>
  </header>
                                               &nbsp
                                                &nbsp

                                                <div class="modal-body">
                                                    <div class="user-profile-sidebar profile_widget">
                                                        <div class="row"><img width="150px" height="150px" src="
                                                                {{ static_url('images/users/') }}{{ item.pic }}">

                                                            <div class="user-identity">
                                                                <h4><strong>  {{item.fore_name }} {{ item.sur_name }}</strong></h4>

                                                                <p>


                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="widget-status-data">
                                                        <div class="row">
                                                            <div class="col-md-16">

                                                                <h5><strong>{{ item.score }}</strong><br>
                                                                    امتیاز</h5>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

</td>
                                    <td  style="vertical-align: inherit" class="center ">{{ item.phone }}</td>
                                    <td  style="vertical-align: inherit" class="center ">{{ item.email }}</td>

                                    {% from khayyam import JalaliDate %}
                                    {% set date = JalaliDate(item.inserted_date) %}
                                    <td style="vertical-align: inherit" class="center hidden-phone  sorting_1">{{ date }}</td>
                                    <td style="vertical-align: inherit" class="center hidden-phone  sorting_1">
                                        <div class="dropdown">
                                            <a href="javascript:void(0);"
                                               data-toggle="dropdown">{{ item.fk_role.name }}</a>
                                            <ul class="dropdown-menu" style="margin-left: 50px">
                                                <form method="post" class="form-inline editableform" style="">
                                                                                            {% module xsrf_form_html() %}

                                                    <div class="control-group form-group" style="margin-top: 10%;">
                                                        <div>
                                                            <div class="editable-input">
                                                                <select name="roles" class="form-control input-sm">
                                                                    {% for role in roles %}
                                                                    <option name="role_{{ role.id }}"
                                                                            value="{{ item.id }}_{{ role.id }}">{{ role.name }}</option>
                                                                    {% end %}
                                                                </select>
                                                                <button style="margin-top: 10%" class="btn btn-success">
                                                                    تغییر
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="editable-error-block help-block"
                                                             style="display: none;"></div>
                                                    </div>
                                                </form>
                                            </ul>
                                        </div>

                                    </td>

                                    <td style="vertical-align: inherit" class="center hidden-phone  sorting_1">{% if item.is_active %}تایید
                                        شده{% else %}در انتظار تایید{% end %}</td>

                                </tr>
                                </tbody>
                                {% end %}
                            </table>
                        </div>


                    </div>
                </div>
            </div>
            <!--/table-responsive-->
        </div>
        <!--/porlets-content-->
    </div>
    <!--/block-web-->
</div>
{% end block container %}


{% block scripts %}
<script>
    $(function () {

        var appendthis = ("<div class='modal-overlay js-modal-close'></div>");

        $('a[data-modal-id]').click(function (e) {
            e.preventDefault();
            $("body").append(appendthis);
            $(".modal-overlay").fadeTo(500, 0.7);
            //$(".js-modalbox").fadeIn(500);
            var modalBox = $(this).attr('data-modal-id');
            $('#' + modalBox).fadeIn($(this).data());
        });


        $(".js-modal-close, .modal-overlay").click(function () {
            $(".modal-box, .modal-overlay").fadeOut(500, function () {
                $(".modal-overlay").remove();
            });

        });

        $(window).resize(function () {
            $(".modal-box").css({
                top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                left: ($(window).width() - $(".modal-box").outerWidth()) / 2
            });
        });

        $(window).resize();

    });
</script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>

 <script type="text/javascript">
       window.onload = function() {
        document.getElementById('m40').className  = 'left_nav_active theme_border'
        document.getElementById('o40').style.display = "block";
        document.getElementById('s10').style.color = "green";
}
 </script>


{% end block scripts %}