{% extends "../base.html" %}

{% block css %}
{% end block css %}


{% block container %}
<div class="col-sm-12">
    <div class="block-web full">

        <form action="#">


        <div style="margin-bottom: 0px" class="tab-content">

            <div class="tab-pane animated fadeInRight active" id="about">
                <div class="user-profile-content">
                    <div class="form-group myinput" style="float: right;width: 58%">
                        <h5>
                            مشخصات کاربر:
                        </h5>

                        <div id="for_fname">

                            <div class="form-group">
                                <label for="for_fname">نام</label>
                                <input id="fname" name="fname" type="text" placeholder="تام" id="inputEmail3"
                                       class="form-control">
                            </div>
                        </div>
                        <div id="for_lname" style="clear: both">
                            <div class="form-group">
                                <label for="for_lname">نام خانوادگی</label>
                                <input id="lname" name="lname" type="text" placeholder="نام خانوادگی" id="inputEmail3"
                                       class="form-control">

                            </div>


                        </div>
                        <div id="for_email" style="clear: both">
                            <div class="form-group">
                                <label for="email">پست الکترونیک</label>
                                <input id="email" name="email" type="email" placeholder="پست الکترونیک"
                                       class="form-control">

                            </div>


                        </div>

                        <div id="for_phone" style="clear: both">
                            <div class="form-group">
                                <label for="phone">تلفن تماس:</label>
                                <input id="phone" name="phone" type="tel" placeholder="تلفن تماس" class="form-control">

                            </div>


                        </div>

                        <div id="for_role" style="clear: both;margin-top: 2%">
                            <div class="form-group">
                                <label for="role">نقش</label>
                                <select style="font-size: 15px" class="form-control" id="source" name="action">
                                    {% for item in roles %}
                                    <option value="{{ item.id }}"> {{ item.name }} </option>
                                    {% end %}
                                </select>

                                <div id="alertdiv" class="alert alert-danger" style="margin-top: 2%" hidden="hidden">


                                    <br>


                                </div>

                                <button onclick="valid()" style="margin-top: 2%" type="button" class="btn btn-success">
                                    ثبت
                                </button>
                                &nbsp &nbsp <img width="20px" height="20px" id="load"
                                                 src="{{ static_url('images/uploading.gif') }}" hidden="hidden">


                            </div>


                        </div>
                    </div>
                    <div class="myalertmsg" style="float:left;text-align: right;margin-top: 1%">
                        <li class="fa fa-info"></li>
                        &nbsp
                        <strong>
                            ساخت کاربر جدید سایت
                        </strong>
                        <br>
                        مشخصات کاربر مورد نظر را وارد کنید
                        <br>
                        <br>
                        پس از ثبت مشخصات ایمیلی حاوی مشخصات حساب کاربری کاربر جدید ، به آدرس ایمیل وارد شده ارسال می
                        گردد..
                    </div>


                </div>

            </div>

        </div>

        </form>


        <!--</form>-->

    </div>

</div>
{% end block container %}


{% block scripts %}
<script type="text/javascript">
    function valid() {
        _fname = document.getElementById('fname').value.trim();
        _lname = document.getElementById('lname').value.trim();
        _email = document.getElementById('email').value.trim();
        _phone = document.getElementById('phone').value.trim();
        _action = document.getElementById('source').value.trim();
        _error = document.getElementById('alertdiv');
        _load = document.getElementById('load');
        flag = true;

        if (!_fname || !_lname || !_phone || !email) {
            _error.hidden = false;

            _error.innerHTML = "لطفا تمامی ورودی ها را وارد کنید";
            flag = false;

        }

        else if (_phone.length > 11 || _phone.length < 10) {
            _error.hidden = false;

            _error.innerHTML = "لطفا شماره تلفن را صحیح وارد کنید";
            flag = false;

        }

        else if (_phone != "") {
            var phoneno = /^\d{11}$/;
            phoneno2 = /^\d{10}$/;
            if (_phone.match(phoneno)) {
                flag = true;
            }

            else if (_phone.match(phoneno2)) {
                flag = true;

            }
            else {
                _error.hidden = false;

                _error.innerHTML = "لطفا شماره تلفن را صحیح وارد کنید";
                flag = false;
            }
        }


        else if (_email) {
            var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
            var address = _email;

            if (reg.test(address) == false) {
                _error.innerHTML = "ایمیل وارد شده اشتباه است.";
                _error.hidden = false;

                flag = false;
            }
        }

        if (flag == true) {
            _error.hidden = true;
            _load.hidden = false;

            $.ajax({
                url: '/administration/add_user',
                type: "POST",
                data: {fname: _fname, lname: _lname, phone: _phone, email: _email, action: _action},

                success: function (res) {
                    _error.hidden = false;
                    _load.hidden = true;

                    if (res['resualt'] == 'ok') {
                        document.getElementById('alertdiv').className = 'alert alert-success';
                        _error.innerHTML = res['txt'];
                    }
                    else {
                 document.getElementById('alertdiv').className = 'alert alert-danger';

                        _error.innerHTML = res['txt'];
                    }


                },

                error: function (res) {
                    _load.hidden = true;
                 document.getElementById('alertdiv').className = 'alert alert-danger';
                    _error.hidden = false;
                    _error.innerHTML = "متاسفانه خطایی رخ داده است لطفا مجددا امتحان کنید"

                }
            });
        }


    }
</script>

 <script type="text/javascript">
       window.onload = function() {
        document.getElementById('m40').className  = 'left_nav_active theme_border'
        document.getElementById('o40').style.display = "block";
        document.getElementById('s12').style.color = "green";
}
 </script>

{% end block scripts %}







