{% extends "../base.html" %}

{% block css %}
{% end block css %}

{% block container %}
<div class="col-md-12">
    <div class="block-web">
        <div class="header">

            <h4 class="content-header">
                درخواست های عضویت منتظر تایید
            </h4>
        </div>
        <div class="porlets-content">
            <div class="table-responsive">
                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                <div id="for_search">

                                </div>
                                <br>

                                <table class="display table table-bordered table-striped dataTable" id="dynamic-table"
                                       aria-describedby="dynamic-table_info">
                                    <thead>
                                    <tr role="row">
                                        <th style="width:10%;" class="center hidden-phone ">تصویر کاربر</th>
                                        <th style="width:22%;" class="center hidden-phone ">
                                            <a style="color: #000000"
                                               href="?fname={{ filter[0] }}&lname={{ filter[1] }}&email={{ filter[2] }}&phone={{ filter[3] }}&sort=sur_name&type={{ filter[5] }}&page={{ page }}">
                                                نام
                                            </a>
                                        </th>
                                        <th style="width:17%;" class="center hidden-phone ">
                                            <a style="color: #000000"
                                               href="?fname={{ filter[0] }}&lname={{ filter[1] }}&email={{ filter[2] }}&phone={{ filter[3] }}&sort=phone&type={{ filter[5] }}&page={{ page }}">
                                                تلفن تماس
                                            </a>
                                        </th>
                                        <th style="width: 27%" class="center hidden-phone ">
                                            <a style="color: #000000"
                                               href="?fname={{ filter[0] }}&lname={{ filter[1] }}&email={{ filter[2] }}&phone={{ filter[3] }}&sort=email&type={{ filter[5] }}&page={{ page }}">
                                                ایمیل
                                            </a>
                                        </th>
                                        <th style="width: 16%" class="center hidden-phone ">
                                            <a style="color: #000000"
                                               href="?fname={{ filter[0] }}&lname={{ filter[1] }}&email={{ filter[2] }}&phone={{ filter[3] }}&sort=inserted_date&type={{ filter[5] }}&page={{ page }}">
                                                تاریخ ثبت در سیستم
                                            </a>

                                        </th>
                                        <th style="width:6%" class="center hidden-phone ">


                                        </th>

                                    </tr>
                                    </thead>

                                    {% for item in users %}
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    <tr class="gradeX odd">
                                        <td class="center" style="vertical-align: inherit"><img height="40px"
                                                                                                width="40px"
                                                                                                src="{{ static_url('images/users/') }}/{{ item.pic }}">
                                        <td style="vertical-align: inherit">

                                            <a style="color: #000000" href="#"
                                               data-modal-id="hpopup{{ item.id }}">
                                                {{ item.fore_name }} {{ item.sur_name }}</a>

                                            <div style="width:500px;top: -6.5px; left: 210px;text-align: right"
                                                 id="hpopup{{ item.id }}" class="modal-box">

                                                <header>
                                                    <a style="color: red" href="#" class="js-modal-close">×</a>
                                                </header>
                                                &nbsp
                                                &nbsp

                                                <div class="modal-body">
                                                    <div class="user-profile-sidebar profile_widget">
                                                        <div class="row"><img width="150px" height="150px" src="
                                                                {{ static_url('images/users/') }}{{ item.pic }}">

                                                            <div class="user-identity">
                                                                <h4>
                                                                    <strong>  {{ item.fore_name }} {{ item.sur_name }}</strong>
                                                                </h4>

                                                                <p>


                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="widget-status-data">
                                                        <div class="row">
                                                            <div class="col-md-16">

                                                                <h5><strong>{{ item.score }}</strong><br>
                                                                    امتیاز</h5>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </td>
                                        <td style="vertical-align: inherit" class="center ">{{ item.phone }}</td>
                                        <td style="vertical-align: inherit" class="center ">{{ item.email }}</td>

                                        {% from khayyam import JalaliDate %}
                                        {% set date = JalaliDate(item.inserted_date) %}
                                        <td style="vertical-align: inherit"
                                            class="center hidden-phone  sorting_1">{{ date }}</td>

                                        <td style="vertical-align: inherit" class="center hidden-phone  sorting_1">
                                            <form id="accept{{ item.id }}" method="post" enctype="multipart/form-data"
                                                  action="{{ reverse_url('request_member') }}" style="margin-top: -3px">
                                                                                        {% module xsrf_form_html() %}

                                                <input type="hidden" value="{{ item.id }}" name="id" >

                                                <a href="#"
                                                   onclick="document.getElementById('accept{{ item.id }}').submit()"
                                                   style="color: green">
                                                    تایید
                                                </a>

                                            </form>
                                        <a style="color: red" href="#" data-modal-id="popup1">

                                                    عدم تایید
                                                </a>


                                        </td>
                                            <div id="popup1" class="modal-box" style="width: 500px">

                                                <div class="modal-body" style="text-align: right">

                                                    <header>
                                                        <a href="#" class="js-modal-close close">×</a>
                                                        <h3>
                                                            عدم تایید درخواست
                                                        </h3>
                                                    </header>
                                                    <br>
                                                    <label>
لطفا علت عدم تایید درخواست عضویت را برای ارسال به کاربر بنویسید:
                                                    </label>
                                                    <br>
                                                    <form method="post" action="{{ reverse_url('my_heyat_request_reject') }}">
                                                                                                {% module xsrf_form_html() %}

                                                    <input name="id" type="hidden" value="{{ item.id }}">
                                                    <br>
                                                    <textarea name="msg" style="width: 400px" placeholder="علت عدم تایید درخواست عضویت"></textarea>
                                                    <br>
                                                    <br>
                                                    <button class="btn btn-success" type="submit">
                                                        ارسال
                                                    </button>
                                                    </form>
                                                </div>
                                            </div>

                                    </tr>
                                    </tbody>
                                    {% end %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/table-responsive-->
        </div>
        <!--/porlets-content-->
        {% from  math import ceil %}

        {% set num = ceil(count/20) %}
        {% if int(num) != 0 %}
        <ul class="pagination pagination-sm" style="direction: ltr">
            <li {% if page == 1 %}class="disabled"{% end %}><a
                    {% if page != 1 %}href="?fname={{ filter[0] }}&lname={{ filter[1] }}&email={{ filter[2] }}&phone={{ filter[3] }}&sort= {{ filter[4] }}&type={% if filter[5]== 'A' %}D{% else %}A{% end %}&page={{ page-1 }}"
                    {% else %}href="#"{% end %}>«</a></li>
            {% for i in range(int(num)) %}
            <li {% if page == i+1 %}class="active"{% end %}><a
                    href="?fname={{ filter[0] }}&lname={{ filter[1] }}&email={{ filter[2] }}&phone={{ filter[3] }}&sort={{ filter[4] }}&type={% if filter[5]== 'A' %}D{% else %}A{% end %}&page=
                            {{ i+1 }}">{{ i+1 }}</a></li>

            {% end %}

            <li {% if page == int(num) %}class="disabled" {% end %} ><a
                    {% if page != int(num) %}href="?fname={{ filter[0] }}&lname={{ filter[1] }}&email={{ filter[2] }}&phone={{ filter[3] }}&sort={{ filter[4] }}&type={% if filter[5]== 'A' %}D{% else %}A{% end %}&page=
                            {{ page+1 }}" {% else %}href="#"{% end %}>»</a></li>

        </ul>
        {% end %}
    </div>
    <!--/block-web-->
</div>
{% end block container %}

{% block scripts %}
<script type="text/javascript">
      function valid(id)
    {
        ans = confirm("درخواست حذف شود؟");
        if(ans == true)
        {
            document.getElementById('delete'+id).submit();
        }
        else
        {
            return false;
        }
    }

</script>
<script>
    $(function () {

        var appendthis = ("<div class='modal-overlay js-modal-close'></div>");

        $('a[data-modal-id]').click(function (e) {
            e.preventDefault();
            $("body").append(appendthis);
            $(".modal-overlay").fadeTo(500, 0.7);
            //$(".js-modalbox").fadeIn(500);
            var modalBox = $(this).attr('data-modal-id');
            $('#' + modalBox).fadeIn($(this).data());
        });


        $(".js-modal-close, .modal-overlay").click(function () {
            $(".modal-box, .modal-overlay").fadeOut(500, function () {
                $(".modal-overlay").remove();
            });

        });

        $(window).resize(function () {
            $(".modal-box").css({
                top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                left: ($(window).width() - $(".modal-box").outerWidth()) / 2
            });
        });

        $(window).resize();

    });
</script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();


</script>

<script>
    $(function () {

        var appendthis = ("<div class='modal-overlay js-modal-close'></div>");

        $('a[data-modal-id]').click(function (e) {
            e.preventDefault();
            $("body").append(appendthis);
            $(".modal-overlay").fadeTo(500, 0.7);
            //$(".js-modalbox").fadeIn(500);
            var modalBox = $(this).attr('data-modal-id');
            $('#' + modalBox).fadeIn($(this).data());
        });


        $(".js-modal-close, .modal-overlay").click(function () {
            $(".modal-box, .modal-overlay").fadeOut(500, function () {
                $(".modal-overlay").remove();
            });

        });

        $(window).resize(function () {
            $(".modal-box").css({
                top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                left: ($(window).width() - $(".modal-box").outerWidth()) / 2
            });
        });

        $(window).resize();

    });
</script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>

<script type="text/javascript">
      document.getElementById('m30').className  = 'left_nav_active theme_border'
        document.getElementById('o30').style.display = "block";
        document.getElementById('s33').style.color = "green";
</script>

{% end block scripts %}