<html>
<head>
    <title>
داشبورد کارشناس
    </title>
    <link href={{static_url('css/style-export_dashboard.css')}} rel="stylesheet" type="text/css">
    <link href="{{static_url('css/index/style.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ static_url('css/basic.css')}}" rel="stylesheet">
</head>
<body class="Mitra">
<div id="wrap">
  <div id="regbar">
    <div id="navthing">
            <div style="width:95%;float: right; margin-right: 10px;">
                    <h3 class="Mitra">
داشبورد کارشناس
                    </h3>

      <div>
          {% from config import Config %}
          {% set pubic_url=Config().packages['PUBLIC_SYSTEM'] %}
          <a href="{{pubic_url}}/" id="">صفحه نخست</a> |
          <a href="{{pubic_url}}/uploaded_list">انتخاب فیلم برای کارشناسی</a> |
          <a href="{{pubic_url}}/user_logout">خروج</a>
        </div>
    </div>
    </div>
  </div>
</div>
{% if tf == 1%}

<div class="move">
  <video class="video" title="{{catInfo.name}}" poster="{{catInfo.pic}}" controls >

      <source src="{{static_url('public/upload/')}}{{catInfo.url}}">
      <p>heyat</p>
  </video>
</div>
<div class="about">
 <hr><a href="{{static_url('public/upload/')}}{{catInfo.url}}" target="_blank" title="دانلود">دانلود</a>
    <form  method="post" action="{{ reverse_url('ExpertDashboardFrm1') }}">

        <br>
        <label>سرتیتر</label>
        <textarea name = "headline">{{catInfo.headline}}</textarea><br>
        <label>تیتر اصلی</label>
        <textarea name = "headline_main">{{catInfo.headline_main}}</textarea><br>
        <label>توضیحات</label>
        <textarea name = "comment">{{catInfo.comment}}</textarea><br>
        <label>تگ ها</label>
        <textarea name = "tags"></textarea><br>
        <label>پیام کارشناس</label>
        <textarea name="expert_message"></textarea><br>
        <label>امتیاز</label>
        <input name = "score" type = "number" value = "{{catInfo.score}}"><br>
        <select name="accept">
        <option value="2"selected >اانتظار</option><option value="1" >تایید</option><option value="0" >رد</option></select>
        <!--<input type="submit" name="btn_accept" value="تایید فیلم"title="تایید فیلم">-->
        <label> تایید </label>
        <input type = "submit" name = "btn" value = "ثبت تغییرات"title = "ویرایش">
        <input type="text" name="name_" value="{{catInfo.id}}"/>
    </form>
</div>

{%end%}


<form action="{{ reverse_url('ExpertDashboardFrm2') }}" name="frm2" method="post">
    {%if select == -1 %}
    <select name="select">
        <option value="-1" selected  >در انتظار تایید</option><option value="0">رد شده ها </option><option value="1">تایید شده ها </option></select>
    {%elif select == 0%}
    <select name="select">
        <option value="-1"  >در انتظار تایید</option><option value="0"selected>رد شده ها </option><option value="1">تایید شده ها </option></select>
    {%else%}
    <select name="select">
    <option value="-1"  >در انتظار تایید</option><option value="0">رد شده ها </option><option value="1"selected>تایید شده ها </option></select>
    {%end%}
    <input type="submit"></form>

    <div class="col-lg-6">
            <section class="panel default blue_title h2">
              <div class="panel-heading">لیست <span class="semi-bold">فیلم ها</span> </div>
              <div class="panel-body">

                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>نام فیلم</th>
                      <th>نام هییت</th>
                    </tr>
                  </thead>
                  <tbody>
                  {%for video in videos%}
                    <tr>
                      <td><a href="/expert/dashboard/{{video.id}}" >{{video.id}}</a></td>
                      <td>{{video.name}}</td>
                      <td>{{video.fk_heyat.name}}</td>
                    </tr>
                  {%end%}
                  </tbody>
                </table>
              </div>
              <div></div>
            </section>
          </div>

</body>
</html>




