{% extends "../../base/template/index/index.html" %}
{% block container %}

        <div class="row margin-top-30">

            <div class="box_content" style="min-height: 500px">
                <div class="col-md-12 col-sm-12">
                    <div class="row" style="margin-bottom: 25px">
                        <div class="col-md-2 col-sm-2" style="color: #0591DE; font-size: 16pt; text-align: center">
                            جستجو
                        </div>

                        <div>
                            نام هیئت:
                            <input type="text" class="input-sm form-group" name="heyatname" id="heyatname" onkeydown="search()" >
                            &nbsp; &nbsp;
                            استان:
                            <select style="width: 200px" id="Ostan" runat="server" onchange="Func(this.value)">
                                <option value=""></option>
                                <option value="  ,آذرشهر ,اسکو ,اهر ,بستان‌آباد ,بناب ,تبریز ,جلفا ,چاراویماق ,سراب ,شبستر ,عجب‌شیر ,کلیبر ,مراغه ,مرند ,ملکان ,میانه ,ورزقان ,هریس ,هشترود">
                                    آذربایجان شرقی
                                </option>
                                <option value="  ,ارومیه ,اشنویه ,بوکان ,پیرانشهر ,تکاب ,چالدران ,خوی ,سردشت ,سلماس ,شاهین‌دژ ,ماکو ,مهاباد ,میاندوآب ,نقده">
                                    آذربایجان غربی
                                </option>
                                <option value="  ,اردبیل ,بیله‌سوار ,پارس‌آباد ,خلخال ,کوثر ,گِرمی ,مِشگین‌شهر ,نَمین ,نیر">
                                    اردبیل
                                </option>

                                <option value="  ,آران و بیدگل ,اردستان ,اصفهان ,برخوار و میمه ,تیران و کرون ,چادگان ,خمینی‌شهر ,خوانسار ,سمیرم ,شهرضا ,سمیرم سفلی ,فریدن ,فریدون‌شهر ,فلاورجان ,کاشان ,گلپایگان ,لنجان ,مبارکه ,نائین ,نجف‌آباد ,نطنز">
                                    اصفهان
                                </option>
                                <option value="  ,آبدانان ,ایلام ,ایوان ,دره‌شهر ,دهلران ,شیروان و چرداول ,مهران">
                                    ایلام
                                </option>
                                <option value="  ,بوشهر ,تنگستان ,جم ,دشتستان ,دشتی,دیر ,دیلم ,کنگان ,گناوه">بوشهر
                                </option>
                                <option value="  ,اسلام‌شهر ,پاکدشت ,تهران ,دماوند ,رباط‌کریم ,ری ,ساوجبلاغ ,شمیرانات ,شهریار ,فیروزکوه ,کرج ,نظرآباد ,ورامین">
                                    تهران
                                </option>
                                <option value="  ,اردل ,بروجن ,شهرکرد ,فارسان ,کوهرنگ ,لردگان">چهارمحال و بختیاری
                                </option>
                                <option value="  ,بیرجند ,درمیان ,سرایان ,سربیشه ,فردوس ,قائنات,نهبندان">خراسان جنوبی
                                </option>

                                <option value="  ,بردسکن ,تایباد ,تربت جام ,تربت حیدریه ,چناران ,خلیل‌آباد ,خواف ,درگز ,رشتخوار ,سبزوار ,سرخس ,فریمان ,قوچان ,کاشمر ,کلات ,گناباد ,مشهد ,مه ولات ,نیشابور">
                                    خراسان رضوی
                                </option>
                                <option value="  ,اسفراین ,بجنورد ,جاجرم ,شیروان ,فاروج ,مانه و سملقان">خراسان شمالی
                                </option>
                                <option value="  ,آبادان ,امیدیه ,اندیمشک ,اهواز ,ایذه ,باغ‌ملک ,بندر ماهشهر ,بهبهان ,خرمشهر ,دزفول ,دشت آزادگان ,رامشیر ,رامهرمز ,شادگان ,شوش ,شوشتر ,گتوند ,لالی ,مسجد سلیمان,هندیجان ">
                                    خوزستان
                                </option>
                                <option value="  ,ابهر ,ایجرود ,خدابنده ,خرمدره ,زنجان ,طارم ,ماه‌نشان">زنجان</option>
                                <option value="  ,دامغان ,سمنان ,شاهرود ,گرمسار ,مهدی‌شهر">سمنان</option>
                                <option value="  ,ایرانشهر ,چابهار ,خاش ,دلگان ,زابل ,زاهدان ,زهک ,سراوان ,سرباز ,کنارک ,نیک‌شهر">
                                    سیستان و بلوچستان
                                </option>

                                <option value="  ,آباده ,ارسنجان ,استهبان ,اقلید ,بوانات ,پاسارگاد ,جهرم ,خرم‌بید ,خنج ,داراب ,زرین‌دشت ,سپیدان ,شیراز ,فراشبند ,فسا ,فیروزآباد ,قیر و کارزین ,کازرون ,لارستان ,لامِرد ,مرودشت ,ممسنی ,مهر ,نی‌ریز">
                                    فارس
                                </option>
                                <option value="  ,آبیک ,البرز ,بوئین‌زهرا ,تاکستان ,قزوین">قزوین</option>
                                <option value="  ,قم">قم</option>
                                <option value="  ,بانه ,بیجار ,دیواندره ,سروآباد ,سقز ,سنندج ,قروه ,کامیاران ,مریوان">
                                    کردستان
                                </option>
                                <option value="  ,بافت ,بردسیر ,بم ,جیرفت ,راور ,رفسنجان ,رودبار جنوب ,زرند ,سیرجان ,شهر بابک ,عنبرآباد ,قلعه گنج ,کرمان ,کوهبنان ,کهنوج ,منوجان">
                                    کرمان
                                </option>
                                <option value="  ,اسلام‌آباد غرب ,پاوه ,ثلاث باباجانی ,جوانرود ,دالاهو ,روانسر ,سرپل ذهاب ,سنقر ,صحنه ,قصر شیرین ,کرمانشاه ,کنگاور ,گیلان غرب ,هرسین">
                                    کرمانشاه
                                </option>

                                <option value="  ,بویراحمد ,بهمئی ,دنا ,کهگیلویه ,گچساران">کهگیلویه و بویراحمد</option>
                                <option value="  ,آزادشهر ,آق‌قلا ,بندر گز ,ترکمن ,رامیان ,علی‌آباد ,کردکوی ,کلاله ,گرگان ,گنبد کاووس ,مراوه‌تپه ,مینودشت">
                                    گلستان
                                </option>
                                <option value="  ,آستارا ,آستانه اشرفیه ,اَملَش ,بندر انزلی ,رشت ,رضوانشهر ,رودبار ,رودسر ,سیاهکل ,شَفت ,صومعه‌سرا ,طوالش ,فومَن ,لاهیجان ,لنگرود ,ماسال">
                                    گیلان
                                </option>
                                <option value="  ,ازنا ,الیگودرز ,بروجرد ,پل‌دختر ,خرم‌آباد ,دورود ,دلفان ,سلسله ,کوهدشت">
                                    لرستان
                                </option>
                                <option value="  ,آمل ,بابل ,بابلسر ,بهشهر ,تنکابن ,جویبار ,چالوس ,رامسر ,ساری ,سوادکوه ,قائم‌شهر ,گلوگاه ,محمودآباد ,نکا ,نور ,نوشهر">
                                    مازندران
                                </option>
                                <option value="  ,آشتیان ,اراک ,تفرش ,خمین ,دلیجان ,زرندیه ,ساوه ,شازند ,کمیجان ,محلات">
                                    مرکزی
                                </option>

                                <option value="  ,ابوموسی ,بستک ,بندر عباس ,بندر لنگه ,جاسک ,حاجی‌آباد ,شهرستان خمیر ,رودان  ,قشم ,گاوبندی ,میناب">
                                    هرمزگان
                                </option>
                                <option value="  ,اسدآباد ,بهار ,تویسرکان ,رزن ,کبودرآهنگ ,ملایر ,نهاوند ,همدان">همدان
                                </option>
                                <option value="  ,ابرکوه ,اردکان ,بافق ,تفت ,خاتم ,صدوق ,طبس ,مهریز ,مِیبُد ,یزد">یزد
                                </option>
                            </select>
                            &nbsp; &nbsp;
                            شهرستان:

                            <select style="width: 200px" id="Shahrestan" runat="server" onchange="search()">
                            </select>

                            &nbsp;

                            &nbsp <img style="width:20px;height: 20px;" src="{{ static_url('images/uploading.gif') }}"
                                       hidden="hidden" id="loading">

                        </div>


                    </div>
                </div>
                <div class="row">
                    <div id = "mainpage"class="group_tab_content" data-action="1">
                        {% for heyat in heyats %}
                        <div id="main_page">
                            <div class="col-md-3 col-sm-3 text-center" style="margin-bottom: 20px">
                                <img src="{{ static_url('images/heyats') }}/{{ heyat.logo }}"
                                     style="height: 100px;width: 144px">
                                {% set strr = heyat.id.__str__()+'m'+heyat.name %}
                                <div class="margin-top-10 font-size-9"><a
                                        href="/heyat/channel/{{ strr.replace(" ","_") }}">{{ heyat.name }}</a></div>
                                <div class="margin-top-10 font-size-9">
                                <span>
                                    {{ heyat.fk_address.city }}
                                    {% if heyat.fk_address.village %}
                                    -{{ heyat.fk_address.village }}
                                    {% end %}
                                </span>
                                </div>
                                <div class="font-size-9"><span>( {{ heyat.fk_address.province }} )</span></div>
                            </div>

                        </div>

                        {% end %}

                    </div>
                        <input type="hidden" value="{{ page }}" id="page">
                        <input type="hidden" value="{{ count }}" id="count">

                </div>
                <div style="text-align: center;margin-top: 25px;margin-bottom: 25px ">
                    <img style="width:35px;height: 35px;" src="{{ static_url('images/uploading.gif') }}"
                                        id="pageloading" hidden="hidden">
                </div>

            </div>

        </div>
{% end block container %}

{% block javascript %}

<link href="{{ static_url('css/jquery.auto-complete.css') }}" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{{ static_url('js/jquery.auto-complete.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/jquery.auto-complete.min.js') }}"></script>
<script type="text/javascript">

     $(document).ready(function () {
        heyatname = $(this).val();
        $.ajax({
            url: "/admin/heyat/auto_load",
            type: "POST",
            data: {heyat: heyatname},
            success: function (response) {
                $('#heyatname').autoComplete({
                    minChars: 1,
                    source: function (term, suggest) {
                        term = term.toLowerCase();
                        var choices = response['key'];
                        var suggestions = [];
                        for (i = 0; i < choices.length; i++)
                            if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                        suggest(suggestions);

                    }


                });
            }
        });


    });


    $(window).scroll(function () {
        if ($(window).scrollTop() >= $(document).height() - $(window).height() - 200 ) {
            page = document.getElementById('page').value;
          page =parseInt(page)+1;
            document.getElementById('page').value = page;
            count = parseInt(document.getElementById('count').value);
            if(page <= count)

            {
                     load(page);
            }




        }
    });
    function Func(Shahrestanha) {
        var _Shahrestan = document.getElementById("Shahrestan");
        var _ostan = document.getElementById("Ostan");
        _Shahrestan.options.length = 0;
        if (Shahrestanha != "") {
            var arr = Shahrestanha.split(",");
            for (i = 0; i < arr.length; i++) {
                if (arr[i] != "") {
                    _Shahrestan.options[_Shahrestan.options.length] = new Option(arr[i], arr[i]);
                }
            }


        }
             search()
    }



    function search()
            {
                _Shahrestan = document.getElementById("Shahrestan");
                if (_Shahrestan.selectedIndex != -1)
                {
                    _city = _Shahrestan.options[_Shahrestan.selectedIndex].text;
                }
                else
                {
                    _city =""
                }

                _provce = document.getElementById("Ostan");
                _ostan = _provce.options[_provce.selectedIndex].text;
                document.getElementById('loading').hidden = false;

                _name = document.getElementById('heyatname').value;
                document.getElementById('page').value = 1;

                $.ajax({
                            url: "/channel/loading",
                            type: "POST",
                            data: {ostan: _ostan , city:_city ,name:_name,page:1},
                            success: function (response) {
                             document.getElementById('loading').hidden = true;
                                document.getElementById('mainpage').innerHTML = "";

                        if (response != 'end')
                        {
                            for(i=0;i<=response[0]['count']-1;++i)
                            {
                              _id = response[i+1]['id'];
                             _name =response[i+1]['name'];
                              _name =_name.replace(' ', '_');
                             _logo  =response[i+1]['logo'];
                             _province =response[i+1]['province'];
                             _city =response[i+1]['city'];
                             _village =response[i+1]['village'];

                                _item = "<div id='main_page'><div class='col-md-3 col-sm-3 text-center' style='margin-bottom: 20px'><img src='{{ static_url('images/heyats') }}/"
                                       + _logo + "'style='height: 100px;width: 144px'> <div class='margin-top-10 font-size-9'><a href='/heyat/channel/"+_id + "m" + _name +
                                        "'>"+ _name+"</a></div><div class='margin-top-10 font-size-9'><span> " + _city ;
                                if (_village)
                                {
                                    _item += "-"+ _village;
                                }
                                _item+= "</span></div><div class='font-size-9'><span>" + _province +"</span></div></div></div>";
                                document.getElementById('mainpage').innerHTML += _item;


                            }

                        }


                            }
                        }
                )
            }


    function load(page) {
        document.getElementById('pageloading').hidden = false;
               _Shahrestan = document.getElementById("Shahrestan");
                if (_Shahrestan.selectedIndex != -1)
                {
                    _city = _Shahrestan.options[_Shahrestan.selectedIndex].text;
                }
                else
                {
                    _city =""
                }

                _provce = document.getElementById("Ostan");
                _ostan = _provce.options[_provce.selectedIndex].text;
                document.getElementById('loading').hidden = false;

                _name = document.getElementById('heyatname').value;
        count = parseInt( document.getElementById('count').value);
        if(page <= count) {
            $.ajax({
                        url: "/channel/loading",
                        type: "POST",
                        data: {page: page, ostan: _ostan, city: _city, name: _name},
                        success: function (response) {
                            document.getElementById('pageloading').hidden = true;
                            document.getElementById('loading').hidden = true;

                            if (response != 'end') {
                                for (i = 0; i <= response[0]['count'] - 1; ++i) {
                                    _id = response[i + 1]['id'];
                                    _name = response[i + 1]['name'];
                                    _name = _name.replace(' ', '_');
                                    _logo = response[i + 1]['logo'];
                                    _province = response[i + 1]['province'];
                                    _city = response[i + 1]['city'];
                                    _village = response[i + 1]['village'];

                                    _item = "<div id='main_page'><div class='col-md-3 col-sm-3 text-center' style='margin-bottom: 20px'><img src='{{ static_url('images/heyats') }}/"
                                    + _logo + "'style='height: 100px;width: 144px'> <div class='margin-top-10 font-size-9'><a href='/heyat/channel/" + _id + "m" + _name +
                                    "'>" + _name + "</a></div><div class='margin-top-10 font-size-9'><span> " + _city;
                                    if (_village) {
                                        _item += "-" + _village;
                                    }
                                    _item += "</span></div><div class='font-size-9'><span>(" + _province + ")</span></div></div></div>";
                                    document.getElementById('mainpage').innerHTML += _item;


                                }

                            }


                        }

                    }
            )
        }

    }

</script>
{%  end block javascript %}