<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>
    {{heyat.name}}
</title>
   <script src="{{static_url('js/bootstrap.js')}}"></script>
    <link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/basic.css") }}' rel="stylesheet">
    <link href="{{static_url('css/index/style.css')}}" rel="stylesheet" type="text/css">

</head>

<body class="Mitra">


     <div id="wrap">
  <div id="regbar">
    <div id="navthing">
            <div style="width:95%;float: right; margin-right: 10px;">
                    <h3>
داشبورد مدیر هییت
                    </h3>

      <div>
          {% from config import Config %}
          {% set pubic_url=Config().packages['PUBLIC_SYSTEM'] %}
          <a href="{{ pubic_url }}" id="">صفحه نخست</a> |
          <a target="_blank" href="{{reverse_url('video_upload_1')}}">آپلود فیلم</a> |
          <a href="{{ pubic_url }}/user_logout ">خروج</a>

          <div class="arrow-up"></div>
        </div>
        </div>
    </div>
    </div>
  </div>
</div>

<div class="col-lg-6">
            <section class="panel default blue_title h2">
              <div class="panel-heading">لیست  <span class="semi-bold">فیلم ها</span> </div>
              <div class="panel-body">

                <table class="table">
                  <thead>
                    <tr>
                      <th>نام فیلم</th>
                      <th>فیلم</th>
                      <th>وضعیت</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for video in videos%}
                    <tr>
                      <td>{{video.name}}</td>
                      <td>
                          <video class="video" poster="/static/" controls="">
                              <source src="{{static_url('public/upload/')}}{{video.url}}" type="video/mp4">

                          </video>
                      </td>
                      <td>
                          {% if video.is_accepted == -1%}
                          درحال بررسی توسط کارشناس
                          {% elif video.is_accepted == 0%}
                          توسط کارشناس رد شده
                          {%else%}
                          توسط کارشناس تایید شد
                          {%end%}

                      </td>
                    </tr>
                  {%end%}
                  </tbody>
                </table>
              </div>
              <div></div>
            </section>
          </div>
<div class="col-lg-6">
            <section class="panel default blue_title h2">
              <div class="panel-heading">
              اعضای هیئت
              </div>
              <div class="panel-body">

                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>نام</th>
                      <th>نام خانوادگی</th>
                      <th>ایمیل</th>
                        <th>وضعیت</th>
                    </tr>
                  </thead>
                  <tbody>
                  {%for user in users%}
                    <tr>
                      <td>{{user.fk_user.id}}</td>
                      <td>{{user.fk_user.fore_name}}</td>
                      <td>{{user.fk_user.sur_name}}</td>
                      <td>{{user.fk_user.email}}</td>
                        <td>
                          {% if user.fk_user.is_active == 0%}
                            تایید نشده
                          {%else%}
                            تایید شده
                          {%end%}

                      </td>
                    </tr>
                  {%end%}
                  </tbody>
                </table>
              </div>
              <div></div>
            </section>
          </div>
<div class="col-lg-6">
            <section class="panel default blue_title h2">
              <div class="panel-heading" >
                  لیست درخواست های عضویت
              </div>
              <div class="panel-body">


  {% for item in member %}
                <form method="post"  action="{{ reverse_url('active_member') }}" style="float: right">
                     {% module xsrf_form_html() %}
                    <input type="text" value="{{item.fk_user.fore_name}}  {{item.fk_user.sur_name}} " disabled>
                    <input type="hidden" value="{{item.id}}" name="id">
                    <button class="btn btn-success" type="submit">قبول</button>
                </form>

                <form method="post" action="{{ reverse_url('delete_member') }}">
                     {% module xsrf_form_html() %}
                       <input type="hidden" value="{{item.id}}" name="id">
                       <button class="btn btn-danger" type="submit">رد</button>
                </form>

                <br>
            {%end%}              </div>
            </section>
          </div>
<div class="col-lg-6">
            <section class="panel default blue_title h2">
              <div class="panel-heading">
صندوق پیام

              </div>
              <div class="panel-body">

                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>نام ویدیو</th>
                      <th>متن پیام</th>
                      <th>زمان</th>
                      <th>وضعیت</th>
                    </tr>
                  </thead>
                  <tbody>
                  {%for notification in notifications%}
                    <tr>
                      <td>{{notification.id}}</td>
                      <td>{{notification.video_name}}</td>
                      <td>{{notification.text}}</td>
                      <td>{{notification.date}}</td>
                      <td>
                          {% if notification.is_read == 0%}
خوانده نشده
                          {%else%}
خوانده شده
                          {%end%}

                      </td>
                    </tr>
                  {%end%}
                  </tbody>
                </table>
              </div>
              <div></div>
            </section>
          </div>
</body>
</body>
<!--<script src="{{static_url('js/jquery.min.js')}}"></script>-->
<script src="{{static_url('js/menu.js')}}"></script>


</html>






