{% extends "../../base/template/index/index.html" %}

{% block other_css %}
<style>

    body {
        background: #000;
    }

    .cont {
        width: 93%;
        max-width: 350px;
        text-align: center;
        margin: 4% auto;
        padding: 30px 0;
        background: #111;
        color: #EEE;
        border-radius: 5px;
        border: thin solid #444;
        overflow: hidden;
    }

    hr {
        margin: 20px;
        border: none;
        border-bottom: thin solid rgba(255, 255, 255, .1);
    }

    div.title {
        font-size: 2em;
    }

    h1 span {
        font-weight: 300;
        color: #Fd4;
    }

    div.stars {
        display: inline-block;
    }

    input.star {
        display: none;
    }

    label.star {
        float: right;
        padding: 5px;
        font-size: 15px;
        color: #444;
        transition: all .2s;
    }

    input.star:checked ~ label.star:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    }

    input.star-5:checked ~ label.star:before {
        color: #EACE0B;
    {#        text-shadow: 0 0 20px #952;#}
    }

    input.star-1:checked ~ label.star:before {
        color: #F62;
    }

    label.star:hover {
        transform: rotate(-15deg) scale(1.3);
    }

    label.star:before {
        content: '\f006';
        font-family: FontAwesome;
    }
</style>
<style>


    body {
        background: #000;
    }

    .cont {
        width: 93%;
        max-width: 350px;
        text-align: center;
        margin: 4% auto;
        padding: 30px 0;
        background: #111;
        color: #EEE;
        border-radius: 5px;
        border: thin solid #444;
        overflow: hidden;
    }

    hr {
        margin: 20px;
        border: none;
        border-bottom: thin solid rgba(255, 255, 255, .1);
    }

    div.title {
        font-size: 2em;
    }

    h1 span {
        font-weight: 300;
        color: #Fd4;
    }

    div.stars {
        display: inline-block;
    }

    input.star {
        display: none;
    }

    label.star {
        float: right;
        padding: 5px;
        font-size: 15px;
        color: #444;
        transition: all .2s;
    }

    input.star:checked ~ label.star:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    }

    input.star-5:checked ~ label.star:before {
        color: #FE7;
    {#        text-shadow: 0 0 20px #952;#}
    }

    input.star-1:checked ~ label.star:before {
        color: #F62;
    }

    label.star:hover {
        transform: rotate(-15deg) scale(1.3);
    }

    label.star:before {
        content: '\f006';
        font-family: FontAwesome;
    }

    @media (min-width: 200px) {
        me {
            width: 100%;
        }
    }
</style>

{% end block other_css %}


{% block container %}
<div class="row margin-top-30">
    <div class="box_content">
        <div class="clearfix theme_active video_video_list" id="wrapper">
            <style>
                .v3_userHeader {
                    background: #00A0DC;
                }

                .v3_userHeader .v3_userHeader_inner {
                }
            </style>
            <style>
                .v3_userHeader {
                    position: relative;
                    border-bottom: 9px solid #e8e8e8;
                }

                .v3_userHeader_shadow {
                    position: absolute;
                    bottom: 0px;
                    /*
                    background: url(http://static.aparat.com/public/images/ver3/userheader_shadow.png) bottom center repeat-x;
                    */
                    /*height: 150px;*/
                    height: 100%;
                    width: 100%;
                    z-index: 1;
                    -webkit-box-shadow: inset 0px -105px 160px -11px rgba(0, 0, 0, 0.3);
                    -moz-box-shadow: inset 0px -105px 160px -11px rgba(0, 0, 0, 0.3);
                    box-shadow: inset 0px -105px 160px -11px rgba(0, 0, 0, 0.3);
                }

                .v3_userHeader_inner > img {
                    max-width: 100%;
                }

                .v3_userHeader_inner {
                    background-size: cover;
                    position: relative;
                    min-height: 150px;
                }

                .v3_userHeader_photo {
                    width: 120px;
                    float: right;
                    border-radius: 5px;
                    margin: 0px 10px;
                }

                .v3_userHeader_follow,
                .v3_userHeader_linkbar {
                    position: absolute;
                    right: 140px;
                    bottom: 0px;
                    color: #FFF;
                }

                .v3_userHeader_name > a {
                    display: block;
                    width: 100%;
                    color: #FFF;
                    font-size: 30px;
                    text-overflow: ellipsis;
                    max-width: 500px;
                    max-height: 64px;
                }

                .v3_userHeader_name {
                    max-height: 64px;
                    color: #FFF;
                    line-height: 32px;
                    margin: 0px 0px 10px 15px;
                    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px;
                    /*border: 1px solid #F00;*/
                    position: absolute;
                    bottom: 25px;
                    right: 139px;
                }

                .v3_userHeader_name > b {
                    display: block;
                    font-weight: normal;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    max-width: 300px;
                }

                .v3_userHeader_followWrapper {
                    /*margin-right: 130px;*/
                }

                .v3_userHeader_follow u {
                    padding: 3px 5px 2px;
                    background: #ed145b;
                    border-radius: 0px 3px 3px 0px;
                    text-decoration: none;
                    font-size: 13px;
                }

                .v3_userHeader_follow i {
                    background: #ed416d;
                    padding: 2px 5px 2px;
                    border-radius: 3px 0px 0px 3px;
                    font-size: 14px;
                    font-style: normal;
                }

                /*
                .v3_userHeader_follow{
                color: #FFF;
                line-height: 10px;
                margin-top: 10px;;
                }
                */
                .v3_userHeader_follow.v3_userHeader_unfollow u {
                    background: #555;
                }

                .v3_userHeader_follow.v3_userHeader_unfollow i {
                    background: #666;
                }

                .v3_userHeader_right {
                    position: absolute;
                    bottom: 10px;
                    border: 0px solid #F00;
                    max-width: 650px;;
                    z-index: 2;
                    width: 100%;
                }

                .v3_userHeader_left {
                    position: absolute;
                    left: 18px;
                    bottom: 18px;
                    width: 200px;
                    z-index: 2;
                }

                .v3_userHeader_left > a {
                    color: #FFF;
                    text-align: left;
                    font-size: 13px;
                    border-bottom: 1px solid #a2a2a2;
                    display: block;
                    padding-bottom: 8px;
                    max-width: 300px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    direction: ltr;
                    text-shadow: #000 0px 0px 4px;
                }

                .v3_userHeader_left > span {
                    padding-top: 10px;;
                }

                .v3_userHeader_left > span a:last-child {
                    margin-right: 0px;
                }

                .v3_userHeader_left > span a.v3_userHeader_twitter:after {
                    content: "t";
                }

                .v3_userHeader_left > span a.v3_userHeader_cloob:after {
                    content: "c";
                }

                .v3_userHeader_left > span a.v3_userHeader_lenzor:after {
                    content: "l";
                }

                .v3_userHeader_left > span a.v3_userHeader_rss:after {
                    content: "r";
                }

                .v3_userHeader_left > span a.v3_userHeader_facebook:after {
                    content: "f";
                }

                .v3_userHeader_left > span a:after {
                    content: "n";
                }

                .v3_userHeader_left > span a {
                    box-shadow: #000 0px 0px 4px;
                    float: left;
                    border-radius: 50%;
                    background: #a1a1a1;
                    font-family: "Icon";
                    color: #FFF;
                    width: 32px;
                    height: 32px;
                    display: block;
                    text-align: center;
                    line-height: 32px;
                    font-size: 16px;
                    -webkit-font-smoothing: antialiased;
                    margin-right: 10px;
                }

                .v3_userHeaderMenu {
                    background: #e8e8e8;
                }

                .v3_userHeaderMenu > div {
                    display: flex;
                    max-width: 500px;
                    margin: 0px auto;
                }

                .v3_userHeaderMenu > div > a:first-child {
                    border-right: 0px solid #dfdfdf;
                }

                .v3_userHeaderMenu > div > a {
                    border-right: 1px solid #dfdfdf;
                    text-align: center;
                    padding: 10px;
                    flex: 1;
                    display: block;
                    float: right;
                }

                .v3_userHeaderMenu > div > a > b {
                    display: block;
                    color: #000;
                    font-size: 24px;
                    line-height: 20px;
                }

                .v3_userHeaderMenu > div > a > u {
                    display: block;
                    color: #848484;
                    text-decoration: none;
                    font-size: 14px;
                    line-height: 17px;
                }

                .v3_userHeader_linkbar a {
                    background: #555;
                    color: #FFF;
                    padding: 5px 10px 7px;
                    border-radius: 2px;
                    margin-left: 5px;
                    float: right;
                }

                @media (max-width: 900px) {
                    .v3_userHeader_left {
                        display: none;
                    }
                }

                @media (max-width: 650px) {
                    .v3_userHeader_name.v3_userHeader_nameLong > a {
                        font-size: 20px;
                        margin-top: 10px;
                    }

                    .v3_userHeader_photo {
                        width: 95px;
                    }

                    .v3_userHeader_name > b {
                        margin-bottom: 0px;
                    }

                    .v3_userHeader_name {
                        right: 120px;
                        margin-top: 0px;
                    }

                    .v3_userHeader_follow,
                    .v3_userHeader_linkbar {
                        right: 120px;
                    }
                }

                @media (max-width: 480px) {
                    .v3_userHeader_name > a {
                        font-size: 20px;
                        line-height: 22px;
                        margin-top: 10px
                    }

                    .v3_userHeader_name > b {
                        max-width: 200px;
                    }
                }

                @media (max-width: 350px) {
                    .v3_userHeader_name > b {
                        max-width: 100px;
                    }

                    .col-md-3 .col-sm-3 .text-center {
                        width: 100%;
                    }
                }

                #themeArea_front .profile-one-leftmenu {
                    float: right;
                }

                #themeArea_front .profile-one-rightmenu {
                    float: left;
                }

                .v3_userHeader_followZero .v3_userHeader_follow i {
                    display: none;
                }

                .v3_userHeader_followZero .v3_userHeader_follow u {
                    border-radius: 3px;
                }
            </style>
            <div class="v3_userHeader">
                <div class="v3_userHeader_bg">
                    <div class="v3_userHeader_shadow"></div>
                    <div class="v2_page-width v3_userHeader_inner">
                        <div class="v2_page-width v3_userHeader_right">
                            <div class="v3_userHeader_photo">
                                <a class="">
                                    <div style="position:relative;min-width: 21px;">
                                        <div class="chanelOfficial brand_chanel"></div>
                                        <div id="cls_28863020" class=""
                                             style="background: url('{{ static_url('images/heyats') }}/{{ heyat.logo }}') no-repeat;background-size:100% 100%;background-position-x:50%;background-position-y:50%;background-color:#272727;border-radius: 2px;border: 1px solid #CCCCCC;padding-top:100%;border-radius: 5px;border-width:2px; border-color: #FFF"></div>
                                    </div>
                                </a></div>
                            <div class="v3_userHeader_name ">
                                <a class="hidden_s1">{{ heyat.name }}</a>

                                <p><i class="fa fa-map-marker"></i>
                                    {{ heyat.fk_address.province }}
                                    - {{ heyat.fk_address.city }}
                                    {% if heyat.fk_address.village %}
                                    - {{ heyat.fk_address.village }}
                                    {% end %}
                                    {% if heyat.fk_address.address %}
                                    - {{ heyat.fk_address.address }}
                                    {% end %}
                                    <br><i class="fa fa-user"></i>
                                    {{ heyat.fk_admin.fore_name }} {{ heyat.fk_admin.sur_name }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_box_container">
            <div class="box_content">
                <div class="row">
                    <div class="group_tab_content" data-action="2">
                        {% if not request == -1 %}
                        {% if request == 3 %}
                        <div class="col-md-3 col-sm-3 text-center me">
                            <div class="margin-top-10 font-size-12"><a>عضویت</a></div>
                            <div class="margin-top-10 font-size-9">
                                <span><button class="R_butt_blue membership">
                                    مدیر هیئت
                                </button></span>
                            </div>
                        </div>
                        {% elif request == 2 %}
                        <div class="col-md-3 col-sm-3 text-center me">
                            <div class="margin-top-10 font-size-12"><a>عضویت</a></div>
                            <div class="margin-top-10 font-size-9">
                                <form action="/heyat/request?id={{ heyat.id }}" method="post">
                                    {% module xsrf_form_html() %}
                                <span><button class="R_butt_blue membership">
                                    درخواست عضویت
                                </button></span>
                                </form>
                            </div>
                        </div>
                        {% elif request == 1 %}
                        {#                                                <div class="col-md-3 col-sm-3 text-center" style="#}
                        {#                        width: 25%;#}
                        {#                        ">#}
                        {#                                                    <div class="margin-top-10 font-size-12"><a>عضویت</a></div>#}
                        {#                                                    <div class="margin-top-10 font-size-9"><span><button class="R_butt_blue membership">#}
                        {#                                                        عضو هیئت#}
                        {#                                                    </button></span></div>#}
                        {#                                                </div>#}
                        {% else %}
                        <div class="col-md-3 col-sm-3 text-center me">
                            <div class="margin-top-10 font-size-12"><a> عضویت در هیئت</a></div>
                            <div class="margin-top-10 font-size-9"><span style="
    font-size: large;
    color: lightpink;
">
                                درانتظار تایید
                            </span></div>
                        </div>
                        {% end %}
                        {% end %}
                        {% if not request == -1 %}
                        <div class="col-md-3 col-sm-3 text-center me">
                            <div class="margin-top-10 font-size-12"><a>دنبال کردن</a></div>
                            <div class="margin-top-10 font-size-9"><span><button class="R_butt_blue membership">
                                دنبال کردن
                            </button></span></div>
                        </div>
                        {% end %}
                        <div class="col-md-3 col-sm-3 text-center me">
                            <div class="margin-top-10 font-size-12"><a>امتیاز</a></div>
                            <div class="margin-top-10 font-size-10"><span>{{ heyat.score }}</span></div>
                        </div>
                        {% if not request == -1 %}
                        <div class="col-md-3 col-sm-3 text-center me">
                            <div class="margin-top-10 font-size-12"><a>ثبت امتیاز</a></div>
                            <div class="margin-top-10 font-size-10"><span><div class="stars">


                                <form>
                                    {% module xsrf_form_html() %}
                                    <input class="star star-5" id="star-5" type="radio" name="star"
                                           onclick="getResults();" value="5" {% if score==5 %} checked{% end %}>
                                    <label class="star star-5" for="star-5"></label>
                                    <input class="star star-4" id="star-4" type="radio" name="star"
                                           onclick="getResults();" value="4"{% if score==4 %} checked{% end %}>
                                    <label class="star star-4" for="star-4"></label>
                                    <input class="star star-3" id="star-3" type="radio" name="star"
                                           onclick="getResults();" value="3"{% if score==3 %} checked{% end %}>
                                    <label class="star star-3" for="star-3"></label>
                                    <input class="star star-2" id="star-2" type="radio" name="star"
                                           onclick="getResults();" value="2"{% if score==2 %} checked{% end %}>
                                    <label class="star star-2" for="star-2"></label>
                                    <input class="star star-1" id="star-1" type="radio" name="star"
                                           onclick="getResults();" value="1"{% if score==1 %} checked{% end %}>
                                    <label class="star star-1" for="star-1"></label>
                                </form>
                                <script>

                                    var testVar = '';

                                    function getResults() {
                                        var radios = document.getElementsByName("star");

                                        for (var i = 0; i < radios.length; i++) {
                                            if (radios[i].checked) {
                                                testVar = (radios[i].value);
                                                {#                                                 alert(radios[i].value);#}
                                                break;
                                            }
                                        }
                                        var link = "../score?hid={{ heyat.id }}&score=" + testVar;
                                        window.open(link, "_self")
                                    }


                                    {#                                    document.getElementById("myLink").innerHTML = '<a href=\"' + 'www.example.com?pri=' + testVar + '\" onclick=\"$(this).modal({width:880, height:460}).open(); return false;\" >' + 'My Modal Link' + "</a>";#}

                                </script>

                            </div></span></div>
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="main_box_container">
            <div class="box_content">
                <div class="row">
                    <div class="group_tab_content" data-action="2">
                        <div class="col-md-3 col-sm-3 text-center me">
                            <div class="margin-top-10 font-size-12"><a>تاریخ تاسیس</a></div>
                            <div class="margin-top-10 font-size-10">
                                <span>
                                    {% if heyat.register_date %}
                                {{ heyat.register_date }}
                                    {% else %}
                                        تعیین نشده
                                    {% end %}
                            </span></div>
                        </div>
                        <div class="col-md-3 col-sm-3 text-center me">
                            <div class="margin-top-10 font-size-12"><a>ثبت در سازمان تبلیغات</a></div>
                            <div class="margin-top-10 font-size-10">
                                <span>
                                     {% if heyat.org_register_date %}
                                {{ heyat.org_register_date }}
                                    {% else %}
                                        تعیین نشده
                                    {% end %}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 text-center me">
                            <div class="margin-top-10 font-size-12"><a>ثبت در مشعر</a></div>
                            <div class="margin-top-10 font-size-10">
                                <span>
                                    {% if heyat.mashaar_register_date %}
                                    {{ heyat.mashaar_register_date }}
                                    {% else %}
                                        تعیین نشده
                                    {% end %}
                                </span></div>
                        </div>
                        <div class="col-md-3 col-sm-3 text-center me">
                            <div class="margin-top-10 font-size-12"><a>تاریخ عضویت</a></div>
                            {% from khayyam import JalaliDate %}
                            {% set date = JalaliDate(heyat.inserted_date) %}
                            <div class="margin-top-10 font-size-10"><span>{{ str(date).replace('-','/') }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="group_tab_content" data-action="1">
                <div class="col-md-5 col-sm-5">
                    <div class="v3_boxTitle_wrapper clearfix">
                        <div class="margin-top-10 font-size-10"><span>ویدئو های کانال</span></div>
                    </div>
                    <div style="
border-top: 2px solid #ccc;
height: 0px; width: 100%;
"></div>
                    <br>
                    {% for video in videos %}
                    <div class="spec_news">
                        <img src="{% if video.pic != None %}{{ static_url('upload/pic') }}/{{ video.fk_heyat.id }}/{{ video.pic }}{% else %}{{ static_url('images/cover.jpg') }}{% end %}">

                        <div class="new_footer">
                            <div>
                                <i class="fa fa-chevron-left" style="color: #ffffff"></i>
                                {% set vid = video.id.__str__()+'m'+video.name %}
                                <a href="/heyat/video/{{ vid.replace(" ","_") }}"><span
                                        style="color: #ffffff; vertical-align: 2px; margin-right: 5px">{{ video.name }}</span></a>
                            </div>
                            <div>
                                <i class="fa fa-eye" style="color: #ffffff"></i>
                                <span style="color: #ffffff; vertical-align: 2px; margin-right: 5px">{{ video.visit }}</span>
                                <i class="fa fa-clock-o" style="color: #ffffff; margin-right: 30px"></i>
                                {% from khayyam import JalaliDate %}
                                {% set date = JalaliDate(video.inserted_date) %}
                                <span style="color: #ffffff; vertical-align: 2px; margin-right: 5px">{{ str(date).replace('-','/') }}</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% end %}
                    {% from  math import ceil %}
                    {% set num = ceil(count /10) %}
                    <ul class="pagination pagination-sm" style="direction: ltr">
                        <li {% if page == 1 %}class="disabled"{% end %}><a
                                {% if page != 1 %}href="?page={{ page-1 }}"
                                {% else %}href="#"{% end %}>»</a></li>
                        {% for i in range(int(num)) %}
                        <li {% if page == i+1 %}class="active"{% end %}><a
                                href="?page={{ i+1 }}">{{ i+1 }}</a></li>

                        {% end %}

                        <li {% if page == int(num) %}class="disabled" {% end %} ><a
                                {% if page != int(num) %}href="?page={{ page+1 }}" {% else %}href="#"{% end %}>«</a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-5 col-sm-5" style="
/* float: left; */
">
                    <div class="v3_boxTitle_wrapper clearfix">
                        <div class="margin-top-10 font-size-10"><span>اعضای هیئت</span></div>
                    </div>
                    <div style="
border-top: 2px solid #ccc;
height: 0px; width: 100%;
"></div>
                    <br>

                    <div class="v3_userHeader" style="height: 100px;">

                        <div class="v3_userHeader_shadow" style="
height: 100px;
background-color: aquamarine;
"></div>
                        <div class="v2_page-width v3_userHeader_inner" style="
height: 100px;
position: initial;
">
                            <div class="v2_page-width v3_userHeader_right">
                                <div class="v3_userHeader_photo" style="
width: 70px;
">

                                    <div style="position:relative;min-width: 21px;">
                                        <div class="chanelOfficial brand_chanel"></div>
                                        <div id="cls_28863020" class=""
                                             style="background: url('{{ static_url('images/users') }}/{{ heyat.fk_admin.pic }}') no-repeat;background-size:100% 100%;background-position-x:50%;background-position-y:50%;background-color:#272727;border-radius: 2px;border: 1px solid #CCCCCC;padding-top:100%;border-radius: 5px;border-width:2px; border-color: #FFF"></div>
                                    </div>
                                </div>
                                {{ heyat.fk_admin.fore_name }} {{ heyat.fk_admin.sur_name }}

                                <p><i class="fa fa-briefcase"></i>
                                    مدیر هیئت
                                </p>
                            </div>
                        </div>
                    </div>
                    {% for user in users %}
                    <div class="v3_userHeader" style="height: 100px;">

                        <div class="v3_userHeader_shadow" style="
height: 100px;
"></div>
                        <div class="v2_page-width v3_userHeader_inner" style="
height: 100px;
position: initial;
">
                            <div class="v2_page-width v3_userHeader_right">
                                <div class="v3_userHeader_photo" style="
width: 70px;
">

                                    <div style="position:relative;min-width: 21px;">
                                        <div class="chanelOfficial brand_chanel"></div>
                                        <div id="cls_28863020" class=""
                                             style="background: url('{{ static_url('images/users') }}/{{ user.fk_user.pic }}') no-repeat;background-size:100% 100%;background-position-x:50%;background-position-y:50%;background-color:#272727;border-radius: 2px;border: 1px solid #CCCCCC;padding-top:100%;border-radius: 5px;border-width:2px; border-color: #FFF"></div>
                                    </div>
                                </div>
                                {{ user.fk_user.fore_name }} {{ user.fk_user.sur_name }}

                                <p><i class="fa fa-briefcase"></i>
                                    {{ user.fk_user.fk_role.name }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% end %}
                </div>
            </div>
        </div>
    </div>
</div>

{% end block container %}

