{% extends "../../base/template/index/index.html" %}
{% block other_css %}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>jQuery Real Person</title>

    <style>
        label {
            display: inline-block;
            width: 20%;
        }

        .realperson-challenge {
            display: inline-block
        }
    </style>
    <script>
        $(function () {
            $('#defaultReal').realperson();
        });
    </script>
</head>
<style>
    @import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);

    * {
        margin: 0;
        padding: 0;
    {#  font-family: roboto;#}
    }

    body {
        background: #000;
    }

    .cont {
        width: 93%;
        max-width: 350px;
        text-align: center;
        margin: 4% auto;
        padding: 30px 0;
        background: #111;
        color: #EEE;
        border-radius: 5px;
        border: thin solid #444;
        overflow: hidden;
    }

    hr {
        margin: 20px;
        border: none;
        border-bottom: thin solid rgba(255, 255, 255, .1);
    }

    div.title {
        font-size: 2em;
    }

    h1 span {
        font-weight: 300;
        color: #Fd4;
    }

    div.stars {
        display: inline-block;
    }

    input.star {
        display: none;
    }

    label.star {
        float: right;
        padding: 5px;
        font-size: 15px;
        color: #444;
        transition: all .2s;
    }

    input.star:checked ~ label.star:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    }

    input.star-5:checked ~ label.star:before {
        color: #FE7;
        text-shadow: 0 0 20px #952;
    }

    input.star-1:checked ~ label.star:before {
        color: #F62;
    }

    label.star:hover {
        transform: rotate(-15deg) scale(1.3);
    }

    label.star:before {
        content: '\f006';
        font-family: FontAwesome;
    }
</style>
<style>
    #video-one {
        width: 60%;
        float: right;
        padding: 0 2%;
        -moz-border-radius: 5px;
        position: relative;
    }

    #box_recoms {
        width: 40%;
        float: left;
    }

    @media (max-width: 800px) {
        #video-one {
            width: 100%;
            float: right;
            padding: 0 2%;
            -moz-border-radius: 5px;
            position: relative;
        }

        #box_recoms {
            width: 100%;
            float: right;
        }
    }
</style>
{% end block other_css %}
{% block container %}

<div class="main" style="
background-color: white;
margin-top: 10px;
margin-bottom: 10px;
">
    <div class="content" style="
/* max-width: 980px; */
margin: 20px;
/* margin-left: 20px; */
">
        <div id="themeArea_back" class="clearfix">
            <div id="themeArea_mid" class="clearfix">
                <div id="themeArea_front" class="clearfix">
                    <div id="video-one">
                        <div class="videoOne_title">
                            <div class=""
                                 style="color: #0591DE; font-size: 24pt; text-align: right;margin-top: 20px"><a
                                    title="نام ویدئو"
                                    style="
    cursor: context-menu;
    text-decoration: blink;
    color: #676565;
">{{ video.name }}</a></div>
                            <div class="clearfix show_video_title">
                                <div class="show_right">
                                    <p><i class="fa fa-user"></i>
                                        <a title="ارسال کننده ویدئو" style="
    cursor: context-menu;
    text-decoration: blink;
    color: #676565;
">{{ video.fk_uploader.fore_name }} {{ video.fk_uploader.sur_name }}</a>
                                        &nbsp;&nbsp;
                                        <i class="fa fa-clock-o"></i>
                                        {% from khayyam import JalaliDate %}
                                        {% set date = JalaliDate(video.inserted_date) %}
                                        <a title="زمان ارسال" style="
    cursor: context-menu;
    text-decoration: blink;
    color: #676565;
">
                                            {{ str(date).replace('-','/') }}
                                            &nbsp;&nbsp;</a>
                                        <i class="fa fa-flag"></i>
                                        <a title="نام هیئت" style="
    cursor: context-menu;
    text-decoration: blink;
    color: #676565;
">
                                            {{ video.fk_heyat.name }}</a>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="videoOne_player">

                            <video controls=""
                                   poster="{{ static_url('upload/pic') }}/{{ video.fk_heyat.id }}/{{ video.pic }}"
                                   id="video1" width="100%"
                                   title="{{ video.name }}"
                                   data-videoloaded4="1" style="z-index: 0;">
                                <source src="{{ static_url('upload/video') }}/{{ video.fk_heyat.id }}/{{ video.url }}.webm"
                                        type="video/webm">
                                <source src="{{ static_url('upload/video') }}/{{ video.fk_heyat.id }}/{{ video.url }}.mp4"
                                        type="video/mp4">

                                مرورگر شما از MTML5 پشتیبانی نمیکند!
                            </video>
                        </div>
                        <div class="clearfix show_video_title" style="
background-color: lavender;
margin-top: 5px;
margin-bottom: 5px;
padding: 5px;
">
                            <div class="show_right">
                                <p style="
    float: right;
    margin-top: 10px;
    margin-bottom: auto;
    width: 45%;
    min-width: 15em;
"><i class="fa fa-eye"></i>
                                    <a title="تعداد بازدیدها" style="
    cursor: context-menu;
    text-decoration: blink;
    color: #676565;
"><label id="visit">{{ video.visit }}</label></a> &nbsp;&nbsp;<i
                                            class="fa fa-star-o"></i></i>

                                    <a title="امتیاز ویدئو" style="
    cursor: context-menu;
    text-decoration: blink;
    color: #676565;
"><label id="score"> {{ video.score }}</label></a> &nbsp;&nbsp;<i
                                            class="fa fa-heart-o"> </i>
                                    <a title="تعداد لایک ها" style="
    cursor: context-menu;
    text-decoration: blink;
    color: #676565;
"><label id="like">{{ like }}</label></a>


                                </p>
                                {% if not login_user == "مهمان" %}
                                <div class="stars" style="
                                        {#    min-width: 100px;#}
                                        margin-top: 5px;
                                        float: left;
                                        width: 200px;
                                        margin-bottom: auto;

                                        ">
                                    <div style="float: inherit; width: 20%;margin-top: 4px">
                                        <button id="btn_like" onclick="like({{ video.id }},{{ login_id }})"
                                                class="btn btn-success btn-xs" style="float: left;margin-left: 15px">
                                            پسندیدم
                                        </button>
                                    </div>
                                    <div style="width: 50%">
                                        <form>
                                            {% module xsrf_form_html() %}
                                            <input class="star star-5" id="star-5" type="radio" name="star"
                                                   onclick="getResults();" value="5" {% if score==5 %} checked{% end %}>
                                            <label class="star star-5" for="star-5"></label>
                                            <input class="star star-4" id="star-4" type="radio" name="star"
                                                   onclick="getResults();" value="4"{% if score==4 %} checked{% end %}>
                                            <label class="star star-4" for="star-4"></label>
                                            <input class="star star-3" id="star-3" type="radio" name="star"
                                                   onclick="getResults();" value="3"{% if score==3 %} checked{% end %}>
                                            <label class="star star-3" for="star-3"></label>
                                            <input class="star star-2" id="star-2" type="radio" name="star"
                                                   onclick="getResults();" value="2"{% if score==2 %} checked{% end %}>
                                            <label class="star star-2" for="star-2"></label>
                                            <input class="star star-1" id="star-1" type="radio" name="star"
                                                   onclick="getResults();" value="1"{% if score==1 %} checked{% end %}>
                                            <label class="star star-1" for="star-1"></label>
                                        </form>
                                    </div>
                                    <div id="errorlike" hidden="hidden">
                                        <label style="color:red; width: inherit">
                                            شما قبلا این ویدئو را پسندیده اید!

                                        </label>
                                    </div>
                                    <script>

                                        var testVar = '';

                                        function getResults() {
                                            var radios = document.getElementsByName("star");

                                            for (var i = 0; i < radios.length; i++) {
                                                if (radios[i].checked) {
                                                    testVar = (radios[i].value);
                                                    {#                                                 alert(radios[i].value);#}
                                                    break;
                                                }
                                            }
                                            var link = "../videos/score?vid={{ video.id }}&score=" + testVar;
                                            window.open(link, "_self")
                                        }


                                        {#                                    document.getElementById("myLink").innerHTML = '<a href=\"' + 'www.example.com?pri=' + testVar + '\" onclick=\"$(this).modal({width:880, height:460}).open(); return false;\" >' + 'My Modal Link' + "</a>";#}

                                    </script>

                                </div>
                                {% end %}
                            </div>
                            {% if video.ext_format == 'ok' %}
                            <br><br>
                            {#                            static_url('upload/video') }}/{{ video.fk_heyat.id }}/{{ video.url#}
                            <a target="_blank" title="دانلود فیلم"
                               href="/download/{{ video.fk_heyat.id }}m{{ video.url }}.mp4" style="
float: right;
font-size: xx-large;
">
                                <i class="fa fa-cloud-download"></i>
                            </a>
                            {% end %}
                        </div>

                        <div class="clearfix show_video_title" style="
background-color: lavender;
margin-top: 5px;
margin-bottom: 5px;
padding: 5px;
">
                            <div class="show_right">
                                <p><i class="fa fa-map-marker"></i>
                                    <a title="آدرس محل برگزاری ویدئو" style="
    cursor: context-menu;
    text-decoration: blink;
    color: #676565;
">{% if video.fk_address %}
                                        {{ video.fk_address.province }}
                                        - {{ video.fk_address.city }}
                                        {% if video.fk_address.village %}
                                        - {{ video.fk_address.village }}
                                        {% end %}
                                        {% if video.fk_address.address %}
                                        - {{ video.fk_address.address }}
                                        {% end %}</a>
                                    {% else %}
                                    <a title="آدرس هیئت" style="
    cursor: context-menu;
    text-decoration: blink;
    color: #676565;
">
                                        {% if video.fk_heyat.fk_address %}
                                        {{ video.fk_heyat.fk_address.province }}
                                        - {{ video.fk_heyat.fk_address.city }}
                                        {% if video.fk_heyat.fk_address.village %}
                                        - {{ video.fk_heyat.fk_address.village }}
                                        {% end %}
                                        {% if video.fk_heyat.fk_address.address %}
                                        - {{ video.fk_heyat.fk_address.address }}
                                        {% end %}
                                        {% end %}
                                        {% end %}</a>
                                    &nbsp;&nbsp;
                                    <a title="زمان برگزاری" style="
    cursor: context-menu;
    text-decoration: blink;
    color: #676565;
"><i class="fa fa-clock-o"></i>
                                        {{ video.date }}</a>
                                </p>
                            </div>
                        </div>
                        <div class="clearfix show_video_title" style="
background-color: lavender;
margin-top: 5px;
margin-bottom: 5px;
padding: 5px;
">
                            {% if video.comment %}
                            <div class="show_right">
                                <p> &nbsp;&nbsp;<i class="fa fa-info"></i>
                                    {{ video.comment }}
                                </p>
                            </div>
                        </div>
                        {% end %}
                        <div class="clearfix">
                            <div class="v3_boxTitle_wrapper clearfix">
                                <div class="margin-top-10 font-size-10"><span>اجرا کنندگان</span></div>
                            </div>
                            <div style="
border-top: 2px solid #ccc;
height: 0px; width: 100%;
"></div>
                            <!-- CAt STart-->
                            {% for artist in artists %}
                            <div class="clearfix video_one_tag" style="
border-radius: 6px;
font-weight: normal;
line-height: 12px;
padding-top: 7px;
padding-left: 7px;
padding-right: 7px;
margin: 5px 2px;
display: block;
float: right;
background-color: lavender;
">
                                <a href="../user/{{ artist.fk_user.id }}m{{ artist.fk_user.fore_name }}_{{ artist.fk_user.sur_name }} "
                                   title="{{ artist.fk_user.fore_name }} {{ artist.fk_user.sur_name }}"
                                   class="video_one_tag_link">
                                    <div class="cat_right">{{ artist.fk_user.fore_name }} {{ artist.fk_user.sur_name }}</div>
                                    <div class="cat_left">&nbsp;</div>
                                </a>
                            </div>
                            {% end %}
                            <!-- CAt ENd-->
                            <!-- TAg STart-->
                            <style>
                                .tag_shadow {
                                    border: 1px solid lavender;
                                    color: lavender;
                                }
                            </style>
                            <!-- TAg ENd-->
                        </div>
                        <div class="clearfix">
                            <div class="v3_boxTitle_wrapper clearfix">
                                <div class="margin-top-10 font-size-10"><span>موضوعات فیلم</span></div>
                            </div>
                            <div style="
border-top: 2px solid #ccc;
height: 0px; width: 100%;
"></div>
                            <!-- CAt STart-->
                            {% for subject in subjects %}
                            <div class="clearfix video_one_tag" style="
border-radius: 6px;
font-weight: normal;
line-height: 12px;
padding-top: 7px;
padding-left: 7px;
padding-right: 7px;
margin: 5px 2px;
display: block;
float: right;
background-color: #E2DEDE;
">
                                <div class="cat_right">{{ subject.fk_subject_domain.name }}</div>
                                <div class="cat_left">&nbsp;</div>
                            </div>
                            {% end %}
                            <!-- CAt ENd-->
                            <!-- TAg STart-->
                            <style>
                                .tag_shadow {
                                    border: 1px solid lavender;
                                    color: lavender;
                                }
                            </style>
                            <!-- TAg ENd-->
                        </div>
                        <div class="clearfix">
                            <div class="v3_boxTitle_wrapper clearfix">
                                <div class="margin-top-10 font-size-10"><span>تگ ها</span></div>
                            </div>
                            <div style="
border-top: 2px solid #ccc;
height: 0px; width: 100%;
"></div>
                            <!-- CAt STart-->
                            {% for keyword in keywords %}
                            <div class="clearfix video_one_tag" style="
border-radius: 6px;
font-weight: normal;
line-height: 12px;
padding-top: 7px;
padding-left: 7px;
padding-right: 7px;
margin: 5px 2px;
display: block;
float: right;
background-color: #E2DEDE;
">
                                <a href="" title=""
                                   class="video_one_tag_link">
                                    <div class="cat_right">{{ keyword.fk_keyword.name }}</div>
                                    <div class="cat_left">&nbsp;</div>
                                </a></div>
                            {% end %}
                            <!-- CAt ENd-->
                            <!-- TAg STart-->
                            <style>
                                .tag_shadow {
                                    border: 1px solid lavender;
                                    color: lavender;
                                }
                            </style>
                            <!-- TAg ENd-->
                        </div>
                        <div class="video_one_detail clearfix" id="showing">
                            <div class="clearfix">
                                <div style="text-align:justify;">
                                    <div id="inner_descr_text">
                                        {{ video.headline }}

                                        <p>
                                            {{ video.headline_main }}
                                        </p></div>
                                </div>
                            </div>
                            <script>
                                setTimeout(function () {
                                    if (c_$('inner_descr_text').offsetHeight > 72) {
                                        c_$('showMoreInfoDiv').style.display = 'inline';
                                    }
                                    ;
                                }, 1000);
                                showMoreInfo = function () {
                                    c_$('inner_descr_text').parentNode.style.maxHeight = '';
                                    c_$('showMoreInfoDiv').style.display = 'none';
                                }
                            </script>
                        </div>
                    </div>
                    <div id="box_recoms">
                        <br>
                        <br>
                        <br>

                        <div class="v3_boxTitle_wrapper clearfix">
                            <div class="margin-top-10 font-size-10"><span>نظرات</span></div>
                        </div>
                        <div style="
border-top: 2px solid #ccc;
height: 0px; width: 100%;
"></div>
                        <div id="comment-container"
                             style="direction: rtl;margin: 1px; color: rgb(0, 0, 0); width: 100%; font-family: 'Comic Sans MS'; font-size: 14px; background: transparent;">
                            <div id="comment-header" style="padding: 10px 10px 0 10px;">
                                {% if login_user == 'مهمان' %}
                                {% from config import Config %}
                                {% set _url = Config().packages['PUBLIC_SYSTEM'] %}
                                <div style="background: #FCB4B4;
font-family: Yekan;
border: black;
margin: 10px;
font-size: 17px;">
                        <span>
برای ثبت نظر
                            <a href="{{ _url }}/user_login">وارد شوید</a>
یا
                            <a href="{{ _url }}/user_signup">عضو شوید</a>
                            </span>
                                </div>
                                {% else %}
                                <form id="send_comment" method="post" action="{{ reverse_url('send_comment') }}">
                                    <input type="text" value="{{ video.id }}" name="video" hidden id="video_id">

                                    <div style="clear:both;margin: 3px; padding-top: 6px;font-size: 11px;">
                                        <textarea name="comment" type="text" id="comment-text"
                                                  onclick="change_comment()"
                                                  style="width: 100%;font-size: medium;max-width: 100%;min-height: 70px"></textarea>
                                    </div>
                                    {% from random import random %}
                                    {% set rand = random() %}
                                    <div class="videoCommnet_submit">
                                        <div class="form-row_old clearfix" id="imgCodeBox"
                                             style="max-width: 266px; float: right; display: block;width: 100%;">

                                            <div style="float:right;width: 45%;" id="mydiv">
                                                <input type="text" name="imgstr" id="imgstr"
                                                       style="float:right;background-color: #FBFBFB;padding:0px;width:100px;height:29px;font-size:21px;margin:0 0px 5px 5px;">

                                                <div id="showerror" class="showerror"
                                                     style="float: left; font-size: small; color: red;width: 150px;margin-left: -36px;"></div>
                                            </div>

                                            <div class="clearfix" style="padding-right:0%;float: right;height:40px">
                                                <div style="float:right; cursor: pointer;">
                                                    <img style="border:0px;width:103px;padding-left:5px;height:30px;"
                                                         id="imgcodepage"
                                                         src="{{ reverse_url('captcha') }}?_xrn={{ rand }}"
                                                         title="برای تغییر تصویر کلیک کنید"
                                                         onclick="change();">
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="imgcode" id="imgcode"
                                               value="{{ rand }}">
                                        <input type="button" value="ثبت نظر" class="R_butt_blue membership"
                                               onclick="check();"
                                               style="font-family: 'Yekan'; margin-bottom: 5px; background: rgb(26, 188, 156);">
                                    </div>
                                    <br>
                                </form>
                                {% end %}
                                {% for comment in comments %}
                                <li style="
background-color: #F5F4F4;
list-style-type: none;
padding: 5px 15px 0px 15px; margin: 0px; width: 100%; direction: rtl;
">
                                    <div>
<span class="photo">
<img src="{{ static_url('images/users') }}/{{ comment.fk_user.pic }}" height="40px" width="40px">
</span>
<span class="subject">
<span class="from" style="
float: none;
">
    {% if comment.fk_user.fore_name + ' ' + comment.fk_user.sur_name == login_user %}
    <b style="font-family: Yekan">
        شما
    </b>
    {% else %}
    <b>
        {{ comment.fk_user.fore_name }} {{ comment.fk_user.sur_name }}
    </b>
    {% end %}
</span> <span class="time" style="
float: left;
font-family: Yekan, serif;
">
{% from khayyam import JalaliDate %}
{#                                        {% set date = JalaliDate(comment.inserted_date) %}#}
{#                                        {{ date }}#}
    {% from datetime import datetime %}
    {% set date = JalaliDate(comment.inserted_date) %}
    {% set s=datetime.now() %}
    {% set year = s.year - comment.inserted_date.year %}
    {% set month = s.month - comment.inserted_date.month %}
    {% set day = s.day - comment.inserted_date.day %}
    {% set hour = s.hour - comment.inserted_date.hour %}
    {% set minute = s.minute - comment.inserted_date.minute %}
    {% set second = s.second - comment.inserted_date.second %}
    {% if year %}
    {{ date }}
    {% elif month %}
    {{ date }}
    {% elif day > 1 %}
    {{ date }}
    {% elif hour %}
    {% set time = str(hour) + 'ساعت قبل' %}
    {{ time }}
    {% elif minute %}
    {% set time = str(minute) + 'دقیقه قبل' %}
    {{ time }}
    {% else %}
    {% set time = str(second) + 'ثانیه قبل' %}
    {{ time }}
    {% end %}
</span> </span><br> <span class="message">
<span>
    {{ comment.text }}
</span></span>
                                        {#                                        <a class="comment-label" href="javascript:AddReply_53040144a4d7a(163194)"#}
                                        {#                                           style="font-family: Arial;">پاسخ</a>#}
                                    </div>
                                </li>
                                <br>
                                {% end %}
                            </div>
                            <input type="hidden" id="comment-page_53040144a4d7a" value="1"></div>
                        {#                        {% end %}#}
                        <script>
                            $(document).ready(function () {
//change CAPTCHA on each click or on refreshing page
                                $("#reload").click(function () {
                                    $("img#img").remove();
                                    var id = Math.random();
                                    $('<img id="img" src="captcha.php?id=' + id + '"/>').appendTo("#imgdiv");
                                    id = '';
                                });

//validation function
                                $('#button').click(function () {
                                    var name = $("#username1").val();
                                    var email = $("#email1").val();
                                    var captcha = $("#captcha1").val();

                                    if (name == '' || email == '' || captcha == '') {
                                        alert("Fill All Fields");
                                    }

                                    else { //validating CAPTCHA with user input text
                                        var dataString = 'captcha=' + captcha;
                                        $.ajax({
                                            type: "POST",
                                            url: "verify.php",
                                            data: dataString,
                                            success: function (html) {
                                                alert(html);
                                            }
                                        });
                                    }
                                });
                            });
                            var curVisitedVideo = 1;
                            showNextVideo = function (arrow) {
                                c_$('video_one_recoms_1').style.display = 'none';
                                c_$('video_one_recoms_2').style.display = 'none';
                                c_$('video_one_recoms_3').style.display = 'none';
                                if (arrow == 'next') {
                                    if (curVisitedVideo == 1) {
                                        c_$('show_prev_videos').style.display = 'inline';
                                    }
                                    curVisitedVideo++;
                                    if (curVisitedVideo == 3) {
                                        c_$('show_next_videos').style.display = 'none';
                                    }
                                } else {
                                    curVisitedVideo--;
                                    c_$('show_next_videos').style.display = 'inline';
                                    if (curVisitedVideo == 1) {
                                        c_$('show_prev_videos').style.display = 'none';
                                    }
                                }
                                c_$('video_one_recoms_' + curVisitedVideo).style.display = 'inline';
                            };
                            showMoreVideo = function () {
                                var elId = 'video_one_recoms_2';
                                c_$(elId).style.display = 'block';
                                c_$('show_more_videos').style.display = 'none';
                                c_$(elId).style.display = 'block';
// c_$(elId).style.overflow = 'hidden';
                                var end_height = c_$(elId).offsetHeight - 5;
                                var end_width = c_$(elId).offsetWidth - 5;
                                c_$(elId).style.height = '0px';
                                c_$(elId).style.width = '0px';
                                c_$(elId).style.opacity = 0.2;
                                c_Easing(elId, {
                                    height: {end: end_height, time: 400},
                                    width: {end: end_width, time: 400},
                                    opacity: {end: 1, time: 800}
                                }, "c_$('" + elId + "').style.height = '';c_$('" + elId + "').style.width = '';");
                            }
                            if (c_$('video_one_recoms_1').innerHTML.trim() == "") {
                                c_$('show_more_videos').style.display = 'none';
                            }
                        </script>
                    </div>

                </div>

            </div>
        </div>
    </div>
    {% end block container %}

    {% block javascript %}
    <script>
        $('.carousel').carousel();
        $('.select').select2({
            placeholder: "انتخاب کنید"
        });
        $(".datePicker").val("").persianDatepicker();
        $('.your-class').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000
        });
        $('.tabs').click(function () {
            var data_action = $(this).attr('data-action');
            $('.tabs.active').removeClass('active');
            $(this).addClass('active');
            $('.group_tab_content').addClass('display-none');
            $('.group_tab_content[data-action=' + data_action + ']').removeClass('display-none');
        });


        var ws = new WebSocket('ws://127.0.0.1:8097/ws/like');
        ws.onopen = function () {
            _id = document.getElementById('video_id').value
            ws.send(_id);
        };
        ws.onmessage = function (ev) {
            if (ev.data.lastIndexOf('+') == -1 && ev.data != 'error') {
                document.getElementById('visit').innerHTML = ev.data;
            }
            else if (ev.data == "error") {
                document.getElementById('errorlike').hidden = false;
            }

            else {
                document.getElementById('like').innerHTML = ev.data.split('+')[0];
                document.getElementById('score').innerHTML = ev.data.split('+')[1];


            }
        };

        function like(id, uid) {
            ws.send('like+' + id + "+" + uid)
            document.getElementById('btn_like').disabled = true;

        }


    </script>
    <script>

        function change() {
            document.getElementById("showerror").innerHTML = '';
            rand = Math.random();
            _imge = document.getElementById('imgcodepage');
            _imge.src = '/captcha?_xrn=' + rand;
            _text = document.getElementById('imgcode');
            _text.value = rand;
        }
        function check() {

            _txt = document.getElementById('imgstr');
            _hash = document.getElementById('imgcode');
            _comment = document.getElementById('comment-text');
            if (_comment.value == '') {
                document.getElementById("showerror").innerHTML = 'لطفا متن پیام را وارد کنید.'
            }
            else if (_txt.value == '') {
                document.getElementById("showerror").innerHTML = 'لطفا کد تصویر را وارد کنید.'
            }
            else {
                $.ajax({
                            url: "/heyat/comment",
                            type: "GET",
                            data: {imgcode: _hash.value, imgstr: _txt.value},
                            success: function (res) {
                                if (res == 'ok') {
                                    document.getElementById("send_comment").submit()
                                }
                                else {
                                    document.getElementById("showerror").innerHTML = 'کد تصویر اشتباه است.'
                                }
                            }
                        }
                )

            }
        }

        function change_comment() {
            document.getElementById("showerror").innerHTML = ''
        }

    </script>
    {% end block javascript %}

