{% extends "../../base/template/index/index.html" %}
{% block container %}
<div class="row margin-top-30">
    <div class="box_content">
        <div class="col-md-2 col-sm-2" style="color: #0591DE; font-size: 16pt; text-align: center">
            جستجو
        </div>

        نام مداح:
        &nbsp; &nbsp
        <input type="text" class="input-sm form-group" name="artist" id="artist" onkeydown="search()">
        &nbsp; &nbsp;

        <img style="width:20px;height: 20px;" src="{{ static_url('images/uploading.gif') }}"
             hidden="hidden" id="loading">

        <div class="row">
            <div class="group_tab_content" data-action="1" id="mainpage">
                {% for user in users %}
                <div class="col-md-3 col-sm-3 text-center" style="margin-top: 25px;margin-bottom: 25px">
                    {% if user.is_active %}
                    <div class="chanelOfficial brand_chanel"
                         style="height: 21px;width: 92px;right: 74px; position: absolute;top: 0px;background: url(/static/images/active_user.png) no-repeat left top;"></div>
                    {% end %}
                    <img src="{{ static_url('images/users') }}/{{ user.pic }}" style="height: 100px;">
                    {% set strr = user.id.__str__()+'m'+user.fore_name+'_'+user.sur_name %}
                    <div class="margin-top-10 font-size-9"><a
                            href="/heyat/user/{{ strr.replace(" ","_") }}"
                            >
                        {{ user.fore_name }} {{ user.sur_name }}
                    </a></div>
                </div>
                {% end %}

            </div>

            <input type="hidden" value="{{ page }}" id="page">
            <input type="hidden" value="{{ count }}" id="count">
        </div>
        <div style="text-align: center;margin-top: 25px;margin-bottom: 25px ">
            <img style="width:35px;height: 35px;" src="{{ static_url('images/uploading.gif') }}"
                 id="pageloading" hidden="hidden">
        </div>

    </div>
</div>
{% end block container %}
{% block javascript %}
<link href="{{ static_url('css/jquery.auto-complete.css') }}" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{{ static_url('js/jquery.auto-complete.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/jquery.auto-complete.min.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function () {

        artist = $(this).val();
        $.ajax({
            url: "/admin/maddah/auto_load",
            type: "POST",
            data: {artist: artist},
            success: function (response) {
                $('#artist').autoComplete({
                    minChars: 1,
                    source: function (term, suggest) {
                        term = term.toLowerCase();
                        var choices = response['key'];
                        var suggestions = [];
                        for (i = 0; i < choices.length; i++)
                            if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                        suggest(suggestions);
                    }
                });
            }
        });

    });
    $(window).scroll(function () {
        if ($(window).scrollTop() >= $(document).height() - $(window).height() - 300) {

            page = document.getElementById('page').value;
            page = parseInt(page) + 1;

            document.getElementById('page').value = page;
            count = parseInt(document.getElementById('count').value);
            if (page <= count) {
                load(page);
            }

        }
    });

    function load(page) {
        document.getElementById('pageloading').hidden = false;

        _name = document.getElementById('artist').value;
        count = parseInt(document.getElementById('count').value);
        if (page <= count) {
            $.ajax({
                        url: "/maddah/loading",
                        type: "POST",
                        data: {page: page, name: _name},
                        success: function (response) {
                            document.getElementById('pageloading').hidden = true;
                            document.getElementById('loading').hidden = true;

                            if (response != 'end') {
                                for (i = 0; i <= response[0]['count'] - 1; ++i) {
                                    _id = response[i + 1]['id'];
                                    _name = response[i + 1]['name'];
                                    _name2 = _name.replace(' ', '_');
                                    _pic = response[i + 1]['pic'];
                                    _active = response[i + 1]['active'];
                                    if (_active == 1) {
                                        _item = "<div class='col-md-3 col-sm-3 text-center' style='margin-top: 25px;margin-bottom: 25px'><div class='chanelOfficial brand_chanel' style='height: 21px;width: 92px;right: 74px; position: absolute;top: 0px;background: url(/static/images/active_user.png) no-repeat left top;'></div><img src='{{ static_url('images/users') }}/" +
                                                _pic + "'style='height: 100px;'><div class='margin-top-10 font-size-9'><a href='/heyat/user/" + _id + "m" + _name2 + "'>" + _name + "</a></div></div>";

                                    }
                                    else {

                                        _item = "<div class='col-md-3 col-sm-3 text-center' style='margin-top: 25px;margin-bottom: 25px'><img src='{{ static_url('images/users') }}/" +
                                                _pic + "'style='height: 100px;'><div class='margin-top-10 font-size-9'><a href='/heyat/user/" + _id + "m" + _name2 + "'>" + _name + "</a></div></div>";

                                    }

                                    document.getElementById('mainpage').innerHTML += _item;


                                }

                            }


                        }

                    }
            )
        }

    }

    function search() {
        _name = document.getElementById('artist').value;
        document.getElementById('page').value = 1;
        $.ajax({
                    url: "/maddah/loading",
                    type: "POST",
                    data: {name: _name, page: 1},
                    success: function (response) {
                        document.getElementById('loading').hidden = true;
                        document.getElementById('mainpage').innerHTML = "";

                        if (response != 'end') {
                            for (i = 0; i <= response[0]['count'] - 1; ++i) {
                                _id = response[i + 1]['id'];
                                _id = response[i + 1]['id'];
                                _name = response[i + 1]['name'];
                                _name2 = _name.replace(' ', '_');
                                _pic = response[i + 1]['pic'];

                                _item = "<div class='col-md-3 col-sm-3 text-center' style='margin-top: 25px;margin-bottom: 25px'><img src='{{ static_url('images/users') }}/" +
                                        _pic + "'style='height: 100px;'><div class='margin-top-10 font-size-9'><a href='/heyat/user/" + _id + "m" + _name2 + "'>" + _name + "</a></div></div>";

                                document.getElementById('mainpage').innerHTML += _item;

                            }

                        }


                    }
                }
        )
    }


</script>
{% end block javascript %}