{% extends "../../base/template/index/index.html" %}
{% block other_css %}
    <style>
        .select {
            width: 100%;
        }

        .select2-arrow b {
            background-position: 5px 4px !important;
        }
    </style>
    <style>
        @import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);

        * {
            margin: 0;
            padding: 0;
        {#  font-family: roboto;#}
        }

        body {
            background: #000;
        }

        .cont {
            width: 93%;
            max-width: 350px;
            text-align: center;
            margin: 4% auto;
            padding: 30px 0;
            background: #111;
            color: #EEE;
            border-radius: 5px;
            border: thin solid #444;
            overflow: hidden;
        }

        hr {
            margin: 20px;
            border: none;
            border-bottom: thin solid rgba(255, 255, 255, .1);
        }

        div.title {
            font-size: 2em;
        }

        h1 span {
            font-weight: 300;
            color: #Fd4;
        }

        div.stars {
            display: inline-block;
        }

        input.star {
            display: none;
        }

        label.star {
            float: right;
            padding: 5px;
            font-size: 15px;
            color: #444;
            transition: all .2s;
        }

        input.star:checked ~ label.star:before {
            content: '\f005';
            color: #FD4;
            transition: all .25s;
        }

        input.star-5:checked ~ label.star:before {
            color: #FE7;
            text-shadow: 0 0 20px #952;
        }

        input.star-1:checked ~ label.star:before {
            color: #F62;
        }

        label.star:hover {
            transform: rotate(-15deg) scale(1.3);
        }

        label.star:before {
            content: '\f006';
            font-family: FontAwesome;
        }
    </style>
{% end block other_css %}

    {% block container %}
<div class="main_content" style="
background-color: white;
">
    <section class="tab-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row" style="
margin-top: 15px;
margin-bottom: 15px;
">
                        <div class="col-md-3 widget-profil">
                            <div class="row">
                                <!-- Profile Image -->
                                <div class="col-lg-12 col-md-12 col-sm-3 col-xs-12 ">
                                    <!-- style for simple image profile -->
                                    <div class="circle-img" id="pic_prof_2"
                                         style="display: block;display: block; width: 150px; height: 150px; margin: 1em auto; background-size: cover; background-repeat: no-repeat; background-position: center center; -webkit-border-radius: 99em; -moz-border-radius: 99em; border-radius: 99em; background-image: url({{ static_url('images/users') }}/{{ profile.pic }}); margin-top: 25px; margin-bottom: 7px; };"></div>
                                </div>
                                <!-- End Profile Image -->
                                <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12" style="
    background-color: #F7F7F7;
">
                                    <!-- Profile info -->
                                    <div id="profile_info">
<span id="name" class="transition-02" style="
font-family: Yekan, serif;
font-size: x-large;
">{{ profile.fore_name }} {{ profile.sur_name }}</span>

                                        {% if profile.fk_role.name == 'کاربر موقت' %}
                                        <span class="line" style="
font-family: Yekan, serif;
font-size: initial;
color:#F94C4C ;
"><br>
این پروفایل توسط
                                            {{ profile.fore_name }} {{ profile.sur_name }}
                                            تایید نشده است.
                                        </span>
                                        {% else %}

<span class="line" style="
font-family: Yekan, serif;
font-size: large;
"><br>
    {{ profile.fk_role.name }}
</span>
                                        <br>
                                        <small style="
font-family: Yekan, serif;
font-size: x-large;
">درباره من
                                        </small>
                                        <p>{{ profile.about_me }}</p>

                                        {% end %}
                                    </div>
                                    <!-- End Profile info -->
                                    <!-- Profile Description -->
                                    <div id="profile_desc">
                                        <div>

                                            <div class="line" style="
border-top: 2px solid #ccc; height: 0px; width: 100%;
"></div>
                                            <p class="m-t-sm"></p>
                                        </div>
                                    </div>
                                    <!-- End Profile Description -->
                                    <!-- Name -->
                                    <div id="profile_social" style="
border: 1px solid #DFDFDF; margin: 10px 0 20px; padding: 10px 0; text-align: center;
">
                                        <div class="account-status-data">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <span><strong>{{ profile.score }}</strong></span>
                                                </div>
                                                <div class="col-md-4" style="
text-align: left;
width: 63%;
">
                                                    <h5>
                                                        <div class="margin-top-10 font-size-9">
    <span>
    {% if not login_user == "مهمان" %}
                                <div class="stars" style="
    min-width: 151px;
    margin-top: 5px;
    float: left;
    margin-bottom: auto;
">
                                    <form>
                                        {% module xsrf_form_html() %}
                                        <input class="star star-5" id="star-5" type="radio" name="star"
                                               onclick="getResults();" value="5" {% if score==5 %} checked{% end %}>
                                        <label class="star star-5" for="star-5"></label>
                                        <input class="star star-4" id="star-4" type="radio" name="star"
                                               onclick="getResults();" value="4"{% if score==4 %} checked{% end %}>
                                        <label class="star star-4" for="star-4"></label>
                                        <input class="star star-3" id="star-3" type="radio" name="star"
                                               onclick="getResults();" value="3"{% if score==3 %} checked{% end %}>
                                        <label class="star star-3" for="star-3"></label>
                                        <input class="star star-2" id="star-2" type="radio" name="star"
                                               onclick="getResults();" value="2"{% if score==2 %} checked{% end %}>
                                        <label class="star star-2" for="star-2"></label>
                                        <input class="star star-1" id="star-1" type="radio" name="star"
                                               onclick="getResults();" value="1"{% if score==1 %} checked{% end %}>
                                        <label class="star star-1" for="star-1"></label>
                                    </form>
                                    <script>

                                        var testVar = '';

                                        function getResults() {
                                            var radios = document.getElementsByName("star");

                                            for (var i = 0; i < radios.length; i++) {
                                                if (radios[i].checked) {
                                                    testVar = (radios[i].value);
                                                    {#                                                 alert(radios[i].value);#}
                                                    break;
                                                }
                                            }
                                            var link = "../users/score?uid={{ profile.id }}&score=" + testVar;
                                            window.open(link, "_self")
                                        }


                                        {#                                    document.getElementById("myLink").innerHTML = '<a href=\"' + 'www.example.com?pri=' + testVar + '\" onclick=\"$(this).modal({width:880, height:460}).open(); return false;\" >' + 'My Modal Link' + "</a>";#}

                                    </script>

                                </div>
                                {% end %}
        </span></div>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Name -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 flexy_content" style="padding-left: 0;padding-right: 0;">
                            <div id="portfolio" aria-labelledby="tab_item-2"
                                 style="/* display: block; */ /* height: 100%; */">

                                <!-- .title -->
                                                <span style="
font-family: Yekan, serif;
font-size: x-large;
margin-right: 35px;
">ویدئوها</span>


                                <div class="container-portfolio">



                                    <!-- #portfoliolist -->
                                    <div id="portfoliolist" style="   ">
                                        {% for video in videos %}

                                        <div class="view view-first portfolio catGraphic mix_all" data-cat="catGraphic"
                                             style=" display: inline-block; opacity: 1; /* -webkit-box-sizing: border-box; */      -moz-box-sizing: border-box;      -o-box-sizing: border-box;      width: 31%;      margin: 1%;      float: right;         position: relative;      text-align: center;">
                        <img src="{% if video.fk_video.pic != None %}{{ static_url('upload/pic') }}/{{ video.fk_video.fk_heyat.id }}/{{ video.fk_video.pic }}{% else %}{{ static_url('images/cover.jpg') }}{% end %}"
                                                 style="
    max-width: 100%;
    position: relative;
">

                                            <div class="new_footer">
                                                <div>
                                                    <i class="fa fa-chevron-left" style="color: #ffffff"></i>
<span style="color: #ffffff; vertical-align: 2px; margin-right: 5px">
    <a href="../video/{{ video.fk_video.id }}m{{ video.fk_video.name.replace(' ','_') }}">
        {{ video.fk_video.name }}</a></span>
                                                </div>

                                                <i class="fa fa-flag" style="color: #ffffff"></i>
                                                <a href="../channel/{{ video.fk_video.fk_heyat.id }}m{{ video.fk_video.fk_heyat.name.replace(' ','_') }}">
<span style="color: #ffffff; vertical-align: 2px; margin-right: 5px">{{ video.fk_video.fk_heyat.name }}
<a></a></span>


                                            </div>

                                        </div>
                                        {% end %}
                                        <div class="clear"></div>
                                    </div>
                                    <!-- #images/portfoliolist -->
                                </div>
                            </div>
                        </div>
                        <!-- End flexy_content -->
                    </div>
                    <!-- End row -->
                </div>
                <!-- End col-md-12 -->
            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
    </section>
</div>
    {% end  block container %}
