<html>
<head>
    <meta charset="utf-8">
    <title>
        هیئت
        TV
        |
        {{ user['title'] }}
    </title>
    <link href="{{ static_url('dashboard/css/persian-font.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url('dashboard/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url('dashboard/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url('dashboard/css/admin.css') }}" rel="stylesheet" type="text/css">
    <style type="text/css" media="all">
        @font-face {
            font-family: 'BTitrTGEBold';
            src: url('{{static_url('dashboard/fonts/BTitrTGEBold.eot?#')}}') format('eot'), /* IE6–8 */ url('{{static_url('dashboard/fonts/BTitrTGEBold.woff')}}') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('{{static_url('dashboard/fonts/BTitrTGEBold.ttf')}}') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
        }

        .BTitrTGEBold {
            font-family: BTitrTGEBold, Arial, Helvetica, sans-serif;
        }

        @font-face {
            font-family: 'BYekan';
            src: url('{{static_url('dashboard/fonts/BYekan.eot?#')}}') format('eot'), /* IE6–8 */ url('{{static_url('dashboard/fonts/BYekan.woff')}}') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('{{static_url('dashboard/fonts/BYekan.ttf')}}') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
        }

        .BYekan {
            font-family: BYekan, Arial, Helvetica, sans-serif;
        }
    </style>


    <!----------------------------------page css----------------------------->
    {% block css %}
    {% end block css %}

</head>
{% block body_div %}


<body class="fixed_header left_nav_fixed atm-spmenu-push right_nav blue_thm light_theme BYekan">
{% end block %}
 {% from config import Config %}
                        {% set pubic_url=Config().packages['PUBLIC_SYSTEM'] %}
<div class="wrapper">
    <!--\\\\\\\ wrapper Start \\\\\\-->
    <div class="header_bar">
        <!--\\\\\\\ header Start \\\\\\-->
        <div class="brand BTitrTGEBold">
            <!--\\\\\\\ brand Start \\\\\\-->
            <a style="color:inherit;text-decoration: none;" href="{{ pubic_url }}/">
                            <div class="logo" style="display:block"><span class="theme_color">هیئت </span>TV</div>
            </a>
        </div>
        <!--\\\\\\\ brand end \\\\\\-->
        <div class="header_top_bar"><a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars" style="margin-right:5px"></i> </a>

            <div class="top_right_bar">
                <div class="user_admin dropdown"><a href="javascript:void(0);" data-toggle="dropdown"><img
                        src="{{ static_url('images/users/') }}/{{ user['login_user'].pic }}" height="35px" width="35px"
                    style="
border-radius: 100em;
margin-top: 3px;

"><span class="user_adminname">{{ user['name'] }}</span> <b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <div class="top_pointer"></div>

                        <li><a href="{{ pubic_url }}/user_logout"><i class="fa fa-power-off"></i>خروج از سیستم</a></li>
                    </ul>
                </div>
                <div class="top_right">
                    <div class="top_right_menu">
                        <ul>
                            <li class="dropdown" style="width: 87px"; >{% if user['count_notification'] %} <span
        class="badge badge color_1" style="margin-left: 3px; margin-top: 11px";>{{ user['count_notification'] }}</span>{% end %}
    <a href="javascript:void(0);" data-toggle="dropdown">
        <span class="fa fa-envelope-o fa-fw" style="font-size: 20px; margin-left: 21px;"></span>
    </a>

                                <ul class="drop_down_task dropdown-menu">
                                    <div class="top_pointer"></div>
                                    <li>
                                        <p class="number">{{ user['count_notification'] }}پیام جدید دارید</p>
                                    </li>
                                    {% from config import Config %}
                                      {% set admin_url =Config().packages['ADMIN_SYSTEM'] %}
                                    {% for notification in user['notification'] %}
                                    <li>
                                        <div>
                                            <a href="{{ admin_url}}/admin/inbox" class="mail">

                              <span class="photo">
                                  <img src="{{ static_url('images/users/') }}/{{ notification.fk_sender.pic }} " height="30px" width="30px" style="height: 30px;width: 30px">
                              </span>
                              <span class="subject">
                              <span class="from">
                                  {{ notification.fk_sender.fore_name }} {{ notification.fk_sender.sur_name }}
                              </span> <span
                                      class="time">{% from datetime import datetime %}{% set s=datetime.now() %}{% set year = s.year - notification.inserted_date.year %}{% set month = s.month - notification.inserted_date.month %}{% set day = s.day - notification.inserted_date.day %}{% set hour = s.hour - notification.inserted_date.hour %}{% set minute = s.minute - notification.inserted_date.minute %}{% set second = s.second - notification.inserted_date.second %}{% if year %}{% set time = str(year) + 'سال قبل' %}{% elif month %}{% set time = str(month) + 'ماه قبل' %}{% elif day %}{% set time = str(day) + 'روز قبل' %}{% elif hour %}{% set time = str(hour) + 'ساعت قبل' %}{% elif minute %}{% set time = str(minute) + 'دقیقه قبل' %}{% else %}{% set time = str(second) + 'ثانیه قبل' %}{% end %}
                                  {{ time }}
                          </span> </span>
                                                <div>

                                                </div>
                                                <div style="width:270px;height: 20px;overflow: hidden">
                                                    <span class="message">
                              <span>{{ notification.text }}</span></span>
                                                </div>

                                            </a></div>
                                    </li>
                                    {% end %}



                                    <li><p class="number"><a href="{{ admin_url}}/admin/inbox" style="color: silver;">مشاهده تمام پیام ها</a></p></li>


                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--\\\\\\\ header end \\\\\\-->
    <div class="inner">
        <!--\\\\\\\ inner start \\\\\\-->
        <div class="left_nav" style="
    position: fixed;
    margin-top: 45px;
    z-index: 1;
">
            <!--\\\\\\\left_nav start \\\\\\-->
            <div class="search_bar"><i class="fa fa-search"></i>
                <input name="" class="search" placeholder="جستجو ..." type="text">
            </div>
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 500px;">
                <div class="left_nav_slidebar" style="overflow: hidden; width: auto; height: 600px;">
                    <ul>
                        {% from config import Config %}
                        {% set admin_url = Config().packages['ADMIN_SYSTEM'] %}
                        {% for act in user['action'] %}

                        <li id="m{{ act.fk_action.id }}" class="" onclick="closemenu()">
                            <a href="javascript:void(0);">
                                <i class="{{ act.fk_action.icon }}"></i>{{ act.fk_action.name }}<span
                                    class="left_nav_pointer"></span> <span class="plus"></span> </a>
                            <ul id="o{{  act.fk_action.id  }}"class="opened" style="display: none;">

                                {% for sub in user['sub_action'] %}

                                {% if sub.fk_sub_action.fk_action == act.fk_action %}
                                <li>

                                    <a href="{{ admin_url }}{{ sub.fk_sub_action.url }}" class="left_nav_sub_active">
                                        <b id="s{{ sub.fk_sub_action.id }}">{{ sub.fk_sub_action.name }}</b></a>
                                </li>
                                {% end %}
                                {% end %}
                            </ul>

                        </li>

                        {% end %}
                    </ul>


                </div>
                <div class="slimScrollBar"
                     style="width: 5px; position: absolute; border-radius: 7px; z-index: 99; right: 1px; opacity: 0.4; top: 0px; height: 477px; display: none; background: rgb(161, 178, 189);"></div>
                <div class="slimScrollRail"
                     style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
            </div>
        </div>
        <!--\\\\\\\left_nav end \\\\\\-->
        <div class="contentpanel" id="contentpanel">
            <!--\\\\\\\ contentpanel start\\\\\\-->
            <div class="pull-left breadcrumb_admin clear_both" style="position: fixed;margin-top: 6px;z-index: 50;"/>
            <div class="pull-left page_title theme_color">
                <h1>
                    {{ user['page_name'] }}
                </h1>
            </div>
            {% if user['page_name2'] %}
            <div class="pull-left page_title theme_color">
                <h2>{{ user['page_name2'] }}</h2>
            </div>
            {% end %}
        </div>
        <div class="container clear_both padding_fix" style="margin-top: 60px;">
            {% block container %}

            {% end block container %}
        </div>
    </div>
    <!--\\\\\\\ content panel end \\\\\\-->
</div>
<!--\\\\\\\ inner end\\\\\\-->
</div>
<!--\\\\\\\ wrapper end\\\\\\-->

<script src="{{ static_url('dashboard/js/jquery-2.1.0.js') }}"></script>
<script src="{{ static_url('dashboard/js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('dashboard/js/common-script.js') }}"></script>

<!-------------------------------------------------------------------->

{% block scripts %}
{% end block scripts %}

</body>
</html>