{% extends "../../administration/template/base.html" %}

{% block css %}
<link href="{{ static_url('css/persian-datepicker-0.4.5.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ static_url('css/jquery.auto-complete.css') }}" rel="stylesheet" type="text/css"/>

{% end block css %}


{% block container %}

<div class="col-md-12">

    <div class="block-web full" style="min-height: 700px">

<div class="block-web" >
                     <h4 style="text-align: left;margin-left: 10px">



<div style="float: left;margin-top: -20px">
                  {% from  math import ceil %}

                                  {% set num = ceil(count/10) %}
        {% if int(num) != 0 %}

        <ul class="pagination pagination-sm" style="direction: ltr">
            <li {% if page == 1 %}class="disabled"{% end %}><a
                    {% if page != 1 %}href="?page={{ page-1 }}"
                    {% else %}href="#"{% end %}>«</a></li>
            {% for i in range(0 , int(num)) %}
            <li {% if page == i+1 %}class="active"{% end %}><a
                    href="?page=
                            {{ i+1 }}">{{ i+1 }}</a></li>

            {% end %}
            <li {% if page == int(num) %}class="disabled" {% end %} ><a
                    {% if page != int(num) %}href="?page=
                            {{ page+1 }}" {% else %}href="#"{% end %}>»</a></li>
        </ul>
{% end %}
</div>
  <div style="float: left">
                                    <a style="color: red;" onclick="document.getElementById('messegeform').submit()" href="#"><li class="fa fa-trash-o"></li></a>  &nbsp  &nbsp  &nbsp

    </div>

</h4>


            <strong>صندوق ورودی:</strong>
            <div class="table-responsive">
                <br>
              <table class="table table-email" style="direction: rtl">
                <tbody>
                {% for item in message %}
                <form method="post" id="messegeform" action="{{ reverse_url('delete_message') }}">
                                        {% module xsrf_form_html() %}

                  {% from khayyam import JalaliDate %}
                                        {% set date = JalaliDate(item.inserted_date) %}
                  <tr {% if item.is_read != 1 %}class="unread"{% end %}>
                    <td colspan="2">
                        <div class="media">
                            <a class="pull-left" href="#" style="margin-right: -15px">
                                <img class="media-object" src="{{ static_url('images/users/') }}{{ item.fk_sender.pic }}" >
                            </a>

                        <div  class="media-body" style="text-align: right"> <span class="media-meta pull-right"> &nbsp; {{ date }}</span><br>
                          <h4 class="text-primary"> &nbsp; {{ item.fk_sender.fore_name }}
                          {{ item.fk_sender.sur_name }}</h4>
                          <p class="email-summary" >{{ item.text }}</p>
                        </div>
                      </div></td>
                                          <td>
                                              <div class="ckbox ckbox-primary">
                        <input type="checkbox" name="{{ item.id }}">
                        <label ></label>

                      </div></td>

                  </tr>
                {% end %}

                    </form>


                </tbody>
              </table>
            </div><!-- /table-responsive -->
          </div>

        </div>



</div>





{% end block container %}


{% block scripts %}
<script type="text/javascript" src="{{ static_url('js/jquery.auto-complete.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/jquery.auto-complete.min.js') }}"></script>
<script type="text/javascript">



</script>
<script type="text/javascript" src="{{ static_url('js/persian-datepicker-0.4.5.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/persian-date.js') }}"></script>



{% end block scripts %}
