{% extends "../../base/template/index/index.html" %}
{% block other_css %}
<style>
    @import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);

    * {
        margin: 0;
        padding: 0;
    {#  font-family: roboto;#}
    }

    body {
        background: #000;
    }

    .cont {
        width: 93%;
        max-width: 350px;
        text-align: center;
        margin: 4% auto;
        padding: 30px 0;
        background: #111;
        color: #EEE;
        border-radius: 5px;
        border: thin solid #444;
        overflow: hidden;
    }

    hr {
        margin: 20px;
        border: none;
        border-bottom: thin solid rgba(255, 255, 255, .1);
    }

    div.title {
        font-size: 2em;
    }

    h1 span {
        font-weight: 300;
        color: #Fd4;
    }

    div.stars {
        display: inline-block;
    }

    input.star {
        display: none;
    }

    label.star {
        float: right;
        padding: 5px;
        font-size: 15px;
        color: #444;
        transition: all .2s;
    }

    input.star:checked ~ label.star:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    }

    input.star-5:checked ~ label.star:before {
        color: #FE7;
        text-shadow: 0 0 20px #952;
    }

    input.star-1:checked ~ label.star:before {
        color: #F62;
    }

    label.star:hover {
        transform: rotate(-15deg) scale(1.3);
    }

    label.star:before {
        content: '\f006';
        font-family: FontAwesome;
    }
</style>
<style>
    #video-one {
        width: 60%;
        float: right;
        padding: 0 2%;
        -moz-border-radius: 5px;
        position: relative;
    }

    #box_recoms {
        width: 40%;
        float: left;
    }

    @media (max-width: 800px) {
        #video-one {
            width: 100%;
            float: right;
            padding: 0 2%;
            -moz-border-radius: 5px;
            position: relative;
        }

        #box_recoms {
            width: 100%;
            float: right;
        }
    }
</style>
{% end block other_css %}
{% block container %}
<div class="main_content" style="background-image: url('static/images/bg_header.jpg')">
<div class="container">

<div class="main_content" style="background-image: url('static/images/bg_header.jpg')">
<div class="container">
<div class="error" style="
font-size: 15px;
color: #5A5858;
background: #F5F5F5;
margin: 10px auto;
text-align: right;
width: 35%;
min-width: 300px;
"><div class="formholder" style="
    width: 100%;
    border-bottom-color: beige;
    border-color: #CCC8C8;
    border-width: 1px;
    border-style: groove;
">
<div class="randompad">
<form action="{{ reverse_url('userlogin') }}" method="post">
    {% module xsrf_form_html() %}
<label>ایمیل</label>
<input name="username" value="" type="email">
<label>گذرواژه</label>
<input class="form-group" name="pass" type="password">
<input class="form-group" value="ورود" type="submit">
</form>
    {% if globmsg %}
    <b style="
    color: red;
    font-size: 15px;
">
        {{ globmsg }}
    </b>
    {% end %}
</div>
</div>
</div>
</div>
</div>

</div>
</div>
{% end block container %}

{% block javascript %}
<script>
    $('.carousel').carousel();
    $('.select').select2({
        placeholder: "انتخاب کنید"
    });
    $(".datePicker").val("").persianDatepicker();
    $('.your-class').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000
    });
    $('.tabs').click(function () {
        var data_action = $(this).attr('data-action');
        $('.tabs.active').removeClass('active');
        $(this).addClass('active');
        $('.group_tab_content').addClass('display-none');
        $('.group_tab_content[data-action=' + data_action + ']').removeClass('display-none');
    });



</script>
{% end block javascript %}

