{% extends "../../administration/template/base.html" %}

{% block css %}
<link href="{{ static_url('css/persian-datepicker-0.4.5.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ static_url('css/jquery.auto-complete.css') }}" rel="stylesheet" type="text/css"/>
{% end block css %}


{% block container %}

<div class="col-md-12">

    <div class="block-web full">
        <ul class="nav nav-tabs nav-justified nav_bg">
            <li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-video-camera"></i> پخش فیلم
                ویدئو</a></li>
            <li class=""><a href="#edit-profile" data-toggle="tab"><i class="fa fa-edit"></i>&nbsp اطلاعات فیلم</a>
            </li>
            <li class=""><a href="#mymessage" data-toggle="tab"><i class="fa fa-check-square"></i>&nbsp امتیاز دهی
            </a></li>
        </ul>
        <form method="post" action="{{ reverse_url('save_diveo_score') }}" enctype="multipart/form-data" onsubmit="return valid()">
                                                    {% module xsrf_form_html() %}


            <div style="margin-bottom: 0px" class="tab-content">

                <div class="tab-pane animated fadeInRight active" id="about">
                    <div class="user-profile-content">


                        <div class="form-group myinput">

                            <div class="move">
                                <video width="500px" class="video" poster="
                                        {% if video.pic != None %}{{ static_url('upload') }}/pic/{{ video.fk_heyat.id }}/
                                        {{ video.pic }}{% end %}" controls>
                                    <source src="{{ static_url('upload') }}/video/{{ video.fk_heyat.id }}/{{ video.url }}.webm"
                                            type="video/mp4">
                                </video>
                                <div class="name">
                                    <br>


                                </div>
                            </div>


                        </div>

                        <div class="myalertmsg" style="float: left">
                            <li class="fa fa-check"></li>
                            {{ video.name }}
                            <br>
                            برای کارشناسی در حوزه
                            <strong>
                                {{ sname.name }}
                            </strong>

                        </div>


                    </div>
                </div>


                <div class="tab-pane animated fadeInRight" id="edit-profile">
                    <div class="user-profile-content">
                        <div class="user-profile-content">
                            <input type="hidden" name="id" value="{{ video.id }}">

                            <div id="for_name">
                                <div class="form-group myinput">
                                    <label for="headline" class="control-label Mitra">نام</label>
                                    <input type="text" value="{{ video.name }}"
                                           placeholder="نام"
                                           name="name" id="name" class="form-control Mitra">

                                </div>

                            </div>

                            <div id="for_sartitr">
                                <div class="form-group myinput">
                                    <label for="headline" class="control-label Mitra"> سرتیتر </label>
                                    <input type="text"  placeholder="سرتیتر" name="headline"
                                           id="headline" class="form-control Mitra" value="{{ video.headline }}">

                                </div>


                            </div>

                            <div id="for_headline_main">
                                <div class="form-group myinput">
                                    <label for="headline_main" class="control-label Mitra"> توضیح اصلی </label>
                                <textarea style="max-width: 685px;"  placeholder="توضیح اصلی"
                                          name="headline_main" id="headline_main" class="form-control Mitra"
                                        >{{ video.headline_main }}</textarea>

                                </div>


                            </div>

                            <div id="for_comment">
                                <div class="form-group myinput">
                                    <label for="headline_main" class="control-label Mitra"> توضیحات </label>
                                <textarea style="max-width: 685px;"  placeholder="توضیحات"
                                          name="comment" id="comment" class="form-control Mitra"
                                        >{{ video.comment }}</textarea>

                                </div>

                                <div id="for_date">
                                    <div class="form-group myinput">
                                        <label for="upload_date" class="control-label Mitra">تاریخ برگزاری</label>
                                        <input value="{{ video.date }}" id="date"
                                               maxlength="11" name="date" class="form-control" type="text">


                                    </div>

                                </div>

                                <div id="for_artist">
                                    <div class="form-group myinput">
                                        <label for="artist" class="control-label Mitra">مداح یا سخنران</label>

                                        <div class="input-group" style="width: 100%">
                                            <input class="form-group" name="artist" id="artist" type="text"
                                                   style="width: 90%">
                                            <button onclick="addartist()" type="button" class="btn btn-success">افزودن
                                            </button>
                                            <input type="hidden" name="artists" id="artists" value="{{ hartist }}">
                                        </div>

                                    </div>
                                    <div class="myalertmsg" id="showartists">
                                        {% for item in artists %}
                                        <a href="javascript:void(0)" style="color:green"
                                           onclick="removeartist('{{ item.fk_user.fore_name }} {{ item.fk_user.sur_name }}')">
                                            <li class="fa fa-user"></li>
                                            &nbsp {{ item.fk_user.fore_name }} {{ item.fk_user.sur_name }} </a> &nbsp
                                        &nbsp
                                        {% end %}
                                    </div>


                                </div>

                                <div id="for_keyword">
                                    <div class="form-group myinput">
                                        <label for="type" class="control-label Mitra">کلیدواژه ها</label>

                                        <div class="input-group">
                                            <input class="form-control" type="text" id="keyword">

                                            <div class="input-group-btn">
                                                <input type="hidden" id="keywords" name="keywords"
                                                       value="{{ hkeyword }}">
                                                <button type="button" onclick="addkword()" class="btn btn-success">
                                                    افزودن
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="myalertmsg" id="showkeywords">
                                        {% for item in keywords %}
                                        <a href='javascript:void(0)' style='color:green '
                                           onclick="deletekeyword('{{ item.fk_keyword.name }}')">
                                            <li class='fa fa-user'></li>
                                            &nbsp {{ item.fk_keyword.name }}  </a> &nbsp &nbsp
                                        {% end %}                            </div>


                                </div>

                                {% if  video.fk_address == None %}
                                <div id="for_ostan">
                                    <div class="form-group myinput">
                                        <label style="color :green">
                                            آدرس برگزاری ویدئو در محل هیئت می باشد.
                                        </label>
                                    </div>
                                </div>
                                {% else %}
                                <div id="for_ostan">
                                    <div class="form-group myinput">
                                        <label for="headline" class="control-label Mitra">استان</label>
                                        <input type="text" value="{{ video.fk_address.province }}"
                                               placeholder="استان" name="ostan" id="ostan" class="form-control Mitra">

                                    </div>

                                </div>
                                <div id="for_city">
                                    <div class="form-group myinput">
                                        <label for="headline" class="control-label Mitra">نام</label>
                                        <input type="text" value="{{ video.fk_address.city }}"
                                               placeholder="شهر" name="city" id="city" class="form-control Mitra">

                                    </div>

                                </div>
                                <div id="for_village">
                                    <div class="form-group myinput">
                                        <label for="headline" class="control-label Mitra">نام</label>
                                        <input type="text" value="{{ video.fk_address.village }}"
                                               placeholder="روستا" name="village" id="village"
                                               class="form-control Mitra">

                                    </div>

                                </div>
                                <div id="for_address">
                                    <div class="form-group myinput">
                                        <label for="headline" class="control-label Mitra">نام</label>
                                <textarea  placeholder="آدرس"
                                          name="address" id="address"
                                          class="form-control Mitra">{{ video.fk_address.address }}</textarea>

                                    </div>

                                </div>

                                {% end %}


                            </div>
                        </div>
                    </div>


                </div>

                <div class="tab-pane" id="mymessage">
                    <div class="user-profile-content">
                        <div class="user-profile-content">
                            <div class="form-group myinput" style="float: right">

                                {% for domain in sdomain %}
                                <div>
                                    <div class="form-group myinput">
                                        <label>{{ domain.name }}</label>
                                        <input placeholder="0" type="number" name="{{ domain.id }}"
                                               style="width: 80px" class="form-control Mitra"/>
                                    </div>

                                </div>

                                {% end %}


                            </div>


                        </div>

                        <div class="myalertmsg" style="float:left;text-align: right">
                            <li class="fa fa-info"></li>
                            &nbsp
                            <strong>
                                امتیاز دهی
                            </strong>
                            <br>
                            امتیاز های مربوط به هر بخش را وارد کنید
                            <br>

                        </div>

                        <div class="myinput" style="direction: ltr;width:100%;margin-top: 10px;">

<div id="errordiv" class="alert alert-danger" hidden="hidden" style="direction: rtl">
        </div>
                            <input name="sdomainid" value="{{ sname.id }}" type="hidden" >

                            <button type="submit" class="btn btn-default">
                                <li class="fa fa-chevron-left"></li>
                                تایید فیلم
                            </button>
                            <br>
                        </div>

        </form>


            <input name="sdomainid" value="{{ sname.id }}" type="hidden">


    </div>
    <div>

    </div>

</div>


<!--</form>-->
</div>
<div id="reject" style="text-align: left;margin-left: 2%;height: 50px" >

    <a style="color: green" href="#" data-modal-id="popup1">
                            <button type="button" class="btn btn-default">
عدم تایید
                                                                <li class="fa fa-chevron-left"></li>


                            </button></a>
    <br>
<div style="width:500px;top: -6.5px; left: 210px;text-align: right" id="popup1" class="modal-box">


<header>
    <a href="#" class="js-modal-close close">×</a> &nbsp &nbsp
    علت رد فیلم را برای اطلاع به کارشناس اولیه بنویسید:
  </header>
                                                    <div class="modal-body">
                                                        <form method="post" action="{{ reverse_url('reject_video_subject') }}">
                                                                                                    {% module xsrf_form_html() %}

                                                            <input name="id" type="hidden" value="{{ video.id }}">

                                                کارشناس کل:
                                                    {{ video.fk_user_expert.fore_name }}
                                                    {{ video.fk_user_expert.sur_name }}
                                                    <br><br>
                                                    علت رد فیلم:
                                                        <br><br>
                                                    <textarea style="width: 400px" name="msg"></textarea>
                                                        <br><br>
                                                    <button type="submit" class="btn btn-success">ارسال</button>
                                                        </form>

                                                        </div>


                                            </div>
    </div>

<!--/tab-content-->

</div>

<!--/block-web-->


{% end block container %}


{% block scripts %}
<script type="text/javascript" src="{{ static_url('js/jquery.auto-complete.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/jquery.auto-complete.min.js') }}"></script>
<script type="text/javascript">

      function isValidDate(dateString) {
        // First check for the pattern
        if (!/^\d{4}\/\d{2}\/\d{2}$/.test(dateString))
            return false;


        // Parse the date parts to integers
        var parts = dateString.split("/");
        var day = parseInt(parts[2], 10);
        var month = parseInt(parts[1], 10);
        var year = parseInt(parts[0], 10);

        // Check the ranges of month and year
        if (year < 1000 || year > 1800 || month == 0 || month > 12)
            return false;

        var monthLength = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

        // Adjust for leap years
        if (year % 400 == 0 || (year % 100 != 0 && year % 4 == 0))
            monthLength[1] = 29;

        // Check the range of the day
        return day > 0 && day <= monthLength[month - 1];
    }

    function valid() {
        _name = document.getElementById('name').value.trim();
        _headline = document.getElementById('headline').value.trim();
        _maintxt = document.getElementById('headline_main').value.trim();
        _date = document.getElementById('date').value.trim();
        _error = document.getElementById('errordiv');

        if (_name == "") {
            _error.hidden = false;
            _error.innerHTML = "لطفاً عنوانی برای ویدئو انتخاب کنید";
        }

        else if (_headline == "") {
            _error.hidden = false;
            _error.innerHTML = "لطفا متنی را به عنوان سرتیتربرای ویدئو  وارد کنید "
        }

        else if (_date == "") {
            _error.hidden = false;
            _error.innerHTML = "لطفا تاریخ برگزاری ویدئو را  وارد کنید "
        }

        else if (!isValidDate(_date)) {
            _error.hidden = false;
            _error.innerHTML = "لطفا تاریخ برگزاری ویدئو را  صحیح وارد کنید، به عنوان مثال : 1394/10/09 "
        }

        else if (_maintxt == "") {
            _error.hidden = false;
            _error.innerHTML = "لطفا متن اصلی را برای معرفی ویدئو وارد کنید"
        }


        else {
            _error.hidden = true;
            return true;

        }

        return false;

    }
    function addkword() {
        _keyword = document.getElementById('keyword').value.trim();
        _keyword = _keyword.replace(',', '');
        _keywords = document.getElementById('keywords');
        _showkeywords = document.getElementById('showkeywords');


        if (!_keywords.value.match(',' + _keyword + ',')) {
            if (_keyword) {
                _showkeywords.hidden = false;
                if (_keywords.value == "") {
                    _keywords.value = ',' + _keyword + ',';
                    _showkeywords.innerHTML = "<a href='javascript:void(0)' style = 'color:green 'onclick='deletekeyword(\"" + _keyword + "\")'> <li class='fa fa-user'></li>" + "&nbsp" + _keyword + '</a>' + "&nbsp" + "&nbsp";
                    document.getElementById('keyword').value = ""

                }

                else {
                    _keywords.value += ',' + _keyword + ',';
                    _showkeywords.innerHTML += "<a href='javascript:void(0)' style = 'color:green 'onclick='removeartist(\"" + _keyword + "\")'> <li class='fa fa-user'></li>" + "&nbsp" + _keyword + '</a>' + "&nbsp" + "&nbsp";
                    document.getElementById('keyword').value = ""

                }

            }

        }
    }
    function deletekeyword(keyword) {
        ans = confirm('کلید واژه حذف شود؟')
        if (ans == true) {
            _keywords = document.getElementById('keywords').value;
            document.getElementById('keywords').value = _keywords.replace(',' + keyword + ',', '');
            array_artist = document.getElementById('keywords').value.split(',');
            document.getElementById('showkeywords').innerHTML = "";
            array_artist.forEach(function (entry) {
                        if (entry != "") {
                            _temp = "<a href='javascript:void(0)' style = 'color:green 'onclick='deletekeyword(\"" + entry + "\")'> <li class='fa fa-user'></li>" + "&nbsp" + entry + '</a>' + "&nbsp" + "&nbsp";
                            document.getElementById('showkeywords').innerHTML += _temp
                        }

                    }
            );
            if (document.getElementById('showkeywords').innerHTML == "") {
                document.getElementById('showkeywords').hidden = true;
            }
        }

    }


    function addartist() {
        _artist = document.getElementById('artist').value.trim();
        _artists = document.getElementById('artists');
        _artist = _artist.replace(',', '');

        _showartists = document.getElementById('showartists');
        if (!_artists.value.match(',' + _artist + ',')) {
            if (_artist) {
                _showartists.hidden = false;
                if (_artists.value == "") {
                    _artists.value = ',' + _artist + ',';
                    _showartists.innerHTML = "<a href='javascript:void(0)' style = 'color:green 'onclick='removeartist(\"" + _artist + "\")'> <li class='fa fa-user'></li>" + "&nbsp" + _artist + '</a>' + "&nbsp" + "&nbsp";
                    document.getElementById('artist').value = ""

                }

                else {
                    _artists.value += ',' + _artist + ',';
                    _showartists.innerHTML += "<a href='javascript:void(0)' style = 'color:green 'onclick='removeartist(\"" + _artist + "\")'> <li class='fa fa-user'></li>" + "&nbsp" + _artist + '</a>' + "&nbsp" + "&nbsp";
                    document.getElementById('artist').value = ""

                }

            }

        }

    }
    function removeartist(artist) {
        ans = confirm('مداح  حذف شود؟')
        if (ans == true) {
            _artists = document.getElementById('artists').value;
            document.getElementById('artists').value = _artists.replace(',' + artist + ',', '');
            array_artist = document.getElementById('artists').value.split(',');
            document.getElementById('showartists').innerHTML = "";
            array_artist.forEach(function (entry) {
                        if (entry != "") {
                            _temp = "<a href='javascript:void(0)' style = 'color:green 'onclick='removeartist(\"" + entry + "\")'> <li class='fa fa-user'></li>" + "&nbsp" + entry + '</a>' + "&nbsp" + "&nbsp";
                            document.getElementById('showartists').innerHTML += _temp
                        }

                    }
            );

            if (document.getElementById('showartists').innerHTML == "") {
                document.getElementById('showartists').hidden = true;
            }
        }
    }


    $(document).ready(function () {
        artist = $(this).val();
        $.ajax({
            url: "/videos/auto_load/artist",
            type: "POST",
            data: {artist: artist},
            success: function (response) {
                $('#artist').autoComplete({
                    minChars: 1,
                    source: function (term, suggest) {
                        term = term.toLowerCase();
                        var choices = response['key'];
                        var suggestions = [];
                        for (i = 0; i < choices.length; i++)
                            if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                        suggest(suggestions);
                    }
                });
            }
        });

        keyword = $(this).val();
        $.ajax({
            url: "/videos/auto_load/keyword",
            type: "POST",
            data: {artist: artist},
            success: function (response) {
                $('#keyword').autoComplete({
                    minChars: 1,
                    source: function (term, suggest) {
                        term = term.toLowerCase();
                        var choices = response['key'];
                        var suggestions = [];
                        for (i = 0; i < choices.length; i++)
                            if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                        suggest(suggestions);
                    }
                });
            }
        });


    });


</script>
<script type="text/javascript" src="{{ static_url('js/persian-date.js') }}"></script>

<script>
    $(function () {

        var appendthis = ("<div class='modal-overlay js-modal-close'></div>");

        $('a[data-modal-id]').click(function (e) {
            e.preventDefault();
            $("body").append(appendthis);
            $(".modal-overlay").fadeTo(500, 0.7);
            //$(".js-modalbox").fadeIn(500);
            var modalBox = $(this).attr('data-modal-id');
            $('#' + modalBox).fadeIn($(this).data());
        });


        $(".js-modal-close, .modal-overlay").click(function () {
            $(".modal-box, .modal-overlay").fadeOut(500, function () {
                $(".modal-overlay").remove();
            });

        });

        $(window).resize(function () {
            $(".modal-box").css({
                top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                left: ($(window).width() - $(".modal-box").outerWidth()) / 2
            });
        });

        $(window).resize();

    });
</script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>

{% end block scripts %}
