{% extends "../../administration/template/base.html" %}

{% block css %}
<link href="{{ static_url('css/persian-datepicker-0.4.5.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ static_url('css/jquery.auto-complete.css') }}" rel="stylesheet" type="text/css"/>

{% end block css %}


{% block container %}

<div class="col-md-12">

    <div class="block-web full">


        <div style="margin-bottom: 0px" class="tab-content">

            <div class="tab-pane animated fadeInRight active" id="about">
                <div class="user-profile-content">


                        <div class="form-group myinput">

                            <div class="move">
                                <video  width="500px" class="video" poster="
                                        {% if video.pic != None %}{{ static_url('upload') }}/pic/{{ video.fk_heyat.id }}/
                                        {{ video.pic }}{% end %}" controls>
                                    <source src="{{ static_url('upload') }}/video/{{ video.fk_heyat.id }}/{{ video.url }}.webm"
                                            type="video/mp4">
                                </video>
                                <div class="name">
                                    <br>
                                    <div class="alert-info" style="width:500px;">
                                         &nbsp
                                        {{ video.visit }}
                                        بازدید
  &nbsp  &nbsp  &nbsp  &nbsp
                                    {{ video.score }}
                                    امتیاز



                                    </div>
                                    <br>
                                     {% for item in keywords %}
      <label style="color: white;background-color: #000000;position: absolute" >

          &nbsp<a href="#" style="color: white;;">
          {{ item.fk_keyword.name }}
              </a>&nbsp
                                        </label> &nbsp  &nbsp

&nbsp  &nbsp
                                        {% end %}


                                </div>
                                <br>
                                {% if user['login_user'].fk_role.id == 2 or user['login_user'].fk_role.id == 3 or user['login_user'].fk_role.id == 4 %}
                                {% if comment != None %}
<br>
                                        {% for item in comment %}
                                <div id="div{{ item.id }}">

                                   <img src="{{ static_url('images/users/') }}{{ item.fk_comment.fk_user.pic }}" width="25px" height="25px" style="margin-right: 20px">
            {{ item.fk_comment.fk_user.fore_name }}
            {{ item.fk_comment.fk_user.sur_name }}
&nbsp  &nbsp &nbsp  &nbsp
                  {% from khayyam import JalaliDate %}
                                        {% set date = JalaliDate(item.inserted_date) %}
                                <label>
                                                        {{ date }}

                                </label>

                                <div  style="width: 500px;background-color: white;margin-right: 20px;margin-top: 10px">

              <div class="ticket_problem">{{ item.fk_comment.text  }}</div>
              <p>

              </p>
                                    <div class="task-footer">
              <div class="pull-right">
                <ul class="footer-icons-group">
                  <li><a  onclick="delete_comment({{ item.id }})" style="color: red" title="حذف" href="#"><i class="fa fa-trash-o"></i></a></li>

                   <li><a  onclick="accept_comment({{ item.id }})" style="color:green;" title="تایید" href="#"><i class="fa fa-check"></i></a></li>


                </ul>

              </div>
              </div>
             </div><br><br>
                                </div>
                                          {% end%}

                                {% end %}
                                {% end %}
                                <br>


                            </div>

                        </div>



                        <div class="myalertmsg" style="float: left">
                            <li class="fa fa-check"></li>
                            {{ video.name }}
                            <br>
                            هیئت:
{{ video.fk_heyat.name }}
                            <br>
تاریخ برگزاری:
{{ video.date }}
                            <br>
<br>
                            اجرا کنندگان مراسم:&nbsp
                            {% for item in artists %}
                                 <a href="#" style="color: #3C763D">
                                                            {{ item.fk_user.fore_name }}{{ item.fk_user.sur_name }}
                            </a>
                                       &nbsp  &nbsp

                            {% end %}
                        </div>

                                            <div class="myalertmsg" style="float: left">
                            {{ video.headline }}
                            <br>
{{ video.headline_main }}
                            <br>
{{ video.comment }}
                            <br>
<br>

                        </div>

                </div>

            </div>




        </div>



        <!--</form>-->





    </div>
</div>


    <!--/tab-content-->

</div>

<!--/block-web-->
</div>

{% end block container %}


{% block scripts %}
<script type="text/javascript" src="{{ static_url('js/jquery.auto-complete.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/jquery.auto-complete.min.js') }}"></script>
<script type="text/javascript">
function accept_comment(id)
{
    $.ajax({

                url: '/admin/video/acceptcomment',
                type: "POST",
                data: {id: id},
                success: function (re) {
                    if(re == "ok")
{
            var element = document.getElementById("div"+id);
            element.parentNode.removeChild(element);
                    }

                }
            })
}

    function delete_comment(id)
    {
        ans = confirm('دیدگاه حذف شود؟');
        if (ans == true)
        {
                $.ajax({
                url: '/admin/video/delete_comment',
                type: "POST",
                data: {id: id},
                success: function (re) {
                    if(re == "ok")
{
            var element = document.getElementById("div"+id);
            element.parentNode.removeChild(element);
                    }

                }
            })

        }
    }

</script>
<script type="text/javascript" src="{{ static_url('js/persian-datepicker-0.4.5.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/persian-date.js') }}"></script>
<script type="text/javascript">
    /*
     Default Functionality
     */
</script>
{% end block scripts %}
