
<body>

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>

ویرایش سطوح دسترسی

</title>
    <link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/basic.css") }}' rel="stylesheet">


<script type="text/javascript">
    function show(id)
    {
        document.getElementById('action').value = id;

    }

    function hid()
    {
        document.getElementById('main').hidden = true
    }
</script>
</head>

<body  class="Mitra" dir="ltr" onload="show({{showaction}})">
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">



    <div class="col-md-8 col-md-offset-2" dir="rtl">

        <div class="form-group">
            <form method="post" action="{{reverse_url('add_action')}}">
                                                        {% module xsrf_form_html() %}

                  <select id="action" name="action" onchange="hid()">
                {%for item in role%}
                <option value="{{item.id}}">{{item.name}}</option>
                {%end%}
            </select>
           &nbsp <button class="btn" type="submit">مشاهده</button>
            <br>
            <hr>
            </form>
            <div id="main">
                <form method="POST" action="{{reverse_url('change_action')}}">
                                                            {% module xsrf_form_html() %}

<input name="role" type="hidden" value="{{showaction}}">
 {% for item in action %}
         -| {{item.name}} :
    <br>
          {%for act in subaction%}
           {% if act.fk_action == item %}
           &nbsp&nbsp&nbsp &nbsp&nbsp -| {{act.name}} &nbsp<input  type="checkbox" name="{{act.id}}" class="input" {% if act.id in  role_action %}checked{%end%}>
    <br>
         {%end%}
        {%end%}
            <br>
 {%end%}
<button class="btn btn-success" type="submit">ثبت</button>
<br><br><br>
</form>


            </div>


            </div>



    </div>
</div>


</body>
</html>







