<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<div class="row">
    <form name="upload" method="POST" action="/administration/upload" enctype="multipart/form-data">
                                                {% module xsrf_form_html() %}

        <input name="video" type="hidden" id="upload_path">
        <input name="file1" type="file">
        <input type="submit" value="submit" name="upload_file">
    </form>
</div>
<script src="{{static_url('js/jquery.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("input[name='upload_file']").click(function(e){
            e.preventDefault();
            alert("hi click.");
            var form_data = new FormData();
            form_data.append("file", $("input[name='file1']")[0].files[0]);
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (settings.type == 'POST' || settings.type == 'PUT' || settings.type == 'DELETE') {
                        function getCookie(name) {
                            var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
                            return r ? r[1] : undefined;
                        }
                        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                            // Only send the token to relative URLs i.e. locally.
                            xhr.setRequestHeader("X-CSRFToken", getCookie("_xsrf"));
                        }
                    }
                }
            });
            $.ajax({
                url:'/admin/upload',
                type: "POST",
                enctype: 'multipart/form-data',
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success:function(re){
                    alert("success")
                },
                error:function(res){
                    alert("error");
                }
            });
        })

    });

</script>
</body>
</html>