{% extends "../../administration/template/base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ static_url('dashboard/plugins/file-uploader/css/blueimp-gallery.min.css') }}">
<link rel="stylesheet" href="{{ static_url('dashboard/plugins/file-uploader/css/jquery.fileupload.css') }}">
<link rel="stylesheet" href="{{ static_url('dashboard/plugins/file-uploader/css/jquery.fileupload-ui.css') }}">
<link href="{{ static_url('dashboard/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css') }}')}}"
      rel="stylesheet">


<script type="text/javascript" src="{{ static_url('dashboard/plugins/dropzone/dropzone.min.js') }}"></script>
<link href="{{ static_url('dashboard/plugins/dropzone/dropzone.css') }}" rel="stylesheet">
{% end block css %}


{% block container %}

<div class="col-md-12">
    <div class="block-web full">
        <ul class="nav nav-tabs nav-justified nav_bg">
            <li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-picture-o"></i> آپلود پوستر فیلم
                (اختیاری) </a></li>

            <li class=""><a href="#edit-profile" data-toggle="tab"><i class="fa fa-video-camera"></i> آپلود فیلم </a>
            </li>
        </ul>
        <div class="tab-content" style="min-height: 350px">
            <div class="tab-pane animated fadeInRight active" id="about">


                <div id="for_pic">
                    <div class="form-group myinput">
                        <form name="upload" id="upload_file_pic">
                                                                    {% module xsrf_form_html() %}

                            <label>
                                تصویر مورد نظر را وارد کنید:
                            </label>
                            <input name="pic" type="hidden" id="upload_path_pic" required="required">
                            <br>
                            <input class="btn-small" name="file1_pic" type="file">
                            <br>
                            <br>
                            <input class="btn" type="submit" value="بارگزاری تصویر" name="upload_file_pic"></form>
  <img id="picload" src="{{ static_url('images/uploading.gif') }}"
                         style="width: 30px;height: 30px;margin-right: 230px" hidden="hidden">
                    <br>
<br>
                    <div id="psucsess" class="alert alert-success" role="alert" hidden="hidden"></div>
                    <div id="perror" class="alert alert-danger" role="alert" hidden="hidden"></div>
            </div>

                    </div>
                    <div class="myalertmsg">
                        <strong>
                            پوستر فیلم
                        </strong>
                        <br>
                        می توانید پوستری برای پیش نمایش فیلم خود در سایت آپلود نمایید
                        <br>
                    </div>



                </div>



            <div class="tab-pane animated fadeInRight" id="edit-profile">
                <div id="for_video">
                    <div class="form-group myinput">
                        <form id="formid" name="upload" method="POST" action="{{ reverse_url('upload_video') }}" enctype="multipart/form-data">
                                                                    {% module xsrf_form_html() %}

                            <input name="video" type="hidden" id="upload_path" required="required">
                        <span class="btn"><i class="glyphicon glyphicon-plus"></i>
                            <span>Add files...</span>
                    <input class="btn-small" type="file" name="file1" id="video_file">
                    </span>
                            <br><br><br>
                            <input id="btn" class="btn btn-success" type="submit" value="آغاز آپلود >>" name="upload_file">
                        </form>
                        <br>

                        <img id="videoload" src="{{ static_url('images/uploading.gif') }}"
                             style="width: 30px;height: 30px;margin-right:420px" hidden="hidden">
                        <br>

                        <div id="finish" hidden="hidden">
                            <form method="POST" action="{{ reverse_url('video_upload_finish') }}">
                                                                        {% module xsrf_form_html() %}

                                <input id="btn-finish" class="btn btn-success" type="submit" value="پایان"
                                       hidden="hidden"
                                       style="margin-right: 400px">

                            </form>
                        </div>

<div class="progress">
    <div class="bar"></div >
    <div class="percent">2%</div >
</div>

<div id="status"></div>


                        <div id="vsucsess" class="alert alert-success" role="alert" hidden="hidden"></div>
                        <div id="verror" class="alert alert-danger" role="alert" hidden="hidden"></div>
                    </div>
                    <div class="myalertmsg">
                        &nbsp
                        <strong>
                            فیلم مورد نظر خود را برای آپلود وارد کنید
                        </strong>
                        <br>
فیلم شما پس از بررسی کارشناسی بر روی کانال هیئت شما قرار خواهد گرفت
                    </div>
                </div>


            </div>


        </div>

    </div>

    <!--/tab-content-->
</div>
<!--/block-web-->
</div>
<!--/block-web-->


{% end block container %}


{% block scripts %}
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="https://raw.githubusercontent.com/enyo/dropzone/master/dist/dropzone.js"></script>
<script type="text/javascript">




var size = 0;

         $('#video_file').bind('change', function() {

  //this.files[0].size gets the size of your file.
  size = this.files[0].size;

});
    $(document).ready(function () {
        $("input[name='upload_file']").click(function (e) {

            e.preventDefault();
            var form_data = new FormData();
            form_data.append("file", $("input[name='file1']")[0].files[0]);
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (settings.type == 'POST' || settings.type == 'PUT' || settings.type == 'DELETE') {
                        function getCookie(name) {
                            var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
                            return r ? r[1] : undefined;
                        }

                        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                            // Only send the token to relative URLs i.e. locally.
                            xhr.setRequestHeader("X-CSRFToken", getCookie("_xsrf"));
                        }
                    }
                }
            });
            document.getElementById('verror').hidden = true;
            document.getElementById('vsucsess').hidden = true;
            document.getElementById('videoload').hidden = false;
            document.getElementById('btn').disabled = true;
      var bar = $('.bar');
    var percent = $('.percent');
    var status = $('#status');


            $.ajax({
                url: '/admin/video/finish',
                type: "POST",
                data: {size:size},
                success: function (re) {
                    if (re == 'ok')
                    {
   $('form').ajaxForm({
        beforeSend: function() {
            status.empty();
alert('d')
            var percentVal = '12%';
            bar.width(percentVal);
            percent.html(percentVal);
        },
        uploadProgress: function(event, position, total, percentComplete) {
            var percentVal = percentComplete + '%';
            bar.width(percentVal);
            percent.html(percentVal);
        },
        complete: function(xhr) {
            status.html(xhr.responseText);
        }
    });
                          $.ajax({
                url: '/admin/upload',
                type: "POST",
                enctype: 'multipart/form-data',
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (re) {
                    if (re == 'true') {
                        document.getElementById('verror').hidden = true;
                        document.getElementById('videoload').hidden = true;
                        window.location.href = "/admin/video/finish"

                    }

                    else {
                        alert(re)
                        document.getElementById('verror').hidden = false;
                        document.getElementById('vsucsess').hidden = true;
                        document.getElementById('videoload').hidden = true;
                        document.getElementById('verror').innerHTML = "پسوند فایل وارد شده نامعتبر است!";
                        document.getElementById('btn').disabled = false


                    }
                },
                error: function (res) {
                    document.getElementById('verror').hidden = fale;
                    document.getElementById('vsucsess').hidden = true;
                    document.getElementById('videoload').hidden = true;
                    document.getElementById('verror').innerHTML = "فایل انتخاب شده صحیح نمی باشد";
                    document.getElementById('btn').disabled = false
                },
         beforeSend: function() {
            status.empty();
            var percentVal = '0%';
            bar.width(percentVal);
            percent.html(percentVal);
        },
          uploadProgress: function(event, position, total, percentComplete) {
            alert('s')
            var percentVal = percentComplete + '%';
            bar.width(percentVal);
            percent.html(percentVal);
        },
        complete: function(xhr) {
            status.html(xhr.responseText);
        }

            });
                     }
                    else
                    {
                        document.getElementById('verror').hidden = false;
                        document.getElementById('vsucsess').hidden = true;
                        document.getElementById('videoload').hidden = true;
                        document.getElementById('verror').innerHTML = "لطفا فیلمی برای آپلود انتخاب کنید";
                        document.getElementById('btn').disabled = false
                    }

                }


            });

        });


        $("#upload_file_pic").submit(function (e) {
            e.preventDefault();
            var form_data = new FormData();
            form_data.append("file", $("input[name='file1_pic']")[0].files[0]);
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (settings.type == 'POST' || settings.type == 'PUT' || settings.type == 'DELETE') {
                        function getCookie(name) {
                            var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
                            return r ? r[1] : undefined;
                        }

                        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                            // Only send the token to relative URLs i.e. locally.
                            xhr.setRequestHeader("X-CSRFToken", getCookie("_xsrf"));
                        }
                    }
                }
            });
            document.getElementById('perror').hidden = true;
            document.getElementById('psucsess').hidden = true;
            document.getElementById('picload').hidden = false;
            $.ajax({
                url: '/admin/upload/pic',
                type: "POST",
                enctype: 'multipart/form-data',
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (re) {
                    if (re == 'true') {
                        document.getElementById('perror').hidden = true;
                        document.getElementById('picload').hidden = true;
                        document.getElementById('psucsess').hidden = false;
                        document.getElementById('psucsess').innerHTML = "تصویر با موفقیت آپلود شد."

                    }

                    else {
                        document.getElementById('perror').hidden = false
                        document.getElementById('psucsess').hidden = true
                        document.getElementById('picload').hidden = true
                        document.getElementById('perror').innerHTML = "پسوند فایل وارد شده نامعتبر است!"
                    }
                },
                error: function (res) {
                    document.getElementById('perror').hidden = false
                    document.getElementById('psucsess').hidden = true
                    document.getElementById('picload').hidden = true
                    document.getElementById('perror').innerHTML = "فایل انتخاب شده صحیح نمی باشد!"
                }
            });
        })




    });

</script>
<script type="text/javascript">
      document.getElementById('m50').className  = 'left_nav_active theme_border'
        document.getElementById('o50').style.display = "block";
        document.getElementById('s24').style.color = "green";




</script>
{% end block scripts %}


