{% extends "../../administration/template/base.html" %}
{% extends "../../administration/template/base.html" %}

{% block css %}
<link href="{{ static_url('css/persian-datepicker-0.4.5.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ static_url('css/jquery.auto-complete.css') }}" rel="stylesheet" type="text/css"/>

{% end block css %}


{% block container %}

<div class="col-md-12">

    <div class="block-web full">
        <ul class="nav nav-tabs nav-justified nav_bg">
            <li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-info-circle"></i>&nbsp مشخصات کلی
                ویدئو</a></li>
            <li class=""><a href="#edit-profile" data-toggle="tab"><i class="fa fa-pencil"></i>&nbsp توضیحات تکمیلی</a>
            </li>
            <li class=""><a href="#mymessage" data-toggle="tab"><i class="fa fa-external-link"></i>&nbspآدرس (اختیاری )
            </a></li>
        </ul>

        <form method="POST" onsubmit="return valid()" enctype="multipart/form-data" action="{{ reverse_url('video_upload_1') }}">
            <div style="margin-bottom: 0px" class="tab-content">
                                        {% module xsrf_form_html() %}

                <div class="tab-pane animated fadeInRight active" id="about">
                    <div class="user-profile-content">
                        <div id="for_name">

                            <div class="form-group myinput">
                                <label for="name">عنوان</label>
                                <input onkeyup="(chek_lan(this))" class="form-control" id="name" placeholder="عنوان ویدئو" name="name"
                                        type="text">
                            </div>
                            <div class="myalertmsg">
                                <li class="fa fa-info"></li>
                                &nbsp
                                عنوانی مناسب برای ویدئوی خود وارد کنید !
                            </div>
                        </div>


                        <div id="for_headtxt" style="clear: both">
                            <div class="form-group myinput">
                                <label for="headtxt">سرتیتر</label>
                            <textarea onkeyup="(chek_lan(this))" style="max-width: 685px;min-height: 70px"
                                      placeholder="سر تیتر" name="headtxt" id="headtxt" value=""
                                      class="form-control Mitra"></textarea>

                            </div>
                            <div class="myalertmsg">
                                <li class="fa fa-info"></li>
                                &nbsp
                                لطفا سر تیتری را برای ویدئوی خود انتخاب کنید !
                            </div>


                        </div>

                        <div id="for_date">

                            <div class="form-group myinput">
                                <label for="observer" class="control-label Mitra">تاریخ </label>
                                <input id="observer"  maxlength="10" name="date" class="form-control"
                                       type="text">
                            </div>
                            <div class="myalertmsg">
                                <li class="fa fa-info"></li>
                                &nbsp
                                تاریخ دقیق برگزاری فیلم به عنوان مثال:
                                <br>
                                1394/07/04
                            </div>

                        </div>

                        <div id="for_type">
                            <div class="form-group myinput">
                                <label for="type" class="control-label Mitra">نوع</label>
                                <select class="form-control Mitra" name="type" id="type">
                                    <option value="o"> تکی</option>
                                    <option value="s">سریالی</option>
                                </select>
                            </div>
                            <div class="myalertmsg">
                                <li class="fa fa-info"></li>
                                &nbsp
                                اگر فیلم شما ادامه دار است نوع آن را سریالی در غیر این صورت تکی بگذارید.
                            </div>


                        </div>

                        <div id="for_artist">
                            <div class="form-group myinput">
                                <label for="artist" class="control-label Mitra">مداح یا سخنران</label>
                                <div class="input-group">
                                    <input onkeyup="(chek_lan(this))" class="form-group" name="artist" id="artist" type="text" style="width: 100%" >
                                    <div class="input-group-btn">
                                                                            <input type="hidden" name="artists" id="artists">

                                          <button style="margin-top: -15px" onclick="addartist()" type="button" class="btn btn-success">افزودن</button>
                                    </div>
                                </div>
                                <div id="showartists" class="myalertmsg"
                                     style="width: 100%;text-align:right;margin-right: 0px " hidden="hidden">
                                </div>
                            </div>
                            <div class="myalertmsg">
                                <li class="fa fa-info"></li>
                                &nbsp
                                نام مداح یا سخنران مربوط به فیلم را اضافه کنید.
                            </div>


                        </div>
                    </div>
                </div>


                <div class="tab-pane animated fadeInRight" id="edit-profile">
                    <div class="user-profile-content">
                        <div class="user-profile-content">


                            <div id="for_maintxt">
                                <div class="form-group myinput">
                                    <label for="maintxt" class="control-label Mitra">متن اصلی</label>
                                <textarea onkeyup="(chek_lan(this))" style="max-width: 685px;min-height: 100px"
                                          placeholder="متن اصلی" name="maintxt" id="maintxt" value=""
                                          class="form-control Mitra"></textarea>

                                </div>
                                <div class="myalertmsg">
                                    <li class="fa fa-info"></li>
                                    &nbsp
                                    متنی برای معرفی ویدئوی خود به بینندگان وارد کنید.
                                </div>


                            </div>

                            <div id="for_comment">
                                <div class="form-group myinput">

                                    <label for="coment" class="control-label Mitra">توضیحات</label>
                                <textarea onkeyup="(chek_lan(this))" style="max-width: 685px;min-height: 100px"
                                          placeholder="توضیحات" name="comment" id="comment"
                                          class="form-control Mitra"></textarea>

                                </div>
                                <div class="myalertmsg">
                                    <li class="fa fa-info"></li>
                                    &nbsp
                                    توضیحات مربوط به فیلم را وارد کنید
                                    <br>
                                    ( پر کردن این فیلد اختیاری است)
                                </div>
                            </div>

                            <div id="for_keyword">
                                <div class="form-group myinput">
                                    <label for="type" class="control-label Mitra">کلیدواژه ها</label>

                                    <div class="input-group">
                                        <input onkeyup="(chek_lan(this))"  class="form-control" type="text" id="keyword">

                                        <div class="input-group-btn">
                                            <input type="hidden" id="keywords" name="keywords">
                                            <button type="button" onclick="addkword()" class="btn btn-success">افزودن
                                            </button>
                                        </div>
                                    </div>
                                    <div id="showkeywords" class="myalertmsg"
                                         style="width: 100%;text-align:right;margin-right: 0px " hidden="hidden">
                                    </div>
                                </div>
                                <div class="myalertmsg">
                                    <li class="fa fa-info"></li>
                                    &nbsp
                                    کلیدواژه هایی را برای فیلمتان اضافه کنید
                                </div>


                            </div>

                            <div id="for_submit">
                                <div class="form-group myinput">

                                </div>
                                <div style="clear: both;text-align: left">
                                    <button type="submit" class="btn btn-default">

                                        مرحله بعد &nbsp
                                        <li class="fa fa-chevron-left"></li>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>


                <div class="tab-pane" id="mymessage">
                    <div class="user-profile-content">
                        <div class="user-profile-content">
                            <div class="form-group myinput" style="float: right">
                                <div id="for_ostan">
                                    <div class="form-group myinput">
                                        <label for="ostan" class="control-label Mitra"> استان </label><br>
                                        <input type="hidden" name="ostan" id="ost" value="">
                                        <select  id="Ostan" runat="server" onchange="Func(this.value)">
                                            <option value=""></option>
                                            <option value="  ,آذرشهر ,اسکو ,اهر ,بستان‌آباد ,بناب ,تبریز ,جلفا ,چاراویماق ,سراب ,شبستر ,عجب‌شیر ,کلیبر ,مراغه ,مرند ,ملکان ,میانه ,ورزقان ,هریس ,هشترود">
                                                آذربایجان شرقی
                                            </option>
                                            <option value="  ,ارومیه ,اشنویه ,بوکان ,پیرانشهر ,تکاب ,چالدران ,خوی ,سردشت ,سلماس ,شاهین‌دژ ,ماکو ,مهاباد ,میاندوآب ,نقده">
                                                آذربایجان غربی
                                            </option>
                                            <option value="  ,اردبیل ,بیله‌سوار ,پارس‌آباد ,خلخال ,کوثر ,گِرمی ,مِشگین‌شهر ,نَمین ,نیر">
                                                اردبیل
                                            </option>

                                            <option value="  ,آران و بیدگل ,اردستان ,اصفهان ,برخوار و میمه ,تیران و کرون ,چادگان ,خمینی‌شهر ,خوانسار ,سمیرم ,شهرضا ,سمیرم سفلی ,فریدن ,فریدون‌شهر ,فلاورجان ,کاشان ,گلپایگان ,لنجان ,مبارکه ,نائین ,نجف‌آباد ,نطنز">
                                                اصفهان
                                            </option>
                                            <option value="  ,آبدانان ,ایلام ,ایوان ,دره‌شهر ,دهلران ,شیروان و چرداول ,مهران">
                                                ایلام
                                            </option>
                                            <option value="  ,بوشهر ,تنگستان ,جم ,دشتستان ,دشتی,دیر ,دیلم ,کنگان ,گناوه">
                                                بوشهر
                                            </option>
                                            <option value="  ,اسلام‌شهر ,پاکدشت ,تهران ,دماوند ,رباط‌کریم ,ری ,ساوجبلاغ ,شمیرانات ,شهریار ,فیروزکوه ,کرج ,نظرآباد ,ورامین">
                                                تهران
                                            </option>
                                            <option value="  ,اردل ,بروجن ,شهرکرد ,فارسان ,کوهرنگ ,لردگان">چهارمحال و
                                                بختیاری
                                            </option>
                                            <option value="  ,بیرجند ,درمیان ,سرایان ,سربیشه ,فردوس ,قائنات,نهبندان">
                                                خراسان جنوبی
                                            </option>

                                            <option value="  ,بردسکن ,تایباد ,تربت جام ,تربت حیدریه ,چناران ,خلیل‌آباد ,خواف ,درگز ,رشتخوار ,سبزوار ,سرخس ,فریمان ,قوچان ,کاشمر ,کلات ,گناباد ,مشهد ,مه ولات ,نیشابور">
                                                خراسان رضوی
                                            </option>
                                            <option value="  ,اسفراین ,بجنورد ,جاجرم ,شیروان ,فاروج ,مانه و سملقان">
                                                خراسان شمالی
                                            </option>
                                            <option value="  ,آبادان ,امیدیه ,اندیمشک ,اهواز ,ایذه ,باغ‌ملک ,بندر ماهشهر ,بهبهان ,خرمشهر ,دزفول ,دشت آزادگان ,رامشیر ,رامهرمز ,شادگان ,شوش ,شوشتر ,گتوند ,لالی ,مسجد سلیمان,هندیجان ">
                                                خوزستان
                                            </option>
                                            <option value="  ,ابهر ,ایجرود ,خدابنده ,خرمدره ,زنجان ,طارم ,ماه‌نشان">
                                                زنجان
                                            </option>
                                            <option value="  ,دامغان ,سمنان ,شاهرود ,گرمسار ,مهدی‌شهر">سمنان</option>
                                            <option value="  ,ایرانشهر ,چابهار ,خاش ,دلگان ,زابل ,زاهدان ,زهک ,سراوان ,سرباز ,کنارک ,نیک‌شهر">
                                                سیستان و بلوچستان
                                            </option>

                                            <option value="  ,آباده ,ارسنجان ,استهبان ,اقلید ,بوانات ,پاسارگاد ,جهرم ,خرم‌بید ,خنج ,داراب ,زرین‌دشت ,سپیدان ,شیراز ,فراشبند ,فسا ,فیروزآباد ,قیر و کارزین ,کازرون ,لارستان ,لامِرد ,مرودشت ,ممسنی ,مهر ,نی‌ریز">
                                                فارس
                                            </option>
                                            <option value="  ,آبیک ,البرز ,بوئین‌زهرا ,تاکستان ,قزوین">قزوین</option>
                                            <option value="  ,قم">قم</option>
                                            <option value="  ,بانه ,بیجار ,دیواندره ,سروآباد ,سقز ,سنندج ,قروه ,کامیاران ,مریوان">
                                                کردستان
                                            </option>
                                            <option value="  ,بافت ,بردسیر ,بم ,جیرفت ,راور ,رفسنجان ,رودبار جنوب ,زرند ,سیرجان ,شهر بابک ,عنبرآباد ,قلعه گنج ,کرمان ,کوهبنان ,کهنوج ,منوجان">
                                                کرمان
                                            </option>
                                            <option value="  ,اسلام‌آباد غرب ,پاوه ,ثلاث باباجانی ,جوانرود ,دالاهو ,روانسر ,سرپل ذهاب ,سنقر ,صحنه ,قصر شیرین ,کرمانشاه ,کنگاور ,گیلان غرب ,هرسین">
                                                کرمانشاه
                                            </option>

                                            <option value="  ,بویراحمد ,بهمئی ,دنا ,کهگیلویه ,گچساران">کهگیلویه و
                                                بویراحمد
                                            </option>
                                            <option value="  ,آزادشهر ,آق‌قلا ,بندر گز ,ترکمن ,رامیان ,علی‌آباد ,کردکوی ,کلاله ,گرگان ,گنبد کاووس ,مراوه‌تپه ,مینودشت">
                                                گلستان
                                            </option>
                                            <option value="  ,آستارا ,آستانه اشرفیه ,اَملَش ,بندر انزلی ,رشت ,رضوانشهر ,رودبار ,رودسر ,سیاهکل ,شَفت ,صومعه‌سرا ,طوالش ,فومَن ,لاهیجان ,لنگرود ,ماسال">
                                                گیلان
                                            </option>
                                            <option value="  ,ازنا ,الیگودرز ,بروجرد ,پل‌دختر ,خرم‌آباد ,دورود ,دلفان ,سلسله ,کوهدشت">
                                                لرستان
                                            </option>
                                            <option value="  ,آمل ,بابل ,بابلسر ,بهشهر ,تنکابن ,جویبار ,چالوس ,رامسر ,ساری ,سوادکوه ,قائم‌شهر ,گلوگاه ,محمودآباد ,نکا ,نور ,نوشهر">
                                                مازندران
                                            </option>
                                            <option value="  ,آشتیان ,اراک ,تفرش ,خمین ,دلیجان ,زرندیه ,ساوه ,شازند ,کمیجان ,محلات">
                                                مرکزی
                                            </option>

                                            <option value="  ,ابوموسی ,بستک ,بندر عباس ,بندر لنگه ,جاسک ,حاجی‌آباد ,شهرستان خمیر ,رودان  ,قشم ,گاوبندی ,میناب">
                                                هرمزگان
                                            </option>
                                            <option value="  ,اسدآباد ,بهار ,تویسرکان ,رزن ,کبودرآهنگ ,ملایر ,نهاوند ,همدان">
                                                همدان
                                            </option>
                                            <option value="  ,ابرکوه ,اردکان ,بافق ,تفت ,خاتم ,صدوق ,طبس ,مهریز ,مِیبُد ,یزد">
                                                یزد
                                            </option>
                                        </select>


                                    </div>

                                </div>
                                <div id="for_city">
                                    <div class="form-group myinput">
                                        <label for="city" class="control-label Mitra"> شهر </label><br>
                                        <select  id="Shahrestan" runat="server">
                                        </select>
                                        <input type="hidden" name="city" id="city" value="">


                                    </div>

                                </div>
                                <div id="for_village">
                                    <div class="form-group myinput">
                                        <label for="village" class="control-label Mitra"> روستا (اختیاری) </label>

                                        <input onkeyup="(chek_lan(this))" type="text" name="village" id="village" value="" placeholder="روستا"
                                               class="form-control Mitra"/>


                                    </div>

                                </div>
                                <div id="for_address">
                                    <div class="form-group myinput"><label for="address" class="control-label Mitra">
                                        آدرس </label>
               <textarea onkeyup="(chek_lan(this))" style="max-width: 685px;
min-height: 100px;" type="text" name="address" id="address" placeholder="آدرس کامل"
                         class="form-control Mitra"></textarea>

                                    </div>

                                    <div>
                                    </div>

                                </div>


                            </div>


                        </div>

                        <div class="myalertmsg" style="float:left;text-align: right">
                            <li class="fa fa-info"></li>
                            &nbsp
                            <strong>
                                بخش اختیاری
                            </strong>
                            <br>
                            در صورتی که آدرس برگزاری فیلم ، آدرسی به غیر از آدرس هیئت شما می باشد می توانید آدرس را به
                            ویدئو
                            اضافه کنید.
                            <br>
                            در غیر این صورت لزومی به پر کردن این بخش نمی باشد.

                        </div>

                        <div id="for_submit">
                            <div class="form-group myinput">

                            </div>
                            <div style="clear: both;text-align: left">
                                <button type="submit" class="btn btn-default">

                                    مرحله بعد &nbsp
                                    <li class="fa fa-chevron-left"></li>

                            </div>
                        </div>

                    </div>
                    <div>

                    </div>

                </div>


            </div>
        </form>
        <div id="errordiv" class="alert alert-danger" style="margin-top: 2%;width: 80%;margin-right: 1%"
             hidden="hidden">


        </div>
        <br>
        <!--</form>-->
    </div>


    <!--/tab-content-->

</div>

<!--/block-web-->


{% end block container %}


{% block scripts %}
<script type="text/javascript" src="{{ static_url('js/jquery.auto-complete.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/jquery.auto-complete.min.js') }}"></script>
<script type="text/javascript">
        function isValidDate(dateString) {
        // First check for the pattern
        if (!/^\d{4}\/\d{2}\/\d{2}$/.test(dateString))
                        return false;



        // Parse the date parts to integers
        var parts = dateString.split("/");
        var day = parseInt(parts[2], 10);
        var month = parseInt(parts[1], 10);
        var year = parseInt(parts[0], 10);

        // Check the ranges of month and year
        if (year < 1000 || year > 1800 || month == 0 || month > 12)
            return false;

        var monthLength = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

        // Adjust for leap years
        if (year % 400 == 0 || (year % 100 != 0 && year % 4 == 0))
            monthLength[1] = 29;

        // Check the range of the day
        return day > 0 && day <= monthLength[month - 1];
    }

    function valid()
    {
        _name = document.getElementById('name').value.trim();
        _headline = document.getElementById('headtxt').value.trim();
        _date = document.getElementById('observer').value.trim();
        _artists = document.getElementById('showartists').innerHTML.trim();
        _maintxt = document.getElementById('maintxt').value.trim();
        _provce = document.getElementById("Ostan");
        _ostan = _provce.options[_provce.selectedIndex].text;
        _Shahrestan = document.getElementById("Shahrestan");
        index = _Shahrestan.options[_Shahrestan.selectedIndex];
        _one_artist = document.getElementById('artist').value.trim();
        _one_keyword = document.getElementById('keyword').value.trim();
        _art = document.getElementById('artists');
        _key = document.getElementById('keywords');
        _city = false;
        if(_one_artist != "")
        {
           _art.value += ',' + _one_artist + ',';

        }

        if(_one_keyword != "")
        {
            _key.value += ',' + _one_keyword + ',';
        }


        if(index)
        {
                    document.getElementById('city').value = index.text;
            _city = true;

        }
        _address = document.getElementById('address').value.trim();


        _error = document.getElementById('errordiv');

        if(_name == "")
        {
            _error.hidden= false;
            _error.innerHTML = "لطفاً عنوانی برای ویدئوی خود انتخاب کنید";
        }

        else if(_headline == "")
        {
            _error.hidden= false;
            _error.innerHTML = "لطفا متنی را به عنوان سرتیتربرای ویدئوی خود وارد کنید "
        }

        else if(_date == "")
        {
          _error.hidden= false;
            _error.innerHTML = "لطفا تاریخ برگزاری ویدئو را  وارد کنید "
        }

        else if(!isValidDate(_date))
        {
             _error.hidden= false;
            _error.innerHTML = "لطفا تاریخ برگزاری ویدئو را  صحیح وارد کنید "
        }

        else if(_artists == "" && _one_artist == "")
        {
             _error.hidden= false;
            _error.innerHTML = "لطفا نام مداح و یا سخنران ویدئوی خود را وارد کنید"
        }

        else if(_maintxt == "")
        {
             _error.hidden= false;
            _error.innerHTML = "لطفا متن اصلی را برای معرفی ویدئوی خود وارد کنید"
        }

        else if(_ostan || _city || _address)
        {
            if ( !_ostan || ! _city || !_address)
            {
            _error.hidden= false;
            _error.innerHTML = "لطفا آدرس را به صورت کامل وارد کنید"
            }
            else
            {
                           _error.hidden= true;

                return true;
            }
        }
        else
        {
           _error.hidden= true;
            return true;
        }

        return false;

    }
    function addkword() {
        _keyword = document.getElementById('keyword').value.trim();
        _keyword = _keyword.replace(',', '');
        _keywords = document.getElementById('keywords');
        _showkeywords = document.getElementById('showkeywords');


        if (!_keywords.value.match(',' + _keyword + ',')) {
            if (_keyword) {
                _showkeywords.hidden = false;
                if (_keywords.value == "") {
                    _keywords.value = ',' + _keyword + ',';
                    _showkeywords.innerHTML = "<a href='javascript:void(0)' style = 'color:green 'onclick='deletekeyword(\"" + _keyword + "\")'> <li class='fa fa-user'></li>" + "&nbsp" + _keyword + '</a>' + "&nbsp" + "&nbsp";
                    document.getElementById('keyword').value = ""

                }

                else {
                    _keywords.value += ',' + _keyword + ',';
                    _showkeywords.innerHTML += "<a href='javascript:void(0)' style = 'color:green 'onclick='removeartist(\"" + _keyword + "\")'> <li class='fa fa-user'></li>" + "&nbsp" + _keyword + '</a>' + "&nbsp" + "&nbsp";
                    document.getElementById('keyword').value = ""

                }

            }

        }
    }

    function deletekeyword(keyword) {
        _keywords = document.getElementById('keywords').value;
        document.getElementById('keywords').value = _keywords.replace(',' + keyword + ',', '');
        array_artist = document.getElementById('keywords').value.split(',');
        document.getElementById('showkeywords').innerHTML = "";
        array_artist.forEach(function (entry) {
                    if (entry != "") {
                        _temp = "<a href='javascript:void(0)' style = 'color:green 'onclick='deletekeyword(\"" + entry + "\")'> <li class='fa fa-user'></li>" + "&nbsp" + entry + '</a>' + "&nbsp" + "&nbsp";
                        document.getElementById('showkeywords').innerHTML += _temp
                    }

                }
        );


        if (document.getElementById('showkeywords').innerHTML == "") {
            document.getElementById('showkeywords').hidden = true;
        }


    }

    function addartist() {
        _artist = document.getElementById('artist').value.trim();
        _artists = document.getElementById('artists');
        _artist = _artist.replace(',', '');

        _showartists = document.getElementById('showartists');
        if (!_artists.value.match(',' + _artist + ',')) {
            if (_artist) {
                _showartists.hidden = false;
                if (_artists.value == "") {
                    _artists.value = ',' + _artist + ',';
                    _showartists.innerHTML = "<a href='javascript:void(0)' style = 'color:green 'onclick='removeartist(\"" + _artist + "\")'> <li class='fa fa-user'></li>" + "&nbsp" + _artist + '</a>' + "&nbsp" + "&nbsp";
                    document.getElementById('artist').value = ""

                }

                else {
                    _artists.value += ',' + _artist + ',';
                    _showartists.innerHTML += "<a href='javascript:void(0)' style = 'color:green 'onclick='removeartist(\"" + _artist + "\")'> <li class='fa fa-user'></li>" + "&nbsp" + _artist + '</a>' + "&nbsp" + "&nbsp";
                    document.getElementById('artist').value = ""

                }

            }

        }

    }
    function removeartist(artist) {

        _artists = document.getElementById('artists').value;
        document.getElementById('artists').value = _artists.replace(',' + artist + ',', '');
        array_artist = document.getElementById('artists').value.split(',');
        document.getElementById('showartists').innerHTML = "";
        array_artist.forEach(function (entry) {
                    if (entry != "") {
                        _temp = "<a href='javascript:void(0)' style = 'color:green 'onclick='removeartist(\"" + entry + "\")'> <li class='fa fa-user'></li>" + "&nbsp" + entry + '</a>' + "&nbsp" + "&nbsp";
                        document.getElementById('showartists').innerHTML += _temp
                    }

                }
        );

        if (document.getElementById('showartists').innerHTML == "") {
            document.getElementById('showartists').hidden = true;
        }

    }

    $(document).ready(function () {

        artist = $(this).val();
        $.ajax({
            url: "/admin/artist/auto_load",
            type: "POST",
            data: {artist: artist},
            success: function (response) {
                $('#artist').autoComplete({
                    minChars: 1,
                    source: function (term, suggest) {
                        term = term.toLowerCase();
                        var choices = response['key'];
                        var suggestions = [];
                        for (i = 0; i < choices.length; i++)
                            if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                        suggest(suggestions);
                    }
                });
            }
        });

        keyword = $(this).val();
        $.ajax({
            url: "/admin/keyword/auto_load",
            type: "POST",
            data: {artist: artist},
            success: function (response) {
                $('#keyword').autoComplete({
                    minChars: 1,
                    source: function (term, suggest) {
                        term = term.toLowerCase();
                        var choices = response['key'];
                        var suggestions = [];
                        for (i = 0; i < choices.length; i++)
                            if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                        suggest(suggestions);
                    }
                });
            }
        });


    });



</script>

<script type="text/javascript" src="{{ static_url('js/persian-datepicker-0.4.5.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/persian-date.js') }}"></script>
<script type="text/javascript">
    /*
     Default Functionality
     */
    $(document).ready(function () {
        /*
         Default
         */
        window.pd = $("#inlineDatepicker").persianDatepicker({
            timePicker: {
                enabled: true
            },
            altField: '#inlineDatepickerAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
//            minDate:1258675200000,
//            maxDate:1358675200000,
            checkDate: function (unix) {
                var output = true;
                var d = new persianDate(unix);
                if (d.date() == 20) {
                    output = false;
                }
                return output;
            },
            checkMonth: function (month) {
                var output = true;
                if (month == 1) {
                    output = false;
                }
                return output;

            }, checkYear: function (year) {
                var output = true;
                if (year == 1396) {
                    output = false;
                }
                return output;
            }

        }).data('datepicker');

        $("#inlineDatepicker").pDatepicker("setDate", [1391, 12, 1, 11, 14]);

        //pd.setDate([1333,12,28,11,20,30]);

        /**
         * Default
         * */
        $('#default').persianDatepicker({
            altField: '#defaultAlt'

        });


        /*
         observer
         */
        $("#observer").persianDatepicker({
            altField: '#observerAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
            observer: true,
            format: 'YYYY/MM/DD'

        });

        /*
         timepicker
         */
        $("#timepicker").persianDatepicker({
            altField: '#timepickerAltField',
            altFormat: "YYYY MM DD HH:mm:ss",
            format: "HH:mm:ss a",
            onlyTimePicker: true

        });
        /*
         month
         */
        $("#monthpicker").persianDatepicker({
            format: " MMMM YYYY",
            altField: '#monthpickerAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
            yearPicker: {
                enabled: false
            },
            monthPicker: {
                enabled: true
            },
            dayPicker: {
                enabled: false
            }
        });

        /*
         year
         */
        $("#yearpicker").persianDatepicker({
            format: "YYYY",
            altField: '#yearpickerAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
            dayPicker: {
                enabled: false
            },
            monthPicker: {
                enabled: false
            },
            yearPicker: {
                enabled: true
            }
        });
        /*
         year and month
         */
        $("#yearAndMonthpicker").persianDatepicker({
            format: "YYYY MM",
            altFormat: "YYYY MM DD HH:mm:ss",
            altField: '#yearAndMonthpickerAlt',
            dayPicker: {
                enabled: false
            },
            monthPicker: {
                enabled: true
            },
            yearPicker: {
                enabled: true
            }
        });
        /**
         inline with minDate and maxDate
         */
        $("#inlineDatepickerWithMinMax").persianDatepicker({
            altField: '#inlineDatepickerWithMinMaxAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
            minDate: 1416983467029,
            maxDate: 1419983467029
        });
        /**
         Custom Disable Date
         */
        $("#customDisabled").persianDatepicker({
            timePicker: {
                enabled: true
            },
            altField: '#customDisabledAlt',
            checkDate: function (unix) {
                var output = true;
                var d = new persianDate(unix);
                if (d.date() == 20 | d.date() == 21 | d.date() == 22) {
                    output = false;
                }
                return output;
            },
            checkMonth: function (month) {
                var output = true;
                if (month == 1) {
                    output = false;
                }
                return output;

            }, checkYear: function (year) {
                var output = true;
                if (year == 1396) {
                    output = false;
                }
                return output;
            }

        });

        /**
         persianDate
         */
        $("#persianDigit").persianDatepicker({
            altField: '#persianDigitAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
            persianDigit: false
        });
    });

    function Func(Shahrestanha) {
        var _Shahrestan = document.getElementById("Shahrestan");
        var _ostan = document.getElementById("Ostan");
        document.getElementById('ost').value =  _ostan.options[_ostan.selectedIndex].text;
        _Shahrestan.options.length = 0;
        if (Shahrestanha != "") {
            var arr = Shahrestanha.split(",");
            for (i = 0; i < arr.length; i++) {
                if (arr[i] != "") {
                    _Shahrestan.options[_Shahrestan.options.length] = new Option(arr[i], arr[i]);
                }
            }


        }
    }

</script>
<script type="text/javascript">
      document.getElementById('m50').className  = 'left_nav_active theme_border'
        document.getElementById('o50').style.display = "block";
        document.getElementById('s24').style.color = "green";

              function chek_lan(val)
{
    char = val.value.charCodeAt(0);
    if(char > 32 && char<126)
    {
        val.value = "";
        val.placeholder = "لطفا زبان صفحه کلید خود را به فارسی تغییر دهید"
        return false;

    }
}
</script>

{% end block scripts %}

