{% extends "../base.html" %}

{% block css %}
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css" rel="stylesheet" type="text/css">

{% end block css %}


{% block container %}
<div class="col-md-12">
    <div class="block-web">
        <div class="header">

            <h4 class="content-header">لیست هیئت های منتظر تایید</h4>
        </div>
        <div class="porlets-content">
            <div class="table-responsive">
                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                <table class="display table table-bordered table-striped dataTable" id="dynamic-table"
                                       aria-describedby="dynamic-table_info">
                                    <thead>
                                    <tr role="row">
                                        <th style="width: 20%" class="center hidden-phone ">نام هیئت</th>

                                        <th style="width: 20%" class="center hidden-phone ">نام مدیر هیئت</th>
                                        <th style="width: 15%" class="center hidden-phone ">تاریخ درخواست</th>
                                        </th>
                                        <th style="width: 45%" class="center hidden-phone ">آدرس</th>
                                    </tr>
                                    </thead>

                                    {% for heyat in heyats %}
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    <tr class="gradeX odd">
                                        <td class=""><a style="color: green" href="#"
                                                        data-modal-id="popup1"> {{ heyat.name }}</a>

                                            <div id="popup1" class="modal-box">

                                                <div class="modal-body">

<header>
    <a href="#" class="js-modal-close close">×</a>
  </header>
                                                    <table class="display table table-bordered table-striped dataTable"
                                                           id="dynamic-table">
                                                        <tr role="row">
                                                            <td style="width: 30%; padding: 5px; font-size: 15px;%">
                                                                نام هیئت
                                                            </th>

                                                            <td style="width: 70%; padding: 5px; font-size: 15px;;">
                                                                {{ heyat.name }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 5px; font-size: 15px;">
                                                                نام مدیر هیئت
                                                            </td>

                                                            <td style="padding: 8px; font-size: 15px;">
                                                                {{ heyat.fk_admin.fore_name }} {{ heyat.fk_admin.sur_name }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 5px; font-size: 15px;">
                                                                تلفن مدیر هیئت
                                                            </td>

                                                            <td style="padding: 5px; font-size: 15px;">
                                                                {% if heyat.fk_admin.phone != None %}
                                                                {{ heyat.fk_admin.phone }}
                                                                {% end %}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 5px; font-size: 15px;">
                                                                تاریخ تاسیس
                                                            </td>

                                                            <td style="padding: 5px; font-size: 15px;">
                                                                {{ heyat.register_date }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 5px; font-size: 15px;">
                                                                تاریخ ثبت در تبلیغات اسلامی
                                                            </td>

                                                            <td style="padding: 5px; font-size: 15px;">
                                                                {{ heyat.org_register_date }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 5px; font-size: 15px;">
                                                                تاریخ ثبت در مشعر
                                                            </td>

                                                            <td style="padding: 5px; font-size: 15px;">
                                                                {{ heyat.mashaar_register_date }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 5px; font-size: 15px;">
                                                                آدرس
                                                            </td>

                                                            <td style="padding: 5px; font-size: 15px;">
                                                                {{ heyat.fk_address.province }}
                                                                - {{ heyat.fk_address.city }}
                                                                {% if heyat.fk_address.village != None %}
                                                                - {{ heyat.fk_address.village }}
                                                                {% end %}
                                                                - {{ heyat.fk_address.address }}                                                       </td>
                                                        </tr>

                                                        <tr>

                                                             <td>
                                                             <form method="post" action="{{ reverse_url('deactive_heyat_list') }}">
                                                                  {% module xsrf_form_html() %}
                                                                <input name="id" type="hidden" value="{{ heyat.id }}">
                                                                    <button style="margin-top: 2%" type="submit" class="btn btn-success">تایید هیئت
                                                                    </button>
                                                                </form>
                                                            <form method="post" action="{{ reverse_url('dont_accept_heay_request') }}">
                                                                 {% module xsrf_form_html() %}

                                                                    <button type="submit" style="margin-top: 10px" class="btn btn-danger">رد هیئت
                                                                    </button>
                                                                </td>
                                                                <td>
علت رد درخواست:
                                                                    <textarea name="msg" placeholder="دلیل رد کردن درخواست را برای ارسال به مدیر هیئت بنویسید" style="width: 90% ;max-width:435px;margin-top: 3%" ></textarea>
                                                                    <input name="id" type="hidden" value="{{ heyat.id }}">

                                                            </form>

                                                            </td>
                                                        </tr>



                                                    </table>
                                                </div>
                                            </div>


                                        </td>
                                        <td class=" ">
                                             <a style="color: #000000" href="#"
                                               data-modal-id="hpopup{{ heyat.fk_admin.id }}">
                                        {{ heyat.fk_admin.fore_name }} {{ heyat.fk_admin.sur_name }}</a>
                                                                                    <div style="width:500px;top: -6.5px; left: 210px;text-align: right"
                                                 id="hpopup{{ heyat.fk_admin.id }}" class="modal-box">

<header>
    <a style="color: red" href="#" class="js-modal-close">×</a>
  </header>
                                               &nbsp
                                                &nbsp

                                                <div class="modal-body">
                                                    <div class="user-profile-sidebar profile_widget">
                                                        <div class="row"><img width="150px" height="150px" src="
                                                                {{ static_url('images/users/') }}{{ heyat.fk_admin.pic }}">

                                                            <div class="user-identity">
                                                                <h4><strong>  {{ heyat.fk_admin.fore_name }} {{ heyat.fk_admin.sur_name }}</strong></h4>

                                                                <p>
                                                                    {% if  heyat.fk_admin.fk_address != None %}
                                                                    <i class="fa fa-map-marker"></i>
                                                                    {{ heyat.fk_admin.fk_address.province }} {{ heyat.fk_admin.fk_address.city }}
                                                                    {% if heyat.fk_admin.fk_address.village %}{{ heyat.fk_admin.fk_address.village }}{% end %} {{ heyat.fk_admin.fk_address.address }}
                                                                    {% end %}
                                                                </p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="widget-status-data">
                                                        <div class="row">
                                                            <div class="col-md-16">

                                                                <h5><strong>{{ heyat.score }}</strong><br>
                                                                    امتیاز</h5>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>



                                        </td>
                                        {% from khayyam import JalaliDate %}
                                        {% set date = JalaliDate(heyat.inserted_date) %}
                                        <td class=" ">{{ date }}</td>

                                        <td class="center hidden-phone  sorting_1">{{ heyat.fk_address.province }} {{ heyat.fk_address.city }}
                                            {% if heyat.fk_address.village %}{{ heyat.fk_address.village }}{% end %} {{ heyat.fk_address.address }}</td>

                                    </tr>
                                    </tbody>
                                    {% end %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/table-responsive-->
        </div>
        <!--/porlets-content-->


    </div>
    <!--/block-web-->
</div>


{% end block container %}


{% block scripts %}
<script>
    $(function () {

        var appendthis = ("<div class='modal-overlay js-modal-close'></div>");

        $('a[data-modal-id]').click(function (e) {
            e.preventDefault();
            $("body").append(appendthis);
            $(".modal-overlay").fadeTo(500, 0.7);
            //$(".js-modalbox").fadeIn(500);
            var modalBox = $(this).attr('data-modal-id');
            $('#' + modalBox).fadeIn($(this).data());
        });


        $(".js-modal-close, .modal-overlay").click(function () {
            $(".modal-box, .modal-overlay").fadeOut(500, function () {
                $(".modal-overlay").remove();
            });

        });

        $(window).resize(function () {
            $(".modal-box").css({
                top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                left: ($(window).width() - $(".modal-box").outerWidth()) / 2
            });
        });

        $(window).resize();

    });
</script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>

 <script type="text/javascript">
       window.onload = function() {
        document.getElementById('m30').className  = 'left_nav_active theme_border'
        document.getElementById('o30').style.display = "block";
        document.getElementById('s30').style.color = "green";
}
 </script>

{% end block scripts %}