{% extends "../base.html" %}

{% block css %}
<link href="{{ static_url('css/persian-datepicker-0.4.5.css') }}" rel="stylesheet" type="text/css"/>

{% end block css %}


{% block container %}
<div class="col-sm-12">
    <div class="block-web full">

        <form method="post" action="{{ reverse_url('usercreatheyat') }}" onsubmit="return valid()">
 {% module xsrf_form_html() %}

            <div style="margin-bottom: 0px" class="tab-content">

                <div class="tab-pane animated fadeInRight active" id="about">
                    <div class="user-profile-content">
                        <div class="form-group myinput" style="float: right;width: 58%">
                            <h5>
                                مشخصات هیئت:

                            </h5>

                            <div id="for_name">

                                <div class="form-group">
                                    <label for="name">نام هیئت</label>
                                    <input     onkeyup="(chek_lan(this))" type="text" name="name" id="name" value=""
                                           placeholder="نام هیئت را وارد کنید" class="form-control"/>
                                </div>
                            </div>
                            <div id="for_phone">

                                <div class="form-group">
                                    <label for="name">تلفن تماس مدیر هیئت</label>
                                    <input type="text" name="phone" id="phone" {% if user['login_user'].phone != " " %}value="{{ user['login_user'].phone }}{% end %}"
                                           placeholder="تلفن تماس مدیر هیئت" class="form-control"/>
                                </div>
                            </div>

                            <div id="for_startdate" style="clear: both">
                                <div class="form-group">
                                    <label for="headtxt">تاریخ تاسیس</label>
                                    <input  placeholder="تاریخ تاسیس " name="startdate" id="observer" value=""
                                           class="form-control">

                                </div>


                            </div>
                            <div id="for_tablighat_date" style="clear: both">
                                <div class="form-group">
                                    <label for="headtxt"> تاریخ ثبت در تبلیغات اسلامی</label>
                                    <input placeholder="تاریخ ثبت در تبلیغات اسلامی" name="tablighatdate" id="observer1"
                                           value="" class="form-control">

                                </div>


                            </div>
                            <div id="for_mashar_date" style="clear: both">
                                <div class="form-group">
                                    <label for="mashardate">تاریخ ثبت در مشعر</label>
                                    <input type="text" maxlength="11" name="mashardate" id="observer2" value=""
                                           placeholder="تاریخ ثبت در مشعر" class=" form-control"/>

                                </div>


                            </div>
                            <hr style="clear: both">
                            <h5>
                                آدرس هیئت:

                            </h5>

                            <div id="for_ostan" style="clear: both;margin-top: 2%">
                                <div class="form-group">
                                    <label for="ostan">استان</label><br>
                                    <input type="hidden" id="hostan" name="ostan">
                                    <select  id="Ostan" runat="server" onchange="Func(this.value)">
                                                <option value=""></option>
                                                <option value="  ,آذرشهر ,اسکو ,اهر ,بستان‌آباد ,بناب ,تبریز ,جلفا ,چاراویماق ,سراب ,شبستر ,عجب‌شیر ,کلیبر ,مراغه ,مرند ,ملکان ,میانه ,ورزقان ,هریس ,هشترود">
                                                    آذربایجان شرقی
                                                </option>
                                                <option value="  ,ارومیه ,اشنویه ,بوکان ,پیرانشهر ,تکاب ,چالدران ,خوی ,سردشت ,سلماس ,شاهین‌دژ ,ماکو ,مهاباد ,میاندوآب ,نقده">
                                                    آذربایجان غربی
                                                </option>
                                                <option value="  ,اردبیل ,بیله‌سوار ,پارس‌آباد ,خلخال ,کوثر ,گِرمی ,مِشگین‌شهر ,نَمین ,نیر">
                                                    اردبیل
                                                </option>

                                                <option value="  ,آران و بیدگل ,اردستان ,اصفهان ,برخوار و میمه ,تیران و کرون ,چادگان ,خمینی‌شهر ,خوانسار ,سمیرم ,شهرضا ,سمیرم سفلی ,فریدن ,فریدون‌شهر ,فلاورجان ,کاشان ,گلپایگان ,لنجان ,مبارکه ,نائین ,نجف‌آباد ,نطنز">
                                                    اصفهان
                                                </option>
                                                <option value="  ,آبدانان ,ایلام ,ایوان ,دره‌شهر ,دهلران ,شیروان و چرداول ,مهران">
                                                    ایلام
                                                </option>
                                                <option value="  ,بوشهر ,تنگستان ,جم ,دشتستان ,دشتی,دیر ,دیلم ,کنگان ,گناوه">
                                                    بوشهر
                                                </option>
                                                <option value="  ,اسلام‌شهر ,پاکدشت ,تهران ,دماوند ,رباط‌کریم ,ری ,ساوجبلاغ ,شمیرانات ,شهریار ,فیروزکوه ,کرج ,نظرآباد ,ورامین">
                                                    تهران
                                                </option>
                                                <option value="  ,اردل ,بروجن ,شهرکرد ,فارسان ,کوهرنگ ,لردگان">چهارمحال
                                                    و بختیاری
                                                </option>
                                                <option value="  ,بیرجند ,درمیان ,سرایان ,سربیشه ,فردوس ,قائنات,نهبندان">
                                                    خراسان جنوبی
                                                </option>

                                                <option value="  ,بردسکن ,تایباد ,تربت جام ,تربت حیدریه ,چناران ,خلیل‌آباد ,خواف ,درگز ,رشتخوار ,سبزوار ,سرخس ,فریمان ,قوچان ,کاشمر ,کلات ,گناباد ,مشهد ,مه ولات ,نیشابور">
                                                    خراسان رضوی
                                                </option>
                                                <option value="  ,اسفراین ,بجنورد ,جاجرم ,شیروان ,فاروج ,مانه و سملقان">
                                                    خراسان شمالی
                                                </option>
                                                <option value="  ,آبادان ,امیدیه ,اندیمشک ,اهواز ,ایذه ,باغ‌ملک ,بندر ماهشهر ,بهبهان ,خرمشهر ,دزفول ,دشت آزادگان ,رامشیر ,رامهرمز ,شادگان ,شوش ,شوشتر ,گتوند ,لالی ,مسجد سلیمان,هندیجان ">
                                                    خوزستان
                                                </option>
                                                <option value="  ,ابهر ,ایجرود ,خدابنده ,خرمدره ,زنجان ,طارم ,ماه‌نشان">
                                                    زنجان
                                                </option>
                                                <option value="  ,دامغان ,سمنان ,شاهرود ,گرمسار ,مهدی‌شهر">سمنان
                                                </option>
                                                <option value="  ,ایرانشهر ,چابهار ,خاش ,دلگان ,زابل ,زاهدان ,زهک ,سراوان ,سرباز ,کنارک ,نیک‌شهر">
                                                    سیستان و بلوچستان
                                                </option>

                                                <option value="  ,آباده ,ارسنجان ,استهبان ,اقلید ,بوانات ,پاسارگاد ,جهرم ,خرم‌بید ,خنج ,داراب ,زرین‌دشت ,سپیدان ,شیراز ,فراشبند ,فسا ,فیروزآباد ,قیر و کارزین ,کازرون ,لارستان ,لامِرد ,مرودشت ,ممسنی ,مهر ,نی‌ریز">
                                                    فارس
                                                </option>
                                                <option value="  ,آبیک ,البرز ,بوئین‌زهرا ,تاکستان ,قزوین">قزوین
                                                </option>
                                                <option value="  ,قم">قم</option>
                                                <option value="  ,بانه ,بیجار ,دیواندره ,سروآباد ,سقز ,سنندج ,قروه ,کامیاران ,مریوان">
                                                    کردستان
                                                </option>
                                                <option value="  ,بافت ,بردسیر ,بم ,جیرفت ,راور ,رفسنجان ,رودبار جنوب ,زرند ,سیرجان ,شهر بابک ,عنبرآباد ,قلعه گنج ,کرمان ,کوهبنان ,کهنوج ,منوجان">
                                                    کرمان
                                                </option>
                                                <option value="  ,اسلام‌آباد غرب ,پاوه ,ثلاث باباجانی ,جوانرود ,دالاهو ,روانسر ,سرپل ذهاب ,سنقر ,صحنه ,قصر شیرین ,کرمانشاه ,کنگاور ,گیلان غرب ,هرسین">
                                                    کرمانشاه
                                                </option>

                                                <option value="  ,بویراحمد ,بهمئی ,دنا ,کهگیلویه ,گچساران">کهگیلویه و
                                                    بویراحمد
                                                </option>
                                                <option value="  ,آزادشهر ,آق‌قلا ,بندر گز ,ترکمن ,رامیان ,علی‌آباد ,کردکوی ,کلاله ,گرگان ,گنبد کاووس ,مراوه‌تپه ,مینودشت">
                                                    گلستان
                                                </option>
                                                <option value="  ,آستارا ,آستانه اشرفیه ,اَملَش ,بندر انزلی ,رشت ,رضوانشهر ,رودبار ,رودسر ,سیاهکل ,شَفت ,صومعه‌سرا ,طوالش ,فومَن ,لاهیجان ,لنگرود ,ماسال">
                                                    گیلان
                                                </option>
                                                <option value="  ,ازنا ,الیگودرز ,بروجرد ,پل‌دختر ,خرم‌آباد ,دورود ,دلفان ,سلسله ,کوهدشت">
                                                    لرستان
                                                </option>
                                                <option value="  ,آمل ,بابل ,بابلسر ,بهشهر ,تنکابن ,جویبار ,چالوس ,رامسر ,ساری ,سوادکوه ,قائم‌شهر ,گلوگاه ,محمودآباد ,نکا ,نور ,نوشهر">
                                                    مازندران
                                                </option>
                                                <option value="  ,آشتیان ,اراک ,تفرش ,خمین ,دلیجان ,زرندیه ,ساوه ,شازند ,کمیجان ,محلات">
                                                    مرکزی
                                                </option>

                                                <option value="  ,ابوموسی ,بستک ,بندر عباس ,بندر لنگه ,جاسک ,حاجی‌آباد ,شهرستان خمیر ,رودان  ,قشم ,گاوبندی ,میناب">
                                                    هرمزگان
                                                </option>
                                                <option value="  ,اسدآباد ,بهار ,تویسرکان ,رزن ,کبودرآهنگ ,ملایر ,نهاوند ,همدان">
                                                    همدان
                                                </option>
                                                <option value="  ,ابرکوه ,اردکان ,بافق ,تفت ,خاتم ,صدوق ,طبس ,مهریز ,مِیبُد ,یزد">
                                                    یزد
                                                </option>
                                            </select>
                               </div>


                            </div>
                            <div id="for_city" style="clear: both">
                                <div class="form-group">
                                    <label for="city">شهر</label><br>
                                  <select name="city" id="Shahrestan" runat="server">
                                            </select>

                                </div>


                            </div>
                            <div id="for_village" style="clear: both">
                                <div class="form-group">
                                    <label for="village">روستا</label>
                                    <input     onkeyup="(chek_lan(this))" style="width: 220px" type="text" name="village" id="village" value="" placeholder="روستا"
                                           class=" form-control"/>

                                </div>


                            </div>
                            <div id="for_address" style="clear: both">
                                <div class="form-group">
                                    <label for="address">آدرس</label>
                                    <textarea      onkeyup="(chek_lan(this))" type="text" name="address" id="address" placeholder="آدرس کامل"
                                              class=" form-control"
                                              style="max-width: 685px;min-height: 100px"></textarea>

                                </div>


                            </div>
                            <div id="errordiv" class="alert alert-danger" hidden="hidden">
                            </div>

                            <button type="submit" class="btn btn-success">
                                ارسال
                            </button>
                        </div>

                        <div class="myalertmsg" style="float:left;text-align: right;margin-top: 1%">
                            <li class="fa fa-info"></li>
                            &nbsp
                            <strong>
                                ساخت هیئت جدید
                            </strong>
                            <br>
                            لطفا جهت ساخت هیئت جدید مشخصات هیئت خود را وارد نمایید
                            <br>
                            <br>
                            بدیهی است پس از ارسال درخواست و تایید آن توسط کارشناسان ، شما به عنوان مدیر هیئت شناخته
                            خواهید شد.

                        </div>


                    </div>


                </div>
            </div>


    </div>
    </form>


    <!--</form>-->
</div>

</div>
{% end block container %}


{% block scripts %}

<script type="text/javascript" src="{{ static_url('js/persian-datepicker-0.4.5.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/persian-date.js') }}"></script>
<script type="text/javascript">
    /*
     Default Functionality
     */
    $(document).ready(function () {
        /*
         Default
         */
        window.pd = $("#inlineDatepicker").persianDatepicker({
            timePicker: {
                enabled: true
            },
            altField: '#inlineDatepickerAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
//            minDate:1258675200000,
//            maxDate:1358675200000,
            checkDate: function (unix) {
                var output = true;
                var d = new persianDate(unix);
                if (d.date() == 20) {
                    output = false;
                }
                return output;
            },
            checkMonth: function (month) {
                var output = true;
                if (month == 1) {
                    output = false;
                }
                return output;

            }, checkYear: function (year) {
                var output = true;
                if (year == 1396) {
                    output = false;
                }
                return output;
            }

        }).data('datepicker');

        $("#inlineDatepicker").pDatepicker("setDate", [1391, 12, 1, 11, 14]);

        //pd.setDate([1333,12,28,11,20,30]);

        /**
         * Default
         * */
        $('#default').persianDatepicker({
            altField: '#defaultAlt'

        });


        /*
         observer
         */
        $("#observer").persianDatepicker({
            altField: '#observerAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
            observer: true,
            format: 'YYYY/MM/DD'

        });
        $("#observer1").persianDatepicker({
            altField: '#observerAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
            observer: true,
            format: 'YYYY/MM/DD'

        });

        $("#observer2").persianDatepicker({
            altField: '#observerAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
            observer: true,
            format: 'YYYY/MM/DD'

        });
        /*
         timepicker
         */
        $("#timepicker").persianDatepicker({
            altField: '#timepickerAltField',
            altFormat: "YYYY MM DD HH:mm:ss",
            format: "HH:mm:ss a",
            onlyTimePicker: true

        });
        /*
         month
         */
        $("#monthpicker").persianDatepicker({
            format: " MMMM YYYY",
            altField: '#monthpickerAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
            yearPicker: {
                enabled: false
            },
            monthPicker: {
                enabled: true
            },
            dayPicker: {
                enabled: false
            }
        });

        /*
         year
         */
        $("#yearpicker").persianDatepicker({
            format: "YYYY",
            altField: '#yearpickerAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
            dayPicker: {
                enabled: false
            },
            monthPicker: {
                enabled: false
            },
            yearPicker: {
                enabled: true
            }
        });
        /*
         year and month
         */
        $("#yearAndMonthpicker").persianDatepicker({
            format: "YYYY MM",
            altFormat: "YYYY MM DD HH:mm:ss",
            altField: '#yearAndMonthpickerAlt',
            dayPicker: {
                enabled: false
            },
            monthPicker: {
                enabled: true
            },
            yearPicker: {
                enabled: true
            }
        });
        /**
         inline with minDate and maxDate
         */
        $("#inlineDatepickerWithMinMax").persianDatepicker({
            altField: '#inlineDatepickerWithMinMaxAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
            minDate: 1416983467029,
            maxDate: 1419983467029
        });
        /**
         Custom Disable Date
         */
        $("#customDisabled").persianDatepicker({
            timePicker: {
                enabled: true
            },
            altField: '#customDisabledAlt',
            checkDate: function (unix) {
                var output = true;
                var d = new persianDate(unix);
                if (d.date() == 20 | d.date() == 21 | d.date() == 22) {
                    output = false;
                }
                return output;
            },
            checkMonth: function (month) {
                var output = true;
                if (month == 1) {
                    output = false;
                }
                return output;

            }, checkYear: function (year) {
                var output = true;
                if (year == 1396) {
                    output = false;
                }
                return output;
            }

        });

        /**
         persianDate
         */
        $("#persianDigit").persianDatepicker({
            altField: '#persianDigitAlt',
            altFormat: "YYYY MM DD HH:mm:ss",
            persianDigit: false
        });
    });
</script>
<script type="text/javascript">

    function isValidDate(dateString,type) {
        if (dateString.trim == "" &&  type == 'A')
              return true;
        // First check for the pattern
        if (!/^\d{4}\/\d{2}\/\d{2}$/.test(dateString))
            return false;


        // Parse the date parts to integers
        var parts = dateString.split("/");
        var day = parseInt(parts[2], 10);
        var month = parseInt(parts[1], 10);
        var year = parseInt(parts[0], 10);

        // Check the ranges of month and year
        if (year < 1000 || year > 1800 || month == 0 || month > 12)
            return false;

        var monthLength = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

        // Adjust for leap years
        if (year % 400 == 0 || (year % 100 != 0 && year % 4 == 0))
            monthLength[1] = 29;

        // Check the range of the day
        return day > 0 && day <= monthLength[month - 1];
    }

    function valid() {
        _name = document.getElementById('name').value.trim();
        _tasis = document.getElementById('observer').value.trim();
        _tablighat = document.getElementById('observer1').value.trim();
        _mashar = document.getElementById('observer2').value.trim();
        _ostan = document.getElementById('hostan').value.trim();
        _city = document.getElementById('Shahrestan').value.trim();
        _address = document.getElementById('address').value.trim();
        _phone = document.getElementById('phone').value.trim();
        _error = document.getElementById('errordiv');
        if (_name == "")
        {
            _error.hidden = false;
            _error.innerHTML = "نام هیئت را وارد کنید"
        }

        else if (_tasis == "") {
            _error.hidden = false;
            _error.innerHTML = "تاریخ تاسیس هیئت را وارد کنید"
        }

        else if (!isValidDate(_tasis , 'B')) {
            _error.hidden = false;
            _error.innerHTML = "لطفا تاریخ تاسیس هیئت را  صحیح وارد کنید، به عنوان مثال : 1394/10/09 "
        }

        else if (!isValidDate(_tablighat,'A')) {
            _error.hidden = false;
            _error.innerHTML = "لطفا تاریخ ثبت هیئت در تبلیغات اسلامی را  صحیح وارد کنید، به عنوان مثال : 1394/10/09 "
        }


        else if (!isValidDate(_mashar,'A')) {
            _error.hidden = false;
            _error.innerHTML = "لطفا تاریخ ثبت هیئت درمشعر را  صحیح وارد کنید، به عنوان مثال : 1394/10/09 "
        }
        else if (_ostan == "") {
            _error.hidden = false;
            _error.innerHTML = "استان را وارد کنید"
        }

        else if (_city == "") {
            _error.hidden = false;
            _error.innerHTML = "نام شهر را وارد کیند"
        }

        else if (_address == "") {
            _error.hidden = false;
            _error.innerHTML = "لطفا آدرس دقیق هیئت را وارد کنید"
        }
        else if (_phone.length > 12 || _phone.length < 10) {
            _error.hidden = false;
            _error.innerHTML = "لطفا شماره تلفن را صحیح وارد کنید";
            return false
        }


        else {
            _error.hidden = true;

            return true;
        }

        return false;


    }
        function Func(Shahrestanha) {
        var _Shahrestan = document.getElementById("Shahrestan");
        var _ostan = document.getElementById("Ostan");
        _Shahrestan.options.length = 0;
        if (Shahrestanha != "") {
            var arr = Shahrestanha.split(",");
            for (i = 0; i < arr.length; i++) {
                if (arr[i] != "") {
                    _Shahrestan.options[_Shahrestan.options.length] = new Option(arr[i], arr[i]);
                }
            }
            document.getElementById('hostan').value = _ostan.options[_ostan.selectedIndex].text
        }
    }

     function chek_lan(val)
{
    char = val.value.charCodeAt(0);
    if(char > 32 && char<126)
    {
        val.value = ""
        val.placeholder = "لطفا زبان صفحه کلید خود را به فارسی تغییر دهید"
        return false;

    }
}

</script>
{% end block scripts %}
