{% extends "../../administration/template/base.html" %}

{% block css %}
{% end block css %}



{% block container %}

<div class="col-md-12" >
    <div class="block-web full" style="min-height: 300px">
        <div id="one" class="col-sm-12">

<ul class="group_sortable1">
<p style="border-right-width: 10px;margin-left: 10px;">
<br><br>
<div class="alert alert-danger" role="alert" style="margin-right: 20px;margin-left: 20px;">
    <br>


    <strong>
خطا!
</strong>
    <br>
شما قبلا درخواست ثبت هیئت را در سیستم ثبت کرده اید.
    <br>
    متاسفانه مجاز به ثبت مجدد درخواست نمی باشید.
    <br>
    <br>
    {% from config import Config%}
    {% set admin = Config().packages['ADMIN_SYSTEM'] %}
    <a href="{{admin_url}}/administration/dashboard" style="color: green">
        بازگشت به داشبورد
    </a>
</div>

    </ul>
</div>
        </div>
    </div>

{% end block container %}



{% block scripts %}
<script type="text/javascript">
      document.getElementById('m30').className  = 'left_nav_active theme_border';
        document.getElementById('o30').style.display = "block";
        document.getElementById('s31').style.color = "green";
</script>
{% end block scripts %}

