{% extends "../../administration/template/base.html" %}

{% block css %}
{% end block css %}



{% block container %}

<div class="col-md-12" >
    <div class="block-web full" style="min-height: 300px">
        <div id="one" class="col-sm-12">

<ul class="group_sortable1">
<p style="border-right-width: 10px;margin-left: 10px;">
<br><br>
<div class="alert alert-warning" role="alert" style="margin-right: 20px;margin-left: 20px;">
    <br>
<strong>
    با تشکر ازشما.
</strong>
    <br>
درخواست جنابعالی با موفقیت ارسال شد
    <br>
    نتیجه پس از کارشناسی به اطلاع شما خواهد رسید.
    <br>
    <br>
    {% from config import Config%}
    {% set admin = Config().packages['ADMIN_SYSTEM'] %}
    <a href="{{admin_url}}/administration/dashboard" style="color: green">
        بازگشت به داشبورد
    </a>
</div>

    </ul>
</div>
        </div>
    </div>

{% end block container %}



{% block scripts %}
<script type="text/javascript">
      document.getElementById('m20').className  = 'left_nav_active theme_border'
        document.getElementById('o20').style.display = "block";
        document.getElementById('s3').style.color = "green";
</script>
{% end block scripts %}


