{% extends "../base.html" %}

{% block css %}
{% end block css %}


{% block container %}


<div class="col-md-12" xmlns="http://www.w3.org/1999/html">
    <div class="block-web">
        <div class="header">

            <h4 class="content-header"> لیست درخواست ها:</h4>
        </div>
        <div class="porlets-content">
            <div class="table-responsive">
                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">

                            <div style="clear: both;">
                                <table class="display table table-bordered table-striped dataTable"
                                       id="dynamic-table" aria-describedby="dynamic-table_info">
                                    <thead>
                                    <tr role="row">
                                        <th style="width: 15%" class="center hidden-phone ">نام</th>
                                        <th style="width:20%;" class="center hidden-phone ">تلفن تماس</th>
                                        <th style="width:20%;" class="center hidden-phone ">پست الکترونیک</th>
                                        <th style="width: 35%" class="center hidden-phone "> آدرس</th>
                                        <th style="width: 10%" class="center hidden-phone "></th>
                                    </tr>
                                    </thead>

                                    <tbody role="alert" aria-live="polite" aria-relevant="all" id="resualt">
                                    {% for item in requests %}
                                    <tr class="gradeX odd">
                                        <td class="center" style="vertical-align: inherit;">
                                            {{ item.fk_user.fore_name }}
                                            {{ item.fk_user.sur_name }}
                                                                                 </td>
                                        <td class="center"  style="vertical-align: inherit;">
{%  if item.fk_user.phone != None %}
                                            {{ item.fk_user.phone }}

{% end %}
                                        </td>
                                        <td class="center" style="vertical-align: inherit;">
                                                                                        {{ item.fk_user.email }}
                                        </td>
                                        <td style="vertical-align: inherit;">
                                            {% if item.fk_user.fk_address != None %}
                                            {{ item.fk_user.fk_address.province }}
                                            {{ item.fk_user.fk_address.fk_address.city }}

                                            {% if item.fk_user.fk_address.village != None %}
                                                 {{ item.fk_user.fk_address.village }}
                                            {% end %}

                                            {{item.fk_user.fk_address.address }}
                                            {% end %}
                                        </td>
                                        <td class="center" style="vertical-align: inherit;">
                                            <form method="post" action="{{ reverse_url('my_heyat_request') }}">
                                                 {% module xsrf_form_html() %}
                                                <input type="hidden" value="{{ item.id }}" name="id">
                                                <button class="btn btn-success" style="width: 74px;">
                                                    تایید
                                                </button>
                                            </form>
                                        <a style="color: green" href="#" data-modal-id="popup1">
                                        <button class="btn btn-danger">
                                            عدم تایید
                                        </button>
                                        </a>

                                            <div id="popup1" class="modal-box" style="width: 500px">

                                                <div class="modal-body" style="text-align: right">

                                                    <header>
                                                        <a href="#" class="js-modal-close close">×</a>
                                                        <h3>
                                                            عدم تایید درخواست
                                                        </h3>
                                                    </header>
                                                    <br>
                                                    <label>
لطفا علت عدم تایید درخواست عضویت را برای ارسال به کاربر بنویسید:
                                                    </label>
                                                    <br>
                                                    <form method="post" action="{{ reverse_url('my_heyat_request_reject') }}">
                                                         {% module xsrf_form_html() %}
                                                    <input name="id" type="hidden" value="{{ item.id }}">
                                                    <br>
                                                    <textarea name="msg" style="width: 400px" placeholder="علت عدم تایید درخواست عضویت"></textarea>
                                                    <br>
                                                    <br>
                                                    <button class="btn btn-success" type="submit">
                                                        ارسال
                                                    </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>

                                        {% end %}
                                    </tr>
                                    </tbody>

                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--/table-responsive-->
        </div>
        <!--/porlets-content-->


    </div>
    <!--/block-web-->
</div>


{% end block container %}


{% block scripts %}
<script>
    $(function () {

        var appendthis = ("<div class='modal-overlay js-modal-close'></div>");

        $('a[data-modal-id]').click(function (e) {
            e.preventDefault();
            $("body").append(appendthis);
            $(".modal-overlay").fadeTo(500, 0.7);
            //$(".js-modalbox").fadeIn(500);
            var modalBox = $(this).attr('data-modal-id');
            $('#' + modalBox).fadeIn($(this).data());
        });


        $(".js-modal-close, .modal-overlay").click(function () {
            $(".modal-box, .modal-overlay").fadeOut(500, function () {
                $(".modal-overlay").remove();
            });

        });

        $(window).resize(function () {
            $(".modal-box").css({
                top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                left: ($(window).width() - $(".modal-box").outerWidth()) / 2
            });
        });

        $(window).resize();

    });
</script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>{% end block scripts %}
