{% extends "../base.html" %}

{% block css %}
{% end block css %}

<link href="{{ static_url('css/jquery.auto-complete.css') }}" rel="stylesheet" type="text/css"/>

{% block container %}


<div class="col-md-12">
    <div class="block-web">
        <div class="header">

            <h4 class="content-header">فهرست هیئت ها:</h4>
        </div>
        <div class="porlets-content">
            <div class="table-responsive">
                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                <div id="for_search">

                                    <div class="form-group myinput" style="margin-top: 32px">
                                        <form id="form1" name="FRM" runat="server" >
                                             {% module xsrf_form_html() %}


    <div dir="rtl" >
                                        استان :&nbsp;
                                    <select  id="Ostan" runat="server" onchange="Func(this.value)">
                                        <option value=""></option>
                                        <option value="  ,آذرشهر ,اسکو ,اهر ,بستان‌آباد ,بناب ,تبریز ,جلفا ,چاراویماق ,سراب ,شبستر ,عجب‌شیر ,کلیبر ,مراغه ,مرند ,ملکان ,میانه ,ورزقان ,هریس ,هشترود">آذربایجان شرقی</option>
                                        <option value="  ,ارومیه ,اشنویه ,بوکان ,پیرانشهر ,تکاب ,چالدران ,خوی ,سردشت ,سلماس ,شاهین‌دژ ,ماکو ,مهاباد ,میاندوآب ,نقده">آذربایجان غربی</option>
                                        <option value="  ,اردبیل ,بیله‌سوار ,پارس‌آباد ,خلخال ,کوثر ,گِرمی ,مِشگین‌شهر ,نَمین ,نیر">اردبیل</option>

                                        <option value="  ,آران و بیدگل ,اردستان ,اصفهان ,برخوار و میمه ,تیران و کرون ,چادگان ,خمینی‌شهر ,خوانسار ,سمیرم ,شهرضا ,سمیرم سفلی ,فریدن ,فریدون‌شهر ,فلاورجان ,کاشان ,گلپایگان ,لنجان ,مبارکه ,نائین ,نجف‌آباد ,نطنز">اصفهان</option>
                                        <option value="  ,آبدانان ,ایلام ,ایوان ,دره‌شهر ,دهلران ,شیروان و چرداول ,مهران">ایلام</option>
                                        <option value="  ,بوشهر ,تنگستان ,جم ,دشتستان ,دشتی,دیر ,دیلم ,کنگان ,گناوه">بوشهر</option>
                                        <option value="  ,اسلام‌شهر ,پاکدشت ,تهران ,دماوند ,رباط‌کریم ,ری ,ساوجبلاغ ,شمیرانات ,شهریار ,فیروزکوه ,کرج ,نظرآباد ,ورامین">تهران</option>
                                        <option value="  ,اردل ,بروجن ,شهرکرد ,فارسان ,کوهرنگ ,لردگان">چهارمحال و بختیاری</option>
                                        <option value="  ,بیرجند ,درمیان ,سرایان ,سربیشه ,فردوس ,قائنات,نهبندان">خراسان جنوبی</option>

                                        <option value="  ,بردسکن ,تایباد ,تربت جام ,تربت حیدریه ,چناران ,خلیل‌آباد ,خواف ,درگز ,رشتخوار ,سبزوار ,سرخس ,فریمان ,قوچان ,کاشمر ,کلات ,گناباد ,مشهد ,مه ولات ,نیشابور">خراسان رضوی</option>
                                        <option value="  ,اسفراین ,بجنورد ,جاجرم ,شیروان ,فاروج ,مانه و سملقان">خراسان شمالی</option>
                                        <option value="  ,آبادان ,امیدیه ,اندیمشک ,اهواز ,ایذه ,باغ‌ملک ,بندر ماهشهر ,بهبهان ,خرمشهر ,دزفول ,دشت آزادگان ,رامشیر ,رامهرمز ,شادگان ,شوش ,شوشتر ,گتوند ,لالی ,مسجد سلیمان,هندیجان ">خوزستان</option>
                                        <option value="  ,ابهر ,ایجرود ,خدابنده ,خرمدره ,زنجان ,طارم ,ماه‌نشان">زنجان</option>
                                        <option value="  ,دامغان ,سمنان ,شاهرود ,گرمسار ,مهدی‌شهر">سمنان</option>
                                        <option value="  ,ایرانشهر ,چابهار ,خاش ,دلگان ,زابل ,زاهدان ,زهک ,سراوان ,سرباز ,کنارک ,نیک‌شهر">سیستان و بلوچستان</option>

                                        <option value="  ,آباده ,ارسنجان ,استهبان ,اقلید ,بوانات ,پاسارگاد ,جهرم ,خرم‌بید ,خنج ,داراب ,زرین‌دشت ,سپیدان ,شیراز ,فراشبند ,فسا ,فیروزآباد ,قیر و کارزین ,کازرون ,لارستان ,لامِرد ,مرودشت ,ممسنی ,مهر ,نی‌ریز">فارس</option>
                                        <option value="  ,آبیک ,البرز ,بوئین‌زهرا ,تاکستان ,قزوین">قزوین</option>
                                        <option value="  ,قم">قم</option>
                                        <option value="  ,بانه ,بیجار ,دیواندره ,سروآباد ,سقز ,سنندج ,قروه ,کامیاران ,مریوان">کردستان</option>
                                        <option value="  ,بافت ,بردسیر ,بم ,جیرفت ,راور ,رفسنجان ,رودبار جنوب ,زرند ,سیرجان ,شهر بابک ,عنبرآباد ,قلعه گنج ,کرمان ,کوهبنان ,کهنوج ,منوجان">کرمان</option>
                                        <option value="  ,اسلام‌آباد غرب ,پاوه ,ثلاث باباجانی ,جوانرود ,دالاهو ,روانسر ,سرپل ذهاب ,سنقر ,صحنه ,قصر شیرین ,کرمانشاه ,کنگاور ,گیلان غرب ,هرسین">کرمانشاه</option>

                                        <option value="  ,بویراحمد ,بهمئی ,دنا ,کهگیلویه ,گچساران">کهگیلویه و بویراحمد</option>
                                        <option value="  ,آزادشهر ,آق‌قلا ,بندر گز ,ترکمن ,رامیان ,علی‌آباد ,کردکوی ,کلاله ,گرگان ,گنبد کاووس ,مراوه‌تپه ,مینودشت">گلستان</option>
                                        <option value="  ,آستارا ,آستانه اشرفیه ,اَملَش ,بندر انزلی ,رشت ,رضوانشهر ,رودبار ,رودسر ,سیاهکل ,شَفت ,صومعه‌سرا ,طوالش ,فومَن ,لاهیجان ,لنگرود ,ماسال">گیلان</option>
                                        <option value="  ,ازنا ,الیگودرز ,بروجرد ,پل‌دختر ,خرم‌آباد ,دورود ,دلفان ,سلسله ,کوهدشت">لرستان</option>
                                        <option value="  ,آمل ,بابل ,بابلسر ,بهشهر ,تنکابن ,جویبار ,چالوس ,رامسر ,ساری ,سوادکوه ,قائم‌شهر ,گلوگاه ,محمودآباد ,نکا ,نور ,نوشهر">مازندران</option>
                                        <option value="  ,آشتیان ,اراک ,تفرش ,خمین ,دلیجان ,زرندیه ,ساوه ,شازند ,کمیجان ,محلات">مرکزی</option>

                                        <option value="  ,ابوموسی ,بستک ,بندر عباس ,بندر لنگه ,جاسک ,حاجی‌آباد ,شهرستان خمیر ,رودان  ,قشم ,گاوبندی ,میناب">هرمزگان</option>
                                        <option value="  ,اسدآباد ,بهار ,تویسرکان ,رزن ,کبودرآهنگ ,ملایر ,نهاوند ,همدان">همدان</option>
                                        <option value="  ,ابرکوه ,اردکان ,بافق ,تفت ,خاتم ,صدوق ,طبس ,مهریز ,مِیبُد ,یزد">یزد</option>
                                    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; شهرستان :
                                    <select id="Shahrestan" runat="server" onchange="search()" >
                                    </select>
                                                                  &nbsp  <img  style="width:20px;height: 20px;" src="{{ static_url('images/uploading.gif') }}" hidden="hidden" id="loading">


&nbsp;
        &nbsp;</div>


    </form>
                                    </div>
                                    <div class="myalertmsg" style="margin-bottom: 20px">
                                        <strong>
جستجوی هیئت:
                                        </strong>
                                        <br>
                                        برای راحت پیدا کردن هیئت استان و شهر هیئت خود را وارد کنید.

                                    </div>
                                </div>

                            </div>
                            <div style="clear: both;">
                                    <table class="display table table-bordered table-striped dataTable"
                                       id="dynamic-table" aria-describedby="dynamic-table_info" >
                                    <thead>
                                    <tr role="row">
                                        <th style="width: 25%" class="center hidden-phone ">نام هیئت</th>
                                        <th style="width:20%;" class="center hidden-phone ">نام مدیر</th>
                                        <th style="width:40%;" class="center hidden-phone ">آدزس</th>
                                        <th style="width: 15%" class="center hidden-phone "> درخواست</th>
                                    </tr>
                                    </thead>

                                    <tbody role="alert" aria-live="polite" aria-relevant="all" id="resualt">
                                    {% for heyat in heyats %}
                                    <tr class="gradeX odd">
                                        <td class="center" style="vertical-align: inherit">
                                            {{ heyat.name }}
                                        </td>
                                        <td class="center" style="vertical-align: inherit">
                                            {{ heyat.fk_admin.fore_name }}
                                            {{ heyat.fk_admin.sur_name }}
                                        </td>
                                        <td style="vertical-align: inherit">
                                            {{ heyat.fk_address.province }}
                                            {{ heyat.fk_address.city }}
                                            {% if heyat.fk_address.village != None %}
                                                 {{ heyat.fk_address.village }}
                                            {% end %}
                                            {{ heyat  .fk_address.address }}
                                        </td>
                                        <td class="center" style="vertical-align: inherit">
                                            <form method="post" action="{{ reverse_url('member_request_heyat') }}">
                                                 {% module xsrf_form_html() %}
                                                <input type="hidden" value="{{ heyat.id }}" name="id">
                                            <button class="btn btn-success">

                                                ارسال درخواست
                                            </button>
                                            </form>
                                        </td>

{% end %}
                                    </tr>
                                    </tbody>

                                </table>

</div>

                        </div>
                    </div>
                </div>
            </div>
             {% from  math import ceil %}

        {% set num = ceil(count /20) %}
        <ul class="pagination pagination-sm" style="direction: ltr">
            <li {% if page == 1 %}class="disabled"{% end %}><a
                    {% if page != 1 %}href="?page={{ page-1 }}"
                    {% else %}href="#"{% end %}>«</a></li>
            {% for i in range(int(num)) %}
            <li {% if page == i+1 %}class="active"{% end %}><a
                    href="?page=
                            {{ i+1 }}">{{ i+1 }}</a></li>

            {% end %}

            <li {% if page == int(num) %}class="disabled" {% end %} ><a
                    {% if page != int(num) %}href="?page=
                            {{ page+1 }}" {% else %}href="#"{% end %}>»</a></li>

        </ul>


            <!--/table-responsive-->
        </div>
        <!--/porlets-content-->


    </div>
    <!--/block-web-->
</div>


{% end block container %}


{% block scripts %}
<script type="text/javascript" src="{{ static_url('js/jquery.auto-complete.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/jquery.auto-complete.min.js') }}"></script>
    <script type="text/javascript">
 function Func(Shahrestanha) {
       var _Shahrestan = document.getElementById("Shahrestan");
       var _ostan = document.getElementById("Ostan");
       _Shahrestan.options.length = 0;
       if(Shahrestanha != "") {
          var arr = Shahrestanha.split(",");
          for(i = 0; i < arr.length; i++) {
              if(arr[i] != "") {
                 _Shahrestan.options[_Shahrestan.options.length]=new Option(arr[i],arr[i]);
              }
          }


       }
     search()
   }

function search()
        {

            _Shahrestan = document.getElementById("Shahrestan");
            _city = _Shahrestan.options[_Shahrestan.selectedIndex].text;

            _provce = document.getElementById("Ostan");
            _ostan = _provce.options[_provce.selectedIndex].text;
            _resualt = document.getElementById('resualt');
            _loading = document.getElementById('loading').hidden = false;
            $.ajax({
                        url: "/user/heyat/search",
                        type: "POST",
                        data: {ostan: _ostan , city:_city},
                        success: function (response) {
                                        _loading = document.getElementById('loading').hidden = true;

                            _resualt.innerHTML ="";
                            for(i=0;i<=response[0]['count'];++i)
                            {
                             _name =response[i+1]['name'];
                             _admin =response[i+1]['admin'];
                             _address =response[i+1]['address'];
                             _id =response[i+1]['id'];


                             _resualt.innerHTML += "<tr role='row'><td class='center'>"+_name+"</td><td class='center'>"+_admin +"</td><td clas='center'>"+
                             _address+"</td><td class='center'><form method='post' action= '{{ reverse_url('member_request_heyat') }}'><input type='hidden' name='id' value="+ _id +"> <button type='submit' class='btn btn-success'>ارسال درخواست</button></form></td></tr>"


                            }

                        }
                    }
            )
        }



</script>
<script type="text/javascript">
      document.getElementById('m30').className  = 'left_nav_active theme_border';
        document.getElementById('o30').style.display = "block";
        document.getElementById('s32').style.color = "green";

</script>


{% end block scripts %}
