{% extends "../base.html" %}

{% block css %}
{% end block css %}
<link href="{{ static_url('css/jquery.auto-complete.css') }}" rel="stylesheet" type="text/css"
      xmlns="http://www.w3.org/1999/html"/>


{% block container %}
<div class="col-md-12">
    <div class="block-web">
        <div class="header">

            <h4 class="content-header">لیست هیئت ها</h4>
        </div>
        <div class="porlets-content">
            <div class="table-responsive">
                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">

                                <div id="for_search">

                                    <div style="margin-top: 2px">
                                        <form method="get" action="{{ reverse_url('heyat_modify') }}">
                                             {% module xsrf_form_html() %}

                                            نام هیئت: &nbsp;
                                            <input class="form-control" style="width: 215px" type="text" id="heyat"
                                                   name="heyat" placeholder="نام هیئت">
                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                            نام مدیر:
                                            &nbsp; &nbsp; &nbsp;
                                            <input class="form-control" style="width: 220px" type="text" name="user"
                                                   id="user" placeholder="نام مدیر هیئت">&nbsp &nbsp
                                            <br><br>


                                            استان :&nbsp; &nbsp &nbsp;
                                            <input type="hidden" name="ostan" id="hostan">
                                            <select id="Ostan" runat="server" onchange="Func(this.value)">
                                                <option value=""></option>
                                                <option value="  ,آذرشهر ,اسکو ,اهر ,بستان‌آباد ,بناب ,تبریز ,جلفا ,چاراویماق ,سراب ,شبستر ,عجب‌شیر ,کلیبر ,مراغه ,مرند ,ملکان ,میانه ,ورزقان ,هریس ,هشترود">
                                                    آذربایجان شرقی
                                                </option>
                                                <option value="  ,ارومیه ,اشنویه ,بوکان ,پیرانشهر ,تکاب ,چالدران ,خوی ,سردشت ,سلماس ,شاهین‌دژ ,ماکو ,مهاباد ,میاندوآب ,نقده">
                                                    آذربایجان غربی
                                                </option>
                                                <option value="  ,اردبیل ,بیله‌سوار ,پارس‌آباد ,خلخال ,کوثر ,گِرمی ,مِشگین‌شهر ,نَمین ,نیر">
                                                    اردبیل
                                                </option>

                                                <option value="  ,آران و بیدگل ,اردستان ,اصفهان ,برخوار و میمه ,تیران و کرون ,چادگان ,خمینی‌شهر ,خوانسار ,سمیرم ,شهرضا ,سمیرم سفلی ,فریدن ,فریدون‌شهر ,فلاورجان ,کاشان ,گلپایگان ,لنجان ,مبارکه ,نائین ,نجف‌آباد ,نطنز">
                                                    اصفهان
                                                </option>
                                                <option value="  ,آبدانان ,ایلام ,ایوان ,دره‌شهر ,دهلران ,شیروان و چرداول ,مهران">
                                                    ایلام
                                                </option>
                                                <option value="  ,بوشهر ,تنگستان ,جم ,دشتستان ,دشتی,دیر ,دیلم ,کنگان ,گناوه">
                                                    بوشهر
                                                </option>
                                                <option value="  ,اسلام‌شهر ,پاکدشت ,تهران ,دماوند ,رباط‌کریم ,ری ,ساوجبلاغ ,شمیرانات ,شهریار ,فیروزکوه ,کرج ,نظرآباد ,ورامین">
                                                    تهران
                                                </option>
                                                <option value="  ,اردل ,بروجن ,شهرکرد ,فارسان ,کوهرنگ ,لردگان">چهارمحال
                                                    و بختیاری
                                                </option>
                                                <option value="  ,بیرجند ,درمیان ,سرایان ,سربیشه ,فردوس ,قائنات,نهبندان">
                                                    خراسان جنوبی
                                                </option>

                                                <option value="  ,بردسکن ,تایباد ,تربت جام ,تربت حیدریه ,چناران ,خلیل‌آباد ,خواف ,درگز ,رشتخوار ,سبزوار ,سرخس ,فریمان ,قوچان ,کاشمر ,کلات ,گناباد ,مشهد ,مه ولات ,نیشابور">
                                                    خراسان رضوی
                                                </option>
                                                <option value="  ,اسفراین ,بجنورد ,جاجرم ,شیروان ,فاروج ,مانه و سملقان">
                                                    خراسان شمالی
                                                </option>
                                                <option value="  ,آبادان ,امیدیه ,اندیمشک ,اهواز ,ایذه ,باغ‌ملک ,بندر ماهشهر ,بهبهان ,خرمشهر ,دزفول ,دشت آزادگان ,رامشیر ,رامهرمز ,شادگان ,شوش ,شوشتر ,گتوند ,لالی ,مسجد سلیمان,هندیجان ">
                                                    خوزستان
                                                </option>
                                                <option value="  ,ابهر ,ایجرود ,خدابنده ,خرمدره ,زنجان ,طارم ,ماه‌نشان">
                                                    زنجان
                                                </option>
                                                <option value="  ,دامغان ,سمنان ,شاهرود ,گرمسار ,مهدی‌شهر">سمنان
                                                </option>
                                                <option value="  ,ایرانشهر ,چابهار ,خاش ,دلگان ,زابل ,زاهدان ,زهک ,سراوان ,سرباز ,کنارک ,نیک‌شهر">
                                                    سیستان و بلوچستان
                                                </option>

                                                <option value="  ,آباده ,ارسنجان ,استهبان ,اقلید ,بوانات ,پاسارگاد ,جهرم ,خرم‌بید ,خنج ,داراب ,زرین‌دشت ,سپیدان ,شیراز ,فراشبند ,فسا ,فیروزآباد ,قیر و کارزین ,کازرون ,لارستان ,لامِرد ,مرودشت ,ممسنی ,مهر ,نی‌ریز">
                                                    فارس
                                                </option>
                                                <option value="  ,آبیک ,البرز ,بوئین‌زهرا ,تاکستان ,قزوین">قزوین
                                                </option>
                                                <option value="  ,قم">قم</option>
                                                <option value="  ,بانه ,بیجار ,دیواندره ,سروآباد ,سقز ,سنندج ,قروه ,کامیاران ,مریوان">
                                                    کردستان
                                                </option>
                                                <option value="  ,بافت ,بردسیر ,بم ,جیرفت ,راور ,رفسنجان ,رودبار جنوب ,زرند ,سیرجان ,شهر بابک ,عنبرآباد ,قلعه گنج ,کرمان ,کوهبنان ,کهنوج ,منوجان">
                                                    کرمان
                                                </option>
                                                <option value="  ,اسلام‌آباد غرب ,پاوه ,ثلاث باباجانی ,جوانرود ,دالاهو ,روانسر ,سرپل ذهاب ,سنقر ,صحنه ,قصر شیرین ,کرمانشاه ,کنگاور ,گیلان غرب ,هرسین">
                                                    کرمانشاه
                                                </option>

                                                <option value="  ,بویراحمد ,بهمئی ,دنا ,کهگیلویه ,گچساران">کهگیلویه و
                                                    بویراحمد
                                                </option>
                                                <option value="  ,آزادشهر ,آق‌قلا ,بندر گز ,ترکمن ,رامیان ,علی‌آباد ,کردکوی ,کلاله ,گرگان ,گنبد کاووس ,مراوه‌تپه ,مینودشت">
                                                    گلستان
                                                </option>
                                                <option value="  ,آستارا ,آستانه اشرفیه ,اَملَش ,بندر انزلی ,رشت ,رضوانشهر ,رودبار ,رودسر ,سیاهکل ,شَفت ,صومعه‌سرا ,طوالش ,فومَن ,لاهیجان ,لنگرود ,ماسال">
                                                    گیلان
                                                </option>
                                                <option value="  ,ازنا ,الیگودرز ,بروجرد ,پل‌دختر ,خرم‌آباد ,دورود ,دلفان ,سلسله ,کوهدشت">
                                                    لرستان
                                                </option>
                                                <option value="  ,آمل ,بابل ,بابلسر ,بهشهر ,تنکابن ,جویبار ,چالوس ,رامسر ,ساری ,سوادکوه ,قائم‌شهر ,گلوگاه ,محمودآباد ,نکا ,نور ,نوشهر">
                                                    مازندران
                                                </option>
                                                <option value="  ,آشتیان ,اراک ,تفرش ,خمین ,دلیجان ,زرندیه ,ساوه ,شازند ,کمیجان ,محلات">
                                                    مرکزی
                                                </option>

                                                <option value="  ,ابوموسی ,بستک ,بندر عباس ,بندر لنگه ,جاسک ,حاجی‌آباد ,شهرستان خمیر ,رودان  ,قشم ,گاوبندی ,میناب">
                                                    هرمزگان
                                                </option>
                                                <option value="  ,اسدآباد ,بهار ,تویسرکان ,رزن ,کبودرآهنگ ,ملایر ,نهاوند ,همدان">
                                                    همدان
                                                </option>
                                                <option value="  ,ابرکوه ,اردکان ,بافق ,تفت ,خاتم ,صدوق ,طبس ,مهریز ,مِیبُد ,یزد">
                                                    یزد
                                                </option>
                                            </select>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; شهرستان :&nbsp;&nbsp &nbsp
                                            <select name="city" id="Shahrestan" runat="server">
                                            </select>
                                            &nbsp;
                                            <button type="submit" class="btn btn-success">جستجو</button>
                                        </form>

                                    </div>
                                </div>
                                <br>
                                <table style="clear: both;margin-bottom: 50px" class="display table table-bordered table-striped dataTable"
                                       id="dynamic-table"
                                       aria-describedby="dynamic-table_info">
                                    <thead>
                                    <tr role="row">
                                        <th width="20%" class="center hidden-phone ">
                                            <a style="color: #000000"
                                               href="?user={{ filter[0] }}&heyat={{ filter[1] }}&ostan={{ filter[2] }}&city={{ filter[3] }}&sort=name&type={{ filter[5] }}&page={{ page }}">
                                                نام هیئت</a>
                                        </th>
                                        <th width="15%" class="center hidden-phone ">نام مدیر هیئت</th>
                                        <th width="10%" class="center hidden-phone ">

                                            <a style="color: #000000"
                                               href="?user={{ filter[0] }}&heyat={{ filter[1] }}&ostan={{ filter[2] }}&city={{ filter[3] }}&sort=inserted_date&type={{ filter[5] }}&page={{ page }}">
                                                تاریخ عضویت
                                            </a>
                                        </th>
                                        <th width="40%" class="center hidden-phone ">آدرس</th>
                                        <th width="4%" class="center hidden-phone ">
                                            <a style="color: #000000"
                                               href="?user={{ filter[0] }}&heyat={{ filter[1] }}&ostan={{ filter[2] }}&city={{ filter[3] }}&sort=level&type={{ filter[5] }}&page={{ page }}">
                                                سطح
                                            </a>
                                        </th>
                                        <th width="4%" class="center hidden-phone ">
                                            <a style="color:#000000;"
                                               href="?user={{ filter[0] }}&heyat={{ filter[1] }}&ostan={{ filter[2] }}&city={{ filter[3] }}&sort=score&type={{ filter[5] }}&page={{ page }}">
                                                امتیاز
                                            </a>
                                        </th>
                                        <th width="7%" class="center hidden-phone ">
                                            <a style="color: #000000"
                                               href="?user={{ filter[0] }}&heyat={{ filter[1] }}&ostan={{ filter[2] }}&city={{ filter[3] }}&sort=is_active&type={{ filter[5] }}&page={{ page }}">
                                                وضعیت
                                            </a>
                                        </th>
                                    </tr>
                                    </thead>

                                    {% for heyat in heyats %}
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    <tr class="gradeX odd">
                                        <td class="">
                                            <a style="color: #000000" href="#"
                                               data-modal-id="hpopup{{ heyat.id }}"> {{ heyat.name }}</a>

                                            <div style="width:500px;top: -6.5px; left: 210px;text-align: right"
                                                 id="hpopup{{ heyat.id }}" class="modal-box">

<header>
    <a style="color: red" href="#" class="js-modal-close">×</a>
  </header>
                                               &nbsp
                                                &nbsp

                                                <div class="modal-body">
                                                    <div class="user-profile-sidebar profile_widget">
                                                        <div class="row"><img width="150px" height="150px" src="
                                                                {{ static_url('images/heyats/') }}{{ heyat.logo }}">

                                                            <div class="user-identity">
                                                                <h4><strong>{{ heyat.name }}</strong></h4>

                                                                <p><i class="fa fa-map-marker"></i>
                                                                    {{ heyat.fk_address.province }} {{ heyat.fk_address.city }}
                                                                    {% if heyat.fk_address.village %}{{ heyat.fk_address.village }}{% end %} {{ heyat.fk_address.address }}
                                                                </p>
                                                                <p>
                                                                    تاریخ ثبت در تبلیغات اسلامی:
                                                                    {{ heyat.org_register_date }}
                                                                </p>
                                                                <p>
                                                                    تاریخ ثبت در مشعر:
                                                                    {{ heyat.mashaar_register_date }}

                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="widget-status-data">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <h5><strong>{{ heyat.score }}</strong><br>
                                                                    امتیاز</h5>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <h5><strong>{{ heyat.member }}</strong><br>
                                                                    تعداد اعضاء</h5>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <h5><strong>0</strong><br>
                                                      دنبال کنندگان</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>


                                        </td>
                                        <td class=" ">
                                             <a style="color: #000000" href="#"
                                               data-modal-id="hpopup{{ heyat.fk_admin.id }}">
                                        {{ heyat.fk_admin.fore_name }} {{ heyat.fk_admin.sur_name }}</a>
                                                                                    <div style="width:500px;top: -6.5px; left: 210px;text-align: right"
                                                 id="hpopup{{ heyat.fk_admin.id }}" class="modal-box">

<header>
    <a style="color: red" href="#" class="js-modal-close">×</a>
  </header>
                                               &nbsp
                                                &nbsp

                                                <div class="modal-body">
                                                    <div class="user-profile-sidebar profile_widget">
                                                        <div class="row"><img width="150px" height="150px" src="
                                                                {{ static_url('images/users/') }}{{ heyat.fk_admin.pic }}">

                                                            <div class="user-identity">
                                                                <h4><strong>  {{ heyat.fk_admin.fore_name }} {{ heyat.fk_admin.sur_name }}</strong></h4>

                                                                <p>
                                                                    {% if  heyat.fk_admin.fk_address != None %}
                                                                    <i class="fa fa-map-marker"></i>
                                                                    {{ heyat.fk_admin.fk_address.province }} {{ heyat.fk_admin.fk_address.city }}
                                                                    {% if heyat.fk_admin.fk_address.village %}{{ heyat.fk_admin.fk_address.village }}{% end %} {{ heyat.fk_admin.fk_address.address }}
                                                                    {% end %}
                                                                </p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="widget-status-data">
                                                        <div class="row">
                                                            <div class="col-md-16">

                                                                <h5><strong>{{ heyat.fk_admin.score }}</strong><br>
                                                                    امتیاز</h5>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>



                                        </td>
                                        {% from khayyam import JalaliDate %}
                                        {% set date = JalaliDate(heyat.inserted_date) %}
                                        <td class=" ">{{ date }}</td>

                                        <td class="center hidden-phone  sorting_1">{{ heyat.fk_address.province }} {{ heyat.fk_address.city }}
                                            {% if heyat.fk_address.village %}{{ heyat.fk_address.village }}{% end %} {{ heyat.fk_address.address }}</td>
                                        <td class="center hidden-phone  sorting_1">
 <div class="dropdown">
                                            <a href="javascript:void(0);" data-toggle="dropdown">
                                               {{ heyat.level }}
                                            </a>
                                            <ul class="dropdown-menu" style="margin-left: 50px;margin-top: 0;">
<lable>
    تغییر سطح هیئت به:
</lable>
                                                <form method="post" action="{{ reverse_url('change_level') }}" class="form-inline editableform">
                                                     {% module xsrf_form_html() %}
                                                    <div class="control-group form-group">
                                                        <div class="editable-input">
                                                            <br>
                                                            <input type="text" name="id" value="{{ heyat.id }}" hidden>
                                                            <select name="level" class="form-control input-sm"
                                                                    style="width: 100%;">
                                                                <option value="3"
                                                                        {% if heyat.level == 3 %}selected{% end %}>3
                                                                </option>
                                                                <option value="2"
                                                                        {% if heyat.level == 2 %}selected{% end %}>2
                                                                </option>
                                                                <option value="1"
                                                                        {% if heyat.level == 1 %}selected{% end %}>1
                                                                </option>
                                                            </select>
                                                            <br><br>
                                                            <button class="btn btn-success ">ثبت</button>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="editable-error-block help-block" style="display: none;">
                                                </div>
                                            </ul>
                                        </div>


                                        <td class="center hidden-phone  sorting_1">{{ heyat.score }}</td>

                                        <td class="center hidden-phone  sorting_1">{% if heyat.is_active %}تایید
                                            شده{% else %}در انتظار تایید{% end %}</td>
                                    </tr>
                                    </tbody>
                                    {% end %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/table-responsive-->
        </div>
        <!--/porlets-content-->
                          {% from  math import ceil %}

        {% set num = ceil(count /20) %}
        <ul class="pagination pagination-sm" style="direction: ltr">
            <li {% if page == 1 %}class="disabled"{% end %}><a
                    {% if page != 1 %}href="?user={{ filter[0] }}&heyat={{ filter[1] }}&ostan={{ filter[2] }}&city={{ filter[3] }}&sort= {{ filter[4] }}&type={% if filter[5]== 'A' %}D{% else %}A{% end %}&page={{ page-1 }}"
                    {% else %}href="#"{% end %}>«</a></li>
            {% for i in range(int(num)) %}
            <li {% if page == i+1 %}class="active"{% end %}><a
                    href="?user={{ filter[0] }}&heyat={{ filter[1] }}&ostan={{ filter[2] }}&city={{ filter[3] }}&sort={{ filter[4] }}&type={% if filter[5]== 'A' %}D{% else %}A{% end %}&page=
                            {{ i+1 }}">{{ i+1 }}</a></li>

            {% end %}

            <li {% if page == int(num) %}class="disabled" {% end %} ><a
                    {% if page != int(num) %}href="?user={{ filter[0] }}&heyat={{ filter[1] }}&ostan={{ filter[2] }}&city={{ filter[3] }}&sort={{ filter[4] }}&type={% if filter[5]== 'A' %}D{% else %}A{% end %}&page=
                            {{ page+1 }}" {% else %}href="#"{% end %}>»</a></li>

        </ul>


    </div>
    <!--/block-web-->
</div>


{% end block container %}


{% block scripts %}
<script type="text/javascript" src="{{ static_url('js/jquery.auto-complete.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/jquery.auto-complete.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {

        user = $(this).val();
        $.ajax({
            url: "/admin/user/auto_load",
            type: "POST",
            data: {user: user},
            success: function (response) {
                $('#user').autoComplete({
                    minChars: 1,
                    source: function (term, suggest) {
                        term = term.toLowerCase();
                        var choices = response['key'];
                        var suggestions = [];
                        for (i = 0; i < choices.length; i++)
                            if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                        suggest(suggestions);
                    }
                });
            }
        });

        heyat = $(this).val();
        $.ajax({
            url: "/admin/heyat/auto_load",
            type: "POST",
            data: {heyat: heyat},
            success: function (response) {
                $('#heyat').autoComplete({
                    minChars: 1,
                    source: function (term, suggest) {
                        term = term.toLowerCase();
                        var choices = response['key'];
                        var suggestions = [];
                        for (i = 0; i < choices.length; i++)
                            if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                        suggest(suggestions);
                    }
                });
            }
        });


    });

    function Func(Shahrestanha) {
        var _Shahrestan = document.getElementById("Shahrestan");
        var _ostan = document.getElementById("Ostan");
        _Shahrestan.options.length = 0;
        if (Shahrestanha != "") {
            var arr = Shahrestanha.split(",");
            for (i = 0; i < arr.length; i++) {
                if (arr[i] != "") {
                    _Shahrestan.options[_Shahrestan.options.length] = new Option(arr[i], arr[i]);
                }
            }
            document.getElementById('hostan').value = _ostan.options[_ostan.selectedIndex].text
        }
    }
</script>

<script>
    $(function () {

        var appendthis = ("<div class='modal-overlay js-modal-close'></div>");

        $('a[data-modal-id]').click(function (e) {
            e.preventDefault();
            $("body").append(appendthis);
            $(".modal-overlay").fadeTo(500, 0.7);
            //$(".js-modalbox").fadeIn(500);
            var modalBox = $(this).attr('data-modal-id');
            $('#' + modalBox).fadeIn($(this).data());
        });


        $(".js-modal-close, .modal-overlay").click(function () {
            $(".modal-box, .modal-overlay").fadeOut(500, function () {
                $(".modal-overlay").remove();
            });

        });

        $(window).resize(function () {
            $(".modal-box").css({
                top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                left: ($(window).width() - $(".modal-box").outerWidth()) / 2
            });
        });

        $(window).resize();

    });
</script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>

 <script type="text/javascript">
       window.onload = function() {
        document.getElementById('m30').className  = 'left_nav_active theme_border'
        document.getElementById('o30').style.display = "block";
        document.getElementById('s5').style.color = "green";
}
 </script>
{% end block scripts %}