{% extends "../base.html" %}

{% block css %}
{% end block css %}


{% block container %}
<div class="col-md-12">
    <div class="block-web">
        <div class="header">

            <h4 class="content-header">لیست فیلم ها</h4>
        </div>
        <div class="porlets-content">
            <div class="table-responsive">
                    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                    <table class="display table table-bordered table-striped dataTable"
                                           id="dynamic-table" aria-describedby="dynamic-table_info">
                                        <thead>
                                        <tr role="row">
                                            <th style="width: 40%" class="center hidden-phone ">
<a style="color: #000000"  href="?sort=name&type={{ filter[1] }}&page={{ page }}">
    نام ویدئو
</a>
                                            </th>
                                            <th style="width:15%;" class="center hidden-phone ">
                                                <a style="color: #000000"  href="?sort=inserted_date&type={{ filter[1] }}&page={{ page }}">
تاریخ ارسال
                                                </a>
                                            </th>
                                            <th style="width:10%;" class="center hidden-phone ">
                                                <a style="color: #000000"  href="?sort=visit&type={{ filter[1] }}&page={{ page }}">
تعداد بازدید
                                                    </a>
                                            </th>
                                            <th style="width: 10%" class="center hidden-phone ">
                                                <a style="color: #000000"  href="?sort=score&type={{ filter[1] }}&page={{ page }}">
                                                    امتیاز

</a>
                                            </th>
                                            <th style="width: 10%" class="center hidden-phone ">
                                                <a style="color: #000000"  href="?sort=status&type={{ filter[1] }}&page={{ page }}">
وضعیت
                                                </a>
                                            </th>
                                            <th style="width: 10%" class="center hidden-phone ">
                                                دیدگاه جدید
</th>
                                        </tr>
                                        </thead>

                                        {% for video in videos %}
                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr>
                                            <td style="height: 42px;vertical-align: inherit" class="center">

{% if video.status ==3  or video.status==2 or video.status==1 %}
                                            <form id="{{ video.id }}" method="post" action="{{ reverse_url('public_video_play') }}">
                                                 {% module xsrf_form_html() %}
                                                <input name="id" type="hidden" value="{{ video.id }}">
                                                <a href="#" onclick="document.getElementById({{ video.id }}).submit()">{{ video.name }}
                                                </a>
                                            </form>
                                            {% else %}
                                                                                        {{ video.name }}

                                            {% end %}

                                                </td>
                                            {% from khayyam import JalaliDate %}
                                            {% set date = JalaliDate(video.inserted_date) %}
                                            <td style="height: 42px;vertical-align: inherit" class="center">{{ date }}</td>
                                            <td style="height: 42px;vertical-align: inherit" class="center ">{{ video.visit }}</td>
                                            <td style="height: 42px;vertical-align: inherit" class="center ">{{ video.score }}</td>
                                            <td style="height: 42px;vertical-align: inherit" class="center ">
                                            {% if video.status == 3%}
                                                تایید شده
                                            {% elif video.status == -2%}
                                                رد شده
                                            {% else %}
                                                در حال بررسی
                                            {% end %}
                                            </td>
<td style="vertical-align: inherit">
    {{ video.video_comment }}
    {% if video.video_comment != 0 %}
    <label style="color: red">
            {{ video.video_comment }}
    </label>
    {% end %}
</td>
                                            
                                        </tr>
                                        </tbody>
                                        {% end %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


            </div>
            <!--/table-responsive-->
        </div>
        <!--/porlets-content-->
{% from math import ceil %}
 {% set num = ceil(count /20) %}
        {% if int(num) != 0 %}

        <ul class="pagination pagination-sm" style="direction: ltr">
            <li {% if page == 1 %}class="disabled"{% end %}><a
                    {% if page != 1 %}href="?sort={{ filter[0] }}&type={% if filter[1]== 'A' %}D{% else %}A{% end %}&page={{ page-1 }}"
                    {% else %}href="#"{% end %}>«</a></li>
            {% for i in range(int(num)) %}
            <li {% if page == i+1 %}class="active"{% end %}><a
                    href="?sort={{ filter[0] }}&type={% if filter[1]== 'A' %}D{% else %}A{% end %}&page=
                            {{ i+1 }}">{{ i+1 }}</a></li>

            {% end %}
            <li {% if page == int(num) %}class="disabled" {% end %} ><a
                    {% if page != int(num) %}href="?sort={{ filter[0] }}&type={% if filter[1]== 'A' %}D{% else %}A{% end %}&page=
                            {{ page+1 }}" {% else %}href="#"{% end %}>»</a></li>
        </ul>
{% end %}

    </div>
    <!--/block-web-->
</div>
{% end block container %}

{% block scripts %}
 <script type="text/javascript">
       window.onload = function() {
        document.getElementById('m50').className  = 'left_nav_active theme_border'
        document.getElementById('o50').style.display = "block";
        document.getElementById('s17').style.color = "green";
}
 </script>

{% end block scripts %}