{% extends "../base.html" %}

{% block css %}

{% end block css %}


{% block container %}
<div class="col-sm-12">
    <div class="block-web full">

        <form method="post" action="{{ reverse_url('update_heyat') }}" onsubmit="return valid()">
 {% module xsrf_form_html() %}

            <div style="margin-bottom: 0px" class="tab-content">

                <div class="tab-pane animated fadeInRight active" id="about">
                    <div class="user-profile-content">
                        <div class="form-group myinput" style="float: right;width: 58%">
                            <h5>
                                مشخصات هیئت:

                            </h5>

                            <div id="for_name">

                                <div class="form-group">
                                    <label for="name">نام هیئت</label>
                                    <input type="text" name="name" id="name" value="{{ heyat.name }}"
                                           placeholder="نام هیئت را وارد کنید" class="form-control"/>
                                 <input type="hidden" name="id" id="id" value="{{ heyat.id }}">

                                </div>
                            </div>


                            <div id="for_startdate" style="clear: both">
                                <div class="form-group">
                                    <label for="headtxt">تاریخ تاسیس</label>
                                    <input placeholder="تاریخ تاسیس " name="startdate" id="observer" value="{{ heyat.register_date}}"
                                           class="form-control">

                                </div>


                            </div>
                            <div id="for_tablighat_date" style="clear: both">
                                <div class="form-group">
                                    <label for="headtxt"> تاریخ ثبت در تبلیغات اسلامی</label>
                                    <input placeholder="تاریخ ثبت در تبلیغات اسلامی" name="tablighatdate" id="observer1"
                                           value="{{ heyat.org_register_date }}" class="form-control">

                                </div>


                            </div>
                            <div id="for_mashar_date" style="clear: both">
                                <div class="form-group">
                                    <label for="mashardate">تاریخ ثبت در مشعر</label>
                                    <input type="text" maxlength="11" name="mashardate" id="observer2" value="{{ heyat.mashaar_register_date }}"
                                           placeholder="تاریخ ثبت در مشعر" class=" form-control"/>

                                </div>


                            </div>
                            <hr style="clear: both">
                            <h5>
ویرایش آدرس هیئت ( در صورت لزوم):

                            </h5>
آدرس فعلی:
                            {{ heyat.fk_address.province }}
                           - {{ heyat.fk_address.city }}
                            {% if heyat.fk_address.village != None  %}
                                 - {{ heyat.fk_address.village }}
                            {% end %}
                            - {{ heyat.fk_address.address }}
                            <div id="for_ostan" style="clear: both;margin-top: 2%">
                                <div class="form-group">
                                    <label for="ostan">استان</label><br>
                                    <input type="hidden" id="hostan" name="ostan">
                                    <select  id="Ostan" runat="server" onchange="Func(this.value)">
                                                <option value=""></option>
                                                <option value="  ,آذرشهر ,اسکو ,اهر ,بستان‌آباد ,بناب ,تبریز ,جلفا ,چاراویماق ,سراب ,شبستر ,عجب‌شیر ,کلیبر ,مراغه ,مرند ,ملکان ,میانه ,ورزقان ,هریس ,هشترود">
                                                    آذربایجان شرقی
                                                </option>
                                                <option value="  ,ارومیه ,اشنویه ,بوکان ,پیرانشهر ,تکاب ,چالدران ,خوی ,سردشت ,سلماس ,شاهین‌دژ ,ماکو ,مهاباد ,میاندوآب ,نقده">
                                                    آذربایجان غربی
                                                </option>
                                                <option value="  ,اردبیل ,بیله‌سوار ,پارس‌آباد ,خلخال ,کوثر ,گِرمی ,مِشگین‌شهر ,نَمین ,نیر">
                                                    اردبیل
                                                </option>

                                                <option value="  ,آران و بیدگل ,اردستان ,اصفهان ,برخوار و میمه ,تیران و کرون ,چادگان ,خمینی‌شهر ,خوانسار ,سمیرم ,شهرضا ,سمیرم سفلی ,فریدن ,فریدون‌شهر ,فلاورجان ,کاشان ,گلپایگان ,لنجان ,مبارکه ,نائین ,نجف‌آباد ,نطنز">
                                                    اصفهان
                                                </option>
                                                <option value="  ,آبدانان ,ایلام ,ایوان ,دره‌شهر ,دهلران ,شیروان و چرداول ,مهران">
                                                    ایلام
                                                </option>
                                                <option value="  ,بوشهر ,تنگستان ,جم ,دشتستان ,دشتی,دیر ,دیلم ,کنگان ,گناوه">
                                                    بوشهر
                                                </option>
                                                <option value="  ,اسلام‌شهر ,پاکدشت ,تهران ,دماوند ,رباط‌کریم ,ری ,ساوجبلاغ ,شمیرانات ,شهریار ,فیروزکوه ,کرج ,نظرآباد ,ورامین">
                                                    تهران
                                                </option>
                                                <option value="  ,اردل ,بروجن ,شهرکرد ,فارسان ,کوهرنگ ,لردگان">چهارمحال
                                                    و بختیاری
                                                </option>
                                                <option value="  ,بیرجند ,درمیان ,سرایان ,سربیشه ,فردوس ,قائنات,نهبندان">
                                                    خراسان جنوبی
                                                </option>

                                                <option value="  ,بردسکن ,تایباد ,تربت جام ,تربت حیدریه ,چناران ,خلیل‌آباد ,خواف ,درگز ,رشتخوار ,سبزوار ,سرخس ,فریمان ,قوچان ,کاشمر ,کلات ,گناباد ,مشهد ,مه ولات ,نیشابور">
                                                    خراسان رضوی
                                                </option>
                                                <option value="  ,اسفراین ,بجنورد ,جاجرم ,شیروان ,فاروج ,مانه و سملقان">
                                                    خراسان شمالی
                                                </option>
                                                <option value="  ,آبادان ,امیدیه ,اندیمشک ,اهواز ,ایذه ,باغ‌ملک ,بندر ماهشهر ,بهبهان ,خرمشهر ,دزفول ,دشت آزادگان ,رامشیر ,رامهرمز ,شادگان ,شوش ,شوشتر ,گتوند ,لالی ,مسجد سلیمان,هندیجان ">
                                                    خوزستان
                                                </option>
                                                <option value="  ,ابهر ,ایجرود ,خدابنده ,خرمدره ,زنجان ,طارم ,ماه‌نشان">
                                                    زنجان
                                                </option>
                                                <option value="  ,دامغان ,سمنان ,شاهرود ,گرمسار ,مهدی‌شهر">سمنان
                                                </option>
                                                <option value="  ,ایرانشهر ,چابهار ,خاش ,دلگان ,زابل ,زاهدان ,زهک ,سراوان ,سرباز ,کنارک ,نیک‌شهر">
                                                    سیستان و بلوچستان
                                                </option>

                                                <option value="  ,آباده ,ارسنجان ,استهبان ,اقلید ,بوانات ,پاسارگاد ,جهرم ,خرم‌بید ,خنج ,داراب ,زرین‌دشت ,سپیدان ,شیراز ,فراشبند ,فسا ,فیروزآباد ,قیر و کارزین ,کازرون ,لارستان ,لامِرد ,مرودشت ,ممسنی ,مهر ,نی‌ریز">
                                                    فارس
                                                </option>
                                                <option value="  ,آبیک ,البرز ,بوئین‌زهرا ,تاکستان ,قزوین">قزوین
                                                </option>
                                                <option value="  ,قم">قم</option>
                                                <option value="  ,بانه ,بیجار ,دیواندره ,سروآباد ,سقز ,سنندج ,قروه ,کامیاران ,مریوان">
                                                    کردستان
                                                </option>
                                                <option value="  ,بافت ,بردسیر ,بم ,جیرفت ,راور ,رفسنجان ,رودبار جنوب ,زرند ,سیرجان ,شهر بابک ,عنبرآباد ,قلعه گنج ,کرمان ,کوهبنان ,کهنوج ,منوجان">
                                                    کرمان
                                                </option>
                                                <option value="  ,اسلام‌آباد غرب ,پاوه ,ثلاث باباجانی ,جوانرود ,دالاهو ,روانسر ,سرپل ذهاب ,سنقر ,صحنه ,قصر شیرین ,کرمانشاه ,کنگاور ,گیلان غرب ,هرسین">
                                                    کرمانشاه
                                                </option>

                                                <option value="  ,بویراحمد ,بهمئی ,دنا ,کهگیلویه ,گچساران">کهگیلویه و
                                                    بویراحمد
                                                </option>
                                                <option value="  ,آزادشهر ,آق‌قلا ,بندر گز ,ترکمن ,رامیان ,علی‌آباد ,کردکوی ,کلاله ,گرگان ,گنبد کاووس ,مراوه‌تپه ,مینودشت">
                                                    گلستان
                                                </option>
                                                <option value="  ,آستارا ,آستانه اشرفیه ,اَملَش ,بندر انزلی ,رشت ,رضوانشهر ,رودبار ,رودسر ,سیاهکل ,شَفت ,صومعه‌سرا ,طوالش ,فومَن ,لاهیجان ,لنگرود ,ماسال">
                                                    گیلان
                                                </option>
                                                <option value="  ,ازنا ,الیگودرز ,بروجرد ,پل‌دختر ,خرم‌آباد ,دورود ,دلفان ,سلسله ,کوهدشت">
                                                    لرستان
                                                </option>
                                                <option value="  ,آمل ,بابل ,بابلسر ,بهشهر ,تنکابن ,جویبار ,چالوس ,رامسر ,ساری ,سوادکوه ,قائم‌شهر ,گلوگاه ,محمودآباد ,نکا ,نور ,نوشهر">
                                                    مازندران
                                                </option>
                                                <option value="  ,آشتیان ,اراک ,تفرش ,خمین ,دلیجان ,زرندیه ,ساوه ,شازند ,کمیجان ,محلات">
                                                    مرکزی
                                                </option>

                                                <option value="  ,ابوموسی ,بستک ,بندر عباس ,بندر لنگه ,جاسک ,حاجی‌آباد ,شهرستان خمیر ,رودان  ,قشم ,گاوبندی ,میناب">
                                                    هرمزگان
                                                </option>
                                                <option value="  ,اسدآباد ,بهار ,تویسرکان ,رزن ,کبودرآهنگ ,ملایر ,نهاوند ,همدان">
                                                    همدان
                                                </option>
                                                <option value="  ,ابرکوه ,اردکان ,بافق ,تفت ,خاتم ,صدوق ,طبس ,مهریز ,مِیبُد ,یزد">
                                                    یزد
                                                </option>
                                            </select>
                               </div>


                            </div>
                            <div id="for_city" style="clear: both">
                                <div class="form-group">
                                    <label for="city">شهر</label><br>
                                  <select name="city" id="Shahrestan" runat="server">
                                            </select>

                                </div>


                            </div>
                            <div id="for_village" style="clear: both">
                                <div class="form-group">
                                    <label for="village">روستا</label>
                                    <input style="width: 220px" type="text" name="village" id="village" value="" placeholder="روستا"
                                           class=" form-control"/>

                                </div>


                            </div>
                            <div id="for_address" style="clear: both">
                                <div class="form-group">
                                    <label for="address">آدرس</label>
                                    <textarea type="text" name="address" id="address" placeholder="آدرس کامل"
                                              class=" form-control"
                                              style="max-width: 685px;min-height: 100px"></textarea>

                                </div>


                            </div>
                            <div id="errordiv" class="alert alert-danger" hidden="hidden">
                            </div>

                            <button type="submit" class="btn btn-success">
ذخیره تغییرات
                            </button>
                        </div>

                        <div class="myalertmsg" style="float:left;text-align: right;margin-top: 1%">
                            <li class="fa fa-info"></li>
                            &nbsp
                            <strong>
                                ویرایش اطلاعات هیئت
                            </strong>
                            <br>
                            در صورت لزوم می توانید نسبت به ویرایش اطلاعات هیئت خود اقدام نمایید.
                            <br>
<br>

                        </div>


                    </div>


                </div>
            </div>


    </div>
    </form>


    <!--</form>-->
</div>

</div>
{% end block container %}


{% block scripts %}
<script type="text/javascript">

    function isValidDate(dateString) {

        // First check for the pattern
        if (!/^\d{4}\/\d{2}\/\d{2}$/.test(dateString))
            return false;


        // Parse the date parts to integers
        var parts = dateString.split("/");
        var day = parseInt(parts[2], 10);
        var month = parseInt(parts[1], 10);
        var year = parseInt(parts[0], 10);

        // Check the ranges of month and year
        if (year < 1000 || year > 1800 || month == 0 || month > 12)
            return false;

        var monthLength = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

        // Adjust for leap years
        if (year % 400 == 0 || (year % 100 != 0 && year % 4 == 0))
            monthLength[1] = 29;

        // Check the range of the day
        return day > 0 && day <= monthLength[month - 1];
    }

    function valid() {
        _name = document.getElementById('name').value.trim();
        _tasis = document.getElementById('observer').value.trim();
        _tablighat = document.getElementById('observer1').value.trim();
        _mashar = document.getElementById('observer2').value.trim();
        _ostan = document.getElementById('hostan').value.trim();
        _city = document.getElementById('Shahrestan').value.trim();
        _address = document.getElementById('address').value.trim();
        _error = document.getElementById('errordiv');
        if (_name == "")
        {
            _error.hidden = false;
            _error.innerHTML = "نام هیئت را وارد کنید"
            return false
        }

        if(_tasis != "")
        {
            if(! isValidDate(_tasis))
            {
              _error.hidden = false;
              _error.innerHTML = "لطفا تاریخ تاسیس هیئت را  صحیح وارد کنید، به عنوان مثال : 1394/10/09 "
               return false

            }
        }
        if(_tablighat != "")
        {
            if(! isValidDate(_tablighat))
            {
              _error.hidden = false;
              _error.innerHTML = "لطفا تاریخ ثبت هیئت درمشعر را  صحیح وارد کنید، به عنوان مثال : 1394/10/09 "
               return false

            }
        }
         if(_mashar != "")
        {
            if(! isValidDate(_mashar))
            {
              _error.hidden = false;
              _error.innerHTML = "لطفا تاریخ ثبت هیئت در تبلیغات اسلامی را  صحیح وارد کنید، به عنوان مثال : 1394/10/09 "
              return false

            }
        }if(_tablighat != "")


        if(_ostan || _city || _address)
        {
            if(_ostan ==""  || _address=="" || _ostan== "")
            {
                       _error.hidden = false;
            _error.innerHTML = "لطفا آدرس  هیئت را کامل وارد کنید"
                return false
            }
        }


return true;


    }
        function Func(Shahrestanha) {
        var _Shahrestan = document.getElementById("Shahrestan");
        var _ostan = document.getElementById("Ostan");
        _Shahrestan.options.length = 0;
        if (Shahrestanha != "") {
            var arr = Shahrestanha.split(",");
            for (i = 0; i < arr.length; i++) {
                if (arr[i] != "") {
                    _Shahrestan.options[_Shahrestan.options.length] = new Option(arr[i], arr[i]);
                }
            }
            document.getElementById('hostan').value = _ostan.options[_ostan.selectedIndex].text
        }
    }

</script>
{% end block scripts %}
