<!DOCTYPE html>
 {% from config import Config %}
  {% set public_url = Config().packages['PUBLIC_SYSTEM'] %}
<html>
<head>

    <meta charset="UTF-8">

    <title>{{ title }}</title>
    <link href="{{static_url('css/index/style.css')}}" rel="stylesheet" type="text/css">
    <link href="{{static_url('css/toastr/toastr.css')}}" rel="stylesheet" type="text/css">
    <link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/basic.css") }}' rel="stylesheet">
    <script  src="{{static_url('js/toastr/jquery.min.js')}}"></script>
    <script src="{{static_url('js/toastr/toastr.js')}}"></script>


    <link type="text/css" rel="stylesheet" href="{{ static_url('css/bootstrap-rtl.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/bootstrap-theme.min.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ static_url('css/fonts.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ static_url('plugins/font-awesome/css/font-awesome.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static_url('plugins/select2/select2_metro_rtl.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ static_url('css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="/static/css/video-js.css">
    <link rel="stylesheet" type="text/css" href="/static/plugins/DatePicker/pwt-datepicker.css">
    <link rel="stylesheet" type="text/css" href="/static/plugins/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/static/plugins/slick/slick-theme.css"/>

    <link type="text/css" rel="stylesheet" href="{{ static_url('css/common.css') }}">

    <link rel="shortcut icon" href="{{ static_url('favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ static_url('favicon.ico') }}" type="image/x-icon">

    {% block other_css %}
    {% end block other_css %}

    <style>
        .select{
            width: 100%;
        }

        .select2-arrow b{
            background-position: 5px 4px !important;
        }
    </style>

</head>
<body>
{% block header %}
<div class="header row" style="background-image: url('/static/images/header.jpg');background-repeat: no-repeat;background-size: 100%">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
        <div class="row">
<div class="col-md-3 col-sm-3" style="padding: 15px;height: 130px">            </div>
            <div class="col-md-4 col-sm-4">
            </div>
            <div class="pull-right">
                <div class="guest_user user_btns">
                    {% if login_user=="مهمان" %}
                    کاربر مهمان
                    {% else %}
                    {{ login_user }}
                    {% end %}

                    <span>به هیئت خوش آمدید</span>
                </div>
                {% if login_user== 'مهمان' %}
                <a href="#" id="singupform">
                                    <div class="user_login_btn user_btns">عضویت</div>

                </a>
                <a href="#" id="loginform">
                                    <div class="manager_login_btn user_btns">ورود</div>

                </a>

  <div style="display: none;position: absolute;z-index: 20;margin-right: -92px" class="login">
          <div class="arrow-up"></div>
          <div class="formholder">
            <div class="randompad">

               <form action="{{ public_url }}/user_login" method="post">
                 <label>ایمیل</label>
                 <input name="username"value="" type="email">
                 <label >گذرواژه</label>
                 <input class="form-group" name="pass" type="password">
                 <input class="form-group"value="ورود" type="submit">
               </form>
            </div>
          </div>





                {% else %}
                 {% from config import Config %}
                {% set admin_url = Config().packages['ADMIN_SYSTEM'] %}
                <a href="{{ admin_url }}/administration/dashboard">
                      <div class="manager_login_btn user_btns">داشبورد</div>
                </a>
                <a href="{{ public_url }}/user_logout">
                       <div class="user_login_btn user_btns">خروج</div>
                </a>
                {% end %}

            </div>
   <div style="display: none;position: absolute;z-index: 20;margin-right: -120px" class="singup" >
          <div class="arrow-up"></div>
          <div class="formholder">
            <div class="randompad">

               <form action="{{ public_url }}/user_signup" method="post">
                 <label>نام</label>
                 <input onkeyup="(chek_lan(this))" name="fname" value="" type="text">
                 <label > نام خانوادگی</label>
                 <input  onkeyup="(chek_lan(this))" name="lname" value="" type="text">
                   <label >ایمیل</label>
                 <input name="email" value="" type="email">
                 <label >گذرواژه</label>
                 <input name="pass" type="password">
                   <label >تکرار گذرواژه</label>
                 <input name="pass2" type="password">
                 <input value="ثبت نام" type="submit">
               </form>
            </div>
          </div>
        </div>

        </div>
    </div>
</div>

        </div>


{% end block header %}

{% block top_menu %}
<div class="top_menu">

    <div class="container">
        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-9 col-sm-9 margin-top-5">

                    <a style="color: white;text-decoration: none" href="{{ public_url }}/">
                        <span class="menu_items">صفحه اصلی</span>
                    </a>
                    <span>|</span>
                    {% from config import Config %}
                    {% set heyat_url = Config().packages['HEYAT_SYSTEM'] %}
                    <a style="color: white;text-decoration: none" href="{{ heyat_url }}/heyat/channels">
                        <span class="menu_items">کانال ها</span>

                    </a>
                    <span>|</span>
                    <a  style="color: white;text-decoration: none" href="{{ heyat_url }}/heyat/users/maddah">
                        <span class="menu_items">مداحان</span>

                    </a>
                    <span>|</span>
                    <a style="color: white;text-decoration: none" href="{{ heyat_url }}/heyat/sokhanran">
                        <span class="menu_items">سخنرانان</span>

                    </a>
                    <span>|</span>
                    <a style="color: white;text-decoration: none" href="{{ heyat_url }}/heyat/shaer">
                        <span class="menu_items">شاعران</span>

                    </a>
                    <span>|</span>
                    <span class="menu_items">مناسبت ها</span>
                    <span>|</span>
                    <span class="menu_items">جشنواره ها</span>
                    <span>|</span>
                    <span class="menu_items">فیلم های آموزشی</span>
                    <span>|</span>
                    <span class="menu_items">درباره ما</span>
                    <span>|</span>
                    <span class="menu_items">تماس با ما</span>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="search_box">
                        <input type="text" class="form-control search_input" placeholder="جستجو">
                        <i class="fa fa-search search_icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% end block top_menu %}

{#{% module MyHeader(login_user) %}#}
{#{% module MyTopmenu() %}#}

<div class="main_content" style="background-image: url('static/images/bg_header.jpg')" >
    <div class="container">
        {% block container %}
        <div class="row margin-top-30">
            <div class="col-md-7 col-sm-7">
                {% module MySlider() %}
            </div>
            <div class="col-md-5 col-sm-5">
                <div class="spec_news">
                    <img src="/static/images/4.jpg">
                    <div class="new_title">پرونده ویژه</div>
                    <div class="new_footer">
                        <div>
                            <i class="fa fa-chevron-left" style="color: #ffffff"></i>
                            <span style="color: #ffffff; vertical-align: 2px; margin-right: 5px">نیمه شعبان - میلاد امام زمان</span>
                        </div>
                        <div>
                            <i class="fa fa-film" style="color: #ffffff"></i>
                            <span style="color: #ffffff; vertical-align: 2px; margin-right: 5px">125</span>
                            <i class="fa fa-film" style="color: #ffffff; margin-right: 30px"></i>
                            <span style="color: #ffffff; vertical-align: 2px; margin-right: 5px">125</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top-30">
            <div class="col-md-12 col-sm-12">
                <div class="search_container">
                    <div class="row">
                        <div class="col-md-2 col-sm-2" style="color: #0591DE; font-size: 16pt; text-align: center">جستـــجو پیــــشرفته</div>
                        <div class="col-md-2 col-sm-2 margin-top-10">
                            <select class="select">
                                <option>asd</option>
                                <option>asd</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-2 margin-top-10">
                            <input class="form-control datePicker">
                        </div>
                        <div class="col-md-2 col-sm-2 margin-top-10">
                            <select class="select">
                                <option>asd</option>
                                <option>asd</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-2 margin-top-10">
                            <select class="select">
                                <option>asd</option>
                                <option>asd</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-2 margin-top-10">
                            <button class="R_butt_blue">
                                <i class="fa fa-search"></i>
                                <span style="vertical-align: 2px; margin-right: 5px">جستجو</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-top-30">
            <div class="col-md-12 col-sm-12">
{#                {% module most_view_videos() %}#}

                <div class="most_view_video_container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-1">
            <span class="red_color">پر بازدیدترین ویدیوها</span>
            <hr style="display: inline-flex; width: 74%">
            <span class="link_go_to_page"><a href="{{ heyat_url }}/heyat/channels"><i class="fa fa-plus"></i>&nbsp;لیست کانال ها</a></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-1">
            <div class="your-class">
                {% for item in bestvideos %}
                        {% set strr = item.id.__str__()+'m'+item.name %}

                <div class="slider_content text-center">

                    <img class="img-responsive" width="200px" height="130px" src="{% if item.pic != None %}{{ static_url('upload/pic') }}/{{ item.fk_heyat }}/{{ item.pic }}{% else %}{{ static_url('images/cover.jpg') }}{% end %}">

                    <div class="margin-top-10">
                 <a  href="{{ heyat_url }}/heyat/video/{{ strr.replace(" ","_") }}">{{ item.name }}</a>

                    </div>
                </div>
                {% end %}



            </div>
        </div>
    </div>
</div>




            </div>
        </div>

        <div class="row margin-top-30">
            <div class="col-md-3 col-sm-12">
                <div class="main_box_container">
<div class="box_header red_color">آخرین ویدیوها</div>
    <div class="box_content">
        {% for item in lastvideos %}
        {% set strr = item.id.__str__()+'m'+item.name %}

        <div class="row margin-top-10">
            <div class="col-md-12 col-sm-12" style="text-align: center  ">
                <img width="200px" height="130px" class="" src="{% if item.pic != None %}{{ static_url('upload/pic') }}/{{ item.fk_heyat }}/{{ item.pic }}{% else %}{{ static_url('images/cover.jpg') }}{% end %}">
            </div>
            <div class="col-md-12 col-sm-12 text-center margin-top-10">
                <a  href="{{ heyat_url }}/heyat/video/{{ strr.replace(" ","_") }}">{{ item.name }}</a>
            </div>
        </div>
        {% end %}
    </div>                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="main_box_container">
{#                    {% module group_tabs() %}#}

                    <div class="box_header red_color" style="padding: 10px 10px 0">
    <div class="group_tab">
        <div class="lasts_group_tab tabs active" data-action="1">آخرین هیئت ها</div>
        <div class="bests_group_tab tabs" data-action="2">برترین هیئت ها</div>
    </div>
</div>
<div class="box_content">
    <div class="row">
        <div class="group_tab_content" data-action="1">
            {%  for item in lastheyats %}
            {% set strr = item.id.__str__()+'m'+item.name %}

            <div class="col-md-3 col-sm-3 text-center">
                <img src="/static/images/heyats/{{ item.logo }}" style="height: 100px;width: 120px">
                <div class="margin-top-10 font-size-9"><a  href="{{ heyat_url }}/heyat/channel/{{ strr.replace(" ","_") }}">{{item.name}}</a></div>
                <div class="margin-top-10 font-size-9"><span>{{ item.fk_address.city }}{% if item.fk_address.village != ""  and item.fk_address.village != None%} - {{ item.fk_address.village }}{% end %}</span></div>
                <div class="font-size-9"><span>({{ item.fk_address.province }})</span></div>
            </div>
            {% end %}

        </div>

        <div class="group_tab_content display-none" data-action="2">
                        {%  for item in bestheyat %}
                        {% set strr = item.id.__str__()+'m'+item.name %}

            <div class="col-md-3 col-sm-3 text-center">
                <img src="/static/images/heyats/{{ item.logo }}" style="height: 100px;width: 120px">
                <div class="margin-top-10 font-size-9"><a  href="{{ heyat_url }}/heyat/channel/{{ strr.replace(" ","_") }}">{{item.name}}</a></div>
                <div class="margin-top-10 font-size-9"><span>{{ item.fk_address.city }}{% if item.fk_address.village != ""  and item.fk_address.village != None%} - {{ item.fk_address.village }}{% end %}</span></div>
                <div class="font-size-9"><span>({{ item.fk_address.province }})</span></div>
            </div>
            {% end %}
        </div>
    </div>
</div>

                </div>
                <div class="row margin-top-30">
                    {% module main_page_center_boxes() %}
                </div>
            </div>
        </div>

        {% end block container %}
    </div>
</div>

{% block footer %}
<div class="footer row">
    <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
        <div class="row">
            <div class="col-md-4 col-sm-4 footer_column">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="footer_column_title"><i class="fa fa-envelope-o"></i> عضویت در خبرنامه </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در</p>
                    </div>
                    <div class="col-md-12 col-sm-12 margin-top-20 position-relative" style="padding-left: 30px">
                        <input class="newsletter_membership" placeholder="ایمیل خود را وارد کنید">
                        <button class="R_butt_blue membership_btn">عضویت</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 footer_column">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="footer_column_title"><i class="fa fa-link"></i> لینک </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 footer_links">
                        <a>
                            <i class="fa fa-chevron-left"></i>
                            <span>درباره ما</span>
                        </a>
                        <a>
                            <i class="fa fa-chevron-left"></i>
                            <span>کانال ها</span>
                        </a>
                        <a>
                            <i class="fa fa-chevron-left"></i>
                            <span>اخبار</span>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 footer_links">
                        <a>
                            <i class="fa fa-chevron-left"></i>
                            <span>مقالات و تحلیل</span>
                        </a>
                        <a>
                            <i class="fa fa-chevron-left"></i>
                            <span>سفارش</span>
                        </a>
                        <a>
                            <i class="fa fa-chevron-left"></i>
                            <span>دریافت کاتالوگ</span>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 footer_links">
                        <a>
                            <i class="fa fa-chevron-left"></i>
                            <span>درباره ما</span>
                        </a>
                        <a>
                            <i class="fa fa-chevron-left"></i>
                            <span>کانال ها</span>
                        </a>
                        <a>
                            <i class="fa fa-chevron-left"></i>
                            <span>اخبار</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 footer_column">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="footer_column_title"><i class="fa fa-location"></i>تماس با ما</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در</p>
                        <p>تلفن : 5789846523</p>
                        <p>تلفن : 5789846523</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end block footer %}

{#{% module footer() %}#}

<div class="copyright">
    <span>تمامی حقوق این وب سایت برای هیئت تی وی محفوظ است.</span>
</div>


<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/static/plugins/DatePicker/pwt-date.js"></script>
<script type="text/javascript" src="/static/plugins/DatePicker/pwt-datepicker.js"></script>
<script type="text/javascript" src="/static/plugins/slick/slick.min.js"></script>
<script src="/static/js/video.js"></script>

<script>
    $('.carousel').carousel();

    $('.select').select2({
         placeholder: "انتخاب کنید"
    });

    $(".datePicker").val("").persianDatepicker();

    $('.your-class').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000
    });

    $('.tabs').click(function(){
        var data_action = $(this).attr('data-action');
        $('.tabs.active').removeClass('active');
        $(this).addClass('active');
        $('.group_tab_content').addClass('display-none');
        $('.group_tab_content[data-action=' + data_action + ']').removeClass('display-none');
    });

      function chek_lan(val)
{
    char = val.value.charCodeAt(0);
    if(char > 32 && char<126)
    {
        val.value = ""
        val.placeholder = "لطفا زبان صفحه کلید خود را به فارسی تغییر دهید"
        return false;

    }
}



</script>


<script src="{{static_url('js/menu.js')}}"></script>


{% block javascript %}
{% end block javascript %}

</body>
</html>