<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>صفحه نخست هییت تی وی</title>
<link href="{{static_url('css/index/style.css')}}" rel="stylesheet" type="text/css">
    <link href="{{static_url('css/toastr/toastr.css')}}" rel="stylesheet" type="text/css">
      <link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/basic.css") }}' rel="stylesheet">
    <script  src="{{static_url('js/toastr/jquery.min.js')}}"></script>
    <script src="{{static_url('js/toastr/toastr.js')}}"></script>
    <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>-->

<!--&lt;!&ndash;[if lt IE 9]>-->
<!--<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>-->
<!--<![endif]&ndash;&gt;-->
</head>

<body class="Mitra">



<div id="wrap">
  <div id="regbar">
    <div id="navthing">
            <div style="width:95%;float: right;margin-right: 10px">
                    <h3 class="Mitra">
                        {{login_user}}
خوش آمدید
                    </h3>

      <div>
          <a class="" href="#" id="loginform">ورود</a>

            <div style="display: none" class="singup" >
          <div class="arrow-up"></div>
          <div class="formholder">
            <div class="randompad">
               <form action="{{ reverse_url('usersignup') }}" method="post">
                 <label>نام</label>
                 <input name="fname" value="" type="text">
                 <label > نام خانوادگی</label>
                 <input name="lname" value="" type="text">
                   <label >ایمیل</label>
                 <input name="email" value="" type="email">
                 <label >گذرواژه</label>
                 <input name="pass" type="password">
                   <label >تکرار گذرواژه</label>
                 <input name="pass2" type="password">
                 <input value="ثبت نام" type="submit">
               </form>
            </div>
          </div>
        </div>
            <div style="display: none;" class="login">
          <div class="arrow-up"></div>
          <div class="formholder">
            <div class="randompad">
               <form action="{{ reverse_url('userlogin') }}" method="post">
                 <label>نام</label>
                 <input name="username"value="" type="email">
                 <label >گذرواژه</label>
                 <input name="pass" type="password">
                 <input value="ورود" type="submit">
               </form>
            </div>
          </div>
        </div>
        </div>
                </div>
    </div>
  </div>
</div>


  <div class="move">
    <video class="video" poster="" controls >
    </video>
    <div class="name"><hr id="line">
    </div>
    
  </div>

<script>

    ws.send()

    var ws = new WebSocket('ws://localhost:8095/ws?{{ id }}');
    ws.onopen = function(){
        alert('اتصال برقرار');
    };
    ws.onmessage = function(ev){
        alert('پیام دریافت شد.');
    };
    ws.onclose = function(ev){
       alert('اتصال قطع است!');
    };
    ws.onerror = function(ev){
        alert('خطایی رخ داده است!');
    };

//    var private_channel = dispatcher.subscribe_private('channel_name', function(current_user) {
//  // success callback
//  console.log( current_user.name + " has joined the channel" );
//}, function(reason) {
//  // failure callback
//  console.log( "Authorization failed because " + reason.message );
//});
</script>

</body>
<script src="{{static_url('js/jquery.min.js')}}"></script>
<script src="{{static_url('js/menu.js')}}"></script>
</html>
