<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
خطای سیستم

</title>
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
<link href="{{static_url('css/message/font-awesome.css')}}" rel="stylesheet" type="text/css">
<link href="{{static_url('css/message/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
<link href="{{static_url('css/message/animate.css')}}" rel="stylesheet" type="text/css">
<link href="{{static_url('css/message/admin.css')}}" rel="stylesheet" type="text/css">
</head>
<body class="light_theme  fixed_header left_nav_fixed Mitra">
<div class="wrapper Mitra">
  <!--\\\\\\\ wrapper Start \\\\\\-->
    <div class="login_page">
  <div class="error500">
  <i class="fa fa-exclamation-triangle Mitra"></i>
  <div class="">500</div><h2>{{UN}}</h2>
  <form action="{{ reverse_url('index') }}">
        <button class="btn btn-primary">بازگشت</button>
    </form>

 </div>
  </div>
</div>
<!--\\\\\\\ wrapper end\\\\\\-->
</body>
</html>